@charset "UTF-8";
/*! Gutenberg reset — adapted from Normalize */
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
cite,
code,
small {
  display: block; }

* {
  box-sizing: border-box; }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
abbr {
  letter-spacing: 0.1em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 70%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

em,
i {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* Embedded content
   ========================================================================== */
img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

/* Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Images
   ========================================================================== */
img {
  max-width: 100%;
  display: block;
  margin: inherit auto; }

/* Configuration
   ========================================================================== */
/* Mixins
   ========================================================================== */
/* Calculations
   ========================================================================== */
/* Mixins
   ========================================================================== */
/* Font themes
   ========================================================================== */
/* Defaults
   ========================================================================== */

html {
  font-size: 16px;
  font-size: 100%;
  font-family: Merriweather, Georgia, serif;
  color: #261D19; }

* {
  line-height: 26px;
  line-height: 1.625rem; }

/* Paragraph
   ========================================================================== */
p {
  margin-bottom: 26px;
  margin-bottom: 1.625rem; }

/* Headings
   ========================================================================== */
h1 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 52px;
  line-height: 3.25rem;
  margin-top: 52px;
  margin-top: 3.25rem;
  margin-bottom: 26px;
  margin-bottom: 1.625rem; }

h2 {
  font-size: 27px;
  font-size: 1.6875rem;
  line-height: 39px;
  line-height: 2.4375rem;
  margin-top: 32.5px;
  margin-top: 2.03125rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem; }

h3 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 26px;
  margin-top: 1.625rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem; }

h4 {
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 19.5px;
  margin-top: 1.21875rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem; }

h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 32.5px;
  margin-top: 2.03125rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem; }

h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 32.5px;
  margin-top: 2.03125rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem; }

h1 + h2 {
  margin-top: 26px;
  margin-top: 1.625rem; }

h2 + h3,
h3 + h4,
h4 + h5 {
  margin-top: 13px;
  margin-top: 0.8125rem; }

h5 + h6 {
  margin-top: -13px;
  margin-top: -0.8125rem; }

h6 {
  font-style: italic;
  font-weight: normal; }

/* Links
   ========================================================================== */
a {
  color: #728EAD;
  transition: all .3s;
  text-decoration: none; }
  a:hover {
    color: #445b75; }
  a:visited {
    color: #728EAD; }
    a:visited:hover {
      color: #445b75; }
  a:active {
    color: #445b75; }

/* Figures & other elements
   ========================================================================== */

figcaption {
  line-height: 26px;
  line-height: 1.625rem;
  color: #261D19;
  font-size: .8125rem;
  font-style: italic;
  margin-bottom: 0;
  text-align: center; }

dl dd {
  margin: 0px 0px 13px;
  margin: 0rem 0rem 0.8125rem;
  font-size: 80%; }

blockquote {
  font-style: italic;
  padding-left: 1.4375rem; }

cite {
  font-style: normal; }

figure blockquote {
  padding: 26px 0px;
  padding: 1.625rem 0rem; }
  figure blockquote p {
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 39px;
    line-height: 2.4375rem; }

ul li,
ol li {
  margin-bottom: 0; }

hr {
  margin-top: 52px;
  margin-top: 3.25rem;
  margin-bottom: 52px;
  margin-bottom: 3.25rem;
  border: 0;
  color: #261D19;
  display: block;
  height: 26px;
  height: 1.625rem;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 26px;
  background-size: 100% 1.625rem;
  background-image: linear-gradient(to bottom, transparent 1px, transparent 11px, #261D19 11px, #261D19 15px, transparent 15px, transparent 26px);
  width: 100px; }

small {
  line-height: 13px;
  line-height: 0.8125rem; }

code {
  padding: 26px;
  padding: 1.625rem; }

.attention-grabber {
  font-size: 19.2px;
  font-size: 1.2rem; }

/* Grid
   ========================================================================== */
.grid, .grid-double {
  background-image: linear-gradient(to bottom, rgba(0, 170, 255, 0.3) 1px, transparent 1px);
  background-position: left top;
  background-repeat: repeat;
  background-size: 100% 26px;
  background-size: 100% 1.625rem; }

.grid-double {
  background-image: linear-gradient(to bottom, rgba(0, 170, 255, 0.3) 1px, transparent 1px, transparent 13px, rgba(0, 170, 255, 0.2) 13px, transparent 14px, transparent 26px); }

/* Gutenberg defaults
   ========================================================================== */
.toggleWrapper {
  display: block;
  position: fixed;
  top: 26px;
  right: 26px;
  background-color: #231F20;
  border-radius: 25px;
  padding: 0 10px 0 20px;
  height: 32px; }

.btnToggleGrid {
  background: url("../images/grid-icons.png") top right no-repeat;
  background-size: 32px;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding-right: 35px;
  height: 32px;
  line-height: 34px;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff; }
  .btnToggleGrid:hover {
    color: #fff; }
  .btnToggleGrid:active {
    color: #f00; }

.double-grid {
  background-position-y: -32px; }

.grid-off {
  background-position-y: -64px; }

.element-invisible,
.visually-hidden,
.u-hidden {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

/* Global Reset Styles ------------------ */
input,
textarea,
select,
option,
optgroup,
button,
legend,
fieldset {
  margin: auto 0;
  box-sizing: border-box;
  outline: none;
  font-family: Merriweather, Georgia, serif, sans-serif;
  font-size: 100%;
  color: inherit;
  vertical-align: top;
  display: block; }

datalist {
  font-family: Merriweather, Georgia, serif, sans-serif;
  font-size: 100%; }

/* Input & Textarea ------------------ */
/* Fields with standard width */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list],
input[type="file"],
select,
textarea {
  width: 100%;
  max-width: 400px;
  padding: 0.4em;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #888; }

textarea {
  max-width: 100%; }

/* Fields with standard height */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list] {
  -webkit-appearance: none;
  display: inline; }

/* Other */
textarea {
  -webkit-appearance: none;
  overflow: auto; }

input[type="range"] {
  height: 2em;
  width: 100%;
  max-width: 400px; }

input[type="file"] {
  min-height: 2em; }

input[type="search"] {
  height: 2em;
  -webkit-appearance: none; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  vertical-align: middle; }

/* Select ------------------ */
.select-wrapper {
  position: relative;
  max-width: 400px; }
  .select-wrapper::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid #666;
    margin-top: -3px;
    content: " ";
    position: absolute;
    top: 50%;
    right: 1em;
    z-index: 2;
    pointer-events: none; }

select[multiple] {
  height: auto;
  min-height: 2em;
  padding: 0; }
  select[multiple] option {
    margin: 0;
    padding: 0.4em; }

/* Fieldset ------------------ */
fieldset {
  padding: 26px 52px 26px;
  padding: 1.625rem 3.25rem 1.625rem;
  border-radius: 3px;
  border: 1px solid #888; }

legend {
  padding: 0 5px;
  font-weight: 700; }

/* Buttons, Input Type Submit/Reset ------------------ */
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"] {
  height: auto;
  width: auto;
  max-width: 100%;
  background-color: #888;
  padding: 0.4em;
  cursor: pointer;
  line-height: 1;
  transition: all 0.2s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  border-radius: 3px;
  border: 1px solid #888;
  font-family: Merriweather, Georgia, serif;
  display: inline;
  margin: 0px 13px 0px 0px;
  margin: 0rem 0.8125rem 0rem 0rem; }

input[type="image"] {
  text-align: center;
  padding: 0.4em; }

/* States ------------------ */
input[disabled],
textarea[disabled],
select[disabled],
option[disabled],
button[disabled] {
  cursor: not-allowed; }

input:focus,
textarea:focus,
select:focus,
option:focus,
button:focus {
  background-color: #f8f8f8;
  border-color: #728EAD; }

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
  background-color: #555;
  color: white; }

form .form-item,
form .exposed-filters .form-item {
  margin-bottom: 13px;
  margin-bottom: 0.8125rem; }
  form .form-item:last-child,
  form .exposed-filters .form-item:last-child {
    margin: 0; }

form .field-suffix,
form .field-prefix {
  display: inline;
  position: relative;
  top: 7px;
  font-size: 80%; }

form .description {
  font-size: 80%; }

form .form-type-radio .description,
form .form-type-checkbox .description {
  margin-left: 0; }

form .vertical-tabs fieldset.vertical-tabs-pane {
  clear: none; }

.description {
  padding: 26px 13px 0px;
  padding: 1.625rem 0.8125rem 0rem;
  margin: 13px 0px 13px;
  margin: 0.8125rem 0rem 0.8125rem;
  font-size: 80%;
  color: #888;
  font-style: italic;
  border-left: dotted 1px #aaa; }

fieldset {
  margin: 13px 0px 13px;
  margin: 0.8125rem 0rem 0.8125rem;
  position: relative;
  display: block;
  clear: both;
  height: auto !important;
  border: 0;
  padding: 0; }
  fieldset:not(.collapsed) i.icon:before {
    content: "\f056" !important; }
  fieldset.required > label:after {
    margin: -2.6px 0px 0px -2.6px;
    margin: -0.1625rem 0rem 0rem -0.1625rem;
    content: '*';
    color: #db2828; }

.fieldset-wrapper {
  margin: 13px 0px 13px;
  margin: 0.8125rem 0rem 0.8125rem;
  padding: 13px 13px 13px;
  padding: 0.8125rem 0.8125rem 0.8125rem;
  background: #f5f5f5;
  border: 1px dotted #eaeaea;
  overflow: hidden; }

.form-item {
  margin-bottom: 26px;
  margin-bottom: 1.625rem; }
  .form-item .form-item {
    margin-bottom: 13px;
    margin-bottom: 0.8125rem; }

.form-type-textarea {
  max-width: 40em; }

textarea.error {
  border-color: #FF6A40; }

label {
  color: #000;
  display: block;
  font-weight: normal; }

legend {
  margin-left: 0; }

::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  color: #eaeaea; }

::-moz-placeholder {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  color: #eaeaea; }

:-ms-input-placeholder {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  color: #eaeaea; }

::placeholder {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  color: #eaeaea; }

:focus::-webkit-input-placeholder {
  opacity: .5;
  color: #888; }

:focus::-moz-placeholder {
  opacity: .5;
  color: #888; }

:focus:-ms-input-placeholder {
  opacity: .5;
  color: #888; }

:focus::placeholder {
  opacity: .5;
  color: #888; }

.webform-container-inline label {
  display: inline !important;
  margin: 13px 0px 13px;
  margin: 0.8125rem 0rem 0.8125rem; }

.webform-container-inline .field div.dropdown {
  width: auto; }

i.icon {
  font-size: 1em;
  text-decoration: none; }

#comments {
  margin-top: 2em; }

.field-collection-view {
  margin: 0; }

.messages {
  padding: 13px 26px 13px;
  padding: 0.8125rem 1.625rem 0.8125rem;
  margin: 26px 0px 26px;
  margin: 1.625rem 0rem 1.625rem;
  border-radius: 2px;
  background-color: #c3cfdc;
  color: white;
  border: 1px solid #a2b5c9;
  border-left-width: 10px; }
  .messages a {
    color: white;
    border-bottom: 1px dotted white; }
  .messages:hover, .messages:active, .messages:focus {
    color: white; }
  .messages--error, .messages.error {
    background-color: #d9534f;
    border-color: #c9302c; }
  .messages--success, .messages--status, .messages.status, .messages.ok {
    background-color: #40C27A;
    border-color: #329d62; }
  .messages--warning, .messages.warrning {
    background-color: #f0ad4e;
    border-color: #ec971f; }
  .messages:first-of-type {
    margin-top: 0; }
  .messages__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.5em; }
  .messages__item {
    margin-bottom: 0.5em; }
    .messages__item:last-of-type {
      margin-bottom: 0; }
  .messages.krumo-root {
    color: #261D19; }

.site-info {
  max-width: 75em;
  padding: 1em;
  margin: 0 auto;
  color: white; }
  .site-info .site-header__name a {
    color: white;
    text-decoration: none;
    text-transform: uppercase; }
    .site-info .site-header__name a:hover, .site-info .site-header__name a:focus {
      color: #728EAD;
      text-decoration: none; }

table {
  width: 100%; }
  table tr {
    width: 100%; }
  table td, table th {
    padding: 13px 13px 13px;
    padding: 0.8125rem 0.8125rem 0.8125rem; }
  table a.tabledrag-handle .handle {
    margin: 0px 7.8px 0px 5.2px;
    margin: 0rem 0.4875rem 0rem 0.325rem;
    height: 22px;
    position: relative;
    top: -1px; }
  table.sticky-header {
    z-index: 2;
    visibility: hidden; }
    table.sticky-header thead {
      width: 100%;
      display: table-row-group !important; }
      table.sticky-header thead th {
        background: white; }

#toolbar {
  margin: 0;
  padding: 0; }
  #toolbar * {
    line-height: inherit;
    margin: 0;
    padding: 0; }

.breadcrumbs {
  padding: 26px 0px 26px;
  padding: 1.625rem 0rem 1.625rem;
  margin: 0;
  color: #555; }
  .breadcrumbs__item {
    list-style-type: none;
    display: inline;
    margin: 0px 5.2px 0px 0px;
    margin: 0rem 0.325rem 0rem 0rem; }
    .breadcrumbs__item:last-child .breadcrumbs__divider:after {
      display: none; }
  .breadcrumbs__divider {
    margin: 0px 0px 0px 5.2px;
    margin: 0rem 0rem 0rem 0.325rem;
    color: #555; }
    .breadcrumbs__divider:after {
      content: ">"; }

.tabs-primary {
  margin-bottom: 26px;
  margin-bottom: 1.625rem;
  font-size: 90%;
  padding: 0; }
  .tabs-primary__tab {
    margin: 0px 13px 13px 0px;
    margin: 0rem 0.8125rem 0.8125rem 0rem;
    list-style-type: none;
    display: inline-block; }
    .tabs-primary__tab a {
      padding: 7.8px 13px;
      padding: 0.4875rem 0.8125rem;
      background: #eaeaea;
      border-radius: 4px; }
      .tabs-primary__tab a:hover, .tabs-primary__tab a:focus, .tabs-primary__tab a.is-active {
        background: #555;
        color: white; }

.tabs-secondary {
  margin-bottom: 26px;
  margin-bottom: 1.625rem;
  font-size: 90%;
  padding: 0; }
  .tabs-secondary__tab {
    margin: 0px 13px 13px 0px;
    margin: 0rem 0.8125rem 0.8125rem 0rem;
    list-style-type: none;
    display: inline-block; }
    .tabs-secondary__tab a {
      padding: 7.8px 0px;
      padding: 0.4875rem 0rem;
      border-bottom: 2px solid transparent; }
      .tabs-secondary__tab a:hover, .tabs-secondary__tab a:focus, .tabs-secondary__tab a.is-active {
        border-bottom: 2px solid #555;
        color: #555; }

.main-menu {
  padding: 26px 0px 26px;
  padding: 1.625rem 0rem 1.625rem; }
  .main-menu ul {
    margin: 0;
    padding: 0; }
  .main-menu--level-two {
    visibility: hidden;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out; }
  .main-menu__item {
    list-style-type: none;
    display: inline;
    margin: 0px 26px 0px 0px;
    margin: 0rem 1.625rem 0rem 0rem; }
    .main-menu__item--expanded {
      position: relative; }
      .main-menu__item--expanded:hover .main-menu--level-two, .main-menu__item--expanded:focus .main-menu--level-two {
        visibility: visible;
        opacity: 1; }

.item-list .pager {
  margin: 26px 0px 26px;
  margin: 1.625rem 0rem 1.625rem; }
  .item-list .pager li {
    padding: 7.8px 13px 7.8px;
    padding: 0.4875rem 0.8125rem 0.4875rem;
    margin: 0px 7.8px 0px;
    margin: 0rem 0.4875rem 0rem; }
  .item-list .pager-current {
    border: 1px solid #555; }

#sidr-wrapper-0 {
  margin: 13px 13px 13px;
  margin: 0.8125rem 0.8125rem 0.8125rem;
  position: absolute;
  right: 0;
  top: 0; }
  #sidr-wrapper-0 span {
    display: block;
    position: relative;
    background: #261D19;
    height: 2px;
    transition: all 0.3s cubic-bezier(0.7, 0, 0.36, 0.63);
    width: 22px;
    top: 15px; }
    #sidr-wrapper-0 span:before, #sidr-wrapper-0 span:after {
      content: "";
      display: block;
      background: #261D19;
      height: 2px;
      margin-top: 0;
      position: absolute;
      width: 22px;
      transition: all 0.3s cubic-bezier(0.7, 0, 0.36, 0.63); }
    #sidr-wrapper-0 span:before {
      top: 7px; }
    #sidr-wrapper-0 span:after {
      top: -7px; }

h3.sidr-class-visually-hidden {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

#sidr-0-button {
  display: block;
  width: 25px;
  height: 30px;
  position: relative; }

.sidr-inner {
  border-bottom: 1px solid #4d4d4d;
  padding: 0 !important; }
  .sidr-inner ul {
    padding: 0;
    margin: 0;
    border: 0; }
    .sidr-inner ul li {
      border: 0; }
      .sidr-inner ul li a {
        padding: 7.8px 13px 7.8px;
        padding: 0.4875rem 0.8125rem 0.4875rem;
        width: 100%;
        display: block;
        color: white;
        border-bottom: 1px solid #1a1a1a;
        border-top: 1px solid #4d4d4d; }
        .sidr-inner ul li a:focus, .sidr-inner ul li a:hover, .sidr-inner ul li a.sidr-class-active {
          box-shadow: inset 0 0 15px 3px #222;
          color: white; }
        .sidr-inner ul li a:last-child {
          border-bottom: 1px solid #1a1a1a; }

.sidr-open #sidr-wrapper-0 {
  right: 260px; }
  .sidr-open #sidr-wrapper-0 span {
    background: transparent; }
    .sidr-open #sidr-wrapper-0 span:before, .sidr-open #sidr-wrapper-0 span:after {
      top: 0; }
    .sidr-open #sidr-wrapper-0 span:before {
      transform: rotate(45deg); }
    .sidr-open #sidr-wrapper-0 span:after {
      transform: rotate(-45deg); }

.sidr-open #header #logo-container {
  opacity: 0; }

.panel-pane {
  margin-bottom: 30px; }

.panels-ipe ul.panels-ipe-linkbar {
  padding: 0;
  margin: 0; }
  .panels-ipe ul.panels-ipe-linkbar li {
    display: inline;
    list-style-type: none; }

.site-footer .region-footer {
  padding: 26px 0px 26px;
  padding: 1.625rem 0rem 1.625rem; }

#footer {
  background: transparent;
  border: 0; }
  #footer .block-menu {
    float: left;
    margin: 0 50px 0 0; }
  #footer ul {
    margin: 0;
    padding: 0; }
    #footer ul li {
      list-style-type: none; }

#header {
  padding: 13px 0px 13px;
  padding: 0.8125rem 0rem 0.8125rem; }

.site-sidebars {
  margin: 0; }

.wrapper {
  min-width: 320px;
  max-width: 100%;
  clear: both; }
  .wrapper--site-info {
    background: #445b75;
    position: relative; }
  .wrapper--footer {
    border-top: 1px solid #eaeaea; }

section[id^="container-"] {
  padding: 0px 26px;
  padding: 0rem 1.625rem;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1350px;
  max-width: 75rem; }

#container-main {
  margin-bottom: 26px;
  margin-bottom: 1.625rem; }

.front.banner .wrapper--site-info {
  top: 0; }

body.unpublished #main {
  background-color: #fff4f4; }

.admin-menu .wrapper--header {
  position: relative; }

.admin-menu .wrapper--title {
  margin-top: 0; }

.admin-menu .home-page-banner {
  margin-top: 0; }

#skip-link {
  margin: 0;
  padding: 0; }
  #skip-link li {
    list-style-type: none; }

body.unpublished #main {
  background-color: #fff4f4; }

.admin-menu .wrapper--header {
  position: relative; }

.admin-menu .wrapper--title {
  margin-top: 0; }

.admin-menu .home-page-banner {
  margin-top: 0; }

@media screen and (min-width: 80em){
  body,
  html{
    margin: 0;
    width: 100%;
    max-width: none; }
  html{
    font-size: 18px;
    font-size: 1.125rem; }
  /* Mixins
   ========================================================================== */
  /* Mixins
   ========================================================================== */
  h1{
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 62px;
    line-height: 3.44444rem;
    margin-top: 62px;
    margin-top: 3.44444rem;
    margin-bottom: 31px;
    margin-bottom: 1.72222rem; }
  h2{
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 46.5px;
    line-height: 2.58333rem;
    margin-top: 38.75px;
    margin-top: 2.15278rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.86111rem; }
  h3{
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 31px;
    line-height: 1.72222rem;
    margin-top: 31px;
    margin-top: 1.72222rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.86111rem; }
  h4{
    font-size: 19.2px;
    font-size: 1.2rem;
    line-height: 31px;
    line-height: 1.72222rem;
    margin-top: 23.25px;
    margin-top: 1.29167rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.86111rem; }
  h5{
    font-size: 16px;
    font-size: 1rem;
    line-height: 31px;
    line-height: 1.72222rem;
    margin-top: 38.75px;
    margin-top: 2.15278rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.86111rem; }
  h6{
    font-size: 16px;
    font-size: 1rem;
    line-height: 31px;
    line-height: 1.72222rem;
    margin-top: 38.75px;
    margin-top: 2.15278rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.86111rem; }
  h1 + h2{
    /* Mixins
   ========================================================================== */
    margin-top: 31px;
    margin-top: 1.72222rem; }
  h2 + h3,
    h3 + h4,
    h4 + h5{
    /* Mixins
   ========================================================================== */
    margin-top: 15.5px;
    margin-top: 0.86111rem; }
  h5 + h6{
    /* Mixins
   ========================================================================== */
    margin-top: -15.5px;
    margin-top: -0.86111rem; }
  figure.floatLeft,
  figure.floatRight{
    /* Mixins
   ========================================================================== */
    max-width: 675px;
    max-width: 37.5rem;
    padding: 0px 31px;
    padding: 0rem 1.72222rem; }
  figure.floatLeft blockquote,
  figure.floatRight blockquote{
    /* Mixins
   ========================================================================== */
    padding: 0px;
    padding: 0rem;
    text-align: left; }
  figure.floatLeft blockquote p,
  figure.floatRight blockquote p{
    /* Mixins
   ========================================================================== */
    font-size: 19.2px;
    font-size: 1.2rem;
    line-height: 31px;
    line-height: 1.72222rem; }
  figcaption{
    /* Mixins
   ========================================================================== */
    line-height: 31px;
    line-height: 1.72222rem;
    margin-bottom: 0; }
  blockquote{
    padding-left: 2rem; }
  figure blockquote{
    /* Mixins
   ========================================================================== */
    padding: 62px 0px 31px;
    padding: 3.44444rem 0rem 1.72222rem;
    text-align: center; }
  figure blockquote p{
    /* Mixins
   ========================================================================== */
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 46.5px;
    line-height: 2.58333rem; }
  hr{
    /* Mixins
   ========================================================================== */
    margin-top: 62px;
    margin-top: 3.44444rem;
    margin-bottom: 62px;
    margin-bottom: 3.44444rem;
    height: 31px;
    height: 1.72222rem; }
  hr{
    /* Mixins
   ========================================================================== */
    background-size: 100% 31px;
    background-size: 100% 1.72222rem;
    background-image: linear-gradient(to bottom, transparent 1px, transparent 13.5px, #261D19 13.5px, #261D19 17.5px, transparent 17.5px, transparent 31px); }
  small{
    /* Mixins
   ========================================================================== */
    line-height: 15.5px;
    line-height: 0.86111rem; }
  code{
    /* Mixins
   ========================================================================== */
    padding: 31px;
    padding: 1.72222rem; }
  .grid, .grid-double{
    background-size: 100% 31px;
    background-size: 100% 1.72222rem; }
  .grid-double{
    background-image: linear-gradient(to bottom, rgba(0, 170, 255, 0.3) 1px, transparent 1px, transparent 15.5px, rgba(0, 170, 255, 0.2) 15.5px, transparent 16.5px, transparent 31px); }
  .toggleWrapper{
    right: 31px;
    top: 31px; }
  .btnToggleGrid{
    top: 31px;
    right: 31px; } }

@media (min-width: 50em){
  *{
    line-height: 26px;
    line-height: 1.625rem; }
  .sidebar-first main{
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 73%;
    margin-left: 0%;
    margin-right: 8%;
    position: relative;
    left: 27%; }
  .sidebar-first main:before, .sidebar-first main:after{
    content: '';
    display: table; }
  .sidebar-first main:after{
    clear: both; }
  .sidebar-first main:last-child{
    margin-right: 0%; }
  .sidebar-first .site-sidebars{
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 19%;
    margin-left: 0%;
    margin-right: 8%;
    position: relative;
    left: -81%; }
  .sidebar-first .site-sidebars:before, .sidebar-first .site-sidebars:after{
    content: '';
    display: table; }
  .sidebar-first .site-sidebars:after{
    clear: both; }
  .sidebar-first .site-sidebars:last-child{
    margin-right: 0%; }
  .sidebar-second main{
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 73%;
    margin-left: 0%;
    margin-right: 8%; }
  .sidebar-second main:before, .sidebar-second main:after{
    content: '';
    display: table; }
  .sidebar-second main:after{
    clear: both; }
  .sidebar-second main:last-child{
    margin-right: 0%; }
  .sidebar-second .site-sidebars{
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 19%;
    margin-left: 0%;
    margin-right: 8%; }
  .sidebar-second .site-sidebars:before, .sidebar-second .site-sidebars:after{
    content: '';
    display: table; }
  .sidebar-second .site-sidebars:after{
    clear: both; }
  .sidebar-second .site-sidebars:last-child{
    margin-right: 0%; }
  .two-sidebars main{
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 46%;
    margin-left: 0%;
    margin-right: 8%;
    position: relative;
    left: 27%; }
  .two-sidebars main:before, .two-sidebars main:after{
    content: '';
    display: table; }
  .two-sidebars main:after{
    clear: both; }
  .two-sidebars main:last-child{
    margin-right: 0%; }
  .two-sidebars .region-sidebar-first{
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 19%;
    margin-left: 0%;
    margin-right: 8%;
    position: relative;
    left: -54%; }
  .two-sidebars .region-sidebar-first:before, .two-sidebars .region-sidebar-first:after{
    content: '';
    display: table; }
  .two-sidebars .region-sidebar-first:after{
    clear: both; }
  .two-sidebars .region-sidebar-first:last-child{
    margin-right: 0%; }
  .two-sidebars .region-sidebar-second{
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 19%;
    margin-left: 0%;
    margin-right: 8%; }
  .two-sidebars .region-sidebar-second:before, .two-sidebars .region-sidebar-second:after{
    content: '';
    display: table; }
  .two-sidebars .region-sidebar-second:after{
    clear: both; }
  .two-sidebars .region-sidebar-second:last-child{
    margin-right: 0%; }
  .site-info .site-header__slogan{
    float: right;
    clear: none; }
  .site-sidebars{
    margin: 26px 0px 26px;
    margin: 1.625rem 0rem 1.625rem; } }
