* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, .accordion, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, .accordion, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  height: 100%;
}

a img {
  border: none;
}

blockquote {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

html {
  font-size: 75%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: 1.33333rem;
  font-family: Noto Serif, serif;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

a {
  color: #728dac;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #445a74;
  text-decoration: none;
}

.typeset p a, .typeset li a {
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
}

.typeset p {
  line-height: 2rem;
  margin-bottom: 1.43999rem;
  padding-top: 0.56001rem;
  -webkit-font-feature-settings: 'kern', 'onum', 'liga';
          font-feature-settings: 'kern', 'onum', 'liga';
}

.typeset h1, .typeset h2, .typeset h3, .typeset h4, .typeset h5, .typeset h6 {
  color: black;
  font-family: Montserrat, sans-serif;
  -webkit-font-feature-settings: 'dlig', 'liga', 'lnum', 'kern';
          font-feature-settings: 'dlig', 'liga', 'lnum', 'kern';
  font-style: normal;
  font-weight: 300;
}

.typeset h1, .typeset .alpha {
  line-height: 3rem;
  font-size: 2.33333rem;
  margin-bottom: 2.26999rem;
  padding-top: 0.73001rem;
}

.typeset h2, .typeset .beta {
  line-height: 3rem;
  font-size: 2.08333rem;
  margin-bottom: 1.18749rem;
  padding-top: 0.81251rem;
}

.typeset h3, .typeset .gamma {
  line-height: 3rem;
  font-size: 1.86667rem;
  margin-bottom: 1.11599rem;
  padding-top: 0.88401rem;
}

.typeset h4, .typeset .delta {
  line-height: 2rem;
  font-size: 1.66667rem;
  margin-bottom: -0.45001rem;
  padding-top: 0.45001rem;
}

.typeset h5, .typeset .epsilon {
  line-height: 2rem;
  font-size: 1.49167rem;
  margin-bottom: -0.50776rem;
  padding-top: 0.50776rem;
}

.typeset h6, .typeset .zeta {
  line-height: 2rem;
  font-size: 1.33333rem;
  margin-bottom: -0.56001rem;
  padding-top: 0.56001rem;
}

.typeset ul, .typeset ol {
  line-height: 2rem;
  margin-bottom: 1.43999rem;
  padding-top: 0.56001rem;
  padding-left: 2rem;
}

.typeset ul li, .typeset ol li {
  -webkit-font-feature-settings: 'kern', 'onum', 'liga';
          font-feature-settings: 'kern', 'onum', 'liga';
  margin-left: 2rem;
}

.typeset ul li ol, .typeset ul li ul, .typeset ol li ol, .typeset ol li ul {
  padding-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.typeset ol {
  list-style-type: none;
}

.typeset ol li {
  counter-increment: top-level;
}

.typeset ol li:before {
  content: counter(top-level) ".";
  -webkit-font-feature-settings: 'lnum', 'tnum';
          font-feature-settings: 'lnum', 'tnum';
  margin-left: -3rem;
  position: absolute;
  text-align: right;
  width: 2em;
}

.typeset ol li ul li:before {
  content: '';
}

.typeset ol li ul li ol li {
  counter-increment: alt-level;
}

.typeset ol li ul li ol li:before {
  content: counter(alt-level) ".";
}

.typeset ol li ol li {
  counter-increment: sub-level;
}

.typeset ol li ol li:before {
  content: counter(top-level) "." counter(sub-level);
}

.typeset ol li ol li ul li:before {
  content: '';
}

.typeset ol li ol li ol li {
  counter-increment: sub-sub-level;
}

.typeset ol li ol li ol li:before {
  content: counter(top-level) "." counter(sub-level) "." counter(sub-sub-level);
}

.typeset dl {
  line-height: 2rem;
  margin-bottom: 1.43999rem;
  padding-top: 0.56001rem;
}

.typeset dl dt, .typeset dl dd {
  -webkit-font-feature-settings: 'kern', 'onum', 'liga';
          font-feature-settings: 'kern', 'onum', 'liga';
  margin-left: 2rem;
}

.typeset dl dt {
  font-weight: 700;
}

.typeset dl dd + dt {
  padding-top: 1rem;
}

.typeset table {
  line-height: 2rem;
  font-size: 1.19167rem;
  margin-bottom: 1.39324rem;
  padding-top: 0.60676rem;
  font-family: Montserrat, sans-serif;
  -webkit-font-feature-settings: 'liga', 'lnum', 'tnum', 'kern';
          font-feature-settings: 'liga', 'lnum', 'tnum', 'kern';
  font-style: normal;
  font-weight: 400;
  width: 100%;
}

.typeset table thead th {
  line-height: 2rem;
  font-size: 1.33333rem;
  margin-bottom: -0.56001rem;
  padding-top: 0.56001rem;
}

.typeset b, .typeset strong, .typeset .bold {
  font-weight: 700;
}

.typeset em, .typeset i, .typeset .italic {
  font-style: italic;
}

.typeset small, .typeset .caption {
  font-size: 1.06667rem;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.typeset small {
  line-height: 1rem;
}

.typeset .caption {
  line-height: 2rem;
  margin-bottom: 1.35199rem;
  padding-top: 0.64801rem;
  color: #BDC8CC;
}

.typeset h1 + .caption, .typeset .alpha + .caption, .typeset h2 + .caption, .typeset .beta + .caption, .typeset h3 + .caption, .typeset .gamma + .caption {
  margin-top: -1rem;
}

.typeset .delta + .caption, .typeset .epsilon + .caption, .typeset .zeta + .caption {
  margin-top: 0rem;
}

.typeset blockquote p {
  border-left: 0.15rem solid #728dac;
  font-style: italic;
  padding-left: 1rem;
  margin-bottom: 1.87999rem;
  padding-bottom: 0.56001rem;
}

.typeset hr {
  background-image: linear-gradient(to bottom, transparent 50%, #BDC8CC 50%);
  background-position: 0 50%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  border: 0;
  margin: 0;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.typeset code, .typeset pre {
  background-color: #F5F4F2;
  font-family: Menlo, monospace;
}

.typeset pre {
  display: block;
  margin-bottom: 2rem;
  padding: 1rem;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

.typeset code {
  font-size: 1.06667rem;
  line-height: 1rem;
}

.typeset .upper {
  -webkit-font-kerning: normal;
          font-kerning: normal;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.typeset .small-caps {
  -webkit-font-feature-settings: 'smcp', 'kern';
          font-feature-settings: 'smcp', 'kern';
  -webkit-font-kerning: normal;
          font-kerning: normal;
  letter-spacing: 0.1rem;
}

.typeset .lining-numerals {
  -webkit-font-feature-settings: 'lnum', 'kern';
          font-feature-settings: 'lnum', 'kern';
}

.typeset .oldstyle-numerals {
  -webkit-font-feature-settings: 'onum', 'kern';
          font-feature-settings: 'onum', 'kern';
}

.skip-link {
  margin: 0 auto;
  padding: 0;
}

.skip-link li {
  list-style-type: none;
}

.u-hidden,
.visually-hidden,
.element-invisible {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.u-block {
  display: block;
}

.u-inline-block {
  display: inline-block;
}

.u-inline {
  display: inline;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

img.align-center {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.u-img-centered img {
  margin: 0 auto;
}

.desaturate img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  transition: -webkit-filter .3s ease-in-out;
  transition: filter .3s ease-in-out;
  transition: filter .3s ease-in-out, -webkit-filter .3s ease-in-out;
}

.desaturate img:hover, .desaturate img:focus {
  -webkit-filter: none;
          filter: none;
}

.sans {
  font-family: Montserrat, sans-serif;
}

.serif {
  font-family: Noto Serif, serif;
}

.text-italic {
  font-style: italic;
}

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-highlighted::-moz-selection {
  background: #b2c1d2;
}

.text-highlighted::selection {
  background: #b2c1d2;
}

.line-height-reset {
  line-height: 1 !important;
}

.no-decoration {
  text-decoration: none;
}

.no-decoration:hover, .no-decoration:focus {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.clearfix {
  clear: both;
}

.expand-full-width {
  width: 100vw !important;
  margin-left: calc(-50vw + 50%) !important;
}

.site-max-width {
  max-width: 1200px;
  margin: 0 auto;
}

.padd-all-05 {
  padding: .5rem;
}

.padd-all-1 {
  padding: 1rem;
}

.padd-all-2 {
  padding: 2rem;
}

.padd-all-3 {
  padding: 3rem;
}

.padd-all-4 {
  padding: 4rem;
}

.padd-top-05 {
  padding-top: .5rem;
}

.padd-top-1 {
  padding-top: 1rem;
}

.padd-top-2 {
  padding-top: 2rem;
}

.padd-top-3 {
  padding-top: 3rem;
}

.padd-top-4 {
  padding-top: 4rem;
}

.padd-bottom-05 {
  padding-bottom: .5rem;
}

.padd-bottom-1 {
  padding-bottom: 1rem;
}

.padd-bottom-2 {
  padding-bottom: 2rem;
}

.padd-bottom-3 {
  padding-bottom: 3rem;
}

.padd-bottom-4 {
  padding-bottom: 4rem;
}

.padd-left-05 {
  padding-left: .5rem;
}

.padd-left-1 {
  padding-left: 1rem;
}

.padd-left-2 {
  padding-left: 2rem;
}

.padd-left-3 {
  padding-left: 3rem;
}

.padd-left-4 {
  padding-left: 4rem;
}

.padd-right-05 {
  padding-right: .5rem;
}

.padd-right-1 {
  padding-right: 1rem;
}

.padd-right-2 {
  padding-right: 2rem;
}

.padd-right-3 {
  padding-right: 3rem;
}

.padd-right-4 {
  padding-right: 4rem;
}

.np {
  padding: 0 !important;
}

.np-top {
  padding-top: 0 !important;
}

.np-bottom {
  padding-bottom: 0 !important;
}

.np-left {
  padding-left: 0 !important;
}

.np-right {
  padding-right: 0 !important;
}

.marg-all-05 {
  margin: .5rem;
}

.marg-all-1 {
  margin: 1rem;
}

.marg-all-2 {
  margin: 2rem;
}

.marg-all-3 {
  margin: 3rem;
}

.marg-all-4 {
  margin: 4rem;
}

.marg-top-05 {
  margin-top: .5rem;
}

.marg-top-1 {
  margin-top: 1rem;
}

.marg-top-2 {
  margin-top: 2rem;
}

.marg-top-3 {
  margin-top: 3rem;
}

.marg-top-4 {
  margin-top: 4rem;
}

.marg-bottom-05 {
  margin-bottom: .5rem;
}

.marg-bottom-1 {
  margin-bottom: 1rem;
}

.marg-bottom-2 {
  margin-bottom: 2rem;
}

.marg-bottom-3 {
  margin-bottom: 3rem;
}

.marg-bottom-4 {
  margin-bottom: 4rem;
}

.marg-left-05 {
  margin-left: .5rem;
}

.marg-left-1 {
  margin-left: 1rem;
}

.marg-left-2 {
  margin-left: 2rem;
}

.marg-left-3 {
  margin-left: 3rem;
}

.marg-left-4 {
  margin-left: 4rem;
}

.marg-right-05 {
  margin-right: .5rem;
}

.marg-right-1 {
  margin-right: 1rem;
}

.marg-right-2 {
  margin-right: 2rem;
}

.marg-right-3 {
  margin-right: 3rem;
}

.marg-right-4 {
  margin-right: 4rem;
}

.nm {
  margin: 0 !important;
}

.nm-top {
  margin-top: 0 !important;
}

.nm-bottom {
  margin-bottom: 0 !important;
}

.nm-left {
  margin-left: 0 !important;
}

.nm-right {
  margin-right: 0 !important;
}

.no-list {
  list-style-type: none;
}

.no-list li::before {
  display: none;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1.25em);
            transform: translateY(-1.25em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1.25em);
            transform: translateY(-1.25em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body {
  overflow-x: hidden;
}

.wrapper--inner {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.wrapper-main {
  padding: 2rem 0;
}

img {
  display: block;
}

.button, .form-submit, .dropbutton-widget {
  font-family: Montserrat, sans-serif;
  font-size: 1.08333rem;
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border-style: none;
  transition: background .2s ease-in-out;
  text-transform: uppercase;
  background: #878787;
  color: white;
  padding: 0.7rem 1rem;
  border-radius: 4px;
}

.button:hover, .form-submit:hover, .dropbutton-widget:hover, .button:focus, .form-submit:focus, .dropbutton-widget:focus {
  background: black;
  text-decoration: none;
}

.button.link, .link.form-submit, .link.dropbutton-widget {
  border: 1px solid #DCDCDC;
  background: #F5F5F5;
  cursor: pointer;
}

button.link {
  background: #F5F5F5;
  border: 1px solid #DCDCDC;
}

a.button, a.form-submit, a.dropbutton-widget {
  color: white;
  text-decoration: none;
  line-height: 1.3;
}

a.button:visited, a.form-submit:visited, a.dropbutton-widget:visited {
  color: white;
}

a.button:visited:hover, a.form-submit:visited:hover, a.dropbutton-widget:visited:hover, a.button:visited:focus, a.form-submit:visited:focus, a.dropbutton-widget:visited:focus {
  color: white;
  text-decoration: none;
}

a.button:hover, a.form-submit:hover, a.dropbutton-widget:hover, a.button:focus, a.form-submit:focus, a.dropbutton-widget:focus {
  color: white;
  text-decoration: none;
}

.field--label-inline {
  clear: both;
}

.field--label-inline .field__label {
  float: left;
  margin: 0 5px 0 0;
}

.field--label-inline .field__label::after {
  content: ':';
}

.field--label-inline .field__item {
  overflow: hidden;
}

.field--label-inline p:first-child {
  margin-top: 0;
}

figure img {
  width: 100%;
  max-width: 100%;
}

figure.align-left {
  display: inline-block;
  width: 100%;
  margin-bottom: 2rem;
}

figure.align-right {
  display: inline-block;
  width: 100%;
  margin-bottom: 2rem;
}

figure.align-center {
  display: inline-block;
  margin: 0 auto;
}

figure figcaption {
  font-size: 1.33333rem;
  color: #808080;
  padding: .5rem 1rem;
  text-align: left;
}

::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 400;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 12px;
  font-weight: 400;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 12px;
  font-weight: 400;
}

:-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
}

form {
  margin: 1rem 0;
}

.form-item {
  margin-bottom: 1rem;
}

.form-submit {
  margin-bottom: .5rem;
}

.form-required::after {
  content: '';
  vertical-align: super;
  display: inline-block;
  background: url("../images/required.svg") no-repeat left center;
  background-size: 6px 6px;
  margin-left: .3rem;
  width: 6px;
  height: 6px;
}

.description, .field-suffix,
.filter-guidelines {
  font-size: 1rem;
  clear: both;
  margin-bottom: rem;
  padding: .2rem 0;
  line-height: 1.5;
  color: #808080;
}

.description ul, .field-suffix ul,
.filter-guidelines ul {
  line-height: 1.5;
}

.filter-help {
  font-size: 1.16667rem;
  float: none;
}

.filter-wrapper {
  border: 1px solid #DCDCDC;
}

.dropbutton-multiple {
  margin-right: 5px;
}

.form-text, input[type='search'],
.form-email,
.form-textarea,
.form-date,
.form-password,
.form-date {
  font-size: 1.33333rem;
  padding: .5rem .5rem;
  width: 100%;
  max-width: 30em;
  transition: border .2s ease-in-out;
  border: 1px solid #DCDCDC;
}

.form-text:focus, input[type='search']:focus,
.form-email:focus,
.form-textarea:focus,
.form-date:focus,
.form-password:focus,
.form-date:focus {
  outline: 0;
  border-color: black;
}

.form-date {
  font-family: Montserrat, sans-serif;
  max-width: 10em;
}

.form-textarea {
  font-family: Montserrat, sans-serif;
}

input[type='search'] {
  -webkit-appearance: initial;
     -moz-appearance: initial;
          appearance: initial;
}

.field-suffix {
  display: block;
}

.dropbutton-widget .form-submit {
  padding: 0;
  margin: 0;
  background: transparent;
}

.dropbutton-widget .secondary-action {
  margin-top: 5px;
}

.dropbutton-widget .dropbutton-toggle button, .dropbutton-widget .dropbutton-toggle a {
  color: white;
}

fieldset {
  padding: 1rem;
  border: 1px solid #DCDCDC;
}

.ajax-progress-throbber {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ajax-progress-throbber .throbber {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
  border: 0.3rem solid black;
  border-top-color: white;
}

div[id^='ajax-wrapper'] {
  position: relative;
}

.js-form-type-checkbox {
  margin: 0;
}

.checkbox-wrapper {
  top: 4px;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 1;
  border: 2px solid #DCDCDC;
  border-radius: 4px;
  background: #F5F5F5;
}

.checkbox-wrapper i {
  font-size: 22px;
  position: absolute;
  top: -4px;
  left: -2px;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  color: black;
}

.checkbox-wrapper .form-checkbox {
  display: none;
}

.checkbox-wrapper .form-checkbox:checked + i {
  opacity: 1;
}

label {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  line-height: 1;
  display: block;
  padding-bottom: .3rem;
  text-transform: uppercase;
  font-weight: 700;
}

.js-form-type-checkbox label,
.js-form-type-radio label {
  font-size: 1.16667rem;
  display: inline-block;
  position: relative;
  z-index: 2;
  padding-left: 25px;
  margin-left: -20px;
  cursor: pointer;
  text-transform: none;
  font-weight: normal;
}

.js-form-type-radio {
  margin: 0;
}

.radio-wrapper {
  top: 3px;
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  z-index: 1;
  border: 2px solid #DCDCDC;
  background: #F5F5F5;
}

.radio-wrapper i {
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 1.5px;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  color: black;
}

.radio-wrapper .form-radio {
  display: none;
}

.radio-wrapper .form-radio:checked + i {
  opacity: 1;
}

.select-wrapper {
  margin: .5rem 0;
  position: relative;
  max-width: 500px;
  border: 1px solid #DCDCDC;
  border-radius: 4px;
  background: whitesmoke;
  max-height: 36px;
}

.select-wrapper__select {
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  width: 100%;
  z-index: 2;
  font-size: 16px;
  height: 36px;
  padding: 0 45px 0 10px;
  min-width: 30px;
  position: relative;
  top: -4px;
}

.select-wrapper__icon {
  position: absolute;
  right: 0;
  pointer-events: none;
  font-size: 12px;
  color: white;
  top: -1px;
  height: 36px;
  width: 36px;
  background: #878787;
  border-radius: 0 4px 4px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.select-wrapper__icon i {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@font-face {
  font-family: 'bearskin';
  src: url("../fonts/bearskin.eot?xghgk1");
  src: url("../fonts/bearskin.eot?xghgk1#iefix") format("embedded-opentype"), url("../fonts/bearskin.ttf?xghgk1") format("truetype"), url("../fonts/bearskin.woff?xghgk1") format("woff"), url("../fonts/bearskin.svg?xghgk1#bearskin") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^='con-'],
[class*='icon-'],
.icon,
#search-block-form .form-actions {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bearskin' !important;
  speak: none;
  font-style: normal !important;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
}

[class^='con-'].no-text,
[class*='icon-'].no-text,
.icon.no-text,
#search-block-form .no-text.form-actions {
  display: block;
  text-indent: -9999px;
}

[class^='con-'].no-text:before,
[class*='icon-'].no-text:before,
.icon.no-text:before,
#search-block-form .no-text.form-actions:before {
  display: block;
  text-indent: 0;
  float: left;
}

.icon-bell:before {
  content: '\e900';
}

.icon-circle:before {
  content: '\e901';
}

.icon-check-circle:before {
  content: '\e902';
}

.icon-check:before {
  content: '\e903';
}

.icon-exclamation-circle:before {
  content: '\e904';
}

.icon-search:before {
  content: '\e905';
}

.icon-bars:before {
  content: '\e906';
}

.icon-close:before {
  content: '\e907';
}

.icon-chevron-left:before {
  content: '\e909';
}

.icon-chevron-right:before {
  content: '\e908';
}

.icon-feed:before {
  content: '\e90a';
  color: orange;
  font-size: 30px;
}

b,
strong {
  font-weight: 700;
}

q {
  font-size: 1.66667rem;
}

q::after {
  position: relative;
  top: 1rem;
}

a {
  color: #728dac;
  text-decoration: none;
  transition: color .3s ease-in-out;
}

a:visited {
  color: #728dac;
}

a:visited:hover, a:visited:focus {
  color: #445a74;
  text-decoration: none;
}

a:hover, a:focus {
  color: #445a74;
  text-decoration: none;
}

.banner-image {
  position: relative;
  text-align: center;
}

.banner-image > img {
  width: 100%;
}

.banner-image__text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

code {
  margin: .5rem 0;
}

.branding__site-logo {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
}

.branding__site-logo object {
  position: absolute;
  z-index: -1;
}

.branding__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.branding__site-name {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  margin: 0 .5rem;
}

.branding__site-slogan {
  font-size: 12px;
  margin: 0 .5em;
}

#msearch {
  font-size: 22px;
  transition: .2s color ease-in-out;
  color: black;
}

#msearch:hover, #msearch:focus {
  color: #3F3F3F;
}

#msearch-close {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2rem;
  font-size: 30px;
  color: white;
  position: absolute;
  right: 2rem;
  top: 2.5rem;
}

#msearch-content {
  position: absolute;
  width: 100%;
  left: 0;
  top: -200px;
  z-index: 15;
  background: rgba(0, 0, 0, 0.95);
  transition: all .2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#msearch-content.open {
  top: 0;
  opacity: 1;
}

#search-block-form {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

#search-block-form .form-item {
  margin: 0;
}

#search-block-form .form-search {
  font-size: 2.16667rem;
  border: 0;
  padding: .5rem 3rem .5rem 0;
  color: white;
  background: transparent;
  width: 200px;
}

#search-block-form .form-search::-webkit-input-placeholder {
  font-size: 2.16667rem;
  color: #808080;
}

#search-block-form .form-search:-moz-placeholder {
  /* Firefox 18- */
  font-size: 2.16667rem;
  color: #808080;
}

#search-block-form .form-search::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 2.16667rem;
  color: #808080;
}

#search-block-form .form-search:-ms-input-placeholder {
  font-size: 2.16667rem;
  color: #808080;
}

#search-block-form .js-form-type-search {
  position: relative;
}

#search-block-form .js-form-type-search::after {
  content: '';
  height: 1px;
  background: white;
  width: 0;
  left: 0;
  position: absolute;
  bottom: 0;
  transition: width .5s ease-in-out;
}

#search-block-form .js-form-type-search.active::after {
  width: 100%;
}

#search-block-form .form-actions {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -3.5rem;
}

#search-block-form .form-actions::after {
  content: '\e905';
  color: white;
  position: absolute;
  font-size: 20px;
}

#search-block-form .form-submit {
  opacity: 0;
  position: relative;
  z-index: 2;
}

#search-block-form__site-slogan {
  margin-left: 1rem;
}

.indented:first-of-type {
  padding-left: 1rem;
}

.indented:nth-of-type(2) {
  padding-left: 2rem;
}

.indented:nth-of-type(3) {
  padding-left: 3rem;
}

.comment footer p {
  margin-top: 1rem;
  border-bottom: 1px solid #DCDCDC;
  margin-bottom: 0;
}

.comment ul {
  list-style: none;
  padding: 0;
}

.comment ul a {
  text-decoration: underline;
  text-transform: uppercase;
}

.details-wrapper {
  padding: .5rem .5rem;
  position: relative;
  z-index: 1;
  border: 0;
}

details, .accordion {
  margin: 1em 0;
  clear: both;
}

details[open] .summary, [open].accordion .summary {
  margin-bottom: 0;
  border-bottom: 0;
}

details[open] .summary i, [open].accordion .summary i {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

details[open] .details-wrapper, [open].accordion .details-wrapper {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  border: 1px solid #DCDCDC;
  border-top: 0;
}

.details-wrapper {
  padding: 1rem 1rem;
  clear: both;
}

.summary {
  font-size: 1.5rem;
  margin-bottom: .5rem;
  padding: .25rem 1rem;
  display: block;
  float: left;
  width: 100%;
  position: relative;
  z-index: 2;
  cursor: pointer;
  outline: 0;
  background: whitesmoke;
  border: 1px solid #DCDCDC;
}

.summary::-webkit-details-marker {
  display: none;
}

.summary__icon {
  float: right;
  text-indent: -9999px;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.summary i {
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid black;
}

.summary__title {
  float: left;
}

.user-pass p {
  font-size: 1rem;
  color: #808080;
  margin-top: -1.5rem;
}

.messages {
  padding: 1rem 1rem;
  margin: 1rem 0;
  color: #878787;
  background-color: whitesmoke;
  border: 2px solid #DCDCDC;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.messages__icon {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 4px;
  font-size: 22px;
}

.messages--status {
  color: #41c37c;
  background-color: #effaf4;
  border: 2px solid #c9eed9;
}

.messages--warning {
  color: #e09600;
  background-color: #fff5e0;
  border: 2px solid #ffe4ad;
}

.messages--error {
  color: #d23232;
  background-color: #f2c4c4;
  border: 2px solid #e99b9b;
}

.wrapper-breadcrumb {
  border-top: 1px solid #DCDCDC;
}

.breadcrumb {
  padding: .5rem 0;
}

.breadcrumb__item {
  font-size: 1.16667rem;
  text-transform: uppercase;
  display: inline;
  margin-right: 5px;
}

.breadcrumb__link {
  padding-right: 5px;
}

.menu {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  transition: background .2s ease-in-out;
}

.menu__item {
  margin-right: .5rem;
  list-style-type: none;
  display: inline;
}

.menu__item--expanded {
  position: relative;
}

.menu__item--expanded:hover .sub-menu, .menu__item--expanded:focus .sub-menu {
  visibility: visible;
  opacity: 1;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu--main {
  position: fixed;
  top: -200px;
}

.menu--main .menu__link {
  font-size: 1.71429rem;
  font-size: 0.8rem;
  color: black;
  text-decoration: none;
  padding: .4rem .5rem .4rem .5rem;
  text-transform: uppercase;
  border-radius: 4px;
}

.menu--main .menu__link:visited {
  color: black;
}

.menu--main .menu__link:visited:hover, .menu--main .menu__link:visited:focus {
  color: black;
  text-decoration: none;
}

.menu--main .menu__link:hover, .menu--main .menu__link:focus {
  color: black;
  text-decoration: none;
}

.menu--main a.is-active,
.menu--main .menu-item--active-trail a {
  color: white;
  text-decoration: none;
  background-color: black;
}

.menu--main a.is-active:visited,
.menu--main .menu-item--active-trail a:visited {
  color: white;
}

.menu--main a.is-active:visited:hover, .menu--main a.is-active:visited:focus,
.menu--main .menu-item--active-trail a:visited:hover,
.menu--main .menu-item--active-trail a:visited:focus {
  color: white;
  text-decoration: none;
}

.menu--main a.is-active:hover, .menu--main a.is-active:focus,
.menu--main .menu-item--active-trail a:hover,
.menu--main .menu-item--active-trail a:focus {
  color: white;
  text-decoration: none;
}

.menu--main.open {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.85);
}

.menu--main.open .menu {
  width: 100%;
}

.menu--main.open .menu__item {
  display: block;
  margin: 0;
  text-align: center;
  width: 100%;
}

.menu--main.open .menu__link {
  color: white;
  text-decoration: none;
  font-size: 1.83333rem;
  text-transform: uppercase;
  display: block;
  padding: 10px;
  width: 100%;
  background: transparent;
  border-radius: 0;
}

.menu--main.open .menu__link:visited {
  color: white;
}

.menu--main.open .menu__link:visited:hover, .menu--main.open .menu__link:visited:focus {
  color: white;
  text-decoration: none;
}

.menu--main.open .menu__link:hover, .menu--main.open .menu__link:focus {
  color: white;
  text-decoration: none;
}

.sub-menu {
  visibility: hidden;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.list-group__link:not(:first-child) {
  margin-top: .5rem;
}

#mnav {
  font-size: 26px;
  display: block;
  position: relative;
  z-index: 6;
  color: black;
}

#mnav i {
  margin: 0;
  transition: all .2s ease-in-out;
}

#mnav.open {
  color: white;
}

#mnav.open i:before {
  content: '\e907';
}

.pager__items {
  padding: 1rem 0;
  list-style: none;
  margin: 0 auto;
  text-align: center;
}

.pager__item {
  display: inline-block;
}

.pager__item.is-active {
  background: black;
}

.pager__item.is-active a {
  color: white;
}

.pager__item--ellipsis {
  padding: 0 2rem;
}

.pager__item--ellipsis::after {
  color: #878787;
  content: '...';
}

.pager__item--first a i::before, .pager__item--last a i::before {
  width: auto;
}

.pager__link {
  color: #878787;
  display: block;
  padding: .25rem 1rem;
  position: relative;
}

.pager i {
  color: black;
  display: inline-block;
  font-size: 12px;
  margin: 0;
  position: relative;
  text-align: center;
}

.pager i::before {
  display: block;
  right: 0;
  padding: 8px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transition: background 0.2s ease-in-out;
}

.tabs {
  margin: .5rem 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tabs__tab {
  width: 100%;
  overflow: auto;
  border-bottom: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC;
  border-top: 1px solid #DCDCDC;
}

.tabs__tab.is-active {
  border: 1px solid #DCDCDC;
  border-bottom: 1px solid transparent;
  border-left: 0;
}

.tabs__tab:first-child {
  border-left: 1px solid #DCDCDC;
}

.tabs__tab-link {
  font-family: Montserrat, sans-serif;
  font-size: 1.16667rem;
  padding: .3rem 1rem;
  color: #878787;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  background: whitesmoke;
}

.tabs__tab-link:hover, .tabs__tab-link:focus, .tabs__tab-link.is-active {
  color: black;
  background: transparent;
}

.tabs--secondary {
  width: 100%;
}

.tabs--secondary .tabs__tab {
  margin: .5rem .5rem .5rem 0;
  border: 0;
  border-radius: 0;
}

.tabs--secondary .tabs__tab-link {
  background: transparent;
}

.tabs--secondary .tabs__tab-link.is-active {
  background: whitesmoke;
}

.js-form-type-vertical-tabs {
  display: inline-block;
  width: 100%;
}

.vertical-tabs__menu {
  padding: 0 !important;
}

.vertical-tabs__menu-item {
  font-size: 1.33333rem;
  font-family: Montserrat, sans-serif;
}

.vertical-tabs__menu-item-title {
  text-decoration: none !important;
}

.vertical-tabs__pane {
  padding: 0 1rem;
  clear: none;
  display: inline;
}

.vertical-tabs__menu-item-summary {
  padding-left: 5px;
}

.vertical-tabs .summary,
.vertical-tabs .details-wrapper {
  border: none !important;
}

.progress {
  margin: 1rem 0;
}

.progress__track {
  border: 1px solid #DCDCDC;
  background: #F5F5F5;
  height: 34px;
  border-radius: 4px;
}

.progress__bar {
  height: 100%;
  background: black;
  border-radius: 4px;
  position: relative;
  left: -1px;
}

.progress__percentage {
  padding: .5rem .5rem;
  color: black;
  font-family: Noto Serif, serif;
  text-align: center;
}

table {
  border: 1px solid #DCDCDC;
  margin: 1rem 0;
  width: 100%;
}

table thead {
  background: #F5F5F5;
}

table tbody tr {
  border-bottom: 1px solid #DCDCDC;
}

table tbody tr:last-child {
  border: 0;
}

table tbody tr:nth-child(odd) {
  background: #fafafa;
}

table .form-item {
  margin: 0;
}

table .form-item label {
  display: block;
}

table .js-form-type-radio label {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

table .checkbox-wrapper {
  display: block;
  width: auto;
  height: auto;
  border: 0;
  border-radius: 0;
  background: transparent;
}

table .checkbox-wrapper .form-checkbox {
  display: block;
}

table .checkbox-wrapper .icon-check {
  display: none;
}

table .radio-wrapper {
  top: 3px;
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  border: 0;
  border-radius: 0;
  z-index: 1;
  background: transparent;
}

table .radio-wrapper i {
  display: none;
}

table .radio-wrapper .form-radio {
  display: block;
}

table .radio-wrapper .form-radio:checked + i {
  opacity: 1;
}

table td,
table th {
  padding: .3rem .5rem;
  text-align: left;
}

table td a.tabledrag-handle .handle,
table th a.tabledrag-handle .handle {
  background: url("../images/move.svg") no-repeat left center;
  background-size: 14px 14px;
  display: inline-block;
  margin-right: 14px;
  width: 14px;
}

table td.description, table td.field-suffix {
  padding: .3rem .5rem;
}

table ul {
  padding-left: 15px;
}

.wrapper-footer {
  font-size: 1.33333rem;
  padding: 1rem 0;
  background: #F5F5F5;
}

.wrapper-footer .menu__link {
  color: black;
  text-decoration: none;
  font-size: 1.16667rem;
  text-transform: uppercase;
}

.wrapper-footer .menu__link:visited {
  color: black;
}

.wrapper-footer .menu__link:visited:hover, .wrapper-footer .menu__link:visited:focus {
  color: black;
  text-decoration: underline;
}

.wrapper-footer .menu__link:hover, .wrapper-footer .menu__link:focus {
  color: black;
  text-decoration: underline;
}

.sticky-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sticky-footer .wrapper-main {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  overflow: hidden;
}

.wrapper-header {
  position: relative;
}

.wrapper-header__inner {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.node--unpublished {
  background: #ffd6ed;
}

.node--unpublished:before {
  content: 'DRAFT';
  font-family: Noto Serif, serif;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  display: block;
}

.region--header {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.region--navigation {
  margin: 0 1rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
}

.region--search {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
}

.container-fluid {
  width: 100%;
}

.row {
  margin-right: -1rem;
  margin-left: -1rem;
  margin-bottom: 2rem;
}

.row > main,
.row > aside {
  margin-bottom: 1rem;
}

.row > main:last-child,
.row > aside:last-child {
  margin-bottom: 0;
}

.row--footer {
  margin-top: 1rem;
}

.row .inner {
  height: 100%;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter > .col-xs,
.row.no-gutter > .col-xs-1,
.row.no-gutter > .col-xs-2,
.row.no-gutter > .col-xs-3,
.row.no-gutter > .col-xs-4,
.row.no-gutter > .col-xs-5,
.row.no-gutter > .col-xs-6,
.row.no-gutter > .col-xs-7,
.row.no-gutter > .col-xs-8,
.row.no-gutter > .col-xs-9,
.row.no-gutter > .col-xs-10,
.row.no-gutter > .col-xs-11,
.row.no-gutter > .col-xs-12,
.row.no-gutter > .col-xs-offset-0,
.row.no-gutter > .col-xs-offset-1,
.row.no-gutter > .col-xs-offset-2,
.row.no-gutter > .col-xs-offset-3,
.row.no-gutter > .col-xs-offset-4,
.row.no-gutter > .col-xs-offset-5,
.row.no-gutter > .col-xs-offset-6,
.row.no-gutter > .col-xs-offset-7,
.row.no-gutter > .col-xs-offset-8,
.row.no-gutter > .col-xs-offset-9,
.row.no-gutter > .col-xs-offset-10,
.row.no-gutter > .col-xs-offset-11,
.row.no-gutter > .col-xs-offset-12 {
  padding-right: 0;
  padding-left: 0;
}

.row--footer, .row--cta {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.single-row {
  margin-bottom: 2rem;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.page-404 {
  background: #F5F5F5;
}

.page-404 .wrapper--inner {
  height: 100%;
}

.page-404 .main {
  background: url("../images/bg_bear_tracks.svg") center right no-repeat;
}

.page-404 h1 {
  font-size: 20px;
  line-height: 1;
  color: #D1D2D4;
  margin: 0;
}

.page-404 h2 {
  font-size: 18px;
  margin: 0;
}

.page-404 .button--404 {
  margin-top: 1rem;
}

.page-404 .main {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

@media screen and (min-width: 40em) {

  html {
    font-size: 87.5%;
  }

  body {
    font-size: 1.21429rem;
  }

  .typeset p {
    margin-bottom: 1.4007rem;
    padding-top: 0.5993rem;
  }

  .typeset h1, .typeset .alpha {
    font-size: 2.14286rem;
    margin-bottom: 2.20713rem;
    padding-top: 0.79287rem;
  }

  .typeset h2, .typeset .beta {
    font-size: 1.9rem;
    margin-bottom: 1.12699rem;
    padding-top: 0.87301rem;
  }

  .typeset h3, .typeset .gamma {
    font-size: 1.71429rem;
    margin-bottom: 1.0657rem;
    padding-top: 0.9343rem;
  }

  .typeset h4, .typeset .delta {
    font-size: 1.52143rem;
    margin-bottom: -0.49794rem;
    padding-top: 0.49794rem;
  }

  .typeset h5, .typeset .epsilon {
    font-size: 1.37143rem;
    margin-bottom: -0.54744rem;
    padding-top: 0.54744rem;
  }

  .typeset h6, .typeset .zeta {
    font-size: 1.21429rem;
    margin-bottom: -0.5993rem;
    padding-top: 0.5993rem;
  }

  .typeset ul, .typeset ol {
    margin-bottom: 1.4007rem;
    padding-top: 0.5993rem;
  }

  .typeset ul li, .typeset ol li {
    margin-left: 0;
  }

  .typeset dl {
    margin-bottom: 1.4007rem;
    padding-top: 0.5993rem;
  }

  .typeset dl dt, .typeset dl dd {
    margin-left: 0;
  }

  .typeset table {
    font-size: 1.09286rem;
    margin-bottom: 1.36063rem;
    padding-top: 0.63937rem;
  }

  .typeset table thead th {
    font-size: 1.21429rem;
    margin-bottom: -0.5993rem;
    padding-top: 0.5993rem;
  }

  .typeset small, .typeset .caption {
    font-size: 0.97143rem;
  }

  .typeset .caption {
    margin-bottom: 1.32056rem;
    padding-top: 0.67944rem;
  }

  .typeset blockquote p {
    margin-bottom: 1.80142rem;
    padding-bottom: 0.5993rem;
  }

  .typeset blockquote {
    margin-left: -1rem;
  }

  .typeset code {
    font-size: 0.97143rem;
  }

  .button, .form-submit, .dropbutton-widget {
    font-size: 0.92857rem;
  }

  figure.align-left {
    margin-right: 2rem;
    margin-bottom: 1rem;
    float: left;
    width: auto;
  }

  figure.align-right {
    margin-left: 2rem;
    margin-bottom: 1rem;
    float: right;
    width: auto;
  }

  figure figcaption {
    font-size: 1.14286rem;
  }

  .description, .field-suffix,
  .filter-guidelines {
    font-size: 0.85714rem;
  }

  .filter-help {
    font-size: 1rem;
  }

  .form-text, input[type='search'],
  .form-email,
  .form-textarea,
  .form-date,
  .form-password,
  .form-date {
    font-size: 1.14286rem;
  }

  label {
    font-size: 0.85714rem;
  }

  .js-form-type-checkbox label,
  .js-form-type-radio label {
    font-size: 1rem;
  }

  #search-block-form .form-search {
    font-size: 1.85714rem;
  }

  #search-block-form .form-search {
    width: 400px;
  }

  #search-block-form .form-search::-webkit-input-placeholder {
    font-size: 1.85714rem;
  }

  #search-block-form .form-search:-moz-placeholder {
    font-size: 1.85714rem;
  }

  #search-block-form .form-search::-moz-placeholder {
    font-size: 1.85714rem;
  }

  #search-block-form .form-search:-ms-input-placeholder {
    font-size: 1.85714rem;
  }

  .summary {
    font-size: 1.28571rem;
  }

  .user-pass p {
    font-size: 0.85714rem;
  }

  .breadcrumb__item {
    font-size: 1rem;
  }

  .menu--main.open .menu__link {
    font-size: 1.57143rem;
  }

  .tabs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .tabs__tab {
    display: inline-block;
    width: auto;
  }

  .tabs__tab-link {
    font-size: 1rem;
  }

  .vertical-tabs__menu-item {
    font-size: 1.14286rem;
  }

  .wrapper-footer {
    font-size: 1.14286rem;
  }

  .wrapper-footer .menu__link {
    font-size: 1rem;
  }
}

@media screen and (min-width: 50em) {

  html {
    font-size: 93.75%;
  }

  body {
    font-size: 1.2rem;
  }

  .typeset p {
    margin-bottom: 1.39599rem;
    padding-top: 0.60401rem;
  }

  .typeset h1, .typeset .alpha {
    font-size: 2.13333rem;
    margin-bottom: 2.20399rem;
    padding-top: 0.79601rem;
  }

  .typeset h2, .typeset .beta {
    font-size: 1.87333rem;
    margin-bottom: 1.11819rem;
    padding-top: 0.88181rem;
  }

  .typeset h3, .typeset .gamma {
    font-size: 1.70667rem;
    margin-bottom: 1.06319rem;
    padding-top: 0.93681rem;
  }

  .typeset h4, .typeset .delta {
    font-size: 1.5rem;
    margin-bottom: -0.50501rem;
    padding-top: 0.50501rem;
  }

  .typeset h5, .typeset .epsilon {
    font-size: 1.36667rem;
    margin-bottom: -0.54901rem;
    padding-top: 0.54901rem;
  }

  .typeset h6, .typeset .zeta {
    font-size: 1.2rem;
    margin-bottom: -0.60401rem;
    padding-top: 0.60401rem;
  }

  .typeset ul, .typeset ol {
    margin-bottom: 1.39599rem;
    padding-top: 0.60401rem;
  }

  .typeset dl {
    margin-bottom: 1.39599rem;
    padding-top: 0.60401rem;
  }

  .typeset table {
    font-size: 1.08667rem;
    margin-bottom: 1.35859rem;
    padding-top: 0.64141rem;
  }

  .typeset table thead th {
    font-size: 1.2rem;
    margin-bottom: -0.60401rem;
    padding-top: 0.60401rem;
  }

  .typeset small, .typeset .caption {
    font-size: 0.96rem;
  }

  .typeset .caption {
    margin-bottom: 1.31679rem;
    padding-top: 0.68321rem;
  }

  .typeset blockquote p {
    margin-bottom: 1.79199rem;
    padding-bottom: 0.60401rem;
  }

  .typeset code {
    font-size: 0.96rem;
  }

  .layout-sidebar-first .wrapper-main__inner, .layout-sidebar-second .wrapper-main__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
  }

  .layout-sidebar-first .column.main, .layout-sidebar-second .column.main {
    padding: 0 0 0 2rem;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .layout-sidebar-first .column.sidebar, .layout-sidebar-second .column.sidebar {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .layout-sidebar-second .column.main {
    padding: 0 2rem 0 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .layout-sidebar-second .column.sidebar {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .layout-two-sidebars .wrapper-main__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
  }

  .layout-two-sidebars .column.main {
    padding: 0 2rem;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .layout-two-sidebars .column.sidebar {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }

  .layout-two-sidebars .column.sidebar.sidebar--first {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .layout-two-sidebars .column.sidebar.sidebar--second {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .button, .form-submit, .dropbutton-widget {
    font-size: 0.86667rem;
  }

  figure figcaption {
    font-size: 1.06667rem;
  }

  .description, .field-suffix,
  .filter-guidelines {
    font-size: 0.8rem;
  }

  .filter-help {
    font-size: 0.93333rem;
  }

  .form-text, input[type='search'],
  .form-email,
  .form-textarea,
  .form-date,
  .form-password,
  .form-date {
    font-size: 1.06667rem;
  }

  label {
    font-size: 0.8rem;
  }

  .js-form-type-checkbox label,
  .js-form-type-radio label {
    font-size: 0.93333rem;
  }

  .branding__site-logo {
    width: 75px;
    height: 75px;
  }

  .branding__site-name {
    position: relative;
    height: auto;
    width: auto;
    overflow: inherit;
    clip: none;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0 1rem;
    font-weight: 700;
  }

  .branding__site-slogan {
    font-size: 14px;
    margin: 0 1rem;
  }

  #search-block-form .form-search {
    font-size: 1.73333rem;
  }

  #search-block-form .form-search::-webkit-input-placeholder {
    font-size: 1.73333rem;
  }

  #search-block-form .form-search:-moz-placeholder {
    font-size: 1.73333rem;
  }

  #search-block-form .form-search::-moz-placeholder {
    font-size: 1.73333rem;
  }

  #search-block-form .form-search:-ms-input-placeholder {
    font-size: 1.73333rem;
  }

  .summary {
    font-size: 1.2rem;
  }

  .user-pass p {
    font-size: 0.8rem;
  }

  .breadcrumb__item {
    font-size: 0.93333rem;
  }

  .menu--main.open .menu__link {
    font-size: 1.46667rem;
  }

  .tabs__tab-link {
    font-size: 0.93333rem;
  }

  .vertical-tabs__menu-item {
    font-size: 1.06667rem;
  }

  .wrapper-footer {
    font-size: 1.06667rem;
  }

  .wrapper-footer .menu__link {
    font-size: 0.93333rem;
  }
}

@media screen and (min-width: 64em) {

  html {
    font-size: 106.25%;
  }

  body {
    font-size: 1.05882rem;
  }

  .typeset p {
    margin-bottom: 1.3494rem;
    padding-top: 0.6506rem;
  }

  .typeset h1, .typeset .alpha {
    font-size: 2.35294rem;
    margin-bottom: 2.27646rem;
    padding-top: 0.72354rem;
  }

  .typeset h2, .typeset .beta {
    font-size: 2.06471rem;
    margin-bottom: 1.18134rem;
    padding-top: 0.81866rem;
  }

  .typeset h3, .typeset .gamma {
    font-size: 1.88235rem;
    margin-bottom: 1.12117rem;
    padding-top: 0.87883rem;
  }

  .typeset h4, .typeset .delta {
    font-size: 1.65294rem;
    margin-bottom: -0.45454rem;
    padding-top: 0.45454rem;
  }

  .typeset h5, .typeset .epsilon {
    font-size: 1.50588rem;
    margin-bottom: -0.50307rem;
    padding-top: 0.50307rem;
  }

  .typeset h6, .typeset .zeta {
    font-size: 1.05882rem;
    margin-bottom: -0.6506rem;
    padding-top: 0.6506rem;
  }

  .typeset ul, .typeset ol {
    margin-bottom: 1.3494rem;
    padding-top: 0.6506rem;
  }

  .typeset dl {
    margin-bottom: 1.3494rem;
    padding-top: 0.6506rem;
  }

  .typeset table {
    font-size: 0.95882rem;
    margin-bottom: 1.3164rem;
    padding-top: 0.6836rem;
  }

  .typeset table thead th {
    font-size: 1.05882rem;
    margin-bottom: -0.6506rem;
    padding-top: 0.6506rem;
  }

  .typeset small, .typeset .caption {
    font-size: 0.84706rem;
  }

  .typeset .caption {
    margin-bottom: 1.27952rem;
    padding-top: 0.72048rem;
  }

  .typeset blockquote p {
    margin-bottom: 1.69881rem;
    padding-bottom: 0.6506rem;
  }

  .typeset code {
    font-size: 0.84706rem;
  }

  .button, .form-submit, .dropbutton-widget {
    font-size: 0.76471rem;
  }

  figure figcaption {
    font-size: 0.94118rem;
  }

  .description, .field-suffix,
  .filter-guidelines {
    font-size: 0.70588rem;
  }

  .filter-help {
    font-size: 0.82353rem;
  }

  .form-text, input[type='search'],
  .form-email,
  .form-textarea,
  .form-date,
  .form-password,
  .form-date {
    font-size: 0.94118rem;
  }

  label {
    font-size: 0.70588rem;
  }

  .js-form-type-checkbox label,
  .js-form-type-radio label {
    font-size: 0.82353rem;
  }

  #search-block-form .form-search {
    font-size: 1.52941rem;
  }

  #search-block-form .form-search::-webkit-input-placeholder {
    font-size: 1.52941rem;
  }

  #search-block-form .form-search:-moz-placeholder {
    font-size: 1.52941rem;
  }

  #search-block-form .form-search::-moz-placeholder {
    font-size: 1.52941rem;
  }

  #search-block-form .form-search:-ms-input-placeholder {
    font-size: 1.52941rem;
  }

  .summary {
    font-size: 1.05882rem;
  }

  .user-pass p {
    font-size: 0.70588rem;
  }

  .breadcrumb__item {
    font-size: 0.82353rem;
  }

  .menu--main {
    position: relative;
    top: -2px;
  }

  .menu--main.open .menu__link {
    font-size: 1.29412rem;
  }

  #mnav {
    display: none;
  }

  .tabs__tab-link {
    font-size: 0.82353rem;
  }

  .vertical-tabs__menu-item {
    font-size: 0.94118rem;
  }

  .wrapper-footer {
    font-size: 0.94118rem;
  }

  .wrapper-footer .menu__link {
    font-size: 0.82353rem;
  }

  .row > main,
  .row > aside {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 100em) {

  html {
    font-size: 118.75%;
  }

  body {
    font-size: 1.15789rem;
  }

  .typeset p {
    margin-bottom: 1.3821rem;
    padding-top: 0.6179rem;
  }

  .typeset h1, .typeset .alpha {
    font-size: 3.27368rem;
    margin-bottom: 2.58031rem;
    padding-top: 0.41969rem;
  }

  .typeset h2, .typeset .beta {
    font-size: 2.63158rem;
    margin-bottom: 1.36841rem;
    padding-top: 0.63159rem;
  }

  .typeset h3, .typeset .gamma {
    font-size: 2.04737rem;
    margin-bottom: 1.17562rem;
    padding-top: 0.82438rem;
  }

  .typeset h4, .typeset .delta {
    font-size: 1.85789rem;
    margin-bottom: -0.3869rem;
    padding-top: 0.3869rem;
  }

  .typeset h5, .typeset .epsilon {
    font-size: 1.63684rem;
    margin-bottom: -0.45985rem;
    padding-top: 0.45985rem;
  }

  .typeset h6, .typeset .zeta {
    font-size: 1.15789rem;
    margin-bottom: -0.6179rem;
    padding-top: 0.6179rem;
  }

  .typeset ul, .typeset ol {
    margin-bottom: 1.3821rem;
    padding-top: 0.6179rem;
  }

  .typeset dl {
    margin-bottom: 1.3821rem;
    padding-top: 0.6179rem;
  }

  .typeset table {
    font-size: 1.15789rem;
    margin-bottom: 1.3821rem;
    padding-top: 0.6179rem;
  }

  .typeset table thead th {
    font-size: 1.15789rem;
    margin-bottom: -0.6179rem;
    padding-top: 0.6179rem;
  }

  .typeset small, .typeset .caption {
    font-size: 0.92632rem;
  }

  .typeset .caption {
    margin-bottom: 1.30567rem;
    padding-top: 0.69433rem;
  }

  .typeset blockquote p {
    margin-bottom: 1.7642rem;
    padding-bottom: 0.6179rem;
  }

  .typeset code {
    font-size: 0.92632rem;
  }

  .button, .form-submit, .dropbutton-widget {
    font-size: 0.68421rem;
  }

  figure figcaption {
    font-size: 0.84211rem;
  }

  .description, .field-suffix,
  .filter-guidelines {
    font-size: 0.63158rem;
  }

  .filter-help {
    font-size: 0.73684rem;
  }

  .form-text, input[type='search'],
  .form-email,
  .form-textarea,
  .form-date,
  .form-password,
  .form-date {
    font-size: 0.84211rem;
  }

  label {
    font-size: 0.63158rem;
  }

  .js-form-type-checkbox label,
  .js-form-type-radio label {
    font-size: 0.73684rem;
  }

  #search-block-form .form-search {
    font-size: 1.36842rem;
  }

  #search-block-form .form-search::-webkit-input-placeholder {
    font-size: 1.36842rem;
  }

  #search-block-form .form-search:-moz-placeholder {
    font-size: 1.36842rem;
  }

  #search-block-form .form-search::-moz-placeholder {
    font-size: 1.36842rem;
  }

  #search-block-form .form-search:-ms-input-placeholder {
    font-size: 1.36842rem;
  }

  .summary {
    font-size: 0.94737rem;
  }

  .user-pass p {
    font-size: 0.63158rem;
  }

  .breadcrumb__item {
    font-size: 0.73684rem;
  }

  .menu--main.open .menu__link {
    font-size: 1.15789rem;
  }

  .tabs__tab-link {
    font-size: 0.73684rem;
  }

  .vertical-tabs__menu-item {
    font-size: 0.84211rem;
  }

  .wrapper-footer {
    font-size: 0.84211rem;
  }

  .wrapper-footer .menu__link {
    font-size: 0.73684rem;
  }
}
