@import url(http://fonts.googleapis.com/css?family=Average+Sans);
@import url(http://fonts.googleapis.com/css?family=Forum);
/**
 * @file
 *
 * Bear Starter Theme Main Styling
 *
 * Adds basic bear styles for starter theme.
 *
 */
/***********
~IMPORTS
***********/
/* includes our social icons styles and font */
[class*="foundicon-"]:after {
  position: relative;
  top: -10px;
  left: 10px;
  color: #DDD;
  font-size: 100%;
  margin: -20px 0 0 0;
  font-style: normal;
  display: block;
  text-indent: -9999px;
  vertical-align: baseline;
  display: none;
}

.foundicon-thumb-up:after {
  content: "thumb-up";
}

.foundicon-thumb-down:after {
  content: "thumb-down";
}

.foundicon-rss:after {
  content: "rss";
}

.foundicon-facebook:after {
  content: "facebook";
}

.foundicon-twitter:after {
  content: "twitter";
}

.foundicon-pinterest:after {
  content: "pinterest";
}

.foundicon-github:after {
  content: "github";
}

.foundicon-path:after {
  content: "path";
}

.foundicon-linkedin:after {
  content: "linkedin";
}

.foundicon-dribbble:after {
  content: "dribbble";
}

.foundicon-stumble-upon:after {
  content: "stumble-upon";
}

.foundicon-behance:after {
  content: "behance";
}

.foundicon-reddit:after {
  content: "reddit";
}

.foundicon-google-plus:after {
  content: "google-plus";
}

.foundicon-youtube:after {
  content: "youtube";
}

.foundicon-vimeo:after {
  content: "vimeo";
}

.foundicon-flickr:after {
  content: "flickr";
}

.foundicon-slideshare:after {
  content: "slideshare";
}

.foundicon-picassa:after {
  content: "picassa";
}

.foundicon-skype:after {
  content: "skype";
}

.foundicon-steam:after {
  content: "steam";
}

.foundicon-instagram:after {
  content: "instagram";
}

.foundicon-foursquare:after {
  content: "foursquare";
}

.foundicon-delicious:after {
  content: "delicious";
}

.foundicon-chat:after {
  content: "chat";
}

.foundicon-torso:after {
  content: "torso";
}

.foundicon-tumblr:after {
  content: "tumblr";
}

.foundicon-video-chat:after {
  content: "video-chat";
}

.foundicon-digg:after {
  content: "digg";
}

.foundicon-wordpress:after {
  content: "wordpress";
}

/***********
~VARIABLES & MIXINS
***********/
/* Usage
.class {
    @include linear-gradient(#color, $color);
} */
/***********
~GENERIC
***********/
body {
  color: #555555;
}
body a {
  color: #61aee2;
  text-decoration: none;
}
body a:hover {
  color: #443C45;
  text-decoration: underline;
}
body a:visited {
  color: #61aee2;
}

html, button, input, select, textarea {
  font-family: 'Average Sans', Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Forum', Arial, sans-serif;
  font-weight: 400;
}

#page {
  min-width: 300px;
}

#navigation {
  font-family: 'Average Sans', Arial, sans-serif;
}

#content {
  font-family: 'Average Sans', Arial, sans-serif;
}

#navigation ul.menu li {
  text-transform: none;
}
#navigation ul.menu li div, #navigation ul.menu li h1, #navigation ul.menu li h2, #navigation ul.menu li h3, #navigation ul.menu li h4, #navigation ul.menu li h5 {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-end: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
}
#navigation ul.menu li a {
  color: #61aee2;
  text-decoration: none;
}
#navigation ul.menu li a:hover {
  color: #443C45;
  text-decoration: underline;
}
#navigation ul.menu li a:visited {
  color: #61aee2;
}
#navigation ul.menu li a {
  background-color: #eff2f1;
  padding: 7px 15px 6px 15px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  display: block;
}
#navigation ul.menu li a:hover, #navigation ul.menu li a.active {
  color: #ffffff;
  text-decoration: underline;
  background: #d1d3d2;
}
#navigation ul.menu li a.active, #navigation ul.menu li a:visited {
  text-decoration: none;
}
#navigation ul.menu ul {
  z-index: 100;
}
#navigation ul.menu ul:hover {
  display: block;
}
#navigation ul.menu ul li a:link, #navigation ul.menu ul li a:visited, #navigation ul.menu ul li a:hover {
  background: transparent;
  color: #61aee2;
}
#navigation ul.menu ul li a:hover {
  text-decoration: underline;
}

.form-submit {
  font-size: 16px;
  padding: 0.2em 1.1em 0.3em 1.2em;
  color: white;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF61AEE2', endColorstr='#FF227DBB');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #61aee2), color-stop(70%, #61aee2));
  background: -webkit-linear-gradient(#61aee2, #61aee2 70%);
  background: -moz-linear-gradient(#61aee2, #61aee2 70%);
  background: -o-linear-gradient(#61aee2, #61aee2 70%);
  background: linear-gradient(#61aee2, #61aee2 70%);
  -webkit-box-shadow: #a2cfee 0 1px 0 inset;
  -moz-box-shadow: #a2cfee 0 1px 0 inset;
  box-shadow: #a2cfee 0 1px 0 inset;
  border: 1px solid #4ba3de;
  text-shadow: #1e6fa5 0 -1px 0;
}
.form-submit:hover {
  text-decoration: none;
}
.form-submit:hover {
  background-color: #4ba3de;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #4ba3de), color-stop(75%, #4ba3de));
  background: -webkit-linear-gradient(#4ba3de 3%, #4ba3de 75%);
  background: -moz-linear-gradient(#4ba3de 3%, #4ba3de 75%);
  background: -o-linear-gradient(#4ba3de 3%, #4ba3de 75%);
  background: linear-gradient(#4ba3de 3%, #4ba3de 75%);
}
.form-submit:active {
  -webkit-box-shadow: #3f9cdc 0 1px 2px inset;
  -moz-box-shadow: #3f9cdc 0 1px 2px inset;
  box-shadow: #3f9cdc 0 1px 2px inset;
}
.form-submit.disabled, .form-submit[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #61aee2;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.form-submit::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

ul.primary {
  padding: 0;
  border-bottom: 1px solid #D9DBDB;
}
@media (min-width: 250px) and (max-width: 400px) {
  ul.primary {
    border-bottom: none;
  }
}
ul.primary li {
  border: none;
  margin: 0 5px 0 0;
  text-shadow: 0;
}
ul.primary li a:link, ul.primary li a:visited, ul.primary li a:hover {
  text-shadow: 0;
  font-size: 16px;
  padding: 0.2em 1.1em 0.3em 1.2em;
  color: white;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEFF2F1', endColorstr='#FFB7C4C0');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eff2f1), color-stop(70%, #e6e7e7));
  background: -webkit-linear-gradient(#eff2f1, #e6e7e7 70%);
  background: -moz-linear-gradient(#eff2f1, #e6e7e7 70%);
  background: -o-linear-gradient(#eff2f1, #e6e7e7 70%);
  background: linear-gradient(#eff2f1, #e6e7e7 70%);
  -webkit-box-shadow: white 0 1px 0 inset;
  -moz-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px solid #d9dbdb;
  text-shadow: white 0 1px 0;
}
ul.primary li a:link:hover, ul.primary li a:visited:hover, ul.primary li a:hover:hover {
  text-decoration: none;
}
ul.primary li a:link:hover, ul.primary li a:visited:hover, ul.primary li a:hover:hover {
  background-color: #d9dbdb;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #e1e7e5), color-stop(75%, #d9dbdb));
  background: -webkit-linear-gradient(#e1e7e5 3%, #d9dbdb 75%);
  background: -moz-linear-gradient(#e1e7e5 3%, #d9dbdb 75%);
  background: -o-linear-gradient(#e1e7e5 3%, #d9dbdb 75%);
  background: linear-gradient(#e1e7e5 3%, #d9dbdb 75%);
}
ul.primary li a:link:active, ul.primary li a:visited:active, ul.primary li a:hover:active {
  -webkit-box-shadow: #d1d3d3 0 1px 2px inset;
  -moz-box-shadow: #d1d3d3 0 1px 2px inset;
  box-shadow: #d1d3d3 0 1px 2px inset;
}
ul.primary li a:link.disabled, ul.primary li a:link[disabled], ul.primary li a:visited.disabled, ul.primary li a:visited[disabled], ul.primary li a:hover.disabled, ul.primary li a:hover[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #e6e7e7;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
ul.primary li a:link::-moz-focus-inner, ul.primary li a:visited::-moz-focus-inner, ul.primary li a:hover::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
ul.primary li a {
  color: #333 !important;
}
ul.primary li a.active {
  color: #61aee2 !important;
}

@media (min-width: 250px) and (max-width: 400px) {
  ul.primary li, ul.secondary li {
    float: none;
    clear: both;
    margin: 0;
  }
  ul.primary li a, ul.secondary li a {
    width: 88%;
  }
}
/***********
~STRUCTURE
***********/
.wrapper.header {
  background-color: #d1d3d2;
}
.wrapper.footer {
  background-color: #eff2f1;
}

/***********
~HEADER
***********/
.wrapper.header #header {
  padding: 10px 0;
  padding-bottom: 25px;
}

#header div, #header h1, #header h2, #header h3, #header h4, #header h5 {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-end: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
}

h1#site-name {
  font-size: 2em;
  line-height: 1.5em;
  margin: 45px 0 0 25px;
}
h1#site-name a:link, h1#site-name a:visited {
  color: #ffffff;
}

@media (max-width: 800px) {
  .wrapper.header #header {
    text-align: center;
    padding: 0;
  }
  .wrapper.header #header #logo {
    float: none;
    clear: both;
    display: block;
  }
  .wrapper.header #header #name-and-slogan {
    float: none;
  }
  .wrapper.header #header #name-and-slogan h1 {
    margin: 10px 0;
  }
}
/***********
~SIDEBARS
***********/
aside.sidebars {
  margin: 30px 0 0 0;
}
aside.sidebars .sidebar {
  padding-bottom: 20px;
}
aside.sidebars .sidebar h2 {
  background: #eff2f1;
  text-indent: 10px;
  margin: 0 0 10px 0;
  font-size: 110%;
}
@media (min-width: 1000px) {
  aside.sidebars .sidebar {
    padding-left: auto;
  }
}

/***********
~FOOTER
***********/
.wrapper.footer #footer {
  margin-left: auto;
  margin-right: auto;
  color: #555555;
  font-size: 12px;
}

ul.social-footer {
  padding: 0;
  margin: 0;
}
ul.social-footer li {
  list-style-type: none;
  float: left;
  margin: 0 5px 0 0;
}
ul.social-footer li a {
  display: block;
  outline: none;
  text-decoration: none;
}
ul.social-footer li a i {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  color: #555555;
  font-size: 30px;
}
ul.social-footer li a i span {
  display: none;
}
ul.social-footer li a i:hover {
  color: #61aee2;
}

@media (max-width: 800px) {
  #footer {
    text-align: center;
  }

  ul.social-footer {
    margin-top: -10px;
  }
  ul.social-footer li {
    display: inline-block;
    float: none;
  }
}
