/* line 37, ../sass/bear-menu.scss */
#navigation .block-menu:after, #navigation .menu-block-wrapper > ul:after {
  content: "";
  display: table;
  clear: both;
}

/* line 43, ../sass/bear-menu.scss */
#navigation .block-menu, #navigation .menu-block-wrapper {
  font: bold 13px Arial, Helvetica;
}
/* line 45, ../sass/bear-menu.scss */
#navigation .block-menu ul, #navigation .menu-block-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 3px;
}
/* line 51, ../sass/bear-menu.scss */
#navigation .block-menu li, #navigation .menu-block-wrapper li {
  position: relative;
}
/* line 53, ../sass/bear-menu.scss */
#navigation .block-menu li:hover, #navigation .menu-block-wrapper li:hover {
  border-right-color: #666666;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}
/* line 56, ../sass/bear-menu.scss */
#navigation .block-menu li:hover > ul, #navigation .menu-block-wrapper li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
}
/* line 61, ../sass/bear-menu.scss */
#navigation .block-menu li:hover > a, #navigation .menu-block-wrapper li:hover > a {
  color: white;
  background: #666666;
}
/* line 67, ../sass/bear-menu.scss */
#navigation .block-menu input[type=checkbox], #navigation .menu-block-wrapper input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
/* line 72, ../sass/bear-menu.scss */
#navigation .block-menu label, #navigation .menu-block-wrapper label {
  display: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* line 79, ../sass/bear-menu.scss */
#navigation .block-menu, #navigation .menu-block-wrapper > ul {
  background-color: #848484;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  border: 1px solid #777777;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}
/* line 84, ../sass/bear-menu.scss */
#navigation .block-menu > li, #navigation .menu-block-wrapper > ul > li {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
  float: left;
  border-right: 1px solid #919191;
  box-shadow: 1px 0 0 #b7b7b7;
}
/* line 196, ../sass/base/jeet/_grid.scss */
#navigation .block-menu > li:before, #navigation .block-menu > li:after, #navigation .menu-block-wrapper > ul > li:before, #navigation .menu-block-wrapper > ul > li:after {
  content: '';
  display: table;
}
/* line 200, ../sass/base/jeet/_grid.scss */
#navigation .block-menu > li:after, #navigation .menu-block-wrapper > ul > li:after {
  clear: both;
}
/* line 89, ../sass/bear-menu.scss */
#navigation .block-menu > li > a, #navigation .menu-block-wrapper > ul > li > a {
  float: left;
  padding: 1em 0;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
/* line 95, ../sass/bear-menu.scss */
#navigation .block-menu > li > a.active, #navigation .menu-block-wrapper > ul > li > a.active {
  color: #FFF;
  box-shadow: inset 0 0 10px #666;
}
/* line 103, ../sass/bear-menu.scss */
#navigation .block-menu a, #navigation .menu-block-wrapper > ul a {
  color: #F1EDEE;
  text-decoration: none;
  text-shadow: 0 -1px 0 #585858;
}
/* line 108, ../sass/bear-menu.scss */
#navigation .block-menu ul, #navigation .menu-block-wrapper > ul ul {
  background-color: #aaaaaa;
  background-image: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  margin: 1em 0 0 0;
  width: 100%;
  -webkit-transition-property: margin, opacity;
          transition-property: margin, opacity;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
/* line 26, ../sass/bear-menu.scss */
#navigation .block-menu ul:after, #navigation .menu-block-wrapper > ul ul:after {
  content: '';
  position: absolute;
  left: 4em;
  top: -12px;
  border: 6px solid transparent;
  border-bottom-color: #aaa;
}
/* line 123, ../sass/bear-menu.scss */
#navigation .block-menu ul:after, #navigation .menu-block-wrapper > ul ul:after {
  left: 47%;
}
/* line 126, ../sass/bear-menu.scss */
#navigation .block-menu ul li, #navigation .menu-block-wrapper > ul ul li {
  display: block;
  width: 100%;
  box-shadow: 0 1px 0 #919191, 0 2px 0 #c4c4c4;
}
/* line 130, ../sass/bear-menu.scss */
#navigation .block-menu ul li:first-child > a, #navigation .menu-block-wrapper > ul ul li:first-child > a {
  border-radius: 3px 3px 0 0;
}
/* line 133, ../sass/bear-menu.scss */
#navigation .block-menu ul li:last-child, #navigation .menu-block-wrapper > ul ul li:last-child {
  box-shadow: none;
}
/* line 135, ../sass/bear-menu.scss */
#navigation .block-menu ul li:last-child > a, #navigation .menu-block-wrapper > ul ul li:last-child > a {
  border-radius: 0 0 3px 3px;
}
/* line 140, ../sass/bear-menu.scss */
#navigation .block-menu ul a, #navigation .menu-block-wrapper > ul ul a {
  padding: 1em;
  display: block;
  border-color: #aaaaaa;
  width: 100%;
}
/* line 145, ../sass/bear-menu.scss */
#navigation .block-menu ul a:hover, #navigation .menu-block-wrapper > ul ul a:hover {
  background-color: #61AEE2;
  border-color: #61AEE2;
}

/*# sourceMappingURL=bear-menu.css.map */