/* line 77, ../sass/base/_button.scss */
.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #3a3a39;
  outline: none;
  -webkit-transition: background-color 0.4s, color 0.4s;
          transition: background-color 0.4s, color 0.4s;
  background-color: #545452;
  color: #f9f9f9;
  padding: 0.4em 1.5em;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.5;
}
/* line 32, ../sass/base/_button.scss */
.button * {
  position: relative;
}
/* line 35, ../sass/base/_button.scss */
.button:hover, .button:focus {
  background-color: #3a3a39;
  text-decoration: none;
  color: #f9f9f9;
}

/* line 81, ../sass/base/_button.scss */
.button.secondary {
  background-color: #82705B;
  color: #f9f9f9;
  border-color: #6a5b4a;
}
/* line 85, ../sass/base/_button.scss */
.button.secondary:hover, .button.secondary:focus {
  background-color: #736351;
}

/* line 90, ../sass/base/_button.scss */
.button.highlight {
  background-color: #DCB97F;
  color: #f9f9f9;
  border-color: #d3a75f;
}
/* line 94, ../sass/base/_button.scss */
.button.highlight:hover, .button.highlight:focus {
  background-color: #d7ae6b;
}

/* line 99, ../sass/base/_button.scss */
.button.success {
  background-color: #5cb85c;
  color: #f9f9f9;
  border-color: #47a447;
}
/* line 103, ../sass/base/_button.scss */
.button.success:hover, .button.success:focus {
  background-color: #4cae4c;
}

/* line 108, ../sass/base/_button.scss */
.button.warning {
  background-color: #f0ad4e;
  color: #f9f9f9;
  border-color: #ed9c28;
}
/* line 112, ../sass/base/_button.scss */
.button.warning:hover, .button.warning:focus {
  background-color: #eea236;
}

/* line 117, ../sass/base/_button.scss */
.button.error {
  background-color: #d9534f;
  color: #f9f9f9;
  border-color: #d2322d;
}
/* line 121, ../sass/base/_button.scss */
.button.error:hover, .button.error:focus {
  background-color: #d43f3a;
}

/* line 130, ../sass/base/_button.scss */
.button-inverted.secondary {
  border-color: #82705B;
  color: #82705B;
}
/* line 133, ../sass/base/_button.scss */
.button-inverted.secondary:before, .button-inverted.secondary:active {
  background: url('../images/rgbapng/82705b33-5.png?1427919388');
  background: rgba(130, 112, 91, 0.2);
}
/* line 136, ../sass/base/_button.scss */
.button-inverted.secondary:hover {
  color: #82705B;
}

/* line 141, ../sass/base/_button.scss */
.button-inverted.highlight {
  border-color: #DCB97F;
  color: #DCB97F;
}
/* line 144, ../sass/base/_button.scss */
.button-inverted.highlight:before, .button-inverted.highlight:active {
  background: url('../images/rgbapng/dcb97f33-5.png?1427919370');
  background: rgba(220, 185, 127, 0.2);
}
/* line 147, ../sass/base/_button.scss */
.button-inverted.highlight:hover {
  color: #DCB97F;
}

/* line 152, ../sass/base/_button.scss */
.button-inverted.success {
  border-color: #5cb85c;
  color: #5cb85c;
}
/* line 155, ../sass/base/_button.scss */
.button-inverted.success:before, .button-inverted.success:active {
  background: url('../images/rgbapng/5cb85c33-5.png?1427736330');
  background: rgba(92, 184, 92, 0.2);
}
/* line 158, ../sass/base/_button.scss */
.button-inverted.success:hover {
  color: #5cb85c;
}

/* line 163, ../sass/base/_button.scss */
.button-inverted.warning {
  border-color: #f0ad4e;
  color: #f0ad4e;
}
/* line 166, ../sass/base/_button.scss */
.button-inverted.warning:before, .button-inverted.warning:active {
  background: url('../images/rgbapng/f0ad4e33-5.png?1427736330');
  background: rgba(240, 173, 78, 0.2);
}
/* line 169, ../sass/base/_button.scss */
.button-inverted.warning:hover {
  color: #f0ad4e;
}

/* line 174, ../sass/base/_button.scss */
.button-inverted.error {
  border-color: #d9534f;
  color: #d9534f;
}
/* line 177, ../sass/base/_button.scss */
.button-inverted.error:before, .button-inverted.error:active {
  background: url('../images/rgbapng/d9534f33-5.png?1427736330');
  background: rgba(217, 83, 79, 0.2);
}
/* line 180, ../sass/base/_button.scss */
.button-inverted.error:hover {
  color: #d9534f;
}

/* line 33, ../sass/buttons.scss */
.button-inverted {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 1px solid transparent;
  outline: none;
  -webkit-transition: background-color 0.4s, color 0.4s;
          transition: background-color 0.4s, color 0.4s;
  background-color: transparent;
  color: #545452;
  padding: 0.4em 1.5em;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.5;
  border: 2px solid #545452;
}
/* line 32, ../sass/base/_button.scss */
.button-inverted * {
  position: relative;
}
/* line 35, ../sass/base/_button.scss */
.button-inverted:hover, .button-inverted:focus {
  background-color: transparent;
  text-decoration: none;
  color: #545452;
}
/* line 64, ../sass/base/_button.scss */
.button-inverted:hover {
  color: #545452;
  background-color: transparent;
}
/* line 68, ../sass/base/_button.scss */
.button-inverted:before, .button-inverted:active {
  background: url('../images/rgbapng/54545233-5.png?1427919344');
  background: rgba(84, 84, 82, 0.2);
}

/*# sourceMappingURL=buttons.css.map */