/* line 57, ../sass/base/_typography.scss */
.comment .comment-delete a,
.comment .comment-edit a,
.comment .comment-reply a {
  font-size: 11px;
  font-size: 1.12rem;
}

/* line 126, ../sass/base/_button.scss */
.comment .comment-delete a,
.comment .comment-edit a,
.comment .comment-reply a {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 1px solid transparent;
  outline: none;
  -webkit-transition: background-color 0.4s, color 0.4s;
          transition: background-color 0.4s, color 0.4s;
  background-color: transparent;
  color: #545452;
  padding: 0.4em 1.5em;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.5;
  border: 2px solid #545452;
}
/* line 32, ../sass/base/_button.scss */
.comment .comment-delete a *,
.comment .comment-edit a *,
.comment .comment-reply a * {
  position: relative;
}
/* line 35, ../sass/base/_button.scss */
.comment .comment-delete a:hover,
.comment .comment-edit a:hover,
.comment .comment-reply a:hover, .comment .comment-delete a:focus,
.comment .comment-edit a:focus,
.comment .comment-reply a:focus {
  background-color: transparent;
  text-decoration: none;
  color: #545452;
}
/* line 64, ../sass/base/_button.scss */
.comment .comment-delete a:hover,
.comment .comment-edit a:hover,
.comment .comment-reply a:hover {
  color: #545452;
  background-color: transparent;
}
/* line 68, ../sass/base/_button.scss */
.comment .comment-delete a:before,
.comment .comment-edit a:before,
.comment .comment-reply a:before, .comment .comment-delete a:active,
.comment .comment-edit a:active,
.comment .comment-reply a:active {
  background: url('../images/rgbapng/54545233-5.png?1427919344');
  background: rgba(84, 84, 82, 0.2);
}

/* line 130, ../sass/base/_button.scss */
.comment .comment-edit a {
  border-color: #82705B;
  color: #82705B;
}
/* line 133, ../sass/base/_button.scss */
.comment .comment-edit a:before, .comment .comment-edit a:active {
  background: url('../images/rgbapng/82705b33-5.png?1427919388');
  background: rgba(130, 112, 91, 0.2);
}
/* line 136, ../sass/base/_button.scss */
.comment .comment-edit a:hover {
  color: #82705B;
}

/* line 152, ../sass/base/_button.scss */
.comment .comment-reply a {
  border-color: #5cb85c;
  color: #5cb85c;
}
/* line 155, ../sass/base/_button.scss */
.comment .comment-reply a:before, .comment .comment-reply a:active {
  background: url('../images/rgbapng/5cb85c33-5.png?1427736330');
  background: rgba(92, 184, 92, 0.2);
}
/* line 158, ../sass/base/_button.scss */
.comment .comment-reply a:hover {
  color: #5cb85c;
}

/* line 174, ../sass/base/_button.scss */
.comment .comment-delete a {
  border-color: #d9534f;
  color: #d9534f;
}
/* line 177, ../sass/base/_button.scss */
.comment .comment-delete a:before, .comment .comment-delete a:active {
  background: url('../images/rgbapng/d9534f33-5.png?1427736330');
  background: rgba(217, 83, 79, 0.2);
}
/* line 180, ../sass/base/_button.scss */
.comment .comment-delete a:hover {
  color: #d9534f;
}

/* line 3, ../sass/comments.scss */
.comments {
  margin: 1.875em 0;
}

/* line 18, ../sass/comments.scss */
.comment {
  margin-bottom: 3px;
}
/* line 21, ../sass/comments.scss */
.comment__title {
  margin-bottom: 0.625em;
}
/* line 24, ../sass/comments.scss */
.comment .submitted {
  font-size: 80%;
  margin: 0;
  color: #6C6C6C;
  font-style: italic;
}
/* line 30, ../sass/comments.scss */
.comment .field {
  margin-bottom: 0.625em;
}
/* line 34, ../sass/comments.scss */
.comment .links-inline li {
  float: left;
}
/* line 61, ../sass/comments.scss */
.comment .comment_forbidden {
  position: absolute !important;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 64, ../sass/comments.scss */
.comment.comment-by-viewer {
  background: url('../images/rgbapng/dcb97f1a-5.png?1427919380');
  background: rgba(220, 185, 127, 0.1);
  padding-left: 5px;
}

/* line 70, ../sass/comments.scss */
.indented {
  margin-left: 0.9375em;
  border-left: 3px solid #837B80;
  padding-left: 0.9375em;
}
/* line 76, ../sass/comments.scss */
.indented .comment {
  padding-top: 0.625em;
  padding-bottom: 0.625em;
}

/* line 87, ../sass/comments.scss */
.comment-unpublished p.unpublished {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}
/* line 45, ../sass/base/_utility.scss */
.lt-ie8 .comment-unpublished p.unpublished > * {
  position: relative;
}

/*# sourceMappingURL=comments.css.map */