/**
 * @file
 * Form Styling
 */
/* includes our social icons styles and font */
[class*="foundicon-"]:after {
  position: relative;
  top: -10px;
  left: 10px;
  color: #DDD;
  font-size: 100%;
  margin: -20px 0 0 0;
  font-style: normal;
  display: block;
  text-indent: -9999px;
  vertical-align: baseline;
  display: none;
}

.foundicon-thumb-up:after {
  content: "thumb-up";
}

.foundicon-thumb-down:after {
  content: "thumb-down";
}

.foundicon-rss:after {
  content: "rss";
}

.foundicon-facebook:after {
  content: "facebook";
}

.foundicon-twitter:after {
  content: "twitter";
}

.foundicon-pinterest:after {
  content: "pinterest";
}

.foundicon-github:after {
  content: "github";
}

.foundicon-path:after {
  content: "path";
}

.foundicon-linkedin:after {
  content: "linkedin";
}

.foundicon-dribbble:after {
  content: "dribbble";
}

.foundicon-stumble-upon:after {
  content: "stumble-upon";
}

.foundicon-behance:after {
  content: "behance";
}

.foundicon-reddit:after {
  content: "reddit";
}

.foundicon-google-plus:after {
  content: "google-plus";
}

.foundicon-youtube:after {
  content: "youtube";
}

.foundicon-vimeo:after {
  content: "vimeo";
}

.foundicon-flickr:after {
  content: "flickr";
}

.foundicon-slideshare:after {
  content: "slideshare";
}

.foundicon-picassa:after {
  content: "picassa";
}

.foundicon-skype:after {
  content: "skype";
}

.foundicon-steam:after {
  content: "steam";
}

.foundicon-instagram:after {
  content: "instagram";
}

.foundicon-foursquare:after {
  content: "foursquare";
}

.foundicon-delicious:after {
  content: "delicious";
}

.foundicon-chat:after {
  content: "chat";
}

.foundicon-torso:after {
  content: "torso";
}

.foundicon-tumblr:after {
  content: "tumblr";
}

.foundicon-video-chat:after {
  content: "video-chat";
}

.foundicon-digg:after {
  content: "digg";
}

.foundicon-wordpress:after {
  content: "wordpress";
}

.form-item {
  /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1.5em 0;
}
.form-item input {
  max-width: 99%;
  color: #333333;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  /* Highlight the form elements that caused a form submission error */
  border: 1px solid #c00;
}
.form-item label {
  /* The label for a form element */
  display: block;
  font-weight: normal;
  color: #666666;
  font-size: 90%;
}
.form-item label.option {
  /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}
.form-item .form-required {
  /* The part of the label that indicates a required field */
  color: #c00;
}
.form-item .description {
  /* The descriptive help text (separate from the label) */
  font-size: 80%;
  font-style: italic;
  color: #777777;
}
.form-item .form-file {
  color: #666666;
  font-size: 90%;
}
.form-checkboxes .form-item, .form-radios .form-item {
  /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0;
  /* Drupal core uses "0.4em 0" */
}
.form-item .form-text {
  min-height: 25px;
  line-height: 25px;
  border: 1px solid #CCCCCC;
}
.form-item .field-add-more-submit {
  text-shadow: none;
  color: white;
}

.form-text:focus, .form-text:hover, .form-text:active, .form-textarea:focus, .form-textarea:hover, .form-textarea:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-text:focus, .form-textarea:focus {
  border: 1px solid #61AEE2;
}

.form-submit {
  font-size: 90%;
  padding: 0.5em 1.5em;
  color: white;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF999999', endColorstr='#FF666666');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #999999), color-stop(70%, #888888));
  background: -webkit-linear-gradient(#999999, #888888 70%);
  background: -moz-linear-gradient(#999999, #888888 70%);
  background: -o-linear-gradient(#999999, #888888 70%);
  background: linear-gradient(#999999, #888888 70%);
  -webkit-box-shadow: #bfbfbf 0 1px 0 inset;
  -moz-box-shadow: #bfbfbf 0 1px 0 inset;
  box-shadow: #bfbfbf 0 1px 0 inset;
  border: 1px solid #7b7b7b;
  text-shadow: #585858 0 -1px 0;
  margin: 0 5px 0 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-submit:hover {
  text-decoration: none;
}
.form-submit:hover {
  background-color: #7b7b7b;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #8c8c8c), color-stop(75%, #7b7b7b));
  background: -webkit-linear-gradient(#8c8c8c 3%, #7b7b7b 75%);
  background: -moz-linear-gradient(#8c8c8c 3%, #7b7b7b 75%);
  background: -o-linear-gradient(#8c8c8c 3%, #7b7b7b 75%);
  background: linear-gradient(#8c8c8c 3%, #7b7b7b 75%);
}
.form-submit:active {
  -webkit-box-shadow: #747474 0 1px 2px inset;
  -moz-box-shadow: #747474 0 1px 2px inset;
  box-shadow: #747474 0 1px 2px inset;
}
.form-submit.disabled, .form-submit[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #888888;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.form-submit::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

a.button {
  font-size: 90%;
  padding: 0.5em 1.5em;
  color: white;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF999999', endColorstr='#FF666666');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #999999), color-stop(70%, #888888));
  background: -webkit-linear-gradient(#999999, #888888 70%);
  background: -moz-linear-gradient(#999999, #888888 70%);
  background: -o-linear-gradient(#999999, #888888 70%);
  background: linear-gradient(#999999, #888888 70%);
  -webkit-box-shadow: #bfbfbf 0 1px 0 inset;
  -moz-box-shadow: #bfbfbf 0 1px 0 inset;
  box-shadow: #bfbfbf 0 1px 0 inset;
  border: 1px solid #7b7b7b;
  text-shadow: #585858 0 -1px 0;
  margin: 0 5px 0 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 5px;
}
a.button:hover {
  text-decoration: none;
}
a.button:hover {
  background-color: #7b7b7b;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #8c8c8c), color-stop(75%, #7b7b7b));
  background: -webkit-linear-gradient(#8c8c8c 3%, #7b7b7b 75%);
  background: -moz-linear-gradient(#8c8c8c 3%, #7b7b7b 75%);
  background: -o-linear-gradient(#8c8c8c 3%, #7b7b7b 75%);
  background: linear-gradient(#8c8c8c 3%, #7b7b7b 75%);
}
a.button:active {
  -webkit-box-shadow: #747474 0 1px 2px inset;
  -moz-box-shadow: #747474 0 1px 2px inset;
  box-shadow: #747474 0 1px 2px inset;
}
a.button.disabled, a.button[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #888888;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
a.button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
a.button:hover {
  color: white;
}

html.js input.form-autocomplete {
  background-position: 100% 5px;
}

.ajax-progress .throbber {
  background-position: 0px -18px;
}

.container-inline div,
.container-inline label {
  /* Inline labels and form divs */
  display: inline;
}
.container-inline .select2-container {
  display: inline-block;
  margin-bottom: 10px;
}
.container-inline .select2-display-none {
  display: none;
}

dd {
  margin: 10px 0 10px 30px;
}

.tips {
  /* Tips for Drupal's input formats */
}

a.button {
  /* Buttons used by contrib modules like Media */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

fieldset {
  margin-bottom: 15px;
  padding: 0;
}
fieldset legend {
  float: left;
  background: #EEEEEE;
  width: 100%;
  margin-bottom: 10px;
}
fieldset legend .fieldset-legend {
  padding: 5px 10px;
  display: block;
}
fieldset .fieldset-wrapper {
  padding: 15px;
}
fieldset.filter-wrapper {
  padding: 0;
  font-size: 90%;
  background: #f9f9f9;
}
fieldset.filter-wrapper .fieldset-wrapper {
  padding: 5px;
  border-top: 1px dotted #C0C0C0;
}
fieldset.filter-wrapper .filter-help {
  padding: 0 20px 0 0;
}
fieldset.filter-wrapper .form-item {
  padding-top: 0;
  margin-top: 5px;
}

.ckeditor_links {
  font-size: 90%;
}

.vertical-tabs ul.vertical-tabs-list li a {
  text-decoration: none;
}
.vertical-tabs ul.vertical-tabs-list li a:hover {
  text-decoration: none;
  outline: none;
  color: #61AEE2;
}
.vertical-tabs ul.vertical-tabs-list li a strong {
  font-weight: normal;
}
.vertical-tabs ul.vertical-tabs-list li a .summary {
  font-size: 90%;
  font-style: italic;
  color: #777777;
}

html.js fieldset.collapsed {
  border: 1px solid #CCCCCC;
  height: 2.15em;
}

/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */
#block-search-form {
  /* Wrapper for the search form */
}

/*
 * Drupal's default login form block
 */
#user-login-form {
  text-align: left;
  /* LTR */
  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
}
#user-login-form ul {
  /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0;
  /* Position OpenID's ul next to the rest of the links. */
}
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px;
  /* LTR */
  /* Un-do some of the padding on the ul list. */
}
#user-login-form li.user-link {
  /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}

#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */
form table {
  width: 100%;
}
form th {
  text-align: left;
  /* LTR */
  padding-right: 1em;
  /* LTR */
  border-bottom: 3px solid #ccc;
  font-weight: normal;
  padding: 5px 10px;
}
form tbody {
  border-top: 1px solid #ccc;
}
form td {
  padding: 10px;
}
form tr.even {
  background-color: #fff;
}
form table .item-list ul {
  margin: 0;
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */
td.menu-disabled {
  background: #ccc;
}
