@charset "UTF-8";
/*! Gutenberg reset — adapted from Normalize */
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
cite,
code,
small {
  display: block; }

* {
  box-sizing: border-box; }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
abbr {
  letter-spacing: 0.1em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 70%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

em,
i {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* Embedded content
   ========================================================================== */
img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

/* Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Images
   ========================================================================== */
img {
  max-width: 100%;
  display: block;
  margin: inherit auto; }

/* Configuration
   ========================================================================== */
/* Mixins
   ========================================================================== */
/* Calculations
   ========================================================================== */
/* Mixins
   ========================================================================== */
/* Font themes
   ========================================================================== */
/* Defaults
   ========================================================================== */

html {
  font-size: 16px;
  font-size: 100%;
  font-family: Merriweather, Georgia, serif;
  color: #261D19; }

* {
  line-height: 26px;
  line-height: 1.625rem; }

/* Paragraph
   ========================================================================== */
p {
  margin-bottom: 26px;
  margin-bottom: 1.625rem; }

/* Headings
   ========================================================================== */
h1 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 52px;
  line-height: 3.25rem;
  margin-top: 52px;
  margin-top: 3.25rem;
  margin-bottom: 26px;
  margin-bottom: 1.625rem; }

h2 {
  font-size: 27px;
  font-size: 1.6875rem;
  line-height: 39px;
  line-height: 2.4375rem;
  margin-top: 32.5px;
  margin-top: 2.03125rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem; }

h3 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 26px;
  margin-top: 1.625rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem; }

h4 {
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 19.5px;
  margin-top: 1.21875rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem; }

h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 32.5px;
  margin-top: 2.03125rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem; }

h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 32.5px;
  margin-top: 2.03125rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem; }

h1 + h2 {
  margin-top: 26px;
  margin-top: 1.625rem; }

h2 + h3,
h3 + h4,
h4 + h5 {
  margin-top: 13px;
  margin-top: 0.8125rem; }

h5 + h6 {
  margin-top: -13px;
  margin-top: -0.8125rem; }

h6 {
  font-style: italic;
  font-weight: normal; }

/* Links
   ========================================================================== */
a {
  color: #728EAD;
  transition: all .3s;
  text-decoration: none; }
  a:hover {
    color: #445b75; }
  a:visited {
    color: #728EAD; }
    a:visited:hover {
      color: #445b75; }
  a:active {
    color: #445b75; }

/* Figures & other elements
   ========================================================================== */

figcaption {
  line-height: 26px;
  line-height: 1.625rem;
  color: #261D19;
  font-size: .8125rem;
  font-style: italic;
  margin-bottom: 0;
  text-align: center; }

blockquote {
  font-style: italic;
  padding-left: 1.4375rem; }

cite {
  font-style: normal; }

figure blockquote {
  padding: 26px 0px;
  padding: 1.625rem 0rem; }
  figure blockquote p {
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 39px;
    line-height: 2.4375rem; }

ul li,
ol li {
  margin-bottom: 0; }

hr {
  margin-top: 52px;
  margin-top: 3.25rem;
  margin-bottom: 52px;
  margin-bottom: 3.25rem;
  border: 0;
  color: #261D19;
  display: block;
  height: 26px;
  height: 1.625rem;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 26px;
  background-size: 100% 1.625rem;
  background-image: linear-gradient(to bottom, transparent 1px, transparent 11px, #261D19 11px, #261D19 15px, transparent 15px, transparent 26px);
  width: 100px; }

small {
  line-height: 13px;
  line-height: 0.8125rem; }

code {
  padding: 26px;
  padding: 1.625rem; }

.attention-grabber {
  font-size: 19.2px;
  font-size: 1.2rem; }

/* Grid
   ========================================================================== */
.grid, .grid-double {
  background-image: linear-gradient(to bottom, rgba(0, 170, 255, 0.3) 1px, transparent 1px);
  background-position: left top;
  background-repeat: repeat;
  background-size: 100% 26px;
  background-size: 100% 1.625rem; }

.grid-double {
  background-image: linear-gradient(to bottom, rgba(0, 170, 255, 0.3) 1px, transparent 1px, transparent 13px, rgba(0, 170, 255, 0.2) 13px, transparent 14px, transparent 26px); }

/* Gutenberg defaults
   ========================================================================== */
.toggleWrapper {
  display: block;
  position: fixed;
  top: 26px;
  right: 26px;
  background-color: #231F20;
  border-radius: 25px;
  padding: 0 10px 0 20px;
  height: 32px; }

.btnToggleGrid {
  background: url("../images/grid-icons.png") top right no-repeat;
  background-size: 32px;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding-right: 35px;
  height: 32px;
  line-height: 34px;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff; }
  .btnToggleGrid:hover {
    color: #fff; }
  .btnToggleGrid:active {
    color: #f00; }

.double-grid {
  background-position-y: -32px; }

.grid-off {
  background-position-y: -64px; }

.table-ui-container {
  overflow-y: auto;
  _overflow: auto;
  margin: 0;
  position: relative; }

table.ui {
  min-width: 650px;
  margin-bottom: 30px !important; }

.description {
  font-size: 80%;
  color: #eaeaea;
  font-style: italic;
  padding: 0 10px;
  margin: 10px 0;
  border-left: dotted 1px #aaa;
  max-width: 38em; }

fieldset {
  position: relative;
  margin: 1em 0;
  display: block;
  clear: both;
  height: auto !important;
  border: 0;
  padding: 0; }
  fieldset:not(.collapsed) i.icon:before {
    content: "\f056" !important; }
  fieldset.required > label:after {
    margin: -0.2em 0em 0em 0.2em;
    content: '*';
    color: #db2828; }

.fieldset-wrapper {
  background: #f5f5f5;
  padding: 1em;
  border: 1px dotted #eaeaea;
  margin: 1em 0;
  overflow: visible !important; }

.form-item {
  margin-bottom: 1.5em; }
  .form-item .form-item {
    margin-bottom: .5em; }

.form-type-textarea {
  max-width: 40em; }

textarea.error {
  border-color: #FF6A40; }

label {
  color: #000;
  display: block;
  font-weight: normal; }

legend {
  margin-left: 0; }

::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  color: #eaeaea; }

::-moz-placeholder {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  color: #eaeaea; }

:-ms-input-placeholder {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  color: #eaeaea; }

::placeholder {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  color: #eaeaea; }

:focus::-webkit-input-placeholder {
  opacity: .5;
  color: #888; }

:focus::-moz-placeholder {
  opacity: .5;
  color: #888; }

:focus:-ms-input-placeholder {
  opacity: .5;
  color: #888; }

:focus::placeholder {
  opacity: .5;
  color: #888; }

.ui.form .webform-container-inline label {
  display: inline !important;
  margin: 0 .5em; }

.ui.form .webform-container-inline .field div.dropdown {
  width: auto; }

i.icon {
  font-size: 1em;
  text-decoration: none; }

#comments {
  margin-top: 2em; }

.field-collection-view {
  margin: 0; }

.site-info {
  max-width: 75em;
  padding: 1em;
  margin: 0 auto;
  color: white; }
  .site-info .site-header__name a {
    color: white;
    text-decoration: none;
    text-transform: uppercase; }
    .site-info .site-header__name a:hover, .site-info .site-header__name a:focus {
      color: #728EAD;
      text-decoration: none; }

nav.breadcrumb {
  padding: 20px 0;
  color: #555; }
  nav.breadcrumb .divider,
  nav.breadcrumb span {
    color: #555; }
  nav.breadcrumb i:before {
    font-size: 75%; }
  nav.breadcrumb i:last-child {
    display: none; }

.pager-wrapper {
  position: relative;
  width: 100%;
  display: inline-block;
  min-height: 50px;
  margin: 10px 0 0 0; }

#sidr-wrapper-0 {
  position: absolute;
  right: 0;
  top: .5em; }

.sidr-inner {
  border-bottom: 1px solid #4d4d4d;
  padding: 0 !important; }
  .sidr-inner a {
    width: 100%;
    display: block;
    padding: .5em 1em;
    color: white;
    line-height: 2.5em;
    border-bottom: 1px solid #1a1a1a;
    border-top: 1px solid #4d4d4d; }
    .sidr-inner a:focus, .sidr-inner a:hover, .sidr-inner a.sidr-class-active {
      box-shadow: inset 0 0 15px 3px #222; }
    .sidr-inner a:last-child {
      border-bottom: 1px solid #1a1a1a; }

body.sidr-open #sidr-wrapper-0 {
  margin-left: 0;
  position: absolute;
  left: 1em; }
  body.sidr-open #sidr-wrapper-0 span {
    background: transparent; }
    body.sidr-open #sidr-wrapper-0 span:before, body.sidr-open #sidr-wrapper-0 span:after {
      top: 0; }
    body.sidr-open #sidr-wrapper-0 span:before {
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
    body.sidr-open #sidr-wrapper-0 span:after {
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

body.sidr-open #header #logo-container {
  opacity: 0; }

#primary-tabs,
#secondary-tabs {
  margin: 1em 0; }
  #primary-tabs .reset-appearance,
  #secondary-tabs .reset-appearance {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); }
  #primary-tabs ul,
  #secondary-tabs ul {
    margin: 0;
    padding: 0; }
  #primary-tabs a,
  #secondary-tabs a {
    margin: 0; }

.panel-pane {
  margin-bottom: 30px; }

.panels-ipe ul.panels-ipe-linkbar {
  padding: 0;
  margin: 0; }
  .panels-ipe ul.panels-ipe-linkbar li {
    display: inline;
    list-style-type: none; }

.site-footer {
  background: #445b75;
  color: white; }
  .site-footer .region-footer {
    padding-top: 30px;
    padding-bottom: 30px; }

#footer {
  background: transparent;
  border: 0; }
  #footer .block-menu {
    float: left;
    margin: 0 50px 0 0; }
  #footer ul {
    margin: 0;
    padding: 0; }
    #footer ul li {
      list-style-type: none; }

.site-sidebars {
  margin: 2em 0; }

.wrapper {
  min-width: 320px; }
  .wrapper--site-info {
    background: #445b75;
    position: relative; }
  .wrapper--footer {
    border-top: 1px solid #eaeaea; }

.front.banner .wrapper--site-info {
  top: 0; }

body.unpublished #main {
  background-color: #fff4f4; }

.admin-menu .wrapper--header {
  position: relative; }

.admin-menu .wrapper--title {
  margin-top: 0; }

.admin-menu .home-page-banner {
  margin-top: 0; }

/* No files to import found in 05-templates//**/
/* */
@media screen and (min-width: 80em){
  body,
  html{
    margin: 0;
    width: 100%;
    max-width: none; }
  html{
    font-size: 18px;
    font-size: 1.125rem; }
  /* Mixins
   ========================================================================== */
  /* Mixins
   ========================================================================== */
  h1{
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 62px;
    line-height: 3.44444rem;
    margin-top: 62px;
    margin-top: 3.44444rem;
    margin-bottom: 31px;
    margin-bottom: 1.72222rem; }
  h2{
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 46.5px;
    line-height: 2.58333rem;
    margin-top: 38.75px;
    margin-top: 2.15278rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.86111rem; }
  h3{
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 31px;
    line-height: 1.72222rem;
    margin-top: 31px;
    margin-top: 1.72222rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.86111rem; }
  h4{
    font-size: 19.2px;
    font-size: 1.2rem;
    line-height: 31px;
    line-height: 1.72222rem;
    margin-top: 23.25px;
    margin-top: 1.29167rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.86111rem; }
  h5{
    font-size: 16px;
    font-size: 1rem;
    line-height: 31px;
    line-height: 1.72222rem;
    margin-top: 38.75px;
    margin-top: 2.15278rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.86111rem; }
  h6{
    font-size: 16px;
    font-size: 1rem;
    line-height: 31px;
    line-height: 1.72222rem;
    margin-top: 38.75px;
    margin-top: 2.15278rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.86111rem; }
  h1 + h2{
    /* Mixins
   ========================================================================== */
    margin-top: 31px;
    margin-top: 1.72222rem; }
  h2 + h3,
    h3 + h4,
    h4 + h5{
    /* Mixins
   ========================================================================== */
    margin-top: 15.5px;
    margin-top: 0.86111rem; }
  h5 + h6{
    /* Mixins
   ========================================================================== */
    margin-top: -15.5px;
    margin-top: -0.86111rem; }
  figure.floatLeft,
  figure.floatRight{
    /* Mixins
   ========================================================================== */
    max-width: 675px;
    max-width: 37.5rem;
    padding: 0px 31px;
    padding: 0rem 1.72222rem; }
  figure.floatLeft blockquote,
  figure.floatRight blockquote{
    /* Mixins
   ========================================================================== */
    padding: 0px;
    padding: 0rem;
    text-align: left; }
  figure.floatLeft blockquote p,
  figure.floatRight blockquote p{
    /* Mixins
   ========================================================================== */
    font-size: 19.2px;
    font-size: 1.2rem;
    line-height: 31px;
    line-height: 1.72222rem; }
  figcaption{
    /* Mixins
   ========================================================================== */
    line-height: 31px;
    line-height: 1.72222rem;
    margin-bottom: 0; }
  blockquote{
    padding-left: 2rem; }
  figure blockquote{
    /* Mixins
   ========================================================================== */
    padding: 62px 0px 31px;
    padding: 3.44444rem 0rem 1.72222rem;
    text-align: center; }
  figure blockquote p{
    /* Mixins
   ========================================================================== */
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 46.5px;
    line-height: 2.58333rem; }
  hr{
    /* Mixins
   ========================================================================== */
    margin-top: 62px;
    margin-top: 3.44444rem;
    margin-bottom: 62px;
    margin-bottom: 3.44444rem;
    height: 31px;
    height: 1.72222rem; }
  hr{
    /* Mixins
   ========================================================================== */
    background-size: 100% 31px;
    background-size: 100% 1.72222rem;
    background-image: linear-gradient(to bottom, transparent 1px, transparent 13.5px, #261D19 13.5px, #261D19 17.5px, transparent 17.5px, transparent 31px); }
  small{
    /* Mixins
   ========================================================================== */
    line-height: 15.5px;
    line-height: 0.86111rem; }
  code{
    /* Mixins
   ========================================================================== */
    padding: 31px;
    padding: 1.72222rem; }
  .grid, .grid-double{
    background-size: 100% 31px;
    background-size: 100% 1.72222rem; }
  .grid-double{
    background-image: linear-gradient(to bottom, rgba(0, 170, 255, 0.3) 1px, transparent 1px, transparent 15.5px, rgba(0, 170, 255, 0.2) 15.5px, transparent 16.5px, transparent 31px); }
  .toggleWrapper{
    right: 31px;
    top: 31px; }
  .btnToggleGrid{
    top: 31px;
    right: 31px; } }
@media (min-width: 50em){
  *{
    line-height: 26px;
    line-height: 1.625rem;
    max-width: 1350px;
    max-width: 75rem; }
  .site-info .site-header__slogan{
    float: right;
    clear: none; }
  .site-sidebars{
    margin: 0; } }
@media (min-width: 62.5em){
  #primary-tabs a,
      #secondary-tabs a{
    margin: 0 1em 0 0; } }
