/**
 * @file
 * RTL companion for the pages.css file.
 */
/****************
OUR CUSTOM MIXINS
*****************/
/***********
~VARIABLES
***********/
/***********
~BREAKPOINTS
***********/
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/*
 * Header
 */
#logo {
  /* Wrapping link for logo */
  float: right;
}

/*
 * Content
 */
ul.inline li {
  /* List of links */
  display: inline-block;
  /* Bug in Safari causes display: inline to fail. */
  padding: 0 0 0 1em;
}

span.field-label {
  /* The inline field label used by the Fences.module */
  padding: 0 0 0 1em;
}
