/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */
/****************
OUR CUSTOM MIXINS
*****************/
/***********
~VARIABLES
***********/
/***********
~BREAKPOINTS
***********/
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
@media print {
  a:link,
  a:visited {
    /* underline all links */
    text-decoration: underline !important;
  }
  #site-name a:link, #site-name
  a:visited {
    /* Don't underline header */
    text-decoration: none !important;
  }

  #content a[href]:after {
    /* Add visible URL after links. */
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
  }
  #content a[href^="javascript:"]:after,
  #content a[href^="#"]:after {
    /* Only display useful links. */
    content: "";
  }
  #content abbr[title]:after {
    /* Add visible title after abbreviations. */
    content: " (" attr(title) ")";
  }

  #content {
    /* Un-float the content */
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  body,
  #page,
  #main,
  #content {
    /* Turn off any background colors or images */
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }

  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons {
    /* Hide sidebars and nav elements */
    visibility: hidden;
    display: none;
  }
}
/* End @media print */
