/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */
/* includes our social icons styles and font */
[class*="foundicon-"]:after {
  position: relative;
  top: -10px;
  left: 10px;
  color: #DDD;
  font-size: 100%;
  margin: -20px 0 0 0;
  font-style: normal;
  display: block;
  text-indent: -9999px;
  vertical-align: baseline;
  display: none;
}

.foundicon-thumb-up:after {
  content: "thumb-up";
}

.foundicon-thumb-down:after {
  content: "thumb-down";
}

.foundicon-rss:after {
  content: "rss";
}

.foundicon-facebook:after {
  content: "facebook";
}

.foundicon-twitter:after {
  content: "twitter";
}

.foundicon-pinterest:after {
  content: "pinterest";
}

.foundicon-github:after {
  content: "github";
}

.foundicon-path:after {
  content: "path";
}

.foundicon-linkedin:after {
  content: "linkedin";
}

.foundicon-dribbble:after {
  content: "dribbble";
}

.foundicon-stumble-upon:after {
  content: "stumble-upon";
}

.foundicon-behance:after {
  content: "behance";
}

.foundicon-reddit:after {
  content: "reddit";
}

.foundicon-google-plus:after {
  content: "google-plus";
}

.foundicon-youtube:after {
  content: "youtube";
}

.foundicon-vimeo:after {
  content: "vimeo";
}

.foundicon-flickr:after {
  content: "flickr";
}

.foundicon-slideshare:after {
  content: "slideshare";
}

.foundicon-picassa:after {
  content: "picassa";
}

.foundicon-skype:after {
  content: "skype";
}

.foundicon-steam:after {
  content: "steam";
}

.foundicon-instagram:after {
  content: "instagram";
}

.foundicon-foursquare:after {
  content: "foursquare";
}

.foundicon-delicious:after {
  content: "delicious";
}

.foundicon-chat:after {
  content: "chat";
}

.foundicon-torso:after {
  content: "torso";
}

.foundicon-tumblr:after {
  content: "tumblr";
}

.foundicon-video-chat:after {
  content: "video-chat";
}

.foundicon-digg:after {
  content: "digg";
}

.foundicon-wordpress:after {
  content: "wordpress";
}

@media print {
  a:link,
  a:visited {
    /* underline all links */
    text-decoration: underline !important;
  }
  #site-name a:link, #site-name
  a:visited {
    /* Don't underline header */
    text-decoration: none !important;
  }

  #content a[href]:after {
    /* Add visible URL after links. */
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
  }
  #content a[href^="javascript:"]:after,
  #content a[href^="#"]:after {
    /* Only display useful links. */
    content: "";
  }
  #content abbr[title]:after {
    /* Add visible title after abbreviations. */
    content: " (" attr(title) ")";
  }

  #content {
    /* Un-float the content */
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  body,
  #page,
  #main,
  #content {
    /* Turn off any background colors or images */
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }

  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons {
    /* Hide sidebars and nav elements */
    visibility: hidden;
    display: none;
  }
}
/* End @media print */
