.messages {
  padding: 0.7em 1.5em;
  border-radius: 2px;
  background-color: #c3cfdc;
  color: white;
  border: 1px solid #a2b5c9;
  border-left-width: 10px;
  margin: 1em 0; }
  .messages a {
    color: white;
    border-bottom: 1px dotted white; }
    .messages a:hover {
      color: white; }
    .messages a:active {
      color: white; }
    .messages a:focus {
      color: white; }

.messages--error,
.messages.error {
  border-color: #c9302c;
  background-color: #d9534f; }

.messages--success,
.messages--status,
.messages.status,
.messages.ok {
  border-color: #329d62;
  background-color: #40C27A; }

.messages--warning,
.messages.warning {
  border-color: #ec971f;
  background-color: #f0ad4e; }

.messages:first-of-type {
  margin-top: 0; }

.messages__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5em; }

.messages__item {
  margin-bottom: 0.8em; }
  .messages__item:last-of-type {
    margin-bottom: 0; }

.messages .krumo-root {
  color: #404040; }

form {
  padding: 0 12px; }

input[type="text"],
input[type="password"] {
  border: 1px solid #d6d6d6;
  background: #ffffff;
  border-radius: 3px;
  color: #404040;
  box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(0, 0, 0, 0.7) 0 0px 0px;
  padding: 8px;
  width: 280px; }
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

fieldset {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  border: 1px solid #e6e4e5;
  background: white;
  border-radius: 5px;
  padding: 15px;
  color: #837B80;
  font-size: 12px; }

fieldset legend {
  background: #e6e4e5;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  margin-left: 20px; }

body {
  margin: 0;
  padding: 0; }
  body *, body *:before, body *:after {
    box-sizing: border-box; }

#skip-link {
  margin: 0;
  padding: 0; }
  #skip-link li {
    list-style-type: none; }

.site-header,
.site-main,
.region--footer {
  *zoom: 1;
  max-width: 75em;
  margin: 0 auto; }
  .site-header:before,
  .site-header:after,
  .site-main:before,
  .site-main:after,
  .region--footer:before, .region--footer:after {
    content: '';
    display: table; }
  .site-header:after,
  .site-main:after,
  .region--footer:after {
    clear: both; }

.region--navigation {
  display: inline-block; }

body.with-sticky-footer {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
      flex-direction: column; }

body.with-sticky-footer .wrapper--main {
  position: relative;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto; }

.tabs-primary,
.tabs-secondary {
  *zoom: 1;
  position: relative;
  height: 40px;
  background-color: transparent;
  width: 100%;
  padding: 0;
  margin: 1em 0 1.5em;
  border-bottom: 1px solid none;
  white-space: nowrap;
  background: #eaeaea; }
  .tabs-primary:before,
  .tabs-primary:after,
  .tabs-secondary:before, .tabs-secondary:after {
    content: '';
    display: table; }
  .tabs-primary:after,
  .tabs-secondary:after {
    clear: both; }
  .tabs-primary__tab,
  .tabs-secondary__tab {
    display: block;
    float: left;
    text-align: center;
    background-color: transparent;
    line-height: 40px;
    height: 40px;
    padding: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-right: 1px solid none;
    transition: background-color 0.5s ease; }
    .tabs-primary__tab:hover,
    .tabs-secondary__tab:hover {
      background-color: transparent; }
  .tabs-primary__tab-link,
  .tabs-secondary__tab-link {
    color: #404040;
    display: block;
    width: 100%;
    height: 100%;
    transition: color 0.3s ease;
    padding: 0 1em; }
    .tabs-primary__tab-link:hover,
    .tabs-secondary__tab-link:hover {
      color: #5a5a5a; }
    .tabs-primary__tab-link.active,
    .tabs-secondary__tab-link.active {
      border-bottom: 1px solid #404040; }

p:first-child,
p:first-of-type {
  margin-top: 0; }

p:last-child,
p:last-of-type {
  margin-bottom: 0; }

.tiny {
  font-size: 10px;
  font-size: 0.96rem; }

.smaller {
  font-size: 11px;
  font-size: 1.12rem; }

.small {
  font-size: 14px;
  font-size: 1.44rem; }

.large {
  font-size: 18px;
  font-size: 1.76rem; }

.larger {
  font-size: 19px;
  font-size: 1.92rem; }

.largest {
  font-size: 21px;
  font-size: 2.08rem; }

html {
  height: 100%;
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  color: #404040;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5; }

a {
  color: #728EAD;
  text-decoration: none;
  transition: color 0.25s ease;
  -webkit-tap-highlight-color: transparent; }
  a:hover {
    color: #577495; }
  a:active {
    color: #728EAD; }
  a:focus {
    color: #728EAD; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.2; }

h1, .h1 {
  font-size: 60px;
  font-size: 6rem; }

h2, .h2 {
  font-size: 36px;
  font-size: 3.6rem; }

h3, .h3 {
  font-size: 21px;
  font-size: 2.08rem; }

h4, .h4 {
  font-size: 19px;
  font-size: 1.92rem; }

h5, .h5 {
  font-size: 13px;
  font-size: 1.328rem;
  text-transform: uppercase; }

h6, .h6 {
  font-size: 12px;
  font-size: 1.2rem;
  text-transform: uppercase; }

mark {
  padding: 2px;
  background-color: #F9B634; }
  mark.new {
    background-color: transparent;
    color: #d9534f;
    font-size: 75%; }
    mark.new:before {
      content: "**";
      display: inline-block;
      margin-right: 2px; }
  mark.updated {
    font-size: 75%; }

blockquote {
  background-color: #e6e4e5;
  font-size: 110%;
  padding: 1em; }

.progress {
  font-size: 80%; }

.u-hidden {
  position: absolute !important;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.u-unhidden {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto; }

.u-focusable {
  position: absolute !important;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }
  .u-focusable:active,
  .u-focusable:focus {
    position: static !important;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto; }

.u-no-box-shadow {
  box-shadow: none; }

.u-no-text-shadow {
  text-shadow: none; }

.skip-link {
  position: absolute !important;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }
  .skip-link:active,
  .skip-link:focus {
    position: static !important;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto; }

.main-menu {
  float: left; }
  .main-menu .menu {
    padding: 0 30px;
    margin: 0; }
    .main-menu .menu:not(.main-menu--level-one) {
      position: absolute !important;
      height: 0;
      width: 0;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);
      overflow: visible !important;
      position: absolute;
      margin: 0;
      padding: 10px;
      background: #fff;
      min-width: 200px; }
      .main-menu .menu:not(.main-menu--level-one) a {
        padding: 5px 0;
        margin: 0; }
    .main-menu .menu .parent {
      position: relative; }
      .main-menu .menu .parent ul {
        border-top: 1px solid #261D19; }
        .main-menu .menu .parent ul a {
          line-height: 140%;
          display: block;
          padding: 0;
          margin-bottom: 10px; }
    .main-menu .menu .parent:hover > .main-menu__link {
      color: #728EAD; }
    .main-menu .menu .parent:hover > .menu {
      position: static !important;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
      position: absolute !important; }
    .main-menu .menu.main-menu--level-three {
      left: 100%;
      top: 0; }
  .main-menu__item {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    list-style: none;
    margin: 0;
    padding: 0; }
  .main-menu__link {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #261D19;
    line-height: 30px;
    padding: 0 10px; }
    .main-menu__link.active {
      text-decoration: underline; }

.links-inline {
  margin: 0.9375em 0; }
  .links-inline__list {
    padding: 0;
    margin: 0; }
    .links-inline__list li {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      list-style-type: none;
      margin-right: 0.9375em; }

.breadcrumbs {
  margin: 0;
  padding: 0; }
  .breadcrumbs__item {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    list-style-type: none; }
  .breadcrumbs__link {
    text-transform: capitalize; }
  .breadcrumbs__divider {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin: 0 5px; }

.wrapper--header {
  background-color: #eaeaea; }

@media (max-width: 75em) {
  .wrapper:not(.wrapper--footer) {
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 50em) {
  .sidebar-first main {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 74.25%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 25.75%; }
  .sidebar-first main:before, .sidebar-first main:after {
    content: '';
    display: table; }
  .sidebar-first main:after {
    clear: both; }
  .sidebar-first main:last-child {
    margin-right: 0%; }
  .sidebar-first .site-sidebars {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: -77.25%; }
  .sidebar-first .site-sidebars:before, .sidebar-first .site-sidebars:after {
    content: '';
    display: table; }
  .sidebar-first .site-sidebars:after {
    clear: both; }
  .sidebar-first .site-sidebars:last-child {
    margin-right: 0%; }
  .sidebar-second main {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 74.25%;
    margin-left: 0%;
    margin-right: 3%; }
  .sidebar-second main:before, .sidebar-second main:after {
    content: '';
    display: table; }
  .sidebar-second main:after {
    clear: both; }
  .sidebar-second main:last-child {
    margin-right: 0%; }
  .sidebar-second .region-sidebar-first {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%; }
  .sidebar-second .region-sidebar-first:before, .sidebar-second .region-sidebar-first:after {
    content: '';
    display: table; }
  .sidebar-second .region-sidebar-first:after {
    clear: both; }
  .sidebar-second .region-sidebar-first:last-child {
    margin-right: 0%; }
  .two-sidebars main {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 25.75%; }
  .two-sidebars main:before, .two-sidebars main:after {
    content: '';
    display: table; }
  .two-sidebars main:after {
    clear: both; }
  .two-sidebars main:last-child {
    margin-right: 0%; }
  .two-sidebars .region-sidebar-first {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: -51.5%; }
  .two-sidebars .region-sidebar-first:before, .two-sidebars .region-sidebar-first:after {
    content: '';
    display: table; }
  .two-sidebars .region-sidebar-first:after {
    clear: both; }
  .two-sidebars .region-sidebar-first:last-child {
    margin-right: 0%; }
  .two-sidebars .region-sidebar-second {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%; }
  .two-sidebars .region-sidebar-second:before, .two-sidebars .region-sidebar-second:after {
    content: '';
    display: table; }
  .two-sidebars .region-sidebar-second:after {
    clear: both; }
  .two-sidebars .region-sidebar-second:last-child {
    margin-right: 0%; } }

@media (min-width: 25em) {
  .is-phone {
    display: none; } }

@media print {
  a:link,
  a:visited {
    text-decoration: underline !important; }
  main a[href]:after {
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px; }
  main a[href^="javascript:"]:after,
  main a[href^="#"]:after {
    content: ""; }
  main abbr[title]:after {
    content: " (" attr(title) ")"; }
  main {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important; }
  body,
  .page-wrap,
  .site-main,
  main {
    color: #000;
    background-color: transparent !important;
    background-image: none !important; }
  .skip-link,
  #toolbar,
  .site-navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  .site-footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons,
  .messages {
    visibility: hidden;
    display: none; } }
