/* #######################################################################

  meanMenu
  --------
  
  To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */
/* hide the link until viewport size is reached */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/responsive-nav\.scss}line{font-family:\0000313}}
a.meanmenu-reveal {
  display: none;
}

/* when under viewport size, .mean-container is added to body */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/responsive-nav\.scss}line{font-family:\0000318}}
.mean-container .mean-bar {
  float: left;
  width: 100%;
  position: relative;
  background: #0c1923;
  padding: 0;
  min-height: 50px;
  z-index: 999999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/responsive-nav\.scss}line{font-family:\0000327}}
.mean-container a.meanmenu-reveal {
  width: 22px;
  height: 22px;
  padding: 15px 13px 11px 13px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-indent: -9999em;
  line-height: 22px;
  font-size: 1px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/responsive-nav\.scss}line{font-family:\0000346}}
.mean-container a.meanmenu-reveal span {
  display: block;
  background: #fff;
  height: 3px;
  margin-top: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/responsive-nav\.scss}line{font-family:\0000352}}
.mean-container .mean-nav {
  float: left;
  width: 100%;
  background: #0c1923;
  margin-top: 33px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/responsive-nav\.scss}line{font-family:\0000358}}
.mean-container .mean-nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/responsive-nav\.scss}line{font-family:\0000364}}
.mean-container .mean-nav ul li {
  position: relative;
  float: left;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/responsive-nav\.scss}line{font-family:\0000369}}
.mean-container .mean-nav ul li a {
  display: block;
  float: left;
  width: 90%;
  padding: 1em 5%;
  margin: 0;
  text-align: left;
  color: #fff;
  border-bottom: 1px solid #383838;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/responsive-nav\.scss}line{font-family:\0000382}}
.mean-container .mean-nav ul li li a {
  width: 80%;
  padding: 1em 10%;
  border-bottom: 1px solid #f1f1f1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  opacity: 0.75;
  filter: alpha(opacity=75);
  text-shadow: none !important;
  visibility: visible;
  font-size: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/responsive-nav\.scss}line{font-family:\0000393}}
.mean-container .mean-nav ul li.mean-last a {
  border-bottom: none;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/responsive-nav\.scss}line{font-family:\0000397}}
.mean-container .mean-nav ul li li li a {
  width: 70%;
  padding: 1em 15%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/responsive-nav\.scss}line{font-family:\00003101}}
.mean-container .mean-nav ul li li li li a {
  width: 60%;
  padding: 1em 20%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/responsive-nav\.scss}line{font-family:\00003105}}
.mean-container .mean-nav ul li li li li li a {
  width: 50%;
  padding: 1em 25%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/responsive-nav\.scss}line{font-family:\00003109}}
.mean-container .mean-nav ul li a:hover {
  background: #252525;
  background: rgba(255, 255, 255, 0.1);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/responsive-nav\.scss}line{font-family:\00003113}}
.mean-container .mean-nav ul li a.mean-expand {
  width: 26px;
  height: 26px;
  border: none !important;
  padding: 12px !important;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  font-weight: 700;
  outline: none;
  font-size: 22px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/responsive-nav\.scss}line{font-family:\00003127}}
.mean-container .mean-nav ul li a.mean-expand:hover {
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/responsive-nav\.scss}line{font-family:\00003130}}
.mean-container .mean-push {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/responsive-nav\.scss}line{font-family:\00003137}}
.mean-nav .wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}
