@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/sticky-footer\.scss}line{font-family:\000031}}
html, body {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/sticky-footer\.scss}line{font-family:\000033}}
#page {
  min-height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/sticky-footer\.scss}line{font-family:\000035}}
#main {
  overflow: auto;
  padding-bottom: 100px;
}

/* must be same height as the footer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/sticky-footer\.scss}line{font-family:\000038}}
#footer {
  position: relative;
  margin-top: -100px;
  /* negative value of footer height */
  height: 100px;
  clear: both;
}

/*Opera Fix*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/sticky-footer\.scss}line{font-family:\0000314}}
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alban\/Documents\/vagrant\/dev\/www\/bear_alban\/code\/profiles\/bear\/themes\/bear\/sass\/sticky-footer\.scss}line{font-family:\0000321}}
.ie7 #page {
  display: table;
  height: 100%;
}
