/* line 6, ../sass/table.scss */
table {
  max-width: 100% !important;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: transparent;
  border: none;
}
/* line 41, ../sass/base/_table.scss */
table th {
  background-color: #696266;
  color: #545452;
  font-weight: 600;
  vertical-align: bottom;
  text-transform: none;
  padding: 0.7em 0.8em;
  border: none;
}
/* line 64, ../sass/base/_table.scss */
table tr {
  -webkit-transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
          transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  background-color: transparent;
}
/* line 69, ../sass/base/_table.scss */
table tr:nth-child(2n), table tr.even {
  background-color: #e6e4e5;
}
/* line 73, ../sass/base/_table.scss */
table tr:nth-child(2n + 1), table tr.odd {
  background-color: #f9f9f9;
}
/* line 78, ../sass/base/_table.scss */
table tr:hover {
  background-color: #e6e4e5;
  color: #2d2d2c;
}
/* line 84, ../sass/base/_table.scss */
table td {
  padding: 0.7em 0.8em;
  vertical-align: middle;
  text-align: left;
  background-color: transparent;
  border: none;
}
/* line 10, ../sass/table.scss */
table.no-stripes {
  max-width: 100% !important;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: transparent;
  border: none;
  border: 1px solid #837B80;
  border-radius: 2px;
}
/* line 41, ../sass/base/_table.scss */
table.no-stripes th {
  background-color: #696266;
  color: #545452;
  font-weight: 600;
  vertical-align: bottom;
  text-transform: none;
  padding: 0.7em 0.8em;
  border: none;
  border-bottom: 1px solid #837B80;
}
/* line 64, ../sass/base/_table.scss */
table.no-stripes tr {
  -webkit-transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
          transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  background-color: transparent;
}
/* line 78, ../sass/base/_table.scss */
table.no-stripes tr:hover {
  background-color: #e6e4e5;
  color: #2d2d2c;
}
/* line 84, ../sass/base/_table.scss */
table.no-stripes td {
  padding: 0.7em 0.8em;
  vertical-align: middle;
  text-align: left;
  background-color: transparent;
  border: none;
}
/* line 15, ../sass/table.scss */
table.no-borders {
  max-width: 100% !important;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: transparent;
  border: none;
}
/* line 41, ../sass/base/_table.scss */
table.no-borders th {
  background-color: #696266;
  color: #545452;
  font-weight: 600;
  vertical-align: bottom;
  text-transform: none;
  padding: 0.7em 0.8em;
  border: none;
}
/* line 64, ../sass/base/_table.scss */
table.no-borders tr {
  -webkit-transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
          transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  background-color: transparent;
}
/* line 69, ../sass/base/_table.scss */
table.no-borders tr:nth-child(2n), table.no-borders tr.even {
  background-color: #e6e4e5;
}
/* line 73, ../sass/base/_table.scss */
table.no-borders tr:nth-child(2n + 1), table.no-borders tr.odd {
  background-color: #f9f9f9;
}
/* line 78, ../sass/base/_table.scss */
table.no-borders tr:hover {
  background-color: #e6e4e5;
  color: #2d2d2c;
}
/* line 84, ../sass/base/_table.scss */
table.no-borders td {
  padding: 0.7em 0.8em;
  vertical-align: middle;
  text-align: left;
  background-color: transparent;
  border: none;
}
/* line 20, ../sass/table.scss */
table.celled {
  max-width: 100% !important;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: transparent;
  border: none;
  border: 1px solid #837B80;
  border-radius: 2px;
}
/* line 41, ../sass/base/_table.scss */
table.celled th {
  background-color: #696266;
  color: #545452;
  font-weight: 600;
  vertical-align: bottom;
  text-transform: none;
  padding: 0.7em 0.8em;
  border: none;
  border-bottom: 1px solid #837B80;
  border-left: 1px solid #837B80;
}
/* line 57, ../sass/base/_table.scss */
table.celled th:first-child, table.celled th:first-of-type {
  border-left: none;
}
/* line 64, ../sass/base/_table.scss */
table.celled tr {
  -webkit-transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
          transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  background-color: transparent;
}
/* line 69, ../sass/base/_table.scss */
table.celled tr:nth-child(2n), table.celled tr.even {
  background-color: #e6e4e5;
}
/* line 73, ../sass/base/_table.scss */
table.celled tr:nth-child(2n + 1), table.celled tr.odd {
  background-color: #f9f9f9;
}
/* line 78, ../sass/base/_table.scss */
table.celled tr:hover {
  background-color: #e6e4e5;
  color: #2d2d2c;
}
/* line 84, ../sass/base/_table.scss */
table.celled td {
  padding: 0.7em 0.8em;
  vertical-align: middle;
  text-align: left;
  background-color: transparent;
  border: none;
  border-left: 1px solid #837B80;
  border-bottom: 1px solid #837B80;
}
/* line 94, ../sass/base/_table.scss */
table.celled td:first-child {
  border-left: none;
}
/* line 102, ../sass/base/_table.scss */
table.celled tr:last-child td {
  border-bottom: none;
}
/* line 24, ../sass/table.scss */
table.no-border-radius {
  border-radius: 0;
}
/* line 29, ../sass/table.scss */
table.plain {
  max-width: 100% !important;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: transparent;
  border: none;
}
/* line 41, ../sass/base/_table.scss */
table.plain th {
  background-color: #696266;
  color: #545452;
  font-weight: 600;
  vertical-align: bottom;
  text-transform: none;
  padding: 0.7em 0.8em;
  border: none;
}
/* line 64, ../sass/base/_table.scss */
table.plain tr {
  -webkit-transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
          transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  background-color: transparent;
}
/* line 78, ../sass/base/_table.scss */
table.plain tr:hover {
  background-color: #e6e4e5;
  color: #2d2d2c;
}
/* line 84, ../sass/base/_table.scss */
table.plain td {
  padding: 0.7em 0.8em;
  vertical-align: middle;
  text-align: left;
  background-color: transparent;
  border: none;
}
@media (max-width: 25em) {
  /* line 111, ../sass/base/_table.scss */
  table:not(.unstackable) tbody,
  table:not(.unstackable) tr,
  table:not(.unstackable) th,
  table:not(.unstackable) td {
    display: block !important;
    width: auto !important;
  }
  /* line 119, ../sass/base/_table.scss */
  table:not(.unstackable) td {
    background-color: transparent !important;
  }
}

/*# sourceMappingURL=table.css.map */