/* line 6, ../sass/table.scss */
table {
  max-width: 100% !important;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #EFF2F1;
  border-radius: 2px;
}
/* line 39, ../sass/base/_table.scss */
table th {
  background-color: #d1d3d2;
  color: #555555;
  font-weight: 600;
  vertical-align: bottom;
  text-transform: none;
  border-bottom: 1px solid #EFF2F1;
  border-left: 1px solid #EFF2F1;
}
/* line 50, ../sass/base/_table.scss */
table th:first-child, table th:first-of-type {
  border-left: none;
}
/* line 57, ../sass/base/_table.scss */
table tr {
  -webkit-transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
          transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}
/* line 61, ../sass/base/_table.scss */
table tr:nth-child(2n), table tr.even {
  background-color: #EFF2F1;
}
/* line 65, ../sass/base/_table.scss */
table tr:nth-child(2n + 1), table tr.odd {
  background-color: #f9f9f9;
}
/* line 70, ../sass/base/_table.scss */
table tr:hover {
  background-color: #EFF2F1;
}
/* line 75, ../sass/base/_table.scss */
table td {
  padding: 0.7em 0.8em;
  vertical-align: middle;
  text-align: left;
}
/* line 9, ../sass/table.scss */
table.no-stripes {
  max-width: 100% !important;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #EFF2F1;
  border-radius: 2px;
}
/* line 39, ../sass/base/_table.scss */
table.no-stripes th {
  background-color: #d1d3d2;
  color: #555555;
  font-weight: 600;
  vertical-align: bottom;
  text-transform: none;
  border-bottom: 1px solid #EFF2F1;
  border-left: 1px solid #EFF2F1;
}
/* line 50, ../sass/base/_table.scss */
table.no-stripes th:first-child, table.no-stripes th:first-of-type {
  border-left: none;
}
/* line 57, ../sass/base/_table.scss */
table.no-stripes tr {
  -webkit-transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
          transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}
/* line 70, ../sass/base/_table.scss */
table.no-stripes tr:hover {
  background-color: #EFF2F1;
}
/* line 75, ../sass/base/_table.scss */
table.no-stripes td {
  padding: 0.7em 0.8em;
  vertical-align: middle;
  text-align: left;
}
/* line 13, ../sass/table.scss */
table.no-border {
  max-width: 100% !important;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
/* line 39, ../sass/base/_table.scss */
table.no-border th {
  background-color: #d1d3d2;
  color: #555555;
  font-weight: 600;
  vertical-align: bottom;
  text-transform: none;
}
/* line 57, ../sass/base/_table.scss */
table.no-border tr {
  -webkit-transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
          transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}
/* line 61, ../sass/base/_table.scss */
table.no-border tr:nth-child(2n), table.no-border tr.even {
  background-color: #EFF2F1;
}
/* line 65, ../sass/base/_table.scss */
table.no-border tr:nth-child(2n + 1), table.no-border tr.odd {
  background-color: #f9f9f9;
}
/* line 70, ../sass/base/_table.scss */
table.no-border tr:hover {
  background-color: #EFF2F1;
}
/* line 75, ../sass/base/_table.scss */
table.no-border td {
  padding: 0.7em 0.8em;
  vertical-align: middle;
  text-align: left;
}
/* line 17, ../sass/table.scss */
table.no-border-radius {
  border-radius: 0;
}
/* line 22, ../sass/table.scss */
table.plain {
  max-width: 100% !important;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
/* line 39, ../sass/base/_table.scss */
table.plain th {
  background-color: #d1d3d2;
  color: #555555;
  font-weight: 600;
  vertical-align: bottom;
  text-transform: none;
}
/* line 57, ../sass/base/_table.scss */
table.plain tr {
  -webkit-transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
          transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}
/* line 70, ../sass/base/_table.scss */
table.plain tr:hover {
  background-color: #EFF2F1;
}
/* line 75, ../sass/base/_table.scss */
table.plain td {
  padding: 0.7em 0.8em;
  vertical-align: middle;
  text-align: left;
}
@media (max-width: 25em) {
  /* line 85, ../sass/base/_table.scss */
  table:not(.unstackable) tbody,
  table:not(.unstackable) tr,
  table:not(.unstackable) th,
  table:not(.unstackable) td {
    display: block !important;
    width: auto !important;
  }
  /* line 93, ../sass/base/_table.scss */
  table:not(.unstackable) td {
    background-color: transparent !important;
  }
}

/*# sourceMappingURL=table.css.map */