/**
 * @file
 * RTL companion for the tabs.css file.
 */
/* includes our social icons styles and font */
[class*="foundicon-"]:after {
  position: relative;
  top: -10px;
  left: 10px;
  color: #DDD;
  font-size: 100%;
  margin: -20px 0 0 0;
  font-style: normal;
  display: block;
  text-indent: -9999px;
  vertical-align: baseline;
  display: none;
}

.foundicon-thumb-up:after {
  content: "thumb-up";
}

.foundicon-thumb-down:after {
  content: "thumb-down";
}

.foundicon-rss:after {
  content: "rss";
}

.foundicon-facebook:after {
  content: "facebook";
}

.foundicon-twitter:after {
  content: "twitter";
}

.foundicon-pinterest:after {
  content: "pinterest";
}

.foundicon-github:after {
  content: "github";
}

.foundicon-path:after {
  content: "path";
}

.foundicon-linkedin:after {
  content: "linkedin";
}

.foundicon-dribbble:after {
  content: "dribbble";
}

.foundicon-stumble-upon:after {
  content: "stumble-upon";
}

.foundicon-behance:after {
  content: "behance";
}

.foundicon-reddit:after {
  content: "reddit";
}

.foundicon-google-plus:after {
  content: "google-plus";
}

.foundicon-youtube:after {
  content: "youtube";
}

.foundicon-vimeo:after {
  content: "vimeo";
}

.foundicon-flickr:after {
  content: "flickr";
}

.foundicon-slideshare:after {
  content: "slideshare";
}

.foundicon-picassa:after {
  content: "picassa";
}

.foundicon-skype:after {
  content: "skype";
}

.foundicon-steam:after {
  content: "steam";
}

.foundicon-instagram:after {
  content: "instagram";
}

.foundicon-foursquare:after {
  content: "foursquare";
}

.foundicon-delicious:after {
  content: "delicious";
}

.foundicon-chat:after {
  content: "chat";
}

.foundicon-torso:after {
  content: "torso";
}

.foundicon-tumblr:after {
  content: "tumblr";
}

.foundicon-video-chat:after {
  content: "video-chat";
}

.foundicon-digg:after {
  content: "digg";
}

.foundicon-wordpress:after {
  content: "wordpress";
}

ul.primary li,
ul.secondary li {
  float: right;
}

ul.primary li {
  margin: 0.5em 3px 0 0;
}
