.toolbar-icon-css {
  width: 24px;
  height: 24px;
  left: 4px;
  top: .5rem;
  background: transparent url('../images/css.png') no-repeat 0 0;
}

.toolbar-icon-css.active {
  animation: spin 2s linear infinite;
}

.toolbar {
  z-index: 1002;
}

.toolbar-css-frame {
  z-index: 1001;
  right: 0;
  margin-right: -400px;
  top: 39px;
  width: 400px;
  height: calc(100% - 39px);
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.toolbar-css-frame.open {
  margin-right: 0;
}

body.css-frame {
  margin-left: -400px;
}

.gxCDgO {
  max-width: 390px;
}

