.toolbar-icon-css {
  background: transparent url('../images/css.png') no-repeat 3px center !important;
}

.toolbar-icon-css:hover {
  background: #282828 url('../images/css.png') no-repeat 3px center !important;
}

.toolbar-css-frame {
  z-index: 1001;
  right: -650px;
  top: 39px;
  width: 650px;
  height: 100%;
  border-left: 1px solid #ccc;
}

.toolbar-css-frame.open {
  right: 0;
}

body.css-frame {
  margin-left: -650px;
}
