.toolbar-icon-css {
  width: 24px;
  height: 24px;
  left: 0;
  top: .5rem;
  background: transparent url('../images/css.png') no-repeat 0 0;
}

.toolbar-icon-css.active {
  animation: spin 2s linear infinite;
}

.toolbar {
  z-index: 1002;
}

.toolbar-css-frame {
  z-index: 1001;
  right: 0;
  margin-right: -650px;
  top: 39px;
  width: 650px;
  height: 100vh;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.toolbar-css-frame.open {
  margin-right: 0;
}

body.css-frame {
  margin-left: -650px;
}

