/**
 * @file
 * Views Styling
 */
/* includes our social icons styles and font */
[class*="foundicon-"]:after {
  position: relative;
  top: -10px;
  left: 10px;
  color: #DDD;
  font-size: 100%;
  margin: -20px 0 0 0;
  font-style: normal;
  display: block;
  text-indent: -9999px;
  vertical-align: baseline;
  display: none;
}

.foundicon-thumb-up:after {
  content: "thumb-up";
}

.foundicon-thumb-down:after {
  content: "thumb-down";
}

.foundicon-rss:after {
  content: "rss";
}

.foundicon-facebook:after {
  content: "facebook";
}

.foundicon-twitter:after {
  content: "twitter";
}

.foundicon-pinterest:after {
  content: "pinterest";
}

.foundicon-github:after {
  content: "github";
}

.foundicon-path:after {
  content: "path";
}

.foundicon-linkedin:after {
  content: "linkedin";
}

.foundicon-dribbble:after {
  content: "dribbble";
}

.foundicon-stumble-upon:after {
  content: "stumble-upon";
}

.foundicon-behance:after {
  content: "behance";
}

.foundicon-reddit:after {
  content: "reddit";
}

.foundicon-google-plus:after {
  content: "google-plus";
}

.foundicon-youtube:after {
  content: "youtube";
}

.foundicon-vimeo:after {
  content: "vimeo";
}

.foundicon-flickr:after {
  content: "flickr";
}

.foundicon-slideshare:after {
  content: "slideshare";
}

.foundicon-picassa:after {
  content: "picassa";
}

.foundicon-skype:after {
  content: "skype";
}

.foundicon-steam:after {
  content: "steam";
}

.foundicon-instagram:after {
  content: "instagram";
}

.foundicon-foursquare:after {
  content: "foursquare";
}

.foundicon-delicious:after {
  content: "delicious";
}

.foundicon-chat:after {
  content: "chat";
}

.foundicon-torso:after {
  content: "torso";
}

.foundicon-tumblr:after {
  content: "tumblr";
}

.foundicon-video-chat:after {
  content: "video-chat";
}

.foundicon-digg:after {
  content: "digg";
}

.foundicon-wordpress:after {
  content: "wordpress";
}

/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
.views-displays .secondary .open > a:hover {
  color: #333;
}
.views-displays .secondary .action-list li {
  margin: 0;
}
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}
