{% set attributes = attributes.addClass('flex items-center mb-2') %}

<div{{ attributes }}>
	{{ data.preview }}
	{# Render widget data without the image preview that was output already. #}
	{{ data|without('preview') }}
</div>
