.banner-image {
  position: relative;
  text-align: center;
}

.banner-image > img {
  width: 100%;
}

.banner-image__text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
