//
//
// To make it easier to use all variables and mixins in any Sass file in this
// theme, each .scss file has a @import "base" declaration. And this _bear.scss
// file is in charge of importing all the other partials needed for the theme.
//
// This base partial is organized in this way:
// - First we set any shared Sass variables and overrides in _custom.scss.
// - Next we import Compass plug-ins (Sass mixin libraries) in base/_all.scss.
// - Finally mixins, reusable classes, and variables are imported (remaining partials in base)
//

//
// This file is shared with all the other scss files in the sass directory.
//
@import "custom";
@import "base/all";