/***********
~VARIABLES
***********/

$yellow: #F9B634;
$brown: #4C1B01;
$browner: #454147;
$grey: #EFF2F1;
$greyer: #d1d3d2;
$blue: #61AEE2;
$dark: #555555;
$whitey: #f9f9f9;
$vertical-gutter: 10px 0;
$sb-padding: 0.2em 1.1em 0.3em 1.2em;  // Button padding


/***********
~BREAKPOINTS
***********/
// create $breakpoint variables like so
// assume min-width (by default) if only a number

$breakpoint-small-width: max-width 400px;
$breakpoint-med-small-width: max-width  650px;
$breakpoint-medium-width: max-width 800px;
$breakpoint-large-width: max-width 1000px;
$breakpoint-full-width: max-width 1200px;
