/**
 * @file
 *
 * Bear Starter Theme Main Styling
 *
 * Adds basic bear styles for starter theme.
 *
 */

/***********
~IMPORTS
***********/
@import "base";
@import "compass/css3/border-radius";


/***********
~GENERIC
***********/
body {
  color: $dark;
  @include m-links;
}
html, body, button, input, select, textarea {
  @include bearfont-main;
}
h1, h2, h3, h4, h5 {
  @include bearfont-titles;
  font-weight: 400;
}
#main {
  clear: both;
}
#page {
  min-width: 300px;
}
.navigation {
  float: left;
  width: 100%;
  padding: 15px 0;
}
@include breakpoint ($breakpoint-small-width) {
  ul.primary li, ul.secondary li {
    float: none;
    clear: both;
    margin: 0;
    a {
      width: 88%;
    }
  }
}
/***********
~STRUCTURE
***********/

h1 {
  font-size: 160%;
}
.wrapper {
  &.header {
    background-color: #8E8E8E;
    box-shadow: inset 0px -3px 6px #666;
    -moz-box-shadow: inset 0px -3px 6px #666;
    -webkit-box-shadow: inset 0px -3px 6px #666;
  }
  &.footer {
    background-color: $grey;
  }
}
.breadcrumb {
  margin: 20px 0;
}
/***********
~HEADER
***********/
.region-header {
  clear: none;
}
.wrapper.header {
  #header {
    padding: 25px 20px;
    position: relative;
    #bear-user-menu {
      float: right;
      margin: 0;
      @include breakpoint ($breakpoint-medium-width) {
        float: none;
        text-align: center;
        margin: 0;
      }
      ul {
        margin: 20px 0 0 0;
        padding: 0;
        li {
          display: inline;
          list-style-type: none;
          margin: 0 0 0 10px;
          a {
            @include sassy-button("matte", 2px, 90%, #777, #666, #fff, "inset");
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}
h1#site-name {
 font-size: 2em;
 line-height: .5em;
 margin: 70px 0 0 25px;
  a:link, a:visited {
      color: #ffffff;
  }
}
#block-search-form {
  background: #FFFFFF;
  padding: 0 0 0 10px;
  float: right;
  width: 200px;
  margin: 60px 0 0 0;
  @include breakpoint ($breakpoint-medium-width) {
    clear: both;
    float: none;
    text-align: center;
    margin: 0 auto;
  }
  input.form-text {
    border: none;
    border-right: 1px solid #CCCCCC;

    width: 150px;
    &:focus {
      box-shadow: none;
      moz-box-shadow: none;
    }
  }
  input.form-submit {
    text-indent: -9999px;
    background: #FFFFFF url(../images/search.png) no-repeat center center;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    filter: none;
    padding: 5px 15px;
    width: 40px;
    height: 28px;
    text-shadow: none;
    margin: 0;
  }
}
@include breakpoint ($breakpoint-medium-width) {
  .wrapper.header #header {
    text-align: center;
    padding: 0;
    #logo {
      float: none;
      clear: both;
      display: block;
      padding: 20px 0;
    }
    #name-and-slogan {
      float: none;
      h1 {
        margin: 10px 0;
      }
    }
  }
}

/***********
~SIDEBARS
***********/

aside.sidebars {
  margin: 30px 0 0 0;
  .sidebar {
    padding-bottom: 20px;
    h2 {
      background: $grey;
      text-indent: 10px;
      margin: 0 0 10px 0;
      font-size: 110%;
      }
    @include breakpoint ($breakpoint-large-width) {
      padding-left: auto;
    }
  }
}

/***********
~SLIDESHOW
***********/

.flexslider {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 0;
  border-radius:0;
  border: 5px solid #FFFFFF;
  margin: 30px 0;
  position: relative;
}
.flexslider li p {
  text-align: center;
  font-size: 110%;
  background: #f5f5f5;
  margin: 0;
  padding: 10px 0;
  font-size: 90%;
  @include bearfont-titles;
}

/***********
~FOOTER
***********/

.wrapper.footer {
  #footer {
    margin-left: auto;
    margin-right: auto;
    color: $dark;
    font-size:12px;
    ul.social-footer li a {
      &.drupal {
        background: url("../images/drupal-grey.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        display: block;
        height: 40px;
        position: relative;
        text-indent: -9999px;
        top: -7px;
        width: 40px;
        &:hover {
          background-position: left -45px;
        }
      }
      &.mip {
        @include bearfont-titles;
        font-size: 22px;
        color: $dark;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}
ul.social-footer {
  @include reset-ul;
  li {
    list-style-type: none;
    float: left;
    margin: 0 5px 0 0;
    a {
     display: block;
     outline: none;
     text-decoration: none;
     i {
      -o-transition:.5s;
       -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      color: $dark;
      font-size: 30px;
        span {
          display: none;
        }
        &:hover {
         color: $blue;
        }
      }
    }
  }
}
@include breakpoint ($breakpoint-medium-width) {
  #footer {
    text-align: center;
  }
  ul.social-footer {
    margin-top: -10px;
    li {
     display: inline-block;
     float: none;
    }
  }
}

/* BEARSKIN site Documentation page */

#documentation {
  p.tb {
    @include col(1/4, $cycle: 4, $gutter: 1);
    //@include box-sizing(border-box);
    @include box-sizing(border-box);
    background: #DDDDDD;
    padding: 20px;
  }
}


