/**
 * @file
 *
 * Bear Starter Theme Main Styling
 *
 * Adds basic bear styles for starter theme.
 *
 */

/***********
~IMPORTS
***********/
@import "base";
@import "variables";
@import url(http://fonts.googleapis.com/css?family=Forum);
@import "compass/css3/border-radius";


/***********
~GENERIC
***********/
body {
  color: $dark;
  @include m-links;
}
html, body, button, input, select, textarea {
  @include bearfont-main;
}
h1, h2, h3, h4, h5 {
  @include bearfont-titles;
  font-weight: 400;
}
#page {
  min-width: 300px;
}
#navigation ul.menu {
  li {
    text-transform: none;
    @include clear-space;
    @include m-links;
    a {
      background-color: $grey;
      padding: 7px 15px 6px 15px;
      @include bottom-border-radius;
      display: block;
      &:hover, &.active {
        color: #ffffff;
        text-decoration: underline;
        background: $greyer;
      }
      &.active, &:visited {
        text-decoration: none;
      }
    }
  }
  ul {
    z-index: 100;
    &:hover {
      display: block;
    }
    li {
     a:link, a:visited, a:hover {
      background: transparent;
      color: $blue;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
ul.primary {
  padding: 0;
  border-bottom: 1px solid #D9DBDB;
  @include breakpoint ($breakpoint-small-width) {
    border-bottom: none;
  }
  li {
    border: none;
    margin:0 5px 0 0;
    text-shadow: 0;
    a:link, a:visited, a:hover {
     text-shadow: 0;
     @include sassy-button("matte", 0, 100%, #EFF2F1, #e6e7e7, #555, "inset");
    }
    a {
      color: #333 !important;
       &.active {
        color: $blue !important;
      }
    }
  }
}
@include breakpoint ($breakpoint-small-width) {
  ul.primary li, ul.secondary li {
    float: none;
    clear: both;
    margin: 0;
    a {
      width: 88%;
    }
  }
}
/***********
~STRUCTURE
***********/

h1 {
  font-size: 160%;
}
.wrapper {
  &.header {
    background-color: $greyer;
  }
  &.footer {
    background-color: $grey;
  }
}
.breadcrumb {
  margin: 20px 0;
}
/***********
~HEADER
***********/
.region-header {
  clear: none;
}
.wrapper.header {
  #header {
    padding: 25px 0;
    position: relative;
    #bear-user-menu {
      float: right;
      margin: 0 20px 0 0;
      @include breakpoint ($breakpoint-medium-width) {
        float: none;
        text-align: center;
        margin: 0;
      }
      ul {
        margin: 20px 0 0 0;
        padding: 0;
        li {
          display: inline;
          list-style-type: none;
          margin: 0 0 0 10px;
          a {
            @include sassy-button("matte", 5px, 90%, #999, #888, #fff, "inset");
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}
h1#site-name {
 font-size: 2em;
 line-height: .5em;
 margin: 70px 0 0 25px;
  a:link, a:visited {
      color: #ffffff;
  }
}
#block-search-form {
  background: #FFFFFF;
  padding: 0 0 0 10px;
  float: right;
  width: 200px;
  margin: 60px 0 0 0;
  @include breakpoint ($breakpoint-medium-width) {
    clear: both;
    float: none;
    text-align: center;
    margin: 0 auto;
  }
  input.form-text {
    border: none;
    border-right: 1px solid #CCCCCC;

    width: 150px;
    &:focus {
      box-shadow: none;
      moz-box-shadow: none;
    }
  }
  input.form-submit {
    text-indent: -9999px;
    background: #FFFFFF url(../images/search.png) no-repeat center center;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    filter: none;
    padding: 5px 15px;
    width: 40px;
    height: 28px;
    text-shadow: none;
    margin: 0;
  }
}
@include breakpoint ($breakpoint-medium-width) {
  .wrapper.header #header {
    text-align: center;
    #logo {
      float: none;
      clear: both;
      display: block;
    }
    #name-and-slogan {
      float: none;
      h1 {
        margin: 10px 0;
      }
    }
  }
}

/***********
~SIDEBARS
***********/

aside.sidebars {
  margin: 30px 0 0 0;
  .sidebar {
    padding-bottom: 20px;
    h2 {
      background: $grey;
      text-indent: 10px;
      margin: 0 0 10px 0;
      font-size: 110%;
      }
    @include breakpoint ($breakpoint-large-width) {
      padding-left: auto;
    }
  }
}

/***********
~SLIDESHOW
***********/

.flexslider {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 0;
  border-radius:0;
  box-shadow:0;
  margin: 0 0 50px 0;
  position: relative;
}
.flexslider li p {
  text-align: center;
  font-size: 110%;
  background: #DDDDDD;
  margin: 0;
  padding: 10px 0;
}

/***********
~FOOTER
***********/

.wrapper.footer {
  #footer {
    margin-left: auto;
    margin-right: auto;
    color: $dark;
    font-size:12px;
  }
}
ul.social-footer {
  @include reset-ul;
  li {
    list-style-type: none;
    float: left;
    margin: 0 5px 0 0;
    a {
     display: block;
     outline: none;
     text-decoration: none;
     i {
      -o-transition:.5s;
       -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      color: $dark;
      font-size: 30px;
        span {
          display: none;
        }
        &:hover {
         color: $blue;
        }
      }
    }
  }
}
@include breakpoint ($breakpoint-medium-width) {
  #footer {
    text-align: center;
  }
  ul.social-footer {
    margin-top: -10px;
    li {
     display: inline-block;
     float: none;
    }
  }
}
