@import "bear";

.comments {
  // Wrapper for the list of comments and its title
  margin: $vertical-gutter 0;

  &__title {
    // Heading for the comment list //

  }

  &__form-title {
    // Heading for the comment form //

  }
}

.comment {
  margin-bottom: 3px;

  &__title {
    margin-bottom: $vertical-gutter / 3;
  }
  .submitted {
    font-size: 80%;
    margin: 0;
    color: $bear-lighten-dark;
    font-style: italic;
  }
  .field {
    margin-bottom: $vertical-gutter / 3;    
  }
  .links-inline {
    li {
      float: left;
    }
  }
  .comment-delete,
  .comment-edit,
  .comment-reply {
    a {
      @extend %button-inverted;
      @extend %smaller;
    }
  }
  .comment-delete {
    a {
      @extend %button-inverted-error;
    }
  }
  .comment-edit {
    a {
      @extend %button-inverted-secondary;
    }
  }
  .comment-reply {
    a {
      @extend %button-inverted-success;
    }
  }  
  .comment_forbidden {
      @include bear-element-invisible;
    }
  &.comment-by-viewer {
    @include rgba-background(rgba($bear-yellow, 0.1));
    padding-left: 5px;
  }
}

.indented {
  // Nested comments are indented //
  margin-left: $indent-amount / 2;
  border-left: 3px solid $bear-greyer;
  padding-left: $indent-amount / 2;

  .comment {
    padding-top: $vertical-gutter / 3;
    padding-bottom: $vertical-gutter / 3;
  }  
}

.comment-unpublished {
  // Unpublished comments //
  // background-color: #fff4f4; //
  // Drupal core uses a #fff4f4 background //

  p.unpublished {
    // The word "Unpublished" displayed underneath the content. //
    @include unpublished-div;
  }
}
