@import "bear";

.form-item {
  // Wrapper for a form element (or group of form elements) and its label
  @include form-container;

  // The descriptive help text (separate from the label)
  .description {
    font-size: 80%;
    font-style: italic;
    color: $bear-lighten-dark;
  }

  &.form-type-checkbox,
  &.form-type-checkboxes,
  &.form-type-radio,
  &.form-type-radios {
    .description {
      margin-left: 1.5em;
    }
  }

  .form-item {
    label {
      font-size: 80%;
      font-weight: normal;
    }
  }
}

label {
  // The label for a form element
  display: block;
  font-weight: 600;
  color: #666666;
  font-size: 90%;
  &.btn {
    display: inline;
  }
}

label.option {
  // The label for a radio button or checkbox
  display: inline;
  font-weight: normal;
}

.form-text,
.form-textarea,
.form-file {
  @include form-element;
}

.form-textarea {
  max-width: 100%;
}

.form-checkbox,
.form-checkboxes,
.form-radio,
.form-radios {
  // Pack groups of checkboxes and radio buttons closer together
  margin: 0; // Drupal core uses "0.4em 0"
}

.form-required {
  // The part of the label that indicates a required field
  color: $color-error;
}

.form-file {
  color: #666666;
  font-size: 90%;
}

.field-add-more-submit {
  text-shadow: none;
  color: white;
}

.icon-folder-open {
  background-position: -408px -120px;
  width: 16px;
}

.input-large {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear .2s, box-shadow linear .2s;
  height: 26px;
  padding: 4px 6px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  border-radius: $border-radius;
  vertical-align: middle;
  margin-bottom: 0;
}

.form-managed-file {
  @include cf;
  .form-file,
  .form-submit {
    @include inline-block;
    float: left;
  }
  .form-file {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .form-submit {
    padding-top: .25em;
    padding-bottom: .3em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.form-submit,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include bear-button;
}

.form-actions {
  @include cf;

  input, a {
    @include inline-block;
    margin-right: $vertical-gutter /2;
    &:last-of-type {
      margin-right: 0;
    }
  }

  // drupal's "confirm" button
  input[value=Confirm] {
    @include bear-button($color-success);
  }
  // cancel link
  #edit-cancel {
    @include bear-button-inverted($color-error);
    float: right;

    @include breakpoint($breakpoint-medium-width) {
      float: none;
      margin-left: 5px; // LTR
    }
  }
  #edit-submit {
    @extend %button-success;
  }
}

html.js input.form-autocomplete {
  background-position: 100% 8px;
}

.ajax-progress .throbber {
  background-position: 0px -18px;
}

.container-inline {
  @include cf;

  .form-item,
  label {
    // Inline labels and form divs
    display: inline;
    width: auto;
    float: left;
    margin: 0;
    margin-right: 5px; // LTR
  }
  .select2-container {
    @include inline-block;
    margin-bottom: 10px;
  }
  .select2-display-none {
    display: none;
  }
}

dd {
  margin: 10px 0 10px 30px;
}

.tips {
  // Tips for Drupal's input formats
}

a.button {
  // Buttons used by contrib modules like Media
  @include bear-button;
}

fieldset {
  margin-bottom: 15px;
  padding: 0;
  legend {
    float: left;
    background: #EEEEEE;
    width: 100%;
    margin-bottom: 10px;
    .fieldset-legend {
      padding: 5px 10px;
      display: block;
    }
  }
  .fieldset-wrapper {
    padding: 15px;
  }
  &.filter-wrapper {
    padding: 0;
    font-size: 90%;
    background: #f9f9f9;
    .fieldset-wrapper {
      padding: 5px;
      border-top: 1px dotted #C0C0C0;
    }
    .filter-help {
      padding: 0 20px 0 0;
    }
    .form-item {
      padding-top: 0;
      margin-top: 5px;
    }
  }
}

.ckeditor_links {
  font-size: 90%;
}

.vertical-tabs {
  ul.vertical-tabs-list {;
    li {
      a {
        text-decoration: none;
        &:hover {
          text-decoration: none;
          outline: none;
          color: #61AEE2;
        }
        strong {
          font-weight: normal;
        }
        .summary {
          font-size: 90%;
          font-style: italic;
          color: #777777;
        }
      }
    }
  }
}

html.js fieldset.collapsed {
  border: 1px solid #CCCCCC;
  height: 2.15em;
}

//
// Password confirmation
//
.password-parent,
.confirm-parent {
  margin: 0;
}

//
// Search (search-block-form.tpl.php)
//
#block-search-form {
  /// Wrapper for the search form ///
}

//
// Drupal's default login form block
//
#user-login-form {
  text-align: left; // LTR

  //
  // OpenID
  //
  // The default styling for the OpenID login link seems to assume Garland's
  // styling of list items.
  //
  ul {
    // OpenID creates a new ul above the login form's links.
    margin-bottom: 0; // Position OpenID's ul next to the rest of the links.
  }

  html.js & li.openid-link,
  li.openid-link {
    // The "Log in using OpenID" link.
    margin-top: 1.5em;
    margin-left: -20px; // LTR
    // Un-do some of the padding on the ul list.
  }

  li.user-link {
    // The "Cancel OpenID login" link.
    margin-top: 1.5em;
  }
}

#user-login ul {
  margin: 1.5em 0;
}

#block-search-form {
  background: #FFFFFF;
  padding: 0 0 0 10px;
  float: right;
  width: 200px;
  margin: 60px 0 0 0;
  @include breakpoint($breakpoint-medium-width) {
    clear: both;
    float: none;
    text-align: center;
    margin: 0 auto;
  }
  input.form-text {
    border: none;
    border-right: 1px solid #CCCCCC;

    width: 150px;
    &:focus {
      box-shadow: none;
    }
  }
  input.form-submit {
    text-indent: -9999px;
    background: #FFFFFF image-url("search.png") no-repeat center center;
    border: none;
    box-shadow: none;
    filter: none;
    padding: 5px 15px;
    width: 40px;
    height: 28px;
    text-shadow: none;
    margin: 0;
  }
}

//
// Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
//
td.menu-disabled {
  background: #ccc;
}


