@import "bear";

.region-header {
  clear: both;
}

.wrapper--header {
  background-color: $bear-lighten-dark;
  color: $bear-whitey;
}

.site-header {
  padding: $header-padding;

  &__logo,
  &__name-and-slogan {
    float: left;
  }

  &__logo {
    margin-right: 1em;
  }

  &__name-and-slogan {
    margin: 0.5em 0;
  }

  &__name {
    font-size: 2em;
    margin: 0;
    display: block;
    a {
      @include link-colors($bear-whitey);
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }

  &__slogan {
    margin: 0;
    font-size: 1em;
  }

  .nav-user {
    float: right;
  }

  @include breakpoint($breakpoint-medium-width) {
    &__logo,
    &__name-and-slogan,
    .nav-user {
      float: none;
      display: block;
      margin: 0 auto;
      text-align: center;
    }

    &__name-and-slogan {
      margin-bottom: 1em;
    }
  }

}