@import "bear";

//
// Layout styles
//
body {
  margin: 0;
  padding: 0;
  background: $bear-whitey;

  *, *:before, *:after {
    box-sizing: border-box;
  }
}

.wrapper {
  @include breakpoint($breakpoint-full-width) {
    padding: 0 20px;
  }
}

.site-header,
.site-navigation,
.site-main,
.site-footer {
  max-width: $site-max-width;
  margin: 0 auto;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//
// Left Sidebar
//
.sidebar-first {
  main {
    @include col(3/4);
    @include shift(1/4);
    @include breakpoint($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
  .site-sidebars {
    @include col(1/4);
    @include shift(-3/4);
    @include breakpoint($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
}

//
// Right sidebar
//
.sidebar-second {
  main {
    @include col(3/4);
    @include breakpoint($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
  .region-sidebar-first {
    @include col(1/4);
    @include breakpoint($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
}

//
// Two sidebars
//
.two-sidebars {
  main {
    @include col(2/4);
    @include shift(1/4);
    @include breakpoint($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
  .region-sidebar-first {
    @include col(1/4);
    @include shift(-2/4);
    @include breakpoint($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
  .region-sidebar-second {
    @include col(1/4);
    @include breakpoint($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
}

//
// Bearskin documentation page
//
#documentation {
  p.tb {
    @include col(1/4, $cycle: 4, $gutter: 1);
    box-sizing: border-box;
    background: #DDDDDD;
    padding: 20px;
  }
}

//
// Helper classes
//
.u-hidden {
  @extend %u-hidden;
}

.u-focusable {
  @extend %u-focusable;
}

.is-phone {
  @extend %is-phone;
}