@import "bear";

//
// Primary navigation menu
//
.wrapper--navigation {
  background-color: $nav-container-bg-color;
  margin-bottom: $vertical-gutter;

  @include breakpoint($breakpoint-medium-width) {
    border-bottom: 4px solid $bear-dark;
    margin-bottom: 0;
  }
}

.main-menu {
  outline: 0;

  // All <a> elements in the menu
  &__link {
    @include link-colors($nav-link-color, $nav-link-color-hover);
    display: block;
    width: 100%;
    height: 100%;
    padding: $nav-link-padding;
    transition: none;
    text-transform: $nav-link-text-transform;
  }

  // Menu <ul> containers
  .menu {
    padding: 0;
    margin: 0;
    z-index: 100;
  }

  // First level <ul> elements
  &--level-one {
    background-color: $nav-container-bg-color;
  }

  // Second level <ul> elements
  &--level-two {
    display: none;
    background-color: $nav-drop-down-bg-color;
    border-bottom-left-radius: $nav-drop-down-border-radius;
    border-bottom-right-radius: $nav-drop-down-border-radius;
    position: absolute;
    top: $nav-container-height;
    left: 0;
    min-width: $nav-drop-down-min-width;
    background-clip: padding-box;
  }

  // Third level <ul> elements
  &--level-three {
    display: none;
    background-color: $nav-drop-down-bg-color;
    border-bottom-left-radius: $nav-drop-down-border-radius;
    border-bottom-right-radius: $nav-drop-down-border-radius;
    top: 0;
    position: absolute;
    left: $nav-drop-down-min-width;
    min-width: $nav-drop-down-min-width / 2;
    background-clip: padding-box;
  }

  // Fourth level <ul> elements
  &--level-four {
    display: none;
  }

  // All <li> elements in the menu
  &__item {
    position: relative;
    transition: background-color 0.3s ease;
    list-style-image: none;
    list-style-type: none;

    // Active items
    &.active, &:hover {
      background-color: $nav-drop-down-bg-color-hover;
      color: $nav-drop-down-link-color-hover;
      & > .main-menu__link {
        color: $nav-link-color-hover;
      }
    }

    // First level <li> elements
    &.level-one {
      @include inline-block;
      height: $nav-container-height;
      line-height: $nav-container-height;
      float: left;

      &:hover {
        .main-menu--level-two {
          display: block;
        }
      }
    }

    // Second level <li> elements
    &.level-two {
      border-bottom-left-radius: $nav-drop-down-border-radius;
      border-bottom-right-radius: $nav-drop-down-border-radius;
      &:hover {
        .main-menu--level-three {
          display: block;
        }
      }
    }
  }

  @include breakpoint($breakpoint-medium-width) {
    @include bear-element-invisible;
  }
}

//
// The sticky navigation menu (if enabled in theme settings)
// you will probably want to tweak this for your theme
//
.js-menu-clone {
  @include rgba-background(rgba($nav-container-bg-color, 0.9));
  position: fixed;
  z-index: 500;
  width: 100%;

  .site-header__logo {
    position: absolute;
    top: 8px;
    left: 50%;
    margin-left: -675px; // LTR
    img {
      height: 30px;
    }
  }
}

//
// Header user menu
//
.nav-user {
  &__list {
    margin: 0;
    padding: 0;
    li {
      @include inline-block;
      margin: 0 0 0 10px; // LTR
    }
  }
  &__link {
    @extend %button;
  }
}

//
// Menu blocks
//
.block-menu {
}

//
// "Menu block" blocks
//
// Drupal core has limited ways in which it can display its menus. To get around
// these limitations, see http://drupal.org/project/menu_block
//
.block-menu-block {
}

//
// Breadcrumbs
//
.breadcrumbs {
  margin: 0 0 20px 0;
  padding-left: 0;

  &__item {
    @include inline-block;
    list-style-type: none;
    margin-right: 0.5em; // LTR

    &:last-of-type {
      .breadcrumbs__divider {
        @extend %u-hidden; // hide the last breadcrumb divider
      }
    }
  }

  &__divider {
    font-size: 80%;
    padding-left: 0.5em; // LTR
  }
}

//
// Skip link for accessibility
//
.skip-link {
  margin: 0;

  a,
  a:visited {
    @extend %u-hidden;
    @extend %u-focusable;
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

//
// Drupal pager
//
.item-list .pager {
  // A list of page numbers when more than 1 page of content is available
  padding: 0;

  li {
    // Each page number in the pager list
    padding: 0 0.5em;
  }
}

//
// List of links generated by theme_links()
//
.links-inline {
  // <ul> element
  &__list {
    display: inline;
    padding: 0;
    li {
      display: inline;
      list-style-type: none;
      padding: 0 1em 0 0; // LTR
    }
  }

  // <a> elements
  // &__link { }
}