@import "bear";

//
// Primary navigation menu
//
.wrapper--navigation {
  background-color: $nav-container-bg-color;
}

.main-menu {
  outline: 0;
  margin-bottom: 1em;

  // All <a> elements in the menu
  &__link {
    @include link-colors($nav-link-color, $nav-link-color-hover);
    display: block;
    width: 100%;
    height: 100%;
    padding: $nav-link-padding;
    transition: none;
    text-transform: $nav-link-text-transform;
    &:hover {
      background-color: $nav-link-bg-color-hover;
    }
  }

  // All <li> elements in the menu
  &__item {
    position: relative;
    transition: background-color 0.3s ease;
    list-style-image: none;
    list-style-type: none;
  }

  // Menu block container
  .block {
    margin-bottom: 0;
  }

  // Menu block title
  .block-menu .block-title,
  .block-menu-block .block-title {
    @extend %u-hidden;
  }

  // Menu <ul> containers
  .menu,
  .links {
    padding: 0;
    margin: 0;
    z-index: 100;
  }

  // First level <ul> elements
  &--level-one {
    background-color: $nav-container-bg-color;
  }

  // First level <li> elements
  &__item--level-one {
    @include inline-block;
    height: $nav-container-height;
    line-height: $nav-container-height;
    border-bottom-left-radius: $nav-drop-down-border-radius;
    border-bottom-right-radius: $nav-drop-down-border-radius;
    float: left;

    &:hover {
      .main-menu--level-two {
        display: block;
      }
    }
  }

  // Second level <ul> elements
  &--level-two {
    display: none;
    background-color: $nav-drop-down-bg-color;
    border-bottom-left-radius: $nav-drop-down-border-radius;
    border-bottom-right-radius: $nav-drop-down-border-radius;
    position: absolute;
    top: $nav-container-height;
    left: 0;
    min-width: $nav-drop-down-min-width;
    background-clip: padding-box;
  }

  // Second level <li> elements
  &__item--level-two {
    &:hover {
      .main-menu--level-three {
        display: block;
      }
    }
    a {
      color: $nav-drop-down-link-color;
      &:hover {
        background-color: $nav-drop-down-link-color-hover;
      }
    }
  }

  // Third level <ul> elements
  &--level-three {
    display: none;
    background-color: $nav-drop-down-bg-color;
    border-bottom-left-radius: $nav-drop-down-border-radius;
    border-bottom-right-radius: $nav-drop-down-border-radius;
    top: 0;
    position: absolute;
    left: $nav-drop-down-min-width;
    min-width: $nav-drop-down-min-width / 2;
    background-clip: padding-box;
  }

  // Third level <li> elements
  &__item--level-three {

  }

  // Fourth level <ul> elements
  &--level-four {
    display: none;
  }

  // Fourth level <li> elements
  &__item--level-four {

  }

  @include breakpoint($breakpoint-med-small-width) {
    height: 0;
    border-bottom: 2px solid $bear-dark;
  }
}

//
// Header user menu
//
.nav-user {
  &__list {
    margin: 0;
    padding: 0;
    li {
      @include inline-block;
      margin: 0 0 0 10px; // LTR
    }
  }
  &__link {
    @extend %button;
  }
}

//
// Menu blocks
//
.block-menu {
}

//
// "Menu block" blocks
//
// Drupal core has limited ways in which it can display its menus. To get around
// these limitations, see http://drupal.org/project/menu_block
//
.block-menu-block {
}

//
// Breadcrumbs
//
.breadcrumbs {
  margin: 20px 0;
  padding-left: 0;

  &__item {
    @include inline-block;
    list-style-type: none;
    margin-right: 0.5em; // LTR

    &:last-of-type {
      .breadcrumbs__divider {
        @extend %u-hidden; // hide the last breadcrumb divider
      }
    }
  }

  &__divider {
    font-size: 80%;
    padding-left: 0.5em; // LTR
  }
}

//
// Skip link for accessibility
//
.skip-link {
  margin: 0;

  a,
  a:visited {
    @extend %u-hidden;
    @extend %u-focusable;
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

//
// Drupal pager
//
.item-list .pager {
  // A list of page numbers when more than 1 page of content is available
  padding: 0;

  li {
    // Each page number in the pager list
    padding: 0 0.5em;
  }
}

//
// List of links generated by theme_links()
//
.links-inline {
  // <ul> element
  &__list {
    display: inline;
    padding: 0;
    li {
      display: inline;
      list-style-type: none;
      padding: 0 1em 0 0; // LTR
    }
  }

  // <a> elements
  // &__link { }
}