@import "bear";

//
// Node styles
//
// For example, a node of type event
// "full" view mode
//
// .node-event {
//
//  the title
//  &__title {  }
//
//  a field called body
//  &-body__content {  }
//
//  a group of fields for dates
//  &-date__group {  }
//  &-date__content {  }
//
// }
//
// "teaser" view mode
//
// .node-event-teaser {
//
//  the title
//  &__title {  }
//
// }


// Generic node style
.node {
  &__title {
    @extend %no-margins;
  }  
}

// Generic Full / Default view mode
.node-full {
	.links-inline__list {
  	.comment_forbidden {
  	  @extend %alert;
		  @extend %alert-warning;
		  @include inline-block; 
		  padding: 0.2em 1em;   
		}
  }
}

// Generic Teaser view mode
.node-teaser {
	$vertical-spacing: $vertical-gutter / 4;

	margin-bottom: $vertical-gutter * 1.25;

	&__title {
		margin-bottom: $vertical-spacing;
	}

	.links-inline {
		margin-top: $vertical-spacing;
	}
}