//
//
// Print styles
//
//
@import "vendor";
@import "variables";
@import "mixins";
@import "reusable";
@import "base/*";
@import "components/*";

@media print {

  a:link,
  a:visited {
    // underline all links
    text-decoration: underline !important;
  }

  main {
    a[href]:after {
      // Add visible URL after links.
      content: " (" attr(href) ")";
      font-weight: normal;
      font-size: $base-font-size;
    }

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
      // Only display useful links.
      content: "";
    }
    abbr[title]:after {
      // Add visible title after abbreviations.
      content: " (" attr(title) ")";
    }
  }
  main {
    // Un-float the content
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  body,
  .page-wrap,
  .site-main,
  main {
    // Turn off any background colors or images
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }
  .skip-link,
  #toolbar,
  .site-navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  .site-footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons,
  .messages {
    // Hide sidebars and nav elements
    visibility: hidden;
    display: none;
  }
}