@import "bear";

//
// Contains both sidebar in an <aside>
//
// .site-sidebars {  }

//
// Sidebar containers
//
.sidebar {
  overflow: hidden;

  .block {
    margin-bottom: $vertical-gutter;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
// .region--sidebar-first {  }
// .region--sidebar-second {  }

//
// PANEL SIDEBARS
//
// .panel-flexible .sidebar {  }
