@import "bear";

//
// Variables
//

$footer-height: 100px;

//
// Styles
//
// .sticky-footer gets added to <body> in template.php
//

.with-sticky-footer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .wrapper--main {
    flex: 1 0 auto;
    overflow: hidden;
  }
}
