<header class="wrapper-header" role="banner">
  <div class="wrapper--inner wrapper-header__inner container md:my-8 mx-auto px-4 my-4 flex flex-center flex-justify">
    {{ content }}
    <a id="menu-open" class="panel-action panel-action--open icon icon-container md-hide flex items-center allt" href="javascript:">
      <i class="icon-bars m-0 allt text-black"></i>
      <span class="visually-hidden">{{ 'Open mobile menu'|t }}</span>
    </a>
  </div>
</header>
