<header class="wrapper-header">
  <div class="wrapper--inner wrapper-header__inner container mt1 mb1">
    {{ content }}
    <a id="mnav" href="javascript:;"><i class="icon-bars"></i></a>
  </div>
</header>
