<header class="wrapper-header">
  <div class="wrapper--inner wrapper-header__inner container mx-auto mt2 mb2 flex flex-center flex-justify">
    {{ content }}
    <a id="mnav" class="icon-container mt05 md-hide" href="javascript:"><i class="icon-bars nm allt black"></i></a>
  </div>
</header>
