.progress {
  margin: 1rem 0;

  &__track {
    border: 1px solid $ui-light-grey;
    background: $ui-lightest-grey;
    height: 25px;
    border-radius: $ui-border-radius;
  }

  &__bar {
    height: 100%;
    background: $emerald;
    border-radius: $ui-border-radius;
  }

  &__percentage {

    padding: .5rem .5rem;
    color: $emerald;
    font-family: $sans;
    text-align: center;
  }
}