<div class="progress mt-4 mb-1" data-drupal-progress>
	{% if label %}
		<div class="progress__label">{{ label }}</div>
	{% endif %}
	<div class="progress__track rounded border"><div class="progress__bar bg-tertiary rounded" style="width: {{ percent }}%"></div></div>
	<div class="progress__percentage p-8 center">{{ percent }}%</div>
	<div class="progress__description">{{ message }}</div>
</div>