.progress {
  margin: 1rem 0;

  &__track {
    border: 1px solid $c-ui-border;
    background: $c-ui-background;
    height: 34px;
    border-radius: $ui-border-radius;
  }

  &__bar {
    height: 100%;
    background: $c-ui-active-form-element;
    border-radius: $ui-border-radius;
    position: relative;
    left: -1px;
  }

  &__percentage {

    padding: .5rem .5rem;
    color: $c-ui-active-form-element;
    font-family: unquote(map-get($bodytype, font-family));
    text-align: center;
  }
}