.panel-action--search {
  font-size: 24px;
  transition: .2s color ease-in-out;
}

@media (--breakpoint-lg) {

  .panel-action--close-search {
    margin-right: 0;
  }
}

.msearch-content {
  width: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 15;
  background: rgba(238, 238, 238, .95);
}

.msearch-content.open {
  opacity: 1;
  visibility: visible;
}

@media (--breakpoint-md) {

  .form__search_block_form {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.form__search_block_form .form-search {
  border: 0;
  padding: .5rem 3rem .5rem 0;
  background: transparent;
  width: 200px;
}

@media (--breakpoint-sm) {

  .form__search_block_form .form-search {
    width: 400px;
  }
}

.form__search_block_form .js-form-type-search {
  position: relative;
  margin: 0;
}

.form__search_block_form  .js-form-type-search::after {
  content: '';
  height: 1px;
  background: black;
  width: 0;
  left: 0;
  position: absolute;
  bottom: 0;
  transition: width .5s ease-in-out;
}

.form__search_block_form .js-form-type-search.active::after {
  width: 100%;
}

#search-block-form .form-actions {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -3.5rem;
}

#search-block-form .form-actions::after {
  content: '\e905';
  position: absolute;
  font-size: 20px;
  top: 16px;
}

#search-block-form .form-submit {
  opacity: 0;
  position: relative;
  z-index: 2;
}

#search-block-form__site-slogan {
  margin-left: 1rem;
}
