<div id="msearch-content" class="msearch-content absolute">
  <div class="container col-12 mx-auto relative flex items-center">
    {{ content }}
  </div>
</div>
<a id="search-open" class="panel-action panel-action--open icon-container flex items-center allt" href="javascript:" title="Search"><i class="icon-search black"><span class="visually-hidden">Search this site</span></i></a>
