.panel-action--search {
  font-size: 24px;
  transition: .2s color ease-in-out;
}



.msearch-content {
  width: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 15;
  background: rgba(0, 116, 217, .95);
}

.msearch-content.open {
  opacity: 1;
  visibility: visible;
}

.form__search_block_form .form-search {
  border: 0;
  padding: .5rem 3rem .5rem 0;
  background: transparent;
  width: 200px;
  color: white;
}

.form__search_block_form .js-form-type-search {
  position: relative;
  margin: 0;
}

.form__search_block_form  .js-form-type-search::after {
  content: '';
  height: 2px;
  background: white;
  width: 0;
  left: 0;
  position: absolute;
  bottom: 0;
  transition: width .5s ease-in-out;
}

.form__search_block_form .js-form-type-search.active::after {
  width: 100%;
}

.form__search_block_form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f3f3f3;
}
.form__search_block_form ::-moz-placeholder { /* Firefox 19+ */
  color: #f3f3f3;
}
.form__search_block_form :-ms-input-placeholder { /* IE 10+ */
  color: #f3f3f3;
}
.form__search_block_form :-moz-placeholder { /* Firefox 18- */
  color: #f3f3f3;
}

.form__search_block_form .form-actions {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -3.5rem;
}

.form__search_block_form .form-actions::after {
  content: '\e905';
  position: absolute;
  font-size: 20px;
  top: 16px;
}

.form__search_block_form .form-submit {
  opacity: 0;
  position: relative;
  z-index: 2;
}

@media (--breakpoint-sm) {

  .form__search_block_form .form-search {
    width: 400px;
  }

  .msearch-content .container {
    background-image: url('../../../../images/logo-sm-w.png');
    background-repeat: no-repeat;
    background-position: 1rem center;
  }
}

@media (--breakpoint-md) {

  .form__search_block_form {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (--breakpoint-lg) {

  .msearch-content .container {
    background-position: left center;
  }

  .panel-action--close-search {
    margin-right: 0;
  }
}
