#msearch {
  font-size: 22px;
  transition: .2s color ease-in-out;
  color: $black;

  &:hover,
  &:focus {
    color: $c-ui-font-dark;
  }
}

#msearch-close {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  font-size: 30px;
  color: $white;
  position: absolute;
  right: 2rem;
  top: 2.5rem;
}

#msearch-content {
  position: absolute;
  width: 100%;
  left: 0;
  top: -200px;
  z-index: 15;

  background: rgba(0, 0, 0, .95);
  transition: all .2s ease-in-out;

  display: flex;
  justify-content: center;

  &.open {
    top: 0;
    opacity: 1;
  }
}

#search-block-form {
  display: flex;
  align-items: center;
  margin: 2rem 0;

  .form-item {
    margin: 0;
  }

  .form-search {
    @include fontsize(26, all);

    border: 0;
    padding: .5rem 3rem .5rem 0;
    color: $white;
    background: transparent;
    width: 200px;

    @include breakpoint(break-1) {
      width: 400px;
    }

    &::-webkit-input-placeholder {
      @include fontsize(26, all);

      color: $c-ui-font;
    }

    &:-moz-placeholder { /* Firefox 18- */
      @include fontsize(26, all);

      color: $c-ui-font;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
      @include fontsize(26, all);

      color: $c-ui-font;
    }

    &:-ms-input-placeholder {
      @include fontsize(26, all);

      color: $c-ui-font;
    }
  }

  .js-form-type-search {
    position: relative;

    &::after {
      content: '';
      height: 1px;
      background: $white;
      width: 0;
      left: 0;
      position: absolute;
      bottom: 0;
      transition: width .5s ease-in-out;
    }

    &.active {
      &::after {
        width: 100%;
      }
    }
  }

  .form-actions {
    @extend .icon;

    //position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -3.5rem;

    &::after {
      content: '\e905';
      color: $white;
      position: absolute;
      font-size: 20px;
    }
  }

  .form-submit {
    opacity: 0;
    position: relative;
    z-index: 2;
  }

  &__site-slogan {
    margin-left: 1rem;
  }
}
