<div id="msearch-content">
  {{ content }}
  <a id="msearch-close" href="javascript:;" title="Close Search"><i class="icon-close"><span class="visually-hidden">Close search panel</span></i></a>
</div>
<a id="msearch" href="javascript:;" title="Search"><i class="icon-search"><span class="visually-hidden">Search this site</span></i></a>
