.details-wrapper {
  @include padding(0.5, 0.5);

  position: relative;
  border: 0;
}

details {
  @include margin(1, 0);

  clear: both;

  &[open] {

    .summary {
      margin-bottom: 0;
      border-bottom: 0;

      i {
        transform: rotate(180deg);
      }
    }

    .details-wrapper {
      border-top: 0 !important;
      animation-name: fadeInDown;
      animation-duration: 0.5s;
    }
  }
}

.details-wrapper {
  @include padding(0.5, 0.5);
}

.summary {
  @include margin-bottom(1);
  @include padding(0.5, 0.5);

  display: flex;
  justify-content: space-between;
  cursor: pointer;
  outline: 0;

  &::-webkit-details-marker {
    display: none;
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  i {
    transition: transform 0.2s linear;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid black;
  }
}

.accordion {
  @extend details;
}
