.details-wrapper {
  padding: .5rem .5rem;

  position: relative;
  z-index: 1;
  border: 0;
}

details {
  margin: 1em 0;
  clear: both;

  &[open] {

    .summary {
      margin-bottom: 0;
      border-bottom: 0;

      i {
        transform: rotate(180deg);
      }
    }

    .details-wrapper {
      animation-name: fadeInDown;
      animation-duration: 0.5s;
      border: 1px solid $c-ui-border;
      border-top: 0;
    }
  }
}

.details-wrapper {
  padding: 1rem 1rem;
  clear: both;
}

.summary {
  @include fontsize(18, all);

  margin-bottom: .5rem;
  padding: .25rem 1rem;
  display: block;
  float: left;
  width: 100%;
  position: relative;
  z-index: 2;
  cursor: pointer;
  outline: 0;
  background: $wild-sand;
  border: 1px solid $c-ui-border;

  &::-webkit-details-marker {
    display: none;
  }

  &__icon {
    float: right;
    text-indent: -9999px;
    display: flex;
    align-items: center;
  }

  i {
    transition: transform .2s linear;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid black;
  }

  &__title {
    float: left;
  }
}

.accordion {
  @extend details;
}
