details[open] .summary__icon {
  transform: rotate(90deg);
}

details[open] .details-wrapper {
  animation-name: fadeInDown;
  animation-duration: 0.5s;
}

.details-wrapper {
  padding: 1rem 1rem;
  clear: both;
}

.summary {
  cursor: pointer;
}

.summary::-webkit-details-marker {
  display: none;
}
