details[open] .summary__icon {
  transform: rotate(90deg);
}

details[open] .details-wrapper {
  animation-name: fadeInDown;
  animation-duration: 0.5s;
}

details.vertical-tabs__pane {
  display: flex;
  padding: .5rem;
  border: 0;
  margin: 0;
}

.summary {
  cursor: pointer;
}

.summary::-webkit-details-marker {
  display: none;
}
