.field--label-inline {
  clear: both;
}

.field--label-inline .field__label {
  float: left;
  margin: 0 5px 0 0;
}

.field--label-inline .field__label::after {
  content: ':';
}

.field--label-inline .field__item {
  overflow: hidden;
}

.field--label-inline p:first-child {
  margin-top: 0;
}
