.panel-display {
  *zoom: 1;
  margin-bottom: 3.75em; }
  .panel-display:before, .panel-display:after {
    content: '';
    display: table; }
  .panel-display:after {
    clear: both; }
  .panel-display .column, .panel-display .row {
    *zoom: 1;
    margin-bottom: 1.875em;
    box-sizing: border-box; }
    .panel-display .column:before, .panel-display .column:after, .panel-display .row:before, .panel-display .row:after {
      content: '';
      display: table; }
    .panel-display .column:after, .panel-display .row:after {
      clear: both; }
  .panel-display .row {
    clear: both; }
    .panel-display .row:last-child {
      margin-bottom: 0; }

.main__content .empty-right.empty-left .column.center {
  position: static;
  left: 0;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0; }
  .main__content .empty-right.empty-left .column.center:first-child {
    margin-left: auto; }
  .main__content .empty-right.empty-left .column.center:last-child {
    margin-right: auto; }
  @media (min-width: 50em) {
  .panel-display--three-column .column.left {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 20%;
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
    left: -60%;
    padding-right: 0.9375em; }
  .panel-display--three-column .column.left:before, .panel-display--three-column .column.left:after {
    content: '';
    display: table; }
  .panel-display--three-column .column.left:after {
    clear: both; }
  .panel-display--three-column .column.left:last-child {
    margin-right: 0%; }
  .panel-display--three-column .column.center {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 60%;
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
    left: 20%;
    padding-left: 0.9375em;
    padding-right: 0.9375em; }
  .panel-display--three-column .column.center:before, .panel-display--three-column .column.center:after {
    content: '';
    display: table; }
  .panel-display--three-column .column.center:after {
    clear: both; }
  .panel-display--three-column .column.center:last-child {
    margin-right: 0%; }
  .panel-display--three-column .column.right {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 20%;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0.9375em; }
  .panel-display--three-column .column.right:before, .panel-display--three-column .column.right:after {
    content: '';
    display: table; }
  .panel-display--three-column .column.right:after {
    clear: both; }
  .panel-display--three-column .column.right:last-child {
    margin-right: 0%; }
  .main__content .empty-left:not(.empty-right) .column.center {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: 0%;
    position: static;
    left: 0;
    padding-right: 0.9375em; }
  .main__content .empty-left:not(.empty-right) .column.center:before, .main__content .empty-left:not(.empty-right) .column.center:after {
    content: '';
    display: table; }
  .main__content .empty-left:not(.empty-right) .column.center:after {
    clear: both; }
  .main__content .empty-left:not(.empty-right) .column.center:last-child {
    margin-right: 0%; }
  .main__content .empty-left:not(.empty-right) .column.right {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0.9375em; }
  .main__content .empty-left:not(.empty-right) .column.right:before, .main__content .empty-left:not(.empty-right) .column.right:after {
    content: '';
    display: table; }
  .main__content .empty-left:not(.empty-right) .column.right:after {
    clear: both; }
  .main__content .empty-left:not(.empty-right) .column.right:last-child {
    margin-right: 0%; }
  .main__content .empty-right:not(.empty-left) .column.center {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
    left: 33.33333%;
    padding-left: 0.9375em; }
  .main__content .empty-right:not(.empty-left) .column.center:before, .main__content .empty-right:not(.empty-left) .column.center:after {
    content: '';
    display: table; }
  .main__content .empty-right:not(.empty-left) .column.center:after {
    clear: both; }
  .main__content .empty-right:not(.empty-left) .column.center:last-child {
    margin-right: 0%; }
  .main__content .empty-right:not(.empty-left) .column.left {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
    left: -66.66667%;
    padding-right: 0.9375em; }
  .main__content .empty-right:not(.empty-left) .column.left:before, .main__content .empty-right:not(.empty-left) .column.left:after {
    content: '';
    display: table; }
  .main__content .empty-right:not(.empty-left) .column.left:after {
    clear: both; }
  .main__content .empty-right:not(.empty-left) .column.left:last-child {
    margin-right: 0%; } }
  @media (min-width: 62.5em) {
  .panel-display--three-column .column.left {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 28.57143%;
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
    left: -42.85714%;
    padding-right: 0.9375em; }
  .panel-display--three-column .column.left:before, .panel-display--three-column .column.left:after {
    content: '';
    display: table; }
  .panel-display--three-column .column.left:after {
    clear: both; }
  .panel-display--three-column .column.left:last-child {
    margin-right: 0%; }
  .panel-display--three-column .column.center {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 42.85714%;
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
    left: 28.57143%;
    padding-left: 0.9375em;
    padding-right: 0.9375em; }
  .panel-display--three-column .column.center:before, .panel-display--three-column .column.center:after {
    content: '';
    display: table; }
  .panel-display--three-column .column.center:after {
    clear: both; }
  .panel-display--three-column .column.center:last-child {
    margin-right: 0%; }
  .panel-display--three-column .column.right {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 28.57143%;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0.9375em; }
  .panel-display--three-column .column.right:before, .panel-display--three-column .column.right:after {
    content: '';
    display: table; }
  .panel-display--three-column .column.right:after {
    clear: both; }
  .panel-display--three-column .column.right:last-child {
    margin-right: 0%; } }
