{%
	set classes = [
	'filter-guidelines-item',
	'filter-guidelines-' ~ format.id,
	'h5',
	'gray',
	'm-0',
	'pt-4'
]
%}
<div{{ attributes.addClass(classes) }}>
	<h4 class="label">{{ format.label }}</h4>
	{{ tips }}
</div>
