/**
 * @file
 * Form Styling
 */

@import "base";

/* IMporting some boostrap elements */

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 1px;
}
.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  margin-right: 10px;
  @include breakpoint ($breakpoint-small-width) {
    clear: both;
    float: left;
  }
}

.form-item { /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1.5em 0;
  input {
    max-width: 99%;
    color: #333333;
  }
  input.error,
  textarea.error,
  select.error { /* Highlight the form elements that caused a form submission error */
    border: 1px solid #c00;
  }
  label { /* The label for a form element */
    display: block;
    font-weight: normal;
    color: #666666;
    font-size: 90%;
    &.btn {
      display: inline;
    }
  }

  label.option { /* The label for a radio button or checkbox */
    display: inline;
    font-weight: normal;
  }

  .form-required { /* The part of the label that indicates a required field */
    color: #c00;
  }

  .description { /* The descriptive help text (separate from the label) */
    font-size: 80%;
    font-style: italic;
    color: #777777;
  }
  .form-file {
    color: #666666;
    font-size: 90%;
  }
  .form-checkboxes & ,
  .form-radios & { /* Pack groups of checkboxes and radio buttons closer together */
    margin: 0; /* Drupal core uses "0.4em 0" */
  }
  .form-text, .form-textarea, .form-file {
    min-height: 30px;
    line-height: 30px;
    border: 1px solid #CCCCCC;
    font-size: 90%;
    color: #666666;
  }
  .field-add-more-submit {
    text-shadow: none;
    color: white;
  }
  .icon-folder-open {
    background-position: -408px -120px;
    width: 16px;
  }
  .input-large {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    display: inline-block;
    height: 26px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
    margin-bottom: 0;
  }
}
.form-text, .form-textarea {
  &:focus, &:hover, &:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &:focus {
    border: 1px solid #61AEE2;
    background: #f9f9f9;
  }
}
.form-submit, button, input[type="button"], input[type="reset"], input[type="submit"] {
  @include sassy-button("matte", 0px, 90%, #999, #888, #fff, "inset");
  margin:0 5px 0 0;
  padding: 0.4em 1.1em 0.5em 1.2em;
}

a.button {
  @include sassy-button("matte", 5px, 90%, #999, #888, #fff, "inset");
  margin:0 5px 0 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  &:hover {
    color: white;
  }
}

html.js input.form-autocomplete {
    background-position: 100% 5px;
}

.ajax-progress .throbber {
  background-position: 0px -18px;
}

.container-inline {
  div,
  label { /* Inline labels and form divs */
    display: inline;
  }
  .select2-container {
    display: inline-block;
    margin-bottom: 10px;
  }
  .select2-display-none {
    display: none;
  }
}
dd {
    margin: 10px 0 10px 30px;
}
.tips { /* Tips for Drupal's input formats */
}

a.button { /* Buttons used by contrib modules like Media */
  @include appearance(button);
}

fieldset {
  margin-bottom: 15px;
  padding: 0;
  legend {
    float: left;
    background: #EEEEEE;
    width: 100%;
    margin-bottom: 10px;
    .fieldset-legend {
      padding: 5px 10px;
      display: block;
    }
  }
  .fieldset-wrapper {
    padding: 15px;
  }
  &.filter-wrapper {
    padding: 0;
    font-size: 90%;
    background: #f9f9f9;
    .fieldset-wrapper {
      padding: 5px;
      border-top: 1px dotted #C0C0C0;
    }
    .filter-help {
      padding: 0 20px 0 0;
    }
    .form-item {
      padding-top: 0;
      margin-top: 5px;
    }
  }
}
.ckeditor_links {
  font-size: 90%;
}

.vertical-tabs {
  ul.vertical-tabs-list {;
    li {
      a {
        text-decoration: none;
        &:hover {
          text-decoration: none;
          outline: none;
          color: #61AEE2;
        }
        strong {
          font-weight: normal;
        }
        .summary {
          font-size: 90%;
          font-style: italic;
          color: #777777;
        }
      }
    }
  }
}
html.js fieldset.collapsed {
  border: 1px solid #CCCCCC;
  height: 2.15em;
}

/*
 * Password confirmation
 */

.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */

#block-search-form { /* Wrapper for the search form */
}

/*
 * Drupal's default login form block
 */

#user-login-form {
  text-align: left; /* LTR */

  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */

  ul { /* OpenID creates a new ul above the login form's links. */
    margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
  }

  html.js & li.openid-link,
  li.openid-link { /* The "Log in using OpenID" link. */
    margin-top: 1.5em;
    margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
  }

  li.user-link { /* The "Cancel OpenID login" link. */
    margin-top: 1.5em;
  }
}

#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */


table {
  width: 100%;
}
th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
  font-weight: normal;
  padding:5px 10px;
}

tbody {
  border-top: 1px solid #ccc;
}
td {
  padding: 10px;
}
tr.even {
  background-color: #fff;
}
table .item-list ul {
  margin: 0;
}


@if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
  .lt-ie8 tr.even,
  .lt-ie8 tr.odd {
    th,
    td {
      border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
    }
  }
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */

td.menu-disabled {
  background: #ccc;
}

html.js input.form-autocomplete {
  background-position: 100% 8px;
}

