@import "bear";

//
// Layout styles
//
body {
  *, *:before, *:after {
    box-sizing: border-box;
  }
}

#page {
  width: 100%;
  min-width: 300px;
  .wrapper {
    @include breakpoint($breakpoint-full-width) {
      padding: 0 20px;
    }
  }
}

#header,
#content,
#navigation,
#highlighted,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  max-width: $site-max-width;
  margin: 0 auto;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#header,
#main,
#footer {
  width: 100%;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  max-width: $site-max-width;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

//
// Left Sidebar
//
.sidebar-first {
  #content {
    @include col(3/4);
    @include shift(1/4);
    @include breakpoint($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
  .region-sidebar-first {
    @include col(1/4);
    @include shift(-3/4);
    @include breakpoint($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
}

//
// Right sidebar
//
.sidebar-second {
  #content {
    @include col(3/4);
    @include breakpoint($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
  .region-sidebar-first {
    @include col(1/4);
    @include breakpoint($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
}

//
// Two sidebars
//
.two-sidebars {
  #content {
    @include col(2/4);
    @include shift(1/4);
    @include breakpoint($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
  .region-sidebar-first {
    @include col(1/4);
    @include shift(-2/4);
    @include breakpoint($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
  .region-sidebar-second {
    @include col(1/4);
    @include breakpoint($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
}

//
// Bearskin documentation page
//
#documentation {
  p.tb {
    @include col(1/4, $cycle: 4, $gutter: 1);
    box-sizing: border-box;
    background: #DDDDDD;
    padding: 20px;
  }
}

//
// Helper classes
//
.u-hidden {
  @extend %u-hidden;
}

.u-focusable {
  @extend %u-focusable;
}

.is-phone {
  @extend %is-phone;
}