@import "bear";

aside.sidebars {
  .sidebar {
    padding: 5px 0 20px 0;
    h2 {
      background: $bear-grey;
      text-indent: 10px;
      margin: 0 0 10px 0;
      font-size: 110%;
    }
    @include breakpoint($breakpoint-large-width) {
      padding-left: auto;
    }
  }
}

/* MAIN NODE SIDEBARS */
.sidebar {

}

/* PANEL SIDEBARS */
.panel-flexible .sidebar {

}
