@import "base";

$footer-height: 100px;

html, body {
  height: 100%;
}

#page {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: $footer-height;
}  /* must be same height as the footer */

#footer {
  position: relative;
  margin-top: -$footer-height; /* negative value of footer height */
  height: $footer-height;
  clear: both;
  .block {
    @include breakpoint ($breakpoint-full-width) {
      padding: 0 20px;
    }
  }
}
/*Opera Fix*/
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}
.ie7 #page {
  display:table;
  height:100%
}
