/****************
OUR CUSTOM MIXINS
*****************/
/***********
~VARIABLES
***********/
/***********
~BREAKPOINTS
***********/
#page {
  width: 100%;
}

#header,
#content,
#navigation,
#highlighted,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  max-width: 1000px;
  margin: 0 auto;
}

/*
 * Containers for grid items and flow items.
 */
#header,
#main,
#footer {
  width: 100%;
}
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
#header:after,
#main:after,
#footer:after {
  clear: both;
}

#main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

/*
 * Navigation bar
 */
@media all and (min-width: 480px) {
  #main {
    position: relative;
    clear: both;
  }

  #navigation {
    width: 100%;
    clear: both;
  }
}
@media all and (min-width: 480px) and (max-width: 959px) {
  /*
   * Use 3 grid columns for smaller screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second #content {
    /* Span 2 columns, starting in 1st column from left. */
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
  }
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 3rd column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }

  /*
   * The layout when there are two sidebars.
   */
  .two-sidebars #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }
  .two-sidebars .region-sidebar-second {
    /* Start a new row and span all 3 columns. */
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: left;
  }
  .two-sidebars .region-sidebar-second .block {
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    /* Span 1 column, starting in the 1st column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    clear: left;
  }
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    /* Span 1 column, starting in the 2nd column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -66.66667%;
  }
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    /* Span 1 column, starting in the 3rd column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }
}
@media all and (min-width: 960px) {
  /*
   * Use 4 grid columns for larger screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first #content {
    /* Span 3 columns, starting in 2nd column from left. */
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
  }
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second #content {
    /* Span 3 columns, starting in 1st column from left. */
    float: left;
    width: 75%;
    margin-left: 0%;
    margin-right: -75%;
  }
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: left;
    width: 25%;
    margin-left: 75%;
    margin-right: -100%;
  }

  /*
   * The layout when there are two sidebars.
   */
  .two-sidebars #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-right: -75%;
  }
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
  }
  .two-sidebars .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: left;
    width: 25%;
    margin-left: 75%;
    margin-right: -100%;
  }
}
