#kss-nav {
  background-color: #555; }
  #kss-nav .logo {
    margin: 2em; }
  #kss-nav ul a {
    color: white; }

.kss-mod-desc-group {
  border-top: 1px solid #ddd; }

.bg {
  width: 75px;
  height: 75px; }

.kss-mod-desc {
  font-family: "Courier", sans-serif; }

.className {
  color: white;
  font-family: "Courier", sans-serif;
  background: #555;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 110%;
  position: relative;
  top: 4px; }
