.wrapper--footer {
  border-top: 1px solid $gray;
}

.site-footer {
  background: $darkblue;
  color: $white;
  .region-footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

#footer {
  background: transparent;
  border: 0;
  .block-menu {
    float: left;
    margin: 0 50px 0 0;
  }
  a {
    @include link-colors($white, $hover: $white, $active: $white, $focus: $white);
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
    }
  }
}
