// Depending on the logo size, set the height here.
// Everything else will resize accordingly
$header-height: 70px;
$header-compressed-height: calc(#{$header-height} / 1.5);

@keyframes slidedown {
  from {transform: translateY(-$header-height)}
  to {transform: translateY(0)}
}

.wrapper--header {
  width: 100%;
  z-index: 999;
  transition: opacity .3s ease-in-out, box-shadow .3s ease-in-out;
  border: 0;
  border-bottom: 1px solid transparent;
  position: absolute;
  top: 0;
  height: $header-height;
  background: $white;
  animation: none;
  #header {
    height: 100%;
    .site-header__logo img {
      max-width: $header-height;
    }
  }
  &.up {
    box-shadow: 0 2px 11px rgba(0,0,0,0.2);
    position: fixed;
    top: -$header-height;
    background: $white;
  }
  &.down {
    box-shadow: 0 2px 11px rgba(0,0,0,0.2);
    background: $white;
    position: fixed;
    animation: slidedown .3s;
    opacity: .95;
  }
  &.top {
    background: transparent;
    animation: none;
  }
  @include breakpoint($breakpoint-large-width) {
    height: $header-height;
    #header {
      .site-header__logo img {
        max-width: $header-height;
      }
    }
  }
}
#header {
  position: relative;
  padding: .5em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: $sans-serif;
  &:before, &:after {
    display: none;
  }
  #logo-container {
    opacity: 1;
    min-width: 100px;
  }
  .site-header__logo {
    position: relative;
    img {
      transition: max-width .3s ease-in-out;
      width: 100%;
      max-width: 50px;
      display: block;
      @include breakpoint($breakpoint-large-width) {
        max-width: 250px;
      }
    }
  }
  .region-header {
    height: 100%;
  }
  .header-log {
    text-align: right;
    a.loginpopup {
      position: relative;
      right: 3.5em;
      color: $off-black;
      text-decoration: none;
      font-size: 80%;
      i {
        font-size: 100%;
      }
      &:focus, &:hover {
        color: $link-color-hover;
      }
      @include breakpoint($breakpoint-large-width) {
        font-size: 100%;
        right: 0;
      }
    }
  }
}

.wrapper--title {
  margin-top: $header-height;
  @include breakpoint($breakpoint-large-width) {
    margin-top: $header-height;
  }
  .title-wrapper {
    max-width: $site-max-width;
    padding: 1em;
    margin: 0 auto;
  }
}

body.banner {
  .wrapper--title {
    margin-top: 0;
  }
}
