.region-navigation {
  transition: left .3s ease-in-out;
  padding: .5em;
  margin: 0 2em;
  float: left;
  nav {
    outline: 0;
    margin: 0;
    ul.menu {
      padding: 0;
      margin: 0;
    }
    div {
      display: inline-block;
      vertical-align: top;
      &.item {
        position: relative;
        &:hover > .secondary {
          visibility: visible;
          opacity: 1;
        }
      }
      &.secondary {
        transition: all .2s ease-in-out;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        left: 0;
        top: 2.4em;
        width: 100%;
        background: $lightgray;
        border: 1px solid $gray;
        border-top: 0;
        padding: 0;
        border-radius: 0 0 3px 3px;
        a {
          width: 100%;
          font-size: 90%;
          display: block;
          padding: .4em .5em;
        }
      }
    }
    a {
      margin: 0;
      padding: .8em .5em;
      border-radius: 3px;
      &:hover, &:focus, &.active {
        background: $white;
        color: $off-black;
      }
    }
  }
}

// SIDR
body.sidr-open {
  #sidr-wrapper-0 {
    margin-left: 0;
    position: absolute;
    left: 20px;
    top: 40px;
    span {
      background: transparent;
      &:before,
      &:after {
        top: 0;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}

.sidr-animating {
  .wrapper--header {
    position: absolute;
  }
}

//******
// Pager
//******

.pager-wrapper {
  position: relative;
  width: 100%;
  display: inline-block;
  min-height: 50px;
  margin: 10px 0 0 0;
}
.ui.pagination.menu {
  @include align(h);
}

//************
// Breadcrumbs
//************

nav.ui.breadcrumb {
  padding: 20px 0;
  color: $off-black;
  a, span, i {
    font-size: 90%;
  }
  .divider,
  span {
    color: $off-black;
  }
  a {
    @include link-colors($blue, $hover: $drenched-blue, $active: $white, $focus: $white);
  }
  i:last-child {
    display: none;
  }
}

//************
// Local Tasks
//************

#primary-tabs,
#secondary-tabs {
  margin: 1em 0;
  .reset-appearance {
    @include element-invisible;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  a {
    margin: 0 1em 0 0;
    &.active {
      color: $link-color-active !important;
    }
  }
}
