body.has-sidr {
  header nav {
    @include bear-element-invisible;
    @include breakpoint($breakpoint-medium-width) {
      @include bear-element-invisible-off;
      overflow: visible;
    }
  }
}
header nav {
  outline: 0;
  .nolink {
    cursor: pointer;
  }
  ul.main-nav {
    position: relative;
    margin: 0;
    transition: margin .3s ease-in-out;
    > li.main-nav__item {
      padding: 20px 0;
      margin: 0;
      &:hover {
        ul.main-nav__sub {
          top: 55px;
          opacity: .9;
          visibility: visible;
        }
      }
    }
    li a {
      text-decoration: none;
      padding: 8px 12px;
      transition: all .2s ease-in-out;
      font-weight: bold;
      border-radius: 4px;
      @include link-colors($zivtech-dark, $hover: $zivtech-blue, $active: $zivtech-blue, $focus: $zivtech-blue);
      &:hover,
      &:focus {
        text-decoration: none;
      }
      &.is-active {
        background: #ddd;
      }
    }
  }
  ul.main-nav {
    li.parent {
      position: relative;
      &:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $zivtech-dark;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -30px;
        transition: all .2s ease-in-out;
        opacity: 0;
      }
      &:hover {
        &:after {
          opacity: .8;
          bottom: 5px;
        }
      }
      ul.main-nav__sub {
        border-radius: 8px;
        background: $zivtech-off-black;
        border: 0;
        margin: 0;
        padding: 20px 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        transition: all .2s ease-in-out;
        min-width: 200px;
        opacity: 0;
        visibility: hidden;
        li.main-nav__item {
          margin-bottom: 8px;
          padding: 0 10px;
          display: block;
          a {
            @include link-colors($zivtech-white, $hover: $zivtech-pale, $active: $zivtech-pale, $focus: $zivtech-pale);
            &:hover, &:focus {
              background: transparent;
              text-decoration: underline;
            }
            &.is-active {
              background: transparent;
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
        .main-nav__item {
          text-transform: initial;
          margin-bottom: 0;
          &:hover,
          &:focus,
          &.active {
            background: transparent;
            color: $zivtech-blue;
          }
          &:after {
            display: none;
          }
        }
      }
    }
  }
  .main-nav__sub {
    li.parent > a:after,
    li.parent:hover > a:after {
      content: "";
      height: 0;
      width: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid $zivtech-white;
      @include align(v);
      right: -5px;
      bottom: 0;
      left: inherit;
      margin: 3px 0 0 0;
      display: inline-block !important;
      opacity: 1 !important;
    }
    li.parent:after {
      display: none;
    }
  }
  .main-menu--level-three {
    top: -10px;
  }
}

.wrapper--header.compressed {
  header nav {
    ul.main-nav {
      @include breakpoint($breakpoint-medium-width) {
        margin: 5px 0;
      }
    }
  }
}

//********************************
// Support for SIDR responsive NAV
//********************************

#sidr-bttn,
#mobile-nav {// this is what we use for our responsive menu
  $span-transition: all .3s cubic-bezier(0.7, 0, 0.36, 0.63);
  margin-left: 20px;
  #responsive-menu-button {
    display: block;
    width: 25px;
    height: 30px;
    position: relative;
  }
  span {
    display: block;
    position: relative;
    background: $zivtech-dark;
    height: 2px;
    transition: $span-transition;
    width: 22px;
    top: 15px;
    &:before, &:after {
      content: "";
      display: block;
      background: $zivtech-dark;
      height: 2px;
      margin-top: 0;
      position: absolute;
      width: 22px;
      transition: $span-transition;
    }
    &:before {
      top: 7px;
    }
    &:after {
      top: -7px;
    }
  }
}

.sidr-animating {
  .wrapper--header {
    position: absolute;
  }
}
h2.sidr-class-visually-hidden {
  @include bear-element-invisible;
}

//***********************
// Regular responsive NAV
//***********************
#mobile-nav {
  position: absolute;
  right: 10px;
  top: 0;
  width: 40px;
  height: 40px;
  &.hidden {
    display: none;
  }
  #mobile-button {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    left: 5px;
    top: 2px;
    &.on {
      span {
        background: transparent;
        &:before,
        &:after {
          top: 0;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

// Extra SIDR handling
body.sidr-open {
  #header {
    .responsive-nav {
      left: 20px;
    }
    .site-header__logo {
      opacity: 0;
    }
  }
  #header #sidr-bttn {
    margin-left: 0;
    span {
      background: transparent;
      &:before,
      &:after {
        top: 0;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
.sidr-animating {
  .wrapper--header {
    position: absolute;
  }
}

#block-bear-coat-main-menu {
  &.mobile {
    float: none;
    ul.main-nav {
      position: absolute;
      top: 35px;
      right: 18px;
      background: white;
      border-radius: 4px;
      width: 200px !important;
      padding: 10px !important;
      box-shadow: 0 0 5px #999;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      @include bear-element-invisible;
      &:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $zivtech-dark;
        position: absolute;
        right: 7px;
        top: -8px;
      }
      li {
        clear: both;
        display: block;
        padding: 0;
        &:after {
          display: none !important;
        }
        a {
          background: transparent !important;
          transition: none;
          color: $zivtech-dark;
          &:hover,
          &:focus,
          &.active {
            color: $zivtech-blue !important;
            text-decoration: none;
          }
        }
      }
      &.show {
        @include bear-element-invisible-off;
        position: absolute !important;
        opacity: 1;
        overflow: visible;
      }
      .parent:hover ul {
        @include bear-element-invisible-off;
        position: relative;
        border: 0;
        top: 0;
        opacity: 1;
        min-width: auto;
        padding: 0 0 0 25px;
        background: transparent;
        li {
          a {
            text-transform: none;
            color: $zivtech-dark;
          }
        }
      }
    }
  }
}

//******
// Pager
//******

.pager-wrapper {
  position: relative;
  width: 100%;
  display: inline-block;
  min-height: 50px;
  margin: 30px 0;
}

//************
// Breadcrumbs
//************

nav.ui.breadcrumb {
  padding: 20px 0;
  color: rgba(0, 0, 0, 0.4);
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    display: inline;
    font-size: 90%;
  }
  a {
    @include link-colors($zivtech-dark, $hover: $zivtech-blue, $active: $zivtech-pale, $focus: $zivtech-pale);
  }
  i:last-child {
    display: none;
  }
}

//************
// Local Tasks
//************

#primary-tabs,
#secondary-tabs {
  margin: 1em 0;
  .reset-appearance {
    @include element-invisible;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
    &.active {
      a {
        color: $active-link-color !important;
      }
    }
  }

}
