.region-navigation {
  transition: left .3s ease-in-out;
  padding: .5em;
  margin: 0 2em;
  float: left;
  nav {
    outline: 0;
    margin: 0;
    ul.menu {
      padding: 0;
      margin: 0;
    }
    div {
      display: inline-block;
      vertical-align: top;
      &.item {
        position: relative;
        &:hover > a {
          color: $link-color-hover;
        }
        &:hover > .secondary {
          visibility: visible;
          opacity: 1;
          top: 2.4em;
        }
      }
      &.secondary {
        transition: all .2s ease-in-out;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        left: -.5em;
        top: 1.5em;
        width: 15em;
        background: $white;
        border: 1px solid $gray;
        border-top: 2px solid $gray;
        padding: .5em;
        border-radius: 4px;
        &:before {
          content: "";
          border-left: 8px solid transparent;
        	border-right: 8px solid transparent;
        	border-bottom: 8px solid $gray;
          top: -8px;
          left: 2em;
          position: absolute;
        }
        a {
          font-size: 90%;
          display: inline-block;
          padding: .2em 0;
          margin-bottom: .2em;
        }
      }
    }
    a {
      margin: 0 .5em;
      padding: 1.2em 0;
      &.active {
        color: $link-color-hover;
      }
    }
  }
}

// SIDR
#sidr-wrapper-0 {
  position: absolute;
  right: 0;
  top: .5em;
}
.sidr-inner {
  border-bottom: 1px solid #4d4d4d;
  padding: 0 !important;
  a {
    width: 100%;
    display: block;
    padding: .5em 1em;
    color: $white;
    line-height: 2.5em;
    border-bottom: 1px solid #1a1a1a;
    border-top: 1px solid #4d4d4d;
    &:focus,
    &:hover,
    &.sidr-class-active {
      box-shadow: inset 0 0 15px 3px #222;
    }
    &:last-child {
      border-bottom: 1px solid #1a1a1a;
    }
  }
}
body.sidr-open {
  #sidr-wrapper-0 {
    margin-left: 0;
    position: absolute;
    left: 1em;
    span {
      background: transparent;
      &:before,
      &:after {
        top: 0;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
  #header #logo-container {
    opacity: 0;
  }
}

//******
// Pager
//******

.pager-wrapper {
  position: relative;
  width: 100%;
  display: inline-block;
  min-height: 50px;
  margin: 10px 0 0 0;
}
.ui.pagination.menu {
  @include align(h);
}

//************
// Breadcrumbs
//************

nav.ui.breadcrumb {
  padding: 20px 0;
  color: $off-black;
  a, span, i {
    font-size: 90%;
  }
  .divider,
  span {
    color: $off-black;
  }
  a {
    @include link-colors($blue, $hover: $drenched-blue, $active: $white, $focus: $white);
  }
  i:last-child {
    display: none;
  }
}

//************
// Local Tasks
//************

#primary-tabs,
#secondary-tabs {
  margin: 1em 0;
  .reset-appearance {
    @include element-invisible;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  a {
    margin: 0 1em 0 0;
    &.active {
      color: $link-color-active !important;
    }
  }
}
