.front {
  .home-page-banner {
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-top: $header-compressed-height;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint($breakpoint-large-width) {
      min-height: 500px;
      margin-top: $header-height;
    }
    header {
      font-size: 4rem;
      color: $black;
    }
    &.default {
      background-image: url('../images/default.jpg');
    }
  }
}
