.panel-display {
	.left,
	.right {
		padding: 0;
	}
	@include breakpoint($breakpoint-medium-width) {
		.column.right {
      padding: 0 0 20px 50px;
    }
    .column.left {
      padding: 0 50px 20px 0;
    }
	}
}
.site-sidebars {
	padding: 0;
	@include breakpoint($breakpoint-medium-width) {
		&.sidebar-second {
			padding: 0 0 20px 50px;
		}
		&.sidebar-first {
			padding: 0 50px 20px 0;
		}
	}
}
