.branding {

  &__site-logo {
    width: 50px;
    height: 50px;

    @include breakpoint($bp-768) {
      width: 100px;
      height: 100px;
    }
  }

  &__flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__site-name {
    @include element-invisible;

    margin: 0 .5rem;

    @include breakpoint($bp-768) {
      @include element-invisible-off;
    }

    @include breakpoint($bp-768) {
      margin: 0 1rem;
    }
  }

  &__site-slogan {
    font-size: 12px;
    margin: 0 .5em;

    @include breakpoint($bp-768) {
      font-size: 14px;
      margin: 0 1rem;
    }
  }
}
