.branding {

  &__site-logo {
    width: 50px;
    height: 50px;
    display: block;
    position: relative;

    object {
      position: absolute;
      z-index: -1;
    }

    @include breakpoint(break-2) {
      width: 75px;
      height: 75px;
    }
  }

  &__flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__site-name {
    @include element-invisible;

    margin: 0 .5rem;

    @include breakpoint(break-2) {
      @include element-invisible-off;
      @include sans;
      @include fontsize(12, 0);

      text-transform: uppercase;
      margin: 0 1rem;
      font-weight: 700;
    }
  }

  &__site-slogan {
    font-size: 12px;
    margin: 0 .5em;

    @include breakpoint(break-2) {
      font-size: 14px;
      margin: 0 1rem;
    }
  }
}
