.branding__site-logo {
  height: 50px;
  width: 50px;
}

.logo {
  height: 100%;
}

.branding__site-logo object {
  position: absolute;
  z-index: -1; /* fix to get link to work over the SVG object */
}
