// vendor
@import "../sass/vendor";
@import "../sass/variables";
@import "../sass/mixins";
@import "../sass/reusable";

// These style apply to all panels-layouts

.panel-display {
  @include cf;
  margin-bottom: 2 * $vertical-gutter;

  .column, .row {
    @include cf;
    margin-bottom: $vertical-gutter;
    box-sizing: border-box;
  }

  .row {
    clear: both;

    &:last-child {
      margin-bottom: 0;
    }
  }
}