//
// Font faces, stacks and sizes.
//
// Compass' vertical_rhythm extension is a powerful tool to set up a vertical
// rhythm for your entire page. You can see some of its mixins and functions in
// use in the normalize.scss file.
// @see http://compass-style.org/reference/compass/typography/vertical_rhythm/

$base-font-size:   16px !default; // The font size set on the root html element.
$base-line-height: 24px !default; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 2    * $base-font-size !default;
$h2-font-size: 1.5  * $base-font-size !default;
$h3-font-size: 1.17 * $base-font-size !default;
$h4-font-size: 1    * $base-font-size !default;
$h5-font-size: 0.83 * $base-font-size !default;
$h6-font-size: 0.75 * $base-font-size !default;

// The following font family declarations are based on the Microsoft core web
// fonts which are common fonts available on most computer systems. The DejaVu
// and Nimbus Sans fonts are commonly available on Linux systems where the MS
// fonts are less common. Tahoma and Helvetica are also widely available.
//
// A user's web browser will look at the comma-separated list and will
// attempt to use each font in turn until it finds one that is available
// on the user's computer. The final "generic" font (sans-serif, serif or
// monospace) hints at what type of font to use if the web browser doesn't
// find any of the fonts in the list.

// First, let's create some font stacks.
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif !default;
$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif !default;
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif !default;

$verdana:         Verdana, Tahoma, "DejaVu Sans", sans-serif !default;
$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif !default;
$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif !default;
$arial:           Arial, Helvetica, "Nimbus Sans L", sans-serif !default;

// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$courier:         "Courier New", "DejaVu Sans Mono", monospace, sans-serif !default;

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $verdana !default; // The font family set on the html element.
$font-body:        $verdana !default;
$font-monospace:   $courier !default;

//
// Typography variables
//
$link-color: $blue !default;
$link-color-hover: darken($link-color, 10%);