@mixin ui-molecules($light, $normal, $dark, $gradient-top, $gradient-bottom, $hover-gradient-top, $hover-gradient-bottom) {


code {
  border: 1px dotted $ui-light-grey;
  background: $ui-lightest-grey;
}

details {

  .summary {
    background: $wild-sand;
  }

  &[open] {

    .details-wrapper {
      border: 1px solid $ui-light-grey;
    }
  }
}

.summary {
  background: $ui-lightest-grey;
  border: 1px solid $ui-light-grey;
}


.wrapper-breadcrumb {
  border-top: 1px solid $ui-lightest-grey;
}

.menu {

  &--main {

    a.is-active,
    .menu-item--active-trail a {
      @include button($gradient-top, $gradient-bottom, $hover-gradient-top, $hover-gradient-bottom);
      @include font-size(.9);

      font-family: $serif;
    }

    &.open {

      .menu {

        &__link {

          &:hover,
          &:focus,
          &.is-active {
            background: $normal;
          }
        }
      }
    }
  }
}

.pager {

  i {

    &::before {
      background: $normal;
    }

    &:focus,
    &:hover {

      &:before {
        background: $dark;
      }
    }
  }
}

.tabs {

  &__tab {
    border-radius: $ui-border-radius $ui-border-radius 0 0;
  }

  &__tab-link {
    border-radius: $ui-border-radius $ui-border-radius 0 0;
    color: $ui-grey;

    &:hover,
    &:focus,
    &.is-active {
      color: $ui-black;
    }
  }
}

.progress {
  @include margin(1, 0);

  &__track {
    border: 1px solid $ui-light-grey;
    background: $ui-lightest-grey;
    height: 25px;
    border-radius: $ui-border-radius;
  }

  &__bar {
    height: 100%;
    background: $normal;
    border-radius: $ui-border-radius;
  }

  &__percentage {
    @include padding(.5, .5);

    color: $normal;
    font-family: $sans;
    text-align: center;
  }
}

table {
  border: 1px solid $ui-light-grey;

  thead {
    background: $ui-light-grey;
  }

  tbody {

    tr {
      border-bottom: 1px solid $ui-light-grey;

      &:last-child {
        border: 0;
      }
    }

    tr:nth-child(odd) {
      background: lighten($ui-lightest-grey,2%);
    }
  }
}

#msearch {
  color: $zeus;

  &:hover,
  &:focus {
    color: $normal;
  }
}

#search-block-form {

  .form-search {
    border-radius: $ui-border-radius 0 0 $ui-border-radius;
  }

  .form-submit {
    border-radius: 0 $ui-border-radius $ui-border-radius 0;
  }
}


} // closing the mixin
