//
// Button styles
//
%button {
  @include bear-button;
}

%button.secondary {
  background-color: $button-secondary-color;
  color: $button-secondary-font-color;
  &:hover, &:focus {
    background-color: darken($button-secondary-color, 10%);
  }
}

%button.highlight {
  background-color: $button-highlight-color;
  color: $button-highlight-font-color;
  &:hover, &:focus {
    background-color: darken($button-highlight-color, 10%);
  }
}

%button-nude {
  @include bear-button-nude;
}

%button-nude.secondary {
  border-color: $button-secondary-color;
  color: $button-secondary-color;
  &:before {
    background-color: rgba($button-secondary-color, 0.2);
  }
}

%button-nude.highlight {
  border-color: $button-highlight-color;
  color: $button-highlight-color;
  &:before {
    background-color: rgba($button-highlight-color, 0.2);
  }
}


.button {
  @extend %button;

  &.secondary {
    @extend %button.secondary;
  }

  &.highlight {
    @extend %button.highlight;
  }
}

.button-nude {
  @include bear-button-nude;

  &.secondary {
    @extend %button-nude.secondary;
  }

  &.highlight {
    @extend %button-nude.highlight;
  }
}