@mixin ui-atoms($light, $normal, $dark, $gradient-top, $gradient-bottom, $hover-gradient-top, $hover-gradient-bottom) {

.button {
  @include button($gradient-top, $gradient-bottom, $hover-gradient-top, $hover-gradient-bottom);

  &.link {
    border: 1px solid $ui-light-grey;
    background: $ui-lightest-grey;
  }
}

button {

  &.link {
    background: $ui-lightest-grey;
    border: 1px solid $ui-light-grey;
  }
}

.form-text,
.form-email,
.form-textarea,
.form-date {
  border: 1px solid $ui-light-grey;

  &:focus {
    border-color: $normal;
  }
}

.filter-wrapper {
  border: 1px solid $ui-light-grey;
}

.description {
  color: $ui-grey;
}

.ajax-progress-throbber {

  .throbber {
    border: .3rem solid $normal;
    border-top-color: $gallery;
  }
}

fieldset {
  border: 1px solid $ui-light-grey;
}

.checkbox-wrapper {
  border: 2px solid $ui-light-grey;
  border-radius: $ui-border-radius;
  background: $ui-lightest-grey;

  i {
    color: $normal;
  }
}

.radio-wrapper {
  border: 2px solid $ui-light-grey;
  background: $ui-lightest-grey;

  i {
    color: $normal;
  }
}

.select-wrapper {
  border: 1px solid $gallery;
  border-radius: $ui-border-radius;
  background: $ui-lightest-grey;

  &::after {
    background: $ui-grey;
    border-radius: 0 $ui-border-radius $ui-border-radius 0;
  }
}


} // closing the mixin
