b,
strong {
  font-weight: 700;
}

q {
  @include fontsize(20, 0);

  &::after {
    position: relative;
    top: 1rem;
  }
}

a {
  @include link($linkColour, none, $hoverColour, none);

  transition: color .3s ease-in-out;
}