b,
strong {
  font-weight: 700;
}

.serif {
  font-family: unquote(map-get($headingtype, font-family));;
}

.sans {
  font-family: unquote(map-get($bodytype, font-family));
}

a {
  @include link($linkColour, none, $hoverColour, none);

  transition: color .3s ease-in-out;
}