@import "../../00-utilities/variables.css";

body, .sans {
  @apply --bodytype;
}

h1, h2, h3, h4, h5, .serif {
  @apply --headingtype;
}

q::after {
  position: relative;
  top: 1rem;
}

a {
  /*@include link($c-link, none, $c-link-hover, none);*/
  transition: color .3s ease-in-out;
}
