body, .sans {
  font-family: var(--sans);
}

h1, h2, h3, h4, h5, .serif {
  font-family: var(--serif);
}

q::after {
  position: relative;
  top: 1rem;
}

a {
  /*@include link($c-link, none, $c-link-hover, none);*/
  transition: color .3s ease-in-out;
}
