<hr class="pl">
<h3 class="upc">Headers</h3>
<hr class="pl">

<h1>h1 Header</h1>
<h2>h2 Header</h2>
<h3>h3 Header</h3>
<h4>h4 Header</h4>
<h5>h5 Header</h5>

<hr class="pl">
<h3 class="upc">Paragraphs</h3>
<hr class="pl">

<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.</p>

<p>Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor.</p>

<hr class="pl">
<h3 class="upc">Font Types</h3>
<hr class="pl">

<p class="serif">SERIF NORMAL<br> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

<p class="serif">SERIF BOLD<br> <b>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna.</b></p>

<p class="sans">SANS-SERIF NORMAL<br>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

<p class="sans">SANS-SERIF BOLD<br><b>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna.</b></p>

<hr class="pl">
<h3 class="upc">UI Colors</h3>
<hr class="pl">

<div id="swatches">

  <div class="swatch">
    <div class="square bg--light">Light</div>
    <samp>.light</samp>
  </div>

  <div class="swatch">
    <div class="square bg--normal">Normal</div>
    <samp>.normal</samp>
  </div>

  <div class="swatch">
    <div class="square bg--dark">Dark</div>
    <samp>.dark</samp>
  </div>

  <div class="swatch">
    <div class="square bg--lightest-grey">Lightest grey</div>
    <samp>.lightest-grey</samp>
  </div>

  <div class="swatch">
    <div class="square bg--light-grey">Light grey</div>
    <samp>.light-grey</samp>
  </div>

  <div class="swatch">
    <div class="square bg--grey">Grey</div>
    <samp>.grey</samp>
  </div>

</div>

<hr class="pl">
<h3 class="upc">Links</h3>
<hr class="pl">
<p>This is a <a href="#">link</a>.</p>
