<hr class="pl">
<h3 class="upc">Headers</h3>
<hr class="pl">

<p><h1>h1 Header</h1></p>
<p><h2>h2 Header</h2></p>
<p><h3>h3 Header</h3></p>
<p><h4>h4 Header</h4></p>
<p><h5>h5 Header</h5></p>

<hr class="pl">
<h3 class="upc">Paragraphs</h3>
<hr class="pl">

<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.</p>

<p>Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor.</p>

<hr class="pl">
<h3 class="upc">Font Types</h3>
<hr class="pl">

<p class="serif">SERIF NORMAL<br> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

<p class="serif">SERIF BOLD<br> <b>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna.</b></p>

<p class="sans">SANS-SERIF NORMAL<br>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

<p class="sans">SANS-SERIF BOLD<br><b>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna.</b></p>

<hr class="pl">
<h3 class="upc">UI Colors</h3>
<hr class="pl">

<div class="square light--bg"></div>
Light <samp>.light</samp>
<br class="clearfix" />

<div class="square normal--bg"></div>
Normal <samp>.normal</samp>
<br class="clearfix" />

<div class="square dark--bg"></div>
Dark <samp>.dark</samp>
<br class="clearfix" />

<div class="square lightest-grey--bg"></div>
Lightest grey <samp>.lightest-grey</samp>
<br class="clearfix" />

<div class="square light-grey--bg"></div>
Light grey <samp>.light-grey</samp>
<br class="clearfix" />

<div class="square grey--bg"></div>
Grey <samp>.grey</samp>
<br class="clearfix" />

<hr class="pl">
<h3 class="upc">Links</h3>
<hr class="pl">
<p>This is a <a href="#">link</a>.</p>
