{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% set main_class = 'page-404' %}

{% extends "@pages/page/page.twig" %}

  {% block region_header %}
    {% include "@organisms/header/header.twig" with {
    "content": {
      "join()": [
        page.header,
        page.navigation
        ]
      }
    }
  %}
  {% endblock %}

  {% block region_search %}
    {{ page.search }}
  {% endblock %}

  {% block region_help %}
    {{ page.help }}
  {% endblock %}

  {% block region_content %}
    <h1>404<span class="visually-hidden"> Page Not Found</span></h1>
    <h2>Uh Oh! Looks like we've stopped you dead in your tracks</h2>
    <a href="/" title="Back to home"><button class="button button--404">Back to home</button></a>
  {% endblock %}

  {% block region_breadcrumb %}
  {% endblock %}
