//*******
// Mixins
//*******

@mixin form-container($margin: $form-input-container-margin) {
  @include cf;
  margin: $margin;
  width: 100%;
  float: none;
}

@mixin form-element($padding: $form-input-padding, $color: $form-input-font-color, $bg-color: $form-input-bg-color, $border-color: $form-input-border-color) {
  color: $color;
  background-color: $bg-color;
  padding: $padding;
  border: $border-color 1px solid;
  border-radius: $border-radius;
  &:focus,
  &:hover,
  &:active {
    box-shadow: none;
  }
  &:focus {
    border: 1px solid $form-input-active-color;
  }
  &.error {
    border: 1px solid $color-error;
  }
}

//**************************
// Vertical Tabs
//**************************
.vertical-tabs__panes {
  overflow: hidden;
}

//**************************
// Main Search Form
//**************************

.search-block-form {
  .ui.search .prompt {
    border-radius: 500rem !important;
    padding: 0.5em 1em;
    font-size: 14px;
  }
}

//**************************
// Support for compact forms
//**************************

.compact-form-label {
  top: 9px;
  left: 17px;
  z-index: 1;
  font-size: 100%;
}

//**********************
// No Semantic Fallbacks
//**********************

body:not(.semantic-ui):not(.panels-ipe) {
  form {
    input.form-submit {
      background: #eee;
      border: 1px solid #ccc;
      padding: 5px 10px 6px 10px;
      border-radius: 3px;
      transition: all .2s ease-in-out;
      margin-top: 5px;
      &:hover, &:focus {
        background: #666;
        color: white;
        border-color: #222;
      }
    }
    .description {
      font-size: 80%;
      color: $bear-lighten-dark;
      font-style: italic;
      padding: 0 10px;
      margin: 10px 0;
      border-left: dotted 1px #aaa;
      max-width: 600px;
    }
  }
  #breadcrumbs {
    .chevron {
      &:before {
        content: ">";
        padding: 0 8px;
        color: $zivtech-dark;
      }
    }
  }
}