//
// Mixins
//
@mixin form-container($margin: $form-input-container-margin) {
  @include cf;
  margin: $margin;
  width: 100%;
  float: none;
}

@mixin form-element($padding: $form-input-padding, $color: $form-input-font-color, $bg-color: $form-input-bg-color, $border-color: $form-input-border-color) {
  color: $color;
  background-color: $bg-color;
  padding: $padding;
  border: $border-color 1px solid;
  border-radius: $border-radius;

  &:focus,
  &:hover,
  &:active {
    box-shadow: none;
  }
  &:focus {
    border: 1px solid $form-input-active-color;
  }

  &.error {
    border: 1px solid $color-error;
  }
}


//
// CSS classes
//

body.semantic-ui .ui.form,
body.semantic-ui .ui.search-form {
  font-family: $body-text-font-family;
  padding: 0;
  input {
    font-family: $body-text-font-family;
  }
  .form-item, 
  fieldset {
    max-width: 600px;
    position: relative;
    margin-bottom: 20px;
  }
  legend {
    margin-left: 0;
  }
  .description {
    font-size: 90%;
    color: $bear-lighten-dark;
  }
  label {
    display: block;
    clear: both;
    margin-bottom: 5px;
    font-weight: normal;
  } 
  .ui.dropdown {
    min-width: 100%;
    .menu {
    > .item {
      font-size: 14px;
      padding-left: 1.1em !important;
      }
    }
    > input.search {
      z-index: 10;
    }
  }
  &.segment {
    border: 0;
    margin: 0;
    padding: 20px;
  }
  .views-exposed-form {
    position: relative;
    .views-exposed-widgets {
      transition: opacity .2s ease-in-out;
    }
    &.ajaxx .views-exposed-widgets {
      opacity: .2;
      & {
        opacity: 0;
      }
    }
  }
  .hidden-submit {
    position: absolute;
    width: 100%;
    top: 0;
    float: none;
    margin: 0;
    display: block;
  }
  .ui.loading {
      top: -70px !important;
    }
}

// Support for compact forms
.compact-form-label {
  top: 9px;
  left: 17px;
  z-index: 1;
  font-size: 100%;
}