// Form Elements
//
// Styleguide 4.0

//
// Mixins
//

// Text input
//
// Markup:
// <form class="ui form segment">
//   <div class="form-item labeled">
//      <label>Label</label>
//      <input type="text" name="first-name" placeholder="First Name">
//      <div class="mt"></div>
//   </div>
// </form>
//
// Styleguide 4.1

// Text area
//
// Markup:
// <form class="ui form segment">
//   <div class="form-item labeled">
//      <label>Label</label>
//      <textarea></textarea>
//   </div>
// </form>
//
// Styleguide 4.2

// Submit
//
// Markup:
// <form class="ui form segment">
//   <input class="ui button" type="submit" value="Send" />
// </form>
//
// Styleguide 4.3

// Select List
//
// Markup:
// <form class="ui form segment">
//   <select class="ui search dropdown" type="submit" value="Send">
//      <option value="">Your answer</option>
//      <option value="Yes">Yes</option>
//      <option value="No">No</option>
//   </select>
// </form>
//
// Styleguide 4.4

// Select List (radio)
//
// Markup:
// <div class="form-item form-type-radios off-label required form-item">
//   <label for="edit-submitted-yes">Yes?</label>
//   <div id="edit-submitted-yes" class="form-radios">
//     <div class="ui radio checkbox form-item">
//       <input required="required" type="radio" id="edit-submitted-yes-1" name="yes" value="Yes" class="form-radio">
//       <label for="edit-submitted-yes-1">yes</label>
//     </div>
//     <div class="ui radio checkbox form-item">
//       <input required="required" type="radio" id="edit-submitted-yes-2" name="yes" value="No" class="form-radio">
//       <label for="edit-submitted-yes-2">no</label>
//     </div>
//   </div>
// </div>
//
// Styleguide 4.5

// Select List (checkbox)
//
// Markup:
// <div class="form-item form-type-checkboxes off-label required form-item">
//   <label for="edit-submitted-yes">When?</label>
//   <div id="edit-submitted-yes" class="form-radios">
//     <div class="ui checkbox form-item">
//       <input required="required" type="checkbox" id="edit-submitted-yes-1" name="yes" value="Yes" class="form-radio">
//       <label for="edit-submitted-yes-1">Day</label>
//     </div>
//     <div class="ui checkbox form-item">
//       <input required="required" type="checkbox" id="edit-submitted-yes-2" name="yes" value="No" class="form-radio">
//       <label for="edit-submitted-yes-2">Night</label>
//     </div>
//   </div>
// </div>
//
// Styleguide 4.5

@mixin form-container($margin: $form-input-container-margin) {
  @include cf;
  margin: $margin;
  width: 100%;
  float: none;
}

@mixin form-element($padding: $form-input-padding, $color: $form-input-font-color, $bg-color: $form-input-bg-color, $border-color: $form-input-border-color) {
  color: $color;
  background-color: $bg-color;
  padding: $padding;
  border: $border-color 1px solid;
  border-radius: $border-radius;
  &:focus,
  &:hover,
  &:active {
    box-shadow: none;
  }
  &:focus {
    border: 1px solid $form-input-active-color;
  }
  &.error {
    border: 1px solid $color-error;
  }
}

//**************************
// Support for compact forms
//**************************

.compact-form-label {
  left: 17px;
  z-index: 1;
  font-size: 100%;
}

//**********************
// No Semantic Fallbacks
//**********************

body:not(.semantic-ui) {
  form {
    input.form-submit {
      background: #eee;
      border: 1px solid #ccc;
      padding: 5px 10px 6px 10px;
      border-radius: 3px;
      transition: all .2s ease-in-out;
      margin-top: 5px;
      &:hover, &:focus {
        background: #666;
        color: white;
        border-color: #222;
      }
    }
    .description {
      font-size: 80%;
      color: $bear-lighten-dark;
      font-style: italic;
      padding: 0 10px;
      margin: 10px 0;
      border-left: dotted 1px #aaa;
      max-width: 600px;
    }
  }
  .ui.segment {
    box-shadow: none;
    border: 0;
    padding: 1em 0;
  }
  #breadcrumbs {
    .chevron {
      &:before {
        content: ">";
        padding: 0 8px;
        color: $black;
      }
    }
  }
}

.form-item,
fieldset {
  position: relative;
  margin: 5px 0;
  display: block;
  clear: both;
  height: auto !important;
  border: 0;
  padding: 0;
  legend {
    margin-left: 0;
  }
  .fieldset-wrapper {
    background: $lightgray;
    padding: 1em;
    border: 1px dotted $gray;
    margin: 1em 0;
    overflow: visible !important;
  }
  &.required {
    > label {
      &:after {
        margin: -0.2em 0em 0em 0.2em;
        content: '*';
        color: #db2828;
      }
    }
  }
  textarea {
    &.error {
      border-color: $red;
    }
  }
}
.description {
  font-size: 80%;
  color: $grayer;
  font-style: italic;
  padding: 0 10px;
  margin: 10px 0;
  border-left: dotted 1px #aaa;
  max-width: 38em;
}

.ui .form-item.labeled {
  label {
    max-width: 30em;
    &.error {
      color: $red !important;
    }
  }
  input {
    max-width: 30em;
    margin: 0;
    border: 0;
    border-radius: 0 !important;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    background: rgba(0,0,0,0.04);
    padding: .67em .5em;
    &:focus,
    &.valued {
      outline: 0;
      box-shadow: none;
      background: rgba(0,0,0,0.04);
      border-bottom-color: transparent;
    }
    &.error {
      border-bottom-color: $red;
      -webkit-text-fill-color: $black !important;
      &:focus,
      &.valued {
        border-bottom-color: transparent !important;
      }
    }
  }
  textarea {
    margin: 0;
    border: 0;
    border-radius: 0 !important;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    background: rgba(0,0,0,0.04);
    padding: .67em .5em;
    &:focus {
      border-bottom: 2px solid rgba(0,0,0,0.5);
    }
  }
  .mt {
    width: 100%;
    position: relative;
    max-width: 30em;
    margin-bottom: .3em;
    &:before, &:after 	{
      content: '';
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: rgba(0,0,0,0.5);
      transition: 0.2s all ease-in-out;
    }
    &.error {
      &:before, &:after {
        background: transparent;
      }
      &.focus {
        &:before, &:after {
          background: rgba(0,0,0,0.5);
        }
      }
    }
    &:before {
      left: 50%;
    }
    &:after {
      right: 50%;
    }
    &.focus {
      &:before, &:after {
        width: 50%;
      }
    }
  }
}
input.ui.button[type="submit"] {
  margin-top: 0.5em;
}

.form-type-textarea {
  max-width: 40em;
}

.form-item {
  margin-bottom: 1.5em;
}

#comments {
  margin-top: 2em;
}

.text-format-wrapper {
  .form-item {
    margin-bottom: 0;
  }
  .ckeditor_links, fieldset {
    font-size: 90%;
  }
}

.form-item {
  label {
    color: #000;
    display: block;
    font-weight: normal;
  }
  .form-item {
    margin-bottom: .5em;
  }
}

.ui.dropdown {
  color: $off-black;
  .text {
    font-size: 14px;
  }
  .default.text {
    color: $grayer;
  }
}

::placeholder {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  color: $gray;
  font-family: $body-text-font-family;
}
:focus::placeholder {
  opacity: .5;
  color: $grayer;
}
