.wrapper {
  min-width: 320px;
}
.main__content {
    .column {
    &.right {
      padding-left: 50px;
    }
    &.left {
      padding-right: 50px;
    }
  }
}

.breadcrumbs-wrapper {
  @include cf;
  @include breakpoint($breakpoint-full-width) {
    padding: 0 20px;
  }
}

.field-collection-view {
  margin: 0;
}