//**********************
// Semantic UI Overrides
//**********************

$headers-font: 'Droid Sans', sans-serif;
$body-font: 'Helvetica Neue', Helvetica,sans-serif;

body.semantic-ui:not(.panels-ipe) {
  .ui {
    font-size: 100%;
    font-family: $body-font;
    .field {
      > label {
        font-size: 100%;
      }
    }
    &.popup {
      padding: 10px;
    }
  }
  .ui.link.menu .item:hover,
  .ui.menu .dropdown.item:hover,
  .ui.menu .link.item:hover,
  .ui.menu a.item:hover,
  .ui.link.menu .item:focus,
  .ui.menu .dropdown.item:focus,
  .ui.menu .link.item:focus,
  .ui.menu a.item:focus {
    color: $zivtech-blue;
  }
  #content {
    .ui.fluid.input > input {
      width: auto !important;
    }
  }
}
.sidebar {
  font-size: 90%;
}

body.semantic-ui:not(.panels-ipe) .ui.form,
body.semantic-ui:not(.panels-ipe) .ui.search-form {
  font-family: $body-text-font-family;
  padding: 0;
  .form-wrapper:not(.form-actions) {
    background: #f8f8f8;
    padding: 10px 20px;
    border-radius: 0.285714rem;
    margin: 5px 0;
    display: inline-block;
    width:100%;
    .form-wrapper {
      padding: 10px 0;
    }
    legend {
      margin: 5px 0 20px 0;
      float: left;
      clear: both;
    }
    summary {
      font-weight: bold;
      margin-bottom: 5px;
      cursor: pointer;
    }
    .fieldset-description {
      clear: both;
    }
  }
  input {
    font-family: $body-text-font-family;
  }
  .form-item,
  fieldset {
    position: relative;
    margin-bottom: 5px;
    display: block;
    clear: both;
    input, .form-select {
      max-width: 600px;
    }
  }
  legend {
    margin-left: 0;
  }
  .description {
    font-size: 80%;
    color: $bear-lighten-dark;
    font-style: italic;
    padding: 0 10px;
    margin: 10px 0;
    border-left: dotted 1px #aaa;
    max-width: 600px;
  }
  label {
    display: block;
    clear: both;
    margin: 10px 0 0 0;
    font-weight: normal;
  }
  .ui.dropdown {
    .menu {
      > .item {
        font-size: 14px;
        padding-left: 1.1em !important;
      }
    }
    > input.search {
      z-index: 10;
    }
  }
  &.segment {
    border: 0;
    margin: 0;
    padding: 20px;
  }
  .views-exposed-form {
    position: relative;
    .views-exposed-widgets {
      transition: opacity .2s ease-in-out;
    }
    &.ajaxx .views-exposed-widgets {
      opacity: .2;
      & {
        opacity: 0;
      }
    }
  }
  .hidden-submit {
    position: absolute;
    width: 100%;
    top: 0;
    float: none;
    margin: 0;
    display: block;
  }
  .ui.loading {
    top: -70px !important;
  }
  .ui.button {
    font-weight: normal;
    text-shadow: 1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgba(255,255,255, .9);
    opacity: 0.9;
    font-size: 15px;
  }
}

.ui.cards {
  margin: 0;
}
.ui.cards > .card {
  @include col();
  @include stack();
  @include breakpoint($breakpoint-medium-width) {
    @include col(1/3, $gutter: 2, $cycle: 3);
  }
}

// fallback when semantic library present but not enabled
body:not(.semantic-ui) {
  .wrapper .ui {
    font-size: 100%;
    font-family: $body-font;
  }
}