//
// Reusable classes
//
%no-margins {
  margin: 0;
}

%no-dangling {
  &:first-child,
  &:first-of-type {
    margin-top: 0;
  }
  &:last-child,
  &:last-of-type {
    margin-bottom: 0;
  }
}

//
// Generic sizing classes
//
%tiny {
  @include rem(font-size, 0.6 * $body-font-size);
}
%smaller {
  @include rem(font-size, 0.7 * $body-font-size);
}
%small {
  @include rem(font-size, 0.9 * $body-font-size);
}
%large {
  @include rem(font-size, 1.1 * $body-font-size);
}
%larger {
  @include rem(font-size, 1.2 * $body-font-size);
}
%largest {
  @include rem(font-size, 1.3 * $body-font-size);
}

//
// CSS classes
//

$headers-font: 'Droid Sans', sans-serif;
$body-font: 'Helvetica Neue', Helvetica,sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
  font-weight: normal;
}
h1 {
  font-size: 4rem;
}
body.semantic-ui {
  h1 {
    margin: 0.67em 0px;
  }
}
h2 {
  font-size: 2.5rem;
  margin: 3rem 0 2rem 0;
}
h3 {
  font-size: 2rem;
  margin: 2.5rem 0 1rem 0;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.2rem;
}
img {
  max-width: 100%;
  height: 100%;
}
body.semantic-ui { 
  .ui {
    font-size: 100%;
    font-family: $body-font;
    .field {
      > label {
        font-size: 100%;
      }
    }
  }
  .ui.link.menu .item:hover, 
  .ui.menu .dropdown.item:hover, 
  .ui.menu .link.item:hover, 
  .ui.menu a.item:hover,
  .ui.link.menu .item:focus, 
  .ui.menu .dropdown.item:focus, 
  .ui.menu .link.item:focus, 
  .ui.menu a.item:focus {
    color: $zivtech-blue;
  }
}
.sidebar {
  font-size: 90%;
}