header {
  div:first-child, div:nth-child(2) {
    float: left;
    width: 100%;
    @include breakpoint($breakpoint-medium-width) {
      width: auto;
    }
  }
}
#block-bear-skin-branding {
  padding: 10px 0 20px 0;
  margin-right: 30px;
}