#header {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.site-header__logo {
	display: inline-block;
}
#sidr-wrapper-0 {// this is what we use for our responsive menu
  $span-transition: all .3s cubic-bezier(0.7, 0, 0.36, 0.63);
  margin-right: $layout-padding;
  #sidr-0-button {
    display: block;
    width: 25px;
    height: 30px;
    position: relative;
  }
  span {
    display: block;
    position: relative;
    background: $zivtech-dark;
    height: 2px;
    transition: $span-transition;
    width: 22px;
    top: 15px;
    &:before, &:after {
      content: "";
      display: block;
      background: $zivtech-dark;
      height: 2px;
      margin-top: 0;
      position: absolute;
      width: 22px;
      transition: $span-transition;
    }
    &:before {
      top: 7px;
    }
    &:after {
      top: -7px;
    }
  }
}