.skip-link {
  @include bear-element-invisible;
  @include bear-element-focusable;
}

.region-navigation {
  .menu {
    margin: 0;
    padding: 1em 0;
    li {
      list-style: none;
      display: inline;
      a {
        margin-right: 1em;
      }
    }
  }
}

// SIDR handling
#sidr-wrapper-0 {
  $span-transition: all .3s cubic-bezier(0.7, 0, 0.36, 0.63);
  margin-right: $layout-padding;
  #sidr-0-button {
    display: block;
    width: 25px;
    height: 30px;
    position: relative;
  }
  span {
    display: block;
    position: relative;
    background: $zivtech-dark;
    height: 2px;
    transition: $span-transition;
    width: 22px;
    top: 15px;
    &:before, &:after {
      content: "";
      display: block;
      background: $zivtech-dark;
      height: 2px;
      margin-top: 0;
      position: absolute;
      width: 22px;
      transition: $span-transition;
    }
    &:before {
      top: 7px;
    }
    &:after {
      top: -7px;
    }
  }
}

h3.sidr-class-u-hidden {
  @include bear-element-invisible;
}

.breadcrumbs {
  margin: 0;
  padding: 20px 0;
  &__item {
    @include inline-block;
    list-style-type: none;
  }
  &__link {
    text-transform: capitalize;
  }
  &__divider {
    @include inline-block;
    margin: 0 5px;
  }
}
