.menu {
  transition: background var(--animation-transition-time) ease-in-out;
}

.menu__item {
  margin-right: .5rem;
  list-style-type: none;
  display: inline;
}

.menu__item--expanded {
  position: relative;
}

.menu__item--expanded:hover .sub-menu,
.menu__item--expanded:focus .sub-menu {
  visibility: visible;
  opacity: 1;
}
