.wrapper-breadcrumb {
  margin-top: 2em;
}

.breadcrumb {
  padding: .5em 0;

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    font-size: 14px;
    font-family: $sans;
    text-transform: uppercase;
    display: inline;
    margin-right: 5px;
  }

  &__link {
    padding-right: 5px;
  }
}
