<nav class="breadcrumb pt05 pb05 mb1 mt1 caps h5" role="navigation" aria-labelledby="system-breadcrumb">
  <h2 class="visually-hidden" id="system-breadcrumb">{{ heading|default('You are here') }}</h2>
  <ol class="breadcrumb__list m0 p0 list-style-none">
    {% for item in breadcrumb %}
      <li class="breadcrumb__item inline mr025">
        {% if item.url %}
          <a class="breadcrumb__link mr025" href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
        {% if not loop.last %}
          ›
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</nav>
