.site-footer {

  .region-footer {
    @include padding(1, 0, 1, 0);
  }

}

#footer {
  background: transparent;
  border: 0;

  .block-menu {
    float: left;
    margin: 0 50px 0 0;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }

  }
}
