.tabs-primary {
  @include margin-bottom(1);

  font-size: 90%;
  padding: 0;

  &__tab {
    @include margin(0, .5, .5, 0);

    list-style-type: none;
    display: inline-block;

    a {
      @include padding(.3, .5);

      background: $gray;
      border-radius: 4px;

      &:hover,
      &:focus,
      &.is-active {
        background: $off-black;
        color: $white;
      }
    }
  }

}

.tabs-secondary {
  @include margin-bottom(1);

  font-size: 90%;
  padding: 0;

  &__tab {
    @include margin(0, .5, .5, 0);

    list-style-type: none;
    display: inline-block;

    a {
      @include padding(.3, 0);

      border-bottom: 2px solid transparent;

      &:hover,
      &:focus,
      &.is-active {
        border-bottom: 2px solid $off-black;
        color: $off-black;
      }
    }
  }

}
