.pager .item-list {
  .pager__list {
    @include margin(1, 0);
  }

  .pager__item {
    @include padding(0.3, 0.5);
    @include margin(0, 0.3);
    list-style-type: none;
    display: inline-block;
  }

  .pager--current {
    border: 1px solid $off-black;
  }
}
