// SIDR
#sidr-wrapper-0 {
  @include margin(.5, .5, .5, .5);

  position: absolute;
  right: 0;
  top: 0;
  $span-transition: all .3s cubic-bezier(0.7, 0, 0.36, 0.63);

  span {
    display: block;
    position: relative;
    background: $black;
    height: 2px;
    transition: $span-transition;
    width: 22px;
    top: 15px;

    &:before, &:after {
      content: "";
      display: block;
      background: $black;
      height: 2px;
      margin-top: 0;
      position: absolute;
      width: 22px;
      transition: $span-transition;
    }

    &:before {
      top: 7px;
    }
    &:after {
      top: -7px;
    }

  }
}

h3.sidr-class-visually-hidden {
  @include element-invisible;
}

#sidr-0-button {
  display: block;
  width: 25px;
  height: 30px;
  position: relative;
}

.sidr-inner {
  border-bottom: 1px solid #4d4d4d;
  padding: 0 !important;

  ul {
    padding: 0;
    margin: 0;
    border: 0;

    li {
      border: 0;

      a {
        @include padding(.3, .5, .3, .5);

        width: 100%;
        display: block;
        color: $white;
        border-bottom: 1px solid #1a1a1a;
        border-top: 1px solid #4d4d4d;

        &:focus,
        &:hover,
        &.sidr-class-active {
          box-shadow: inset 0 0 15px 3px #222;
          color: $white;
        }

        &:last-child {
          border-bottom: 1px solid #1a1a1a;
        }

      }

    }

  }
}

.sidr-open {

  #sidr-wrapper-0 {

    right: 260px;

    span {
      background: transparent;

      &:before,
      &:after {
        top: 0;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }

    }
  }

  #header #logo-container {
    opacity: 0;
  }

}
