.panel-display {
  *zoom: 1;
  margin-bottom: 3.75em; }
  .panel-display:before, .panel-display:after {
    content: '';
    display: table; }
  .panel-display:after {
    clear: both; }
  .panel-display .column, .panel-display .row {
    *zoom: 1;
    margin-bottom: 1.875em;
    box-sizing: border-box; }
    .panel-display .column:before, .panel-display .column:after, .panel-display .row:before, .panel-display .row:after {
      content: '';
      display: table; }
    .panel-display .column:after, .panel-display .row:after {
      clear: both; }
  .panel-display .row {
    clear: both; }
    .panel-display .row:last-child {
      margin-bottom: 0; }

.main__content .empty-right .column.center {
  position: static;
  left: 0;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0; }
  .main__content .empty-right .column.center:first-child {
    margin-left: auto; }
  .main__content .empty-right .column.center:last-child {
    margin-right: auto; }
  @media (min-width: 50em) {
  .panel-display--right-sidebar .column.right {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 25%;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0.9375em; }
  .panel-display--right-sidebar .column.right:before, .panel-display--right-sidebar .column.right:after {
    content: '';
    display: table; }
  .panel-display--right-sidebar .column.right:after {
    clear: both; }
  .panel-display--right-sidebar .column.right:last-child {
    margin-right: 0%; }
  .panel-display--right-sidebar .column.center {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 75%;
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 0.9375em; }
  .panel-display--right-sidebar .column.center:before, .panel-display--right-sidebar .column.center:after {
    content: '';
    display: table; }
  .panel-display--right-sidebar .column.center:after {
    clear: both; }
  .panel-display--right-sidebar .column.center:last-child {
    margin-right: 0%; } }
  @media (min-width: 62.5em) {
  .panel-display--right-sidebar .column.right {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0.9375em; }
  .panel-display--right-sidebar .column.right:before, .panel-display--right-sidebar .column.right:after {
    content: '';
    display: table; }
  .panel-display--right-sidebar .column.right:after {
    clear: both; }
  .panel-display--right-sidebar .column.right:last-child {
    margin-right: 0%; }
  .panel-display--right-sidebar .column.center {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 0.9375em; }
  .panel-display--right-sidebar .column.center:before, .panel-display--right-sidebar .column.center:after {
    content: '';
    display: table; }
  .panel-display--right-sidebar .column.center:after {
    clear: both; }
  .panel-display--right-sidebar .column.center:last-child {
    margin-right: 0%; } }
