.bearskin-row {
  margin-bottom: 20px;
  clear: both;
  width: 100%;
  float: left;
}
.bearskin-row .column {
  float: left;
}
.bearskin-row .column .bearskin-row {
  margin-bottom: 10px;
}
.bearskin-row .sidebar.right {
  clear: none;
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  text-align: inherit;
  width: 25%;
}
.bearskin-row .sidebar.right .col-inside {
  margin-left: 20px;
}
.bearskin-row .column.center {
  clear: none;
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  text-align: inherit;
  width: 75%;
}
