.form-item input {
  box-shadow: none !important;
  max-width: 100%;
}

.field:invalid {
  border-color: var(--border-color-primary);
}

input:focus,
input:valid {
  border-color: var(--border-color-secondary);
}

input:invalid:focus {
  border-color: var(--border-color-secondary);
}

.image-widget .form-file {
  height: 36px;
  margin-right: .5rem;
  border: 0;
}

.image-widget .form-submit {
  margin: 0;
}
