.form-item-border {
  border: 1px solid var(--form-item-border-color);
}

.form-item input {
  box-shadow: none !important;
  max-width: 100%;
}

.field:invalid {
  border-color: var(--border-color-primary);
}

input:focus {
  border-color: var(--formItemFocusedColor);
}

input:invalid:focus {
  border-color: var(--formItemFocusedColor);
}

.image-widget .form-file {
  height: 36px;
  margin-right: .5rem;
  border: 0;
}

.image-widget .form-submit {
  margin: 0;
}

.filter-wrapper {
  border: 1px solid var(--form-item-border-color);
}

.filter-guidelines .filter-guidelines-item {
  margin-top: 0;
}
