@mixin fadein {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;

  &--fadein {
    animation-name: fadeIn;
  }
}

/*
 * Keyframes
 */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}