//
// Button Variables
// override these in _custom.scss
//
$button-padding: 0.4em 1.5em !default;
$button-border-radius: $border-radius !default;
$button-primary-color: $bear-dark !default;
$button-primary-font-color: $bear-whitey !default;
$button-secondary-color: $bear-brown !default;
$button-secondary-font-color: $bear-whitey !default;
$button-highlight-color: $bear-yellow !default;
$button-highlight-font-color: $bear-whitey !default;

//
// Button mixin
//
@mixin bear-button($color: $button-primary-color, $font-color: $button-primary-font-color, $radius: $button-border-radius, $padding: $button-padding) {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 1px solid darken($color, 10%);
  outline: none;
  transition: background-color 0.4s, color 0.4s;
  background-color: $color;
  color: $font-color;
  padding: $padding;
  border-radius: $radius;
  * {
    position: relative;
  }
  &:hover, &:focus {
    background-color: darken($color, 10%);
    text-decoration: none;
    color: $font-color;
  }
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236,240,241,0.3);
    transform: translate(-50%,-50%);
  }
  &:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
  }
}

@mixin bear-button-inverted($color: $button-primary-color, $font-color: $button-primary-color, $radius: $button-border-radius, $padding: $button-padding) {
  @include bear-button(transparent, $font-color, $radius, $padding);
  border: 2px solid $color;
  &:hover {
    color: $font-color;
    background-color: transparent;
  }
  &:before {
    background-color: rgba($color, 0.2);
  }
}

//
// Extendable classes
//
%button {
  @include bear-button;
}

%button-secondary {
  background-color: $button-secondary-color;
  color: $button-secondary-font-color;
  &:hover, &:focus {
    background-color: darken($button-secondary-color, 10%);
  }
}

%button-highlight {
  background-color: $button-highlight-color;
  color: $button-highlight-font-color;
  &:hover, &:focus {
    background-color: darken($button-highlight-color, 10%);
  }
}

%button-success {
  background-color: $color-success;
  color: $button-highlight-font-color;
  border-color: darken($color-success, 5%);
  &:hover, &:focus {
    background-color: darken($color-success, 10%);
  }
}

%button-warning {
  background-color: $color-warning;
  color: $button-highlight-font-color;
  &:hover, &:focus {
    background-color: darken($color-warning, 10%);
  }
}

%button-error {
  background-color: $color-error;
  color: $button-highlight-font-color;
  &:hover, &:focus {
    background-color: darken($color-error, 10%);
  }
}

%button-inverted {
  @include bear-button-inverted;
}

%button-inverted-secondary {
  border-color: $button-secondary-color;
  color: $button-secondary-color;
  &:before {
    background-color: rgba($button-secondary-color, 0.2);
  }
  &:hover {
    color: $button-secondary-color;
  }
}

%button-inverted-highlight {
  border-color: $button-highlight-color;
  color: $button-highlight-color;
  &:before {
    background-color: rgba($button-highlight-color, 0.2);
  }
  &:hover {
    color: $button-highlight-color;
  }
}

%button-inverted-success {
  border-color: $color-success;
  color: $color-success;
  &:before {
    background-color: rgba($color-success, 0.2);
  }
  &:hover {
    color: $color-success;
  }
}

%button-inverted-warning {
  border-color: $color-warning;
  color: $color-warning;
  &:before {
    background-color: rgba($color-warning, 0.2);
  }
  &:hover {
    color: $color-warning;
  }
}

%button-inverted-error {
  border-color: $color-error;
  color: $color-error;
  &:before {
    background-color: rgba($color-error, 0.2);
  }
  &:hover {
    color: $color-error;
  }
}