//
// Bearskin theme colors
//
$yellow: #F9B634;
$brown: #4C1B01;
$browner: #454147;
$grey: #EFF2F1;
$greyer: #d1d3d2;
$blue: #61AEE2;
$dark: #555555;
$whitey: #f9f9f9;

//
// Default colors
// override these in _custom.scss
//
$color-primary: #337ab7 !default;
$color-success: #5cb85c !default;
$color-info: #5bc0de !default;
$color-warning: #f0ad4e !default;
$color-error: #d9534f !default;