.messages {
  @include padding(0.5, 1, 0.5, 1);
  @include margin(1, 0, 1, 0);

  border-radius: 2px;
  background-color: $message;
  color: $white;
  border: 1px solid #a2b5c9;
  border-left-width: 10px;

  a {
    color: $white;
    border-bottom: 1px dotted $white;
  }

  &:hover,
  &:active,
  &:focus {
    color: $white;
  }

  &--error,
  &.error {
    background-color: $error;
    border-color: darken($error, 10);
  }

  &--success,
  &--status,
  &.status,
  &.ok {
    background-color: $success;
    border-color: darken($success, 10);
  }

  &--warning,
  &.warrning {

    background-color: $warning;
    border-color: darken($warning, 10);
  }

  &:first-of-type {
    margin-top: 0;
  }

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.5em;
  }

  &__item {
    margin-bottom: 0.5em;

    &:last-of-type {
      margin-bottom: 0;
    }

  }

  &.krumo-root {
    color: $color-font-body;
  }

}
