table {
  width: 100%;

  tr {
    width: 100%;
  }

  td,
  th {
    @include padding(0.5, 0.5, 0.5, 0.5);
  }

  a.tabledrag-handle .handle {
    @include margin(0, 0.3, 0, 0.2);

    height: 22px;
    position: relative;
    top: -1px;
  }

  &.sticky-header {
    z-index: 2;
    visibility: hidden;

    thead {
      display: table-row-group !important;

      th {
        background: $white;
      }

    }
  }

}