@charset "UTF-8";
/*! Gutenberg reset — adapted from Normalize */
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
cite,
code,
small {
  display: block; }

* {
  box-sizing: border-box; }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
abbr {
  letter-spacing: 0.1em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 70%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

em,
i {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* Embedded content
   ========================================================================== */
img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

/* Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Images
   ========================================================================== */
img {
  max-width: 100%;
  display: block;
  margin: inherit auto; }

/* Configuration
   ========================================================================== */
/* Mixins
   ========================================================================== */
/* Calculations
   ========================================================================== */
/* Mixins
   ========================================================================== */
/* Font themes
   ========================================================================== */
/* Defaults
   ========================================================================== */

html {
  font-size: 16px;
  font-size: 100%;
  font-family: Merriweather, Georgia, serif;
  color: #261D19; }

* {
  line-height: 26px;
  line-height: 1.625rem; }

/* Paragraph
   ========================================================================== */
p {
  margin-bottom: 26px;
  margin-bottom: 1.625rem; }

/* Headings
   ========================================================================== */
h1 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 52px;
  line-height: 3.25rem;
  margin-top: 52px;
  margin-top: 3.25rem;
  margin-bottom: 26px;
  margin-bottom: 1.625rem; }

h2 {
  font-size: 27px;
  font-size: 1.6875rem;
  line-height: 39px;
  line-height: 2.4375rem;
  margin-top: 32.5px;
  margin-top: 2.03125rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem; }

h3 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 26px;
  margin-top: 1.625rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem; }

h4 {
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 19.5px;
  margin-top: 1.21875rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem; }

h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 32.5px;
  margin-top: 2.03125rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem; }

h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 32.5px;
  margin-top: 2.03125rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem; }

h1 + h2 {
  margin-top: 26px;
  margin-top: 1.625rem; }

h2 + h3,
h3 + h4,
h4 + h5 {
  margin-top: 13px;
  margin-top: 0.8125rem; }

h5 + h6 {
  margin-top: -13px;
  margin-top: -0.8125rem; }

h6 {
  font-style: italic;
  font-weight: normal; }

/* Links
   ========================================================================== */
a {
  color: #728EAD;
  transition: all .3s;
  text-decoration: none; }
  a:hover {
    color: #445b75; }
  a:visited {
    color: #728EAD; }
    a:visited:hover {
      color: #445b75; }
  a:active {
    color: #445b75; }

/* Figures & other elements
   ========================================================================== */

figcaption {
  line-height: 26px;
  line-height: 1.625rem;
  color: #261D19;
  font-size: .8125rem;
  font-style: italic;
  margin-bottom: 0;
  text-align: center; }

dl dd {
  margin: 0px 0px 13px;
  margin: 0rem 0rem 0.8125rem;
  font-size: 80%; }

blockquote {
  font-style: italic;
  padding-left: 1.4375rem; }

cite {
  font-style: normal; }

figure blockquote {
  padding: 26px 0px;
  padding: 1.625rem 0rem; }
  figure blockquote p {
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 39px;
    line-height: 2.4375rem; }

ul li,
ol li {
  margin-bottom: 0; }

hr {
  margin-top: 52px;
  margin-top: 3.25rem;
  margin-bottom: 52px;
  margin-bottom: 3.25rem;
  border: 0;
  color: #261D19;
  display: block;
  height: 26px;
  height: 1.625rem;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 26px;
  background-size: 100% 1.625rem;
  background-image: linear-gradient(to bottom, transparent 1px, transparent 11px, #261D19 11px, #261D19 15px, transparent 15px, transparent 26px);
  width: 100px; }

small {
  line-height: 13px;
  line-height: 0.8125rem; }

code {
  padding: 26px;
  padding: 1.625rem; }

.attention-grabber {
  font-size: 19.2px;
  font-size: 1.2rem; }

/* Grid
   ========================================================================== */
.grid, .grid-double {
  background-image: linear-gradient(to bottom, rgba(0, 170, 255, 0.3) 1px, transparent 1px);
  background-position: left top;
  background-repeat: repeat;
  background-size: 100% 26px;
  background-size: 100% 1.625rem; }

.grid-double {
  background-image: linear-gradient(to bottom, rgba(0, 170, 255, 0.3) 1px, transparent 1px, transparent 13px, rgba(0, 170, 255, 0.2) 13px, transparent 14px, transparent 26px); }

/* Gutenberg defaults
   ========================================================================== */
.toggleWrapper {
  display: block;
  position: fixed;
  top: 26px;
  right: 26px;
  background-color: #231F20;
  border-radius: 25px;
  padding: 0 10px 0 20px;
  height: 32px; }

.btnToggleGrid {
  background: url("../images/grid-icons.png") top right no-repeat;
  background-size: 32px;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding-right: 35px;
  height: 32px;
  line-height: 34px;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff; }
  .btnToggleGrid:hover {
    color: #fff; }
  .btnToggleGrid:active {
    color: #f00; }

.double-grid {
  background-position-y: -32px; }

.grid-off {
  background-position-y: -64px; }

@media screen and (min-width: 80em){
  body,
  html{
    margin: 0;
    width: 100%;
    max-width: none; }
  html{
    font-size: 18px;
    font-size: 1.125rem; }
  /* Mixins
   ========================================================================== */
  /* Mixins
   ========================================================================== */
  h1{
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 62px;
    line-height: 3.44444rem;
    margin-top: 62px;
    margin-top: 3.44444rem;
    margin-bottom: 31px;
    margin-bottom: 1.72222rem; }
  h2{
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 46.5px;
    line-height: 2.58333rem;
    margin-top: 38.75px;
    margin-top: 2.15278rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.86111rem; }
  h3{
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 31px;
    line-height: 1.72222rem;
    margin-top: 31px;
    margin-top: 1.72222rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.86111rem; }
  h4{
    font-size: 19.2px;
    font-size: 1.2rem;
    line-height: 31px;
    line-height: 1.72222rem;
    margin-top: 23.25px;
    margin-top: 1.29167rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.86111rem; }
  h5{
    font-size: 16px;
    font-size: 1rem;
    line-height: 31px;
    line-height: 1.72222rem;
    margin-top: 38.75px;
    margin-top: 2.15278rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.86111rem; }
  h6{
    font-size: 16px;
    font-size: 1rem;
    line-height: 31px;
    line-height: 1.72222rem;
    margin-top: 38.75px;
    margin-top: 2.15278rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.86111rem; }
  h1 + h2{
    /* Mixins
   ========================================================================== */
    margin-top: 31px;
    margin-top: 1.72222rem; }
  h2 + h3,
    h3 + h4,
    h4 + h5{
    /* Mixins
   ========================================================================== */
    margin-top: 15.5px;
    margin-top: 0.86111rem; }
  h5 + h6{
    /* Mixins
   ========================================================================== */
    margin-top: -15.5px;
    margin-top: -0.86111rem; }
  figure.floatLeft,
  figure.floatRight{
    /* Mixins
   ========================================================================== */
    max-width: 675px;
    max-width: 37.5rem;
    padding: 0px 31px;
    padding: 0rem 1.72222rem; }
  figure.floatLeft blockquote,
  figure.floatRight blockquote{
    /* Mixins
   ========================================================================== */
    padding: 0px;
    padding: 0rem;
    text-align: left; }
  figure.floatLeft blockquote p,
  figure.floatRight blockquote p{
    /* Mixins
   ========================================================================== */
    font-size: 19.2px;
    font-size: 1.2rem;
    line-height: 31px;
    line-height: 1.72222rem; }
  figcaption{
    /* Mixins
   ========================================================================== */
    line-height: 31px;
    line-height: 1.72222rem;
    margin-bottom: 0; }
  blockquote{
    padding-left: 2rem; }
  figure blockquote{
    /* Mixins
   ========================================================================== */
    padding: 62px 0px 31px;
    padding: 3.44444rem 0rem 1.72222rem;
    text-align: center; }
  figure blockquote p{
    /* Mixins
   ========================================================================== */
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 46.5px;
    line-height: 2.58333rem; }
  hr{
    /* Mixins
   ========================================================================== */
    margin-top: 62px;
    margin-top: 3.44444rem;
    margin-bottom: 62px;
    margin-bottom: 3.44444rem;
    height: 31px;
    height: 1.72222rem; }
  hr{
    /* Mixins
   ========================================================================== */
    background-size: 100% 31px;
    background-size: 100% 1.72222rem;
    background-image: linear-gradient(to bottom, transparent 1px, transparent 13.5px, #261D19 13.5px, #261D19 17.5px, transparent 17.5px, transparent 31px); }
  small{
    /* Mixins
   ========================================================================== */
    line-height: 15.5px;
    line-height: 0.86111rem; }
  code{
    /* Mixins
   ========================================================================== */
    padding: 31px;
    padding: 1.72222rem; }
  .grid, .grid-double{
    background-size: 100% 31px;
    background-size: 100% 1.72222rem; }
  .grid-double{
    background-image: linear-gradient(to bottom, rgba(0, 170, 255, 0.3) 1px, transparent 1px, transparent 15.5px, rgba(0, 170, 255, 0.2) 15.5px, transparent 16.5px, transparent 31px); }
  .toggleWrapper{
    right: 31px;
    top: 31px; }
  .btnToggleGrid{
    top: 31px;
    right: 31px; } }

@media (min-width: 50em){
  *{
    line-height: 26px;
    line-height: 1.625rem; }
  .panel-display--grid-with-featured-item .column.lower-first{
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 28%;
    margin-left: 0%;
    margin-right: 8%;
    clear: left; }
  .panel-display--grid-with-featured-item .column.lower-first:before, .panel-display--grid-with-featured-item .column.lower-first:after{
    content: '';
    display: table; }
  .panel-display--grid-with-featured-item .column.lower-first:after{
    clear: both; }
  .panel-display--grid-with-featured-item .column.lower-first:last-child{
    margin-right: 0%; }
  .panel-display--grid-with-featured-item .column.lower-second{
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 28%;
    margin-left: 0%;
    margin-right: 8%; }
  .panel-display--grid-with-featured-item .column.lower-second:before, .panel-display--grid-with-featured-item .column.lower-second:after{
    content: '';
    display: table; }
  .panel-display--grid-with-featured-item .column.lower-second:after{
    clear: both; }
  .panel-display--grid-with-featured-item .column.lower-second:last-child{
    margin-right: 0%; }
  .panel-display--grid-with-featured-item .column.lower-third{
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 28%;
    margin-left: 0%;
    margin-right: 8%; }
  .panel-display--grid-with-featured-item .column.lower-third:before, .panel-display--grid-with-featured-item .column.lower-third:after{
    content: '';
    display: table; }
  .panel-display--grid-with-featured-item .column.lower-third:after{
    clear: both; }
  .panel-display--grid-with-featured-item .column.lower-third:last-child{
    margin-right: 0%; } }

@media (min-width: 40.5em){
  .panel-display--grid-with-featured-item .column.main{
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 64%;
    margin-left: 0%;
    margin-right: 8%; }
  .panel-display--grid-with-featured-item .column.main:before, .panel-display--grid-with-featured-item .column.main:after{
    content: '';
    display: table; }
  .panel-display--grid-with-featured-item .column.main:after{
    clear: both; }
  .panel-display--grid-with-featured-item .column.main:last-child{
    margin-right: 0%; }
  .panel-display--grid-with-featured-item .column.secondary{
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 28%;
    margin-left: 0%;
    margin-right: 8%; }
  .panel-display--grid-with-featured-item .column.secondary:before, .panel-display--grid-with-featured-item .column.secondary:after{
    content: '';
    display: table; }
  .panel-display--grid-with-featured-item .column.secondary:after{
    clear: both; }
  .panel-display--grid-with-featured-item .column.secondary:last-child{
    margin-right: 0%; } }
