@import url("//fonts.googleapis.com/css?family=Droid+Sans");
.ui.form,
.ui.search-form {
  padding: 0; }
  .ui.form .views-exposed-form .views-exposed-widget,
  .ui.search-form .views-exposed-form .views-exposed-widget {
    float: none; }
  .ui.form .form-item,
  .ui.form fieldset,
  .ui.search-form .form-item,
  .ui.search-form fieldset {
    max-width: 600px;
    position: relative;
    margin-bottom: 20px; }
  .ui.form legend,
  .ui.search-form legend {
    margin-left: 0; }
  .ui.form label,
  .ui.search-form label {
    display: block;
    clear: both;
    margin-bottom: 5px;
    font-weight: normal;
    color: #261D19; }
  .ui.form .ui.dropdown .menu > .item,
  .ui.search-form .ui.dropdown .menu > .item {
    font-size: 14px;
    padding-left: 1.1em !important; }

.main__content .column.right {
  padding-left: 50px; }

.main__content .column.left {
  padding-right: 50px; }

.breadcrumbs-wrapper {
  *zoom: 1;
  max-width: 75em;
  margin: 0 auto; }
  .breadcrumbs-wrapper:before, .breadcrumbs-wrapper:after {
    content: '';
    display: table; }
  .breadcrumbs-wrapper:after {
    clear: both; }

.field-collection-view {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Sans', sans-serif;
  font-weight: normal; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2.5rem;
  margin: 3rem 0 2rem 0; }

h3 {
  font-size: 2rem;
  margin: 2.5rem 0 1rem 0; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.2rem; }

img {
  max-width: 100%;
  height: 100%; }

.ui.menu {
  font-size: 100%; }

.sidebar {
  font-size: 90%; }

.wrapper--footer {
  border-top: 1px solid #dedede; }

.site-footer {
  background: #404040;
  color: #fff; }
  .site-footer .region-footer {
    padding: 30px 20px; }

#footer .block-menu {
  float: left;
  margin: 0 50px 0 0; }

#footer ul {
  margin: 0;
  padding: 0;
  display: inline-block; }
  #footer ul li {
    list-style-type: none; }
    #footer ul li a {
      color: white; }
      #footer ul li a:hover {
        color: #728EAD; }
      #footer ul li a:active {
        color: #728EAD; }
      #footer ul li a:focus {
        color: #728EAD; }

#header {
  position: relative;
  height: 100%; }
  #header .region-navigation {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  #header #sidr-wrapper-0 {
    margin-left: 20px; }
    #header #sidr-wrapper-0 #sidr-0-button {
      display: block;
      width: 25px;
      height: 30px;
      position: relative; }
    #header #sidr-wrapper-0 span {
      display: block;
      position: relative;
      background: #261D19;
      height: 3px;
      transition: all 0.3s cubic-bezier(0.7, 0, 0.36, 0.63);
      width: 25px;
      top: 13px; }
      #header #sidr-wrapper-0 span:before, #header #sidr-wrapper-0 span:after {
        content: "";
        display: block;
        background: #261D19;
        height: 3px;
        margin-top: 0;
        position: absolute;
        width: 25px;
        transition: all 0.3s cubic-bezier(0.7, 0, 0.36, 0.63); }
      #header #sidr-wrapper-0 span:before {
        top: 8px; }
      #header #sidr-wrapper-0 span:after {
        top: -8px; }

body.sidr-open #header #sidr-wrapper-0 span {
  background: transparent; }
  body.sidr-open #header #sidr-wrapper-0 span:before,
  body.sidr-open #header #sidr-wrapper-0 span:after {
    top: 0; }
  body.sidr-open #header #sidr-wrapper-0 span:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  body.sidr-open #header #sidr-wrapper-0 span:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.wrapper--header {
  position: fixed;
  width: 100%;
  -webkit-filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
  filter: url("../images/shadow.svg#drop-shadow");
  filter: progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=180);
  background: #f5f5f5;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  height: 55px;
  padding: 10px 20px; }
  .wrapper--header .site-header__logo {
    max-width: 50px;
    max-height: 40px; }
    .wrapper--header .site-header__logo img {
      max-height: 38px; }
  .wrapper--header #header .block-search input.form-text,
  .wrapper--header #header .block-views input.form-text {
    padding: 0.4em 1em;
    font-size: 14px; }

.wrapper--main {
  padding-top: 125px; }
  .wrapper--main .site-info {
    padding-top: 30px; }

#header .block-search,
#header .block-views {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0; }
  #header .block-search input.form-text,
  #header .block-views input.form-text {
    transition: width 0.5s ease-in-out;
    width: 130px !important; }
    #header .block-search input.form-text:focus,
    #header .block-views input.form-text:focus {
      width: 250px !important; }

nav.wrapper--breadcrumbs {
  padding: 20px 0; }

nav.main-menu .main-menu__link {
  font-family: 'Droid Sans', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 12px;
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
  font-size: 14px; }
  nav.main-menu .main-menu__link:hover,
  nav.main-menu .main-menu__link:focus,
  nav.main-menu .main-menu__link.active {
    background: #261D19;
    color: #fff;
    text-decoration: none; }

nav.main-menu .main-menu--level-one > li {
  padding: 20px 0; }
  nav.main-menu .main-menu--level-one > li:hover .main-menu--level-two {
    top: 65px;
    opacity: .9; }

nav.main-menu .main-menu--level-one li.parent:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #261D19;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -30px;
  transition: all 0.2s ease-in-out;
  opacity: 0; }

nav.main-menu .main-menu--level-one li.parent:hover:after {
  opacity: .8;
  bottom: 5px; }

nav.main-menu .main-menu--level-one li.parent ul.menu {
  border-radius: 8px;
  background: #404040;
  border: 0; }
  nav.main-menu .main-menu--level-one li.parent ul.menu li {
    margin-bottom: 8px;
    padding: 0 10px; }
    nav.main-menu .main-menu--level-one li.parent ul.menu li a {
      color: white; }
      nav.main-menu .main-menu--level-one li.parent ul.menu li a:hover {
        color: #eaeaea; }
      nav.main-menu .main-menu--level-one li.parent ul.menu li a:active {
        color: #eaeaea; }
      nav.main-menu .main-menu--level-one li.parent ul.menu li a:focus {
        color: #eaeaea; }
    nav.main-menu .main-menu--level-one li.parent ul.menu li:last-child {
      margin-bottom: 0; }
  nav.main-menu .main-menu--level-one li.parent ul.menu .main-menu__link {
    text-transform: initial;
    margin-bottom: 0; }
    nav.main-menu .main-menu--level-one li.parent ul.menu .main-menu__link:hover,
    nav.main-menu .main-menu--level-one li.parent ul.menu .main-menu__link:focus,
    nav.main-menu .main-menu--level-one li.parent ul.menu .main-menu__link.active {
      background: transparent;
      color: #728EAD; }
    nav.main-menu .main-menu--level-one li.parent ul.menu .main-menu__link:after {
      display: none; }

nav.main-menu .menu .main-menu--level-two {
  top: 100px;
  transition: all 0.2s ease-in-out;
  opacity: 0; }
  nav.main-menu .menu .main-menu--level-two a {
    position: relative; }
  nav.main-menu .menu .main-menu--level-two li.parent > a:after,
  nav.main-menu .menu .main-menu--level-two li.parent:hover > a:after {
    content: "";
    height: 0;
    width: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid white;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -5px;
    bottom: 0;
    left: inherit;
    margin: 3px 0 0 0;
    display: inline-block !important;
    opacity: 1 !important; }
  nav.main-menu .menu .main-menu--level-two li.parent:after {
    display: none; }

nav.main-menu .menu .main-menu--level-three {
  top: -10px; }

.nav-user__list {
  right: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .nav-user__list li {
    list-style-type: none;
    font-size: 1.5rem; }

.panel-pane {
  margin-bottom: 30px; }

@media (max-width: 75em){
  .breadcrumbs-wrapper{
    padding: 0 20px; } }

@media (min-width: 50em){
  .wrapper--header{
    padding: 20px 0;
    height: 125px; }
  .wrapper--header .site-header__logo{
    display: block;
    width: 120px;
    max-width: 100%;
    float: left; }
  .wrapper--header .site-header__logo img{
    max-width: 100%;
    max-height: 88px;
    transition: all 0.2s ease-in-out;
    height: auto; }
  .wrapper--header.compressed{
    height: 55px;
    padding: 10px 20px; }
  .wrapper--header.compressed .site-header__logo{
    max-width: 50px;
    max-height: 40px; }
  .wrapper--header.compressed .site-header__logo img{
    max-height: 38px; }
  .wrapper--header.compressed #header .block-search input.form-text,
        .wrapper--header.compressed #header .block-views input.form-text{
    padding: 0.4em 1em;
    font-size: 14px; } }
