@import url("//fonts.googleapis.com/css?family=Droid+Sans");
h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Sans', sans-serif;
  font-weight: normal; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2.5rem;
  margin: 3rem 0 2rem 0; }

h3 {
  font-size: 2rem;
  margin: 2.5rem 0 1rem 0; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.2rem; }

#header {
  position: relative; }
  #header .region-navigation {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.wrapper--header {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  -webkit-filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
  filter: url("../images/shadow.svg#drop-shadow");
  filter: progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=180);
  background: #f5f5f5;
  height: 125px;
  z-index: 100;
  transition: height 0.3s ease-in-out; }
  .wrapper--header .site-header__logo {
    display: block;
    transition: all 0.3s ease-in-out;
    width: 120px;
    float: left; }
  .wrapper--header .site-header__logo img {
    width: 100%;
    max-width: 100%; }
  .wrapper--header.compressed {
    height: 55px;
    padding: 10px 0; }
    .wrapper--header.compressed .site-header__logo {
      width: 50px; }

.wrapper--main {
  padding-top: 125px; }
  .wrapper--main .site-info {
    padding-top: 30px; }

.main__content .column.right {
  padding-left: 50px; }

.main__content .column.left {
  padding-right: 50px; }

.wrapper--footer {
  border-top: 1px solid #dedede; }

.breadcrumbs-wrapper {
  *zoom: 1;
  max-width: 75em;
  margin: 0 auto; }
  .breadcrumbs-wrapper:before, .breadcrumbs-wrapper:after {
    content: '';
    display: table; }
  .breadcrumbs-wrapper:after {
    clear: both; }

.site-footer {
  background: #404040;
  color: #fff; }
  .site-footer footer {
    padding: 30px 0; }

nav.wrapper--breadcrumbs {
  padding: 20px 0; }

nav.main-menu .main-menu__link {
  font-family: 'Droid Sans', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 12px;
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
  font-size: 14px; }
  nav.main-menu .main-menu__link:hover,
  nav.main-menu .main-menu__link:focus,
  nav.main-menu .main-menu__link.active {
    background: #261D19;
    color: #fff;
    text-decoration: none; }

nav.main-menu .main-menu--level-one > li {
  padding: 20px 0; }
  nav.main-menu .main-menu--level-one > li:hover .main-menu--level-two {
    top: 65px; }

nav.main-menu .main-menu--level-one li.parent:hover:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #261D19;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 5px;
  transition: all 0.05s ease-in-out; }

nav.main-menu .main-menu--level-one ul {
  border-top: 1px solid #261D19;
  padding: 10px 0 !important; }
  nav.main-menu .main-menu--level-one ul li {
    margin-bottom: 8px;
    padding: 0 10px; }
    nav.main-menu .main-menu--level-one ul li:last-child {
      margin-bottom: 0; }
  nav.main-menu .main-menu--level-one ul .main-menu__link {
    text-transform: initial;
    margin-bottom: 0; }
    nav.main-menu .main-menu--level-one ul .main-menu__link:hover,
    nav.main-menu .main-menu--level-one ul .main-menu__link:focus,
    nav.main-menu .main-menu--level-one ul .main-menu__link.active {
      background: transparent;
      color: #728EAD; }
    nav.main-menu .main-menu--level-one ul .main-menu__link:after {
      display: none; }

nav.main-menu .menu .main-menu--level-two {
  top: 100px;
  transition: all 0.1s ease-in-out; }
  nav.main-menu .menu .main-menu--level-two a {
    position: relative; }
  nav.main-menu .menu .main-menu--level-two li.parent > a:after,
  nav.main-menu .menu .main-menu--level-two li.parent:hover > a:after {
    content: "";
    height: 0;
    width: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #261D19;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    bottom: 0;
    left: inherit;
    margin: 3px 0 0 0;
    display: inline-block; }
  nav.main-menu .menu .main-menu--level-two li.parent:hover:after {
    display: none; }

nav.main-menu .menu .main-menu--level-three {
  top: -10px; }

.nav-user__list {
  right: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .nav-user__list li {
    list-style-type: none;
    font-size: 1.5rem; }

.ui.form {
  padding: 0;
  font-size: 16px; }
  .ui.form .form-item,
  .ui.form fieldset {
    max-width: 600px;
    position: relative; }
  .ui.form legend {
    font-size: 16px;
    margin-left: 0; }
  .ui.form label {
    font-size: 16px;
    display: block;
    clear: both;
    margin-bottom: 5px;
    font-weight: normal;
    color: #261D19; }
  .ui.form .ui.dropdown .menu > .item {
    font-size: 14px;
    padding-left: 1.1em !important; }
