@import url("//fonts.googleapis.com/css?family=Droid+Sans");
body.semantic-ui .ui.form,
body.semantic-ui .ui.search-form {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  padding: 0; }
  body.semantic-ui .ui.form input,
  body.semantic-ui .ui.search-form input {
    font-family: "Helvetica Neue", Helvetica, sans-serif; }
  body.semantic-ui .ui.form .form-item,
  body.semantic-ui .ui.form fieldset,
  body.semantic-ui .ui.search-form .form-item,
  body.semantic-ui .ui.search-form fieldset {
    max-width: 600px;
    position: relative;
    margin-bottom: 20px; }
  body.semantic-ui .ui.form legend,
  body.semantic-ui .ui.search-form legend {
    margin-left: 0; }
  body.semantic-ui .ui.form .description,
  body.semantic-ui .ui.search-form .description {
    font-size: 90%;
    color: #6C6C6C; }
  body.semantic-ui .ui.form label,
  body.semantic-ui .ui.search-form label {
    display: block;
    clear: both;
    margin-bottom: 5px;
    font-weight: normal; }
  body.semantic-ui .ui.form .ui.dropdown,
  body.semantic-ui .ui.search-form .ui.dropdown {
    min-width: 100%; }
    body.semantic-ui .ui.form .ui.dropdown .menu > .item,
    body.semantic-ui .ui.search-form .ui.dropdown .menu > .item {
      font-size: 14px;
      padding-left: 1.1em !important; }
    body.semantic-ui .ui.form .ui.dropdown > input.search,
    body.semantic-ui .ui.search-form .ui.dropdown > input.search {
      z-index: 10; }
  body.semantic-ui .ui.form.segment,
  body.semantic-ui .ui.search-form.segment {
    border: 0;
    margin: 0;
    padding: 20px; }
  body.semantic-ui .ui.form .views-exposed-form,
  body.semantic-ui .ui.search-form .views-exposed-form {
    position: relative; }
    body.semantic-ui .ui.form .views-exposed-form .views-exposed-widgets,
    body.semantic-ui .ui.search-form .views-exposed-form .views-exposed-widgets {
      transition: opacity 0.2s ease-in-out; }
    body.semantic-ui .ui.form .views-exposed-form.ajaxx .views-exposed-widgets,
    body.semantic-ui .ui.search-form .views-exposed-form.ajaxx .views-exposed-widgets {
      opacity: .2; }
      body.semantic-ui .ui.form .views-exposed-form.ajaxx .views-exposed-widgets,
      body.semantic-ui .ui.search-form .views-exposed-form.ajaxx .views-exposed-widgets {
        opacity: 0; }
  body.semantic-ui .ui.form .hidden-submit,
  body.semantic-ui .ui.search-form .hidden-submit {
    position: absolute;
    width: 100%;
    top: 0;
    float: none;
    margin: 0;
    display: block; }
  body.semantic-ui .ui.form .ui.loading,
  body.semantic-ui .ui.search-form .ui.loading {
    top: -70px !important; }

.compact-form-label {
  top: 9px;
  left: 17px;
  z-index: 1;
  font-size: 100%; }

.main__content .column.right {
  padding-left: 50px; }

.main__content .column.left {
  padding-right: 50px; }

.breadcrumbs-wrapper {
  *zoom: 1;
  max-width: 75em;
  margin: 0 auto; }
  .breadcrumbs-wrapper:before, .breadcrumbs-wrapper:after {
    content: '';
    display: table; }
  .breadcrumbs-wrapper:after {
    clear: both; }

.field-collection-view {
  margin: 0; }

.table-ui-container {
  overflow-y: auto;
  _overflow: auto;
  margin: 0;
  position: relative; }

table.ui {
  min-width: 650px;
  margin-bottom: 30px !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Sans", sans-serif;
  font-weight: normal; }

h1 {
  font-size: 4rem; }

body.semantic-ui h1 {
  margin: 0.67em 0px; }

h2 {
  font-size: 2.5rem;
  margin: 3rem 0 2rem 0; }

h3 {
  font-size: 2rem;
  margin: 2.5rem 0 1rem 0; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.2rem; }

img {
  max-width: 100%;
  height: 100%; }

body.semantic-ui .ui {
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }
  body.semantic-ui .ui .field > label {
    font-size: 100%; }

body.semantic-ui .ui.link.menu .item:hover,
body.semantic-ui .ui.menu .dropdown.item:hover,
body.semantic-ui .ui.menu .link.item:hover,
body.semantic-ui .ui.menu a.item:hover,
body.semantic-ui .ui.link.menu .item:focus,
body.semantic-ui .ui.menu .dropdown.item:focus,
body.semantic-ui .ui.menu .link.item:focus,
body.semantic-ui .ui.menu a.item:focus {
  color: #728EAD; }

.sidebar {
  font-size: 90%; }

.view-features {
  padding-bottom: 30px; }
  .view-features .views-exposed-widgets {
    margin: 0; }
  .view-features .views-exposed-form {
    padding: 20px 20px 0 20px;
    margin-bottom: 30px;
    background: #eee;
    border: 1px solid #ddd; }
  .view-features .views-exposed-widget {
    width: 100%;
    padding: 0; }
    .view-features .views-exposed-widget input {
      max-width: 100%; }
  .view-features .views-row {
    display: inline-block;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #ccc;
    padding: 20px 0 0 0;
    margin-bottom: 20px; }
    .view-features .views-row h2, .view-features .views-row .field, .view-features .views-row img {
      padding: 0 20px; }
    .view-features .views-row .field-name-body {
      background: #eee;
      padding: 20px;
      border-top: 1px solid #ccc;
      margin-top: 20px; }

.node-type-feature .bm30 {
  margin-bottom: 30px; }

.node-type-feature #main {
  max-width: 100%; }
  .node-type-feature #main .row.top {
    background: #555;
    width: calc(100% + 40px);
    margin-left: -20px; }
    .node-type-feature #main .row.top .pane-node-field-featured-image {
      max-width: 75em;
      margin: 0 auto;
      padding: 20px; }
      .node-type-feature #main .row.top .pane-node-field-featured-image img {
        width: 100%; }
  .node-type-feature #main .column.center {
    max-width: 75em; }

.node-type-feature .panel-pane {
  clear: both; }

.node-type-feature .pane-node-title {
  margin: 0; }
  .node-type-feature .pane-node-title .pane-title {
    position: absolute !important;
    height: 0;
    width: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); }

.node-type-feature .pane-node-field-feature-documentation {
  padding: 20px;
  background: #eee;
  border: 1px solid #bbb; }

.node-type-feature .geshifilter {
  margin: 0;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #bbb; }

.node-type-feature .field-collection-container {
  border: 0; }

.node-type-feature .field-collection-view {
  padding: 0; }

.wrapper--footer {
  border-top: 1px solid #dedede; }

.site-footer {
  background: #404040;
  color: #fff; }
  .site-footer .region-footer {
    padding: 30px 0; }

#footer .block-menu {
  float: left;
  margin: 0 50px 0 0; }

#footer ul {
  margin: 0;
  padding: 0;
  display: inline-block; }
  #footer ul li {
    list-style-type: none; }
    #footer ul li a {
      color: white; }
      #footer ul li a:hover {
        color: #728EAD; }
      #footer ul li a:active {
        color: #728EAD; }
      #footer ul li a:focus {
        color: #728EAD; }

#header {
  position: relative;
  height: 100%; }
  #header .region-navigation {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0; }
  #header #sidr-wrapper-0 {
    margin-left: 20px; }
    #header #sidr-wrapper-0 #sidr-0-button {
      display: block;
      width: 25px;
      height: 30px;
      position: relative; }
    #header #sidr-wrapper-0 span {
      display: block;
      position: relative;
      background: #261D19;
      height: 2px;
      transition: all 0.3s cubic-bezier(0.7, 0, 0.36, 0.63);
      width: 22px;
      top: 15px; }
      #header #sidr-wrapper-0 span:before, #header #sidr-wrapper-0 span:after {
        content: "";
        display: block;
        background: #261D19;
        height: 2px;
        margin-top: 0;
        position: absolute;
        width: 22px;
        transition: all 0.3s cubic-bezier(0.7, 0, 0.36, 0.63); }
      #header #sidr-wrapper-0 span:before {
        top: 7px; }
      #header #sidr-wrapper-0 span:after {
        top: -7px; }

body.sidr-open #header .region-navigation {
  left: 0; }

body.sidr-open #header .site-header__logo {
  opacity: 0; }

body.sidr-open #header #sidr-wrapper-0 {
  margin-left: 0; }
  body.sidr-open #header #sidr-wrapper-0 span {
    background: transparent; }
    body.sidr-open #header #sidr-wrapper-0 span:before,
    body.sidr-open #header #sidr-wrapper-0 span:after {
      top: 0; }
    body.sidr-open #header #sidr-wrapper-0 span:before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    body.sidr-open #header #sidr-wrapper-0 span:after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.sidr-animating .wrapper--header {
  position: absolute; }

.wrapper--header {
  position: fixed;
  width: 100%;
  -webkit-filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
  filter: url(../images/shadow.svg#drop-shadow);
  filter: progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=180);
  background: #f5f5f5;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  height: 55px;
  padding: 10px 20px; }
  .wrapper--header .site-header__logo {
    width: 50px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out, width 0.3s ease-in-out;
    overflow: hidden; }
  .wrapper--header #header .block-search input.form-text,
  .wrapper--header #header .block-views input.form-text {
    padding: 0.4em 1em;
    font-size: 14px; }

.wrapper--main {
  padding-top: 55px; }

#header .block-search,
#header .block-views {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
  right: 110px; }
  #header .block-search input.form-text,
  #header .block-views input.form-text {
    transition: width 0.2s ease-in-out;
    width: 100px !important; }
    #header .block-search input.form-text:focus,
    #header .block-views input.form-text:focus {
      width: 250px !important; }
  #header .block-search.focus,
  #header .block-views.focus {
    right: 0;
    top: 18px;
    width: calc(100% + 40px);
    left: -20px;
    padding: 15px 15px 13px;
    background: rgba(0, 0, 0, 0.7); }

#header a.loginpopup {
  float: right;
  margin: -32px 45px 10px 0;
  color: #261D19;
  font-size: 12px; }
  #header a.loginpopup:hover {
    color: #728EAD; }
  #header a.loginpopup:active {
    color: #728EAD; }
  #header a.loginpopup:focus {
    color: #728EAD; }

nav.wrapper--breadcrumbs {
  padding: 20px 0; }

nav.main-menu .main-menu__link {
  font-family: 'Droid Sans', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 12px;
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
  font-size: 14px; }
  nav.main-menu .main-menu__link:hover,
  nav.main-menu .main-menu__link:focus,
  nav.main-menu .main-menu__link.active {
    background: #261D19;
    color: #fff;
    text-decoration: none; }

nav.main-menu .main-menu--level-one > li {
  padding: 20px 0; }
  nav.main-menu .main-menu--level-one > li:hover .main-menu--level-two {
    top: 65px;
    opacity: .9; }

nav.main-menu .main-menu--level-one li.parent:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #261D19;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -30px;
  transition: all 0.2s ease-in-out;
  opacity: 0; }

nav.main-menu .main-menu--level-one li.parent:hover:after {
  opacity: .8;
  bottom: 5px; }

nav.main-menu .main-menu--level-one li.parent ul.menu {
  border-radius: 8px;
  background: #404040;
  border: 0; }
  nav.main-menu .main-menu--level-one li.parent ul.menu li {
    margin-bottom: 8px;
    padding: 0 10px; }
    nav.main-menu .main-menu--level-one li.parent ul.menu li a {
      color: white; }
      nav.main-menu .main-menu--level-one li.parent ul.menu li a:hover {
        color: #eaeaea; }
      nav.main-menu .main-menu--level-one li.parent ul.menu li a:active {
        color: #eaeaea; }
      nav.main-menu .main-menu--level-one li.parent ul.menu li a:focus {
        color: #eaeaea; }
    nav.main-menu .main-menu--level-one li.parent ul.menu li:last-child {
      margin-bottom: 0; }
  nav.main-menu .main-menu--level-one li.parent ul.menu .main-menu__link {
    text-transform: initial;
    margin-bottom: 0; }
    nav.main-menu .main-menu--level-one li.parent ul.menu .main-menu__link:hover,
    nav.main-menu .main-menu--level-one li.parent ul.menu .main-menu__link:focus,
    nav.main-menu .main-menu--level-one li.parent ul.menu .main-menu__link.active {
      background: transparent;
      color: #728EAD; }
    nav.main-menu .main-menu--level-one li.parent ul.menu .main-menu__link:after {
      display: none; }

nav.main-menu .menu .main-menu--level-two {
  top: 100px;
  transition: all 0.2s ease-in-out;
  opacity: 0; }
  nav.main-menu .menu .main-menu--level-two a {
    position: relative; }
  nav.main-menu .menu .main-menu--level-two li.parent > a:after,
  nav.main-menu .menu .main-menu--level-two li.parent:hover > a:after {
    content: "";
    height: 0;
    width: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid white;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -5px;
    bottom: 0;
    left: inherit;
    margin: 3px 0 0 0;
    display: inline-block !important;
    opacity: 1 !important; }
  nav.main-menu .menu .main-menu--level-two li.parent:after {
    display: none; }

nav.main-menu .menu .main-menu--level-three {
  top: -10px; }

.nav-user__list {
  right: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .nav-user__list li {
    list-style-type: none;
    font-size: 1.5rem; }

h3.sidr-class-u-hidden {
  position: absolute !important;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.pager-wrapper {
  position: relative;
  width: 100%;
  display: inline-block;
  min-height: 50px;
  margin: 10px 0 0 0; }

.ui.pagination.menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.panel-pane {
  margin-bottom: 30px; }

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer {
  overflow: hidden;
  position: relative; }

.jspPane {
  position: absolute; }

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 100%;
  background: red; }

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: transparent; }

.jspCap {
  display: none; }

.jspHorizontalBar .jspCap {
  float: left; }

.jspTrack {
  background: #ddd;
  position: relative;
  border-radius: 10px;
  padding: 4px 0; }

.jspDrag {
  background: #666;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  border-radius: 10px; }

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%; }

.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0; }

.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d; }

.jspVerticalBar .jspArrow {
  height: 16px; }

.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%; }

.jspVerticalBar .jspArrow:focus {
  outline: none; }

.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%; }

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0; }
@media (max-width: 75em){
  .breadcrumbs-wrapper{
    padding: 0 20px; }
  .site-footer .region-footer{
    padding: 30px 20px; } }
@media (min-width: 25em){
  .view-features .views-exposed-widget{
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 48%;
    margin-left: 0%;
    margin-right: 4%; }
  .view-features .views-exposed-widget:before, .view-features .views-exposed-widget:after{
    content: '';
    display: table; }
  .view-features .views-exposed-widget:after{
    clear: both; }
  .view-features .views-exposed-widget:nth-child(2n){
    margin-right: 0%;
    float: right; }
  .view-features .views-exposed-widget:nth-child(2n + 1){
    clear: both; } }
@media (min-width: 50em){
  .view-features .view-content{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 3%;
    -moz-column-gap: 3%;
    column-gap: 3%;
    -webkit-column-width: 30%;
    -moz-column-width: 30%;
    column-width: 30%; }
  #header .region-navigation{
    right: auto; }
  .wrapper--header{
    padding: 20px 0;
    height: 125px; }
  .wrapper--header .site-header__logo{
    display: block;
    float: left;
    width: 120px; }
  .wrapper--header .site-header__logo img{
    height: auto; }
  .wrapper--header.compressed{
    height: 55px;
    padding: 10px 20px; }
  .wrapper--header.compressed .site-header__logo{
    width: 50px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out, width 0.3s ease-in-out;
    overflow: hidden; }
  .wrapper--header.compressed #header .block-search input.form-text,
        .wrapper--header.compressed #header .block-views input.form-text{
    padding: 0.4em 1em;
    font-size: 14px; }
  .wrapper--header.compressed #header .block-search,
        .wrapper--header.compressed #header .block-views{
    right: 80px; }
  .wrapper--header.compressed #header a.loginpopup{
    margin-top: 8px; }
  .wrapper--main{
    padding-top: 125px; }
  #header .block-search,
    #header .block-views{
    right: 0;
    transition: none; }
  #header .block-search input.form-text,
      #header .block-views input.form-text{
    width: 120px !important; }
  #header .block-search.focus,
      #header .block-views.focus{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    width: auto;
    background: transparent;
    left: inherit;
    padding: 0; }
  #header a.loginpopup{
    margin: 0 10px 10px 0; } }
@media (min-width: 75em){
  .node-type-feature #main .row.top{
    width: 100%;
    margin-left: 0; }
  .node-type-feature #main .row.top .pane-node-field-featured-image{
    padding: 20px 0; } }
