<div class="checkbox-wrapper form-item-border rounded inline-block relative">
  <input{{ attributes.setAttribute('tabindex', 0) }} />{{ children }}
  <i class="icon icon-check absolute opt form-item-focused-color"></i>
</div>
