.checkbox-wrapper {
  top: 2px;
  width: 16px;
  height: 16px;
  z-index: 1;
}

.checkbox-wrapper i {
  font-size: 22px;
  top: -4px;
  left: -2px;
  opacity: 0;
}

.checkbox-wrapper .form-checkbox {
  display: none;
}

.form-checkbox:checked + i {
  opacity: 1;
}

.form-checkboxes .form-item {
  margin-bottom: .5em;
}

.form-checkboxes .form-item:last-child {
  margin-bottom: 0;
}