//
// Button Variables
// override these in _custom.scss
//
$button-padding: 0.4em 1.5em !default;
$button-border-radius: $border-radius !default;
$button-primary-color: $bear-dark !default;
$button-primary-font-color: $bear-whitey !default;
$button-secondary-color: $bear-brown !default;
$button-secondary-font-color: $bear-whitey !default;
$button-highlight-color: $bear-yellow !default;
$button-highlight-font-color: $bear-whitey !default;

//
// Button mixin
//
@mixin bear-button($color: $button-primary-color, $font-color: $button-primary-font-color, $radius: $button-border-radius, $padding: $button-padding, $transitions: false) {
  @include bear-appearance(none);
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 1px solid darken($color, 10%);
  outline: none;
  transition: background-color 0.4s, color 0.4s;
  background-color: $color;
  color: $font-color;
  padding: $padding;
  border-radius: $radius;
  text-decoration: none;
  cursor: pointer;
  line-height: $bear-line-height;
  * {
    position: relative;
  }
  &:hover, &:focus {
    background-color: darken($color, 10%);
    text-decoration: none;
    color: $font-color;
  }
  @if ($transitions) {
    &:before {
      @include rgba-background(rgba(36, 240, 241, 0.3));
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 0;
      padding-top: 0;
      border-radius: 100%;
      transform: translate(-50%, -50%);
    }
    &:active:before {
      width: 120%;
      padding-top: 120%;
      transition: width .2s ease-out, padding-top .2s ease-out;
    }
  }
}

@mixin bear-button-inverted($color: $button-primary-color, $font-color: $button-primary-color, $radius: $button-border-radius, $padding: $button-padding) {
  @include bear-button(transparent, $font-color, $radius, $padding);
  border: 2px solid $color;
  &:hover {
    color: $font-color;
    background-color: transparent;
  }
  &:before,
  &:active {
    @include rgba-background(rgba($color, 0.2));
  }
}

//
// Extendable classes
//
%button {
  @include bear-button;
}

%button-secondary {
  background-color: $button-secondary-color;
  color: $button-secondary-font-color;
  border-color: darken($button-secondary-color, 8%);
  &:hover, &:focus {
    background-color: darken($button-secondary-color, 5%);
  }
}

%button-highlight {
  background-color: $button-highlight-color;
  color: $button-highlight-font-color;
  border-color: darken($button-highlight-color, 8%);
  &:hover, &:focus {
    background-color: darken($button-highlight-color, 5%);
  }
}

%button-success {
  background-color: $color-success;
  color: $button-highlight-font-color;
  border-color: darken($color-success, 8%);
  &:hover, &:focus {
    background-color: darken($color-success, 5%);
  }
}

%button-warning {
  background-color: $color-warning;
  color: $button-highlight-font-color;
  border-color: darken($color-warning, 8%);
  &:hover, &:focus {
    background-color: darken($color-warning, 5%);
  }
}

%button-error {
  background-color: $color-error;
  color: $button-highlight-font-color;
  border-color: darken($color-error, 8%);
  &:hover, &:focus {
    background-color: darken($color-error, 5%);
  }
}

%button-inverted {
  @include bear-button-inverted;
}

%button-inverted-secondary {
  border-color: $button-secondary-color;
  color: $button-secondary-color;
  &:before, &:active {
    @include rgba-background(rgba($button-secondary-color, 0.2));
  }
  &:hover {
    color: $button-secondary-color;
  }
}

%button-inverted-highlight {
  border-color: $button-highlight-color;
  color: $button-highlight-color;
  &:before, &:active {
    @include rgba-background(rgba($button-highlight-color, 0.2));
  }
  &:hover {
    color: $button-highlight-color;
  }
}

%button-inverted-success {
  border-color: $color-success;
  color: $color-success;
  &:before, &:active {
    @include rgba-background(rgba($color-success, 0.2));
  }
  &:hover {
    color: $color-success;
  }
}

%button-inverted-warning {
  border-color: $color-warning;
  color: $color-warning;
  &:before, &:active {
    @include rgba-background(rgba($color-warning, 0.2));
  }
  &:hover {
    color: $color-warning;
  }
}

%button-inverted-error {
  border-color: $color-error;
  color: $color-error;
  &:before, &:active {
    @include rgba-background(rgba($color-error, 0.2));
  }
  &:hover {
    color: $color-error;
  }
}