body {
  margin: 0;
  padding: 0;

  *, *:before, *:after {
    box-sizing: border-box;
  }
}

.wrapper:not(.wrapper--footer) {
  @include breakpoint($breakpoint-full-width) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

#skip-link {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

.site-header,
.site-main,
.region--footer {
  @include cf;
  max-width: $site-max-width;
  margin: 0 auto;
}
.region--navigation {
  display: inline-block;
}

// ***********************
// Sticky Footer (flexbox)
//************************

body.with-sticky-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}
body.with-sticky-footer .wrapper--main {
  position: relative;
  -webkit-box-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
}

//
// Left Sidebar
//
.sidebar-first {
  main {
    @include breakpoint($breakpoint-medium-width) {
      @include col(3/4);
      @include shift(1/4);
    }
  }
  .site-sidebars {
    @include breakpoint($breakpoint-medium-width) {
      @include col(1/4);
      @include shift(-3/4);
    }
  }
}

//
// Right sidebar
//
.sidebar-second {
  main {
    @include breakpoint($breakpoint-medium-width) {
      @include col(3/4);
    }
  }
  .region-sidebar-first {
    @include breakpoint($breakpoint-medium-width) {
      @include col(1/4);
    }
  }
}

//
// Two sidebars
//
.two-sidebars {
  main {
    @include breakpoint($breakpoint-medium-width) {
      @include col(2/4);
      @include shift(1/4);
    }
  }
  .region-sidebar-first {
    @include breakpoint($breakpoint-medium-width) {
      @include col(1/4);
      @include shift(-2/4);
    }
  }
  .region-sidebar-second {
    @include breakpoint($breakpoint-medium-width) {
      @include col(1/4);
    }
  }
}