body {
  margin: 0;
  padding: 0;
  *, *:before, *:after {
    box-sizing: border-box;
  }
  img {
    display: block;
    max-width: 100%;
    height: 100%;
  }
}

#skip-link {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

.site-header,
.site-main,
.region--footer,
#breadcrumbs {
  @include cf;
  max-width: $site-max-width;
  margin: 0 auto;
}
.region--navigation {
  display: inline-block;
}

// Including our mixin here for easier
@mixin layout-padding {
  padding-left: 20px;
  padding-right: 20px;
  @include breakpoint($breakpoint-to-max-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.site-header,
.site-main,
.breadcrumbs-wrapper,
.region--footer,
.breadcrumbs {
  @include layout-padding;
}
.panel-display {
  .row {
    @include layout-padding;
  }
  &.empty-right,
  &.empty-left {
    .column.center {
      @include layout-padding;
    }
  }
  &.panel-display--three-column,
  &.panel-display--two-eq-column {
    padding-left: 0;
    padding-right: 0;
    &.empty-left.empty-right {
      @include layout-padding;
    }
  }
}
body.page-panels {
  h1.main__title {
    @include layout-padding;
  }
  .site-main {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .row {
    @include cf;
    max-width: $site-max-width;
    margin: 0 auto;
  }
  .panel-display {
    &.empty-right,
    &.empty-left {
      .column.center {
        @include cf;
        max-width: $site-max-width;
        margin: 0 auto;
      }
    }
  }
}

//*************
// Fluid Layout
//*************

body.fluid-bear {
  .site-header, 
  #breadcrumbs,
  .region--footer {
    max-width: 100%;
    margin: 0;
  }
  .site-main {
    max-width: 100%;
    margin: 0; 
  }
  .site-header, 
  .breadcrumbs-wrapper,
  .region--footer,
  h1.main__title,
  .breadcrumbs {
    @include breakpoint($breakpoint-to-max-width) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .panel-display {
    .row {
      @include layout-padding;
    }
    &.empty-right,
    &.empty-left {
      .column.center {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    &.panel-display--three-column,
    &.panel-display--two-eq-column {
      padding-left: 0;
      padding-right: 0;
      &.empty-left.empty-right {
        @include layout-padding;
      }
    }
  }
  &:not(.page-panels) {
    h1.main__title {
      @include breakpoint($breakpoint-to-max-width) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .site-main {
      padding: 0 20px;
    }
  }
}

//************************
// Sticky Footer (flexbox)
//************************

body.with-sticky-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}
body.with-sticky-footer .wrapper--main {
  position: relative;
  -webkit-box-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
}

//
// Left Sidebar
//
.sidebar-first {
  main {
    @include breakpoint($breakpoint-medium-width) {
      @include col(3/4);
      @include shift(1/4);
    }
  }
  .site-sidebars {
    @include breakpoint($breakpoint-medium-width) {
      @include col(1/4);
      @include shift(-3/4);
    }
  }
}

//
// Right sidebar
//
.sidebar-second {
  main {
    @include breakpoint($breakpoint-medium-width) {
      @include col(3/4);
    }
  }
  .region-sidebar-first {
    @include breakpoint($breakpoint-medium-width) {
      @include col(1/4);
    }
  }
}

//
// Two sidebars
//
.two-sidebars {
  main {
    @include breakpoint($breakpoint-medium-width) {
      @include col(2/4);
      @include shift(1/4);
    }
  }
  .region-sidebar-first {
    @include breakpoint($breakpoint-medium-width) {
      @include col(1/4);
      @include shift(-2/4);
    }
  }
  .region-sidebar-second {
    @include breakpoint($breakpoint-medium-width) {
      @include col(1/4);
    }
  }
}