body {
  margin: 0;
  padding: 0;
  *, *:before, *:after {
    box-sizing: border-box;
  }
  img {
    display: block;
    max-width: 100%;
    height: 100%;
  }
  main {
    padding-bottom: 30px;
  }
}

.wrapper {
  min-width: 320px;
}

.field-collection-view {
  margin: 0;
}

#skip-link {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

// Including our mixin here for easier changes
@mixin layout-padding {
  padding-left: 20px;
  padding-right: 20px;
}

//************************************
// Padding/Layout rules for main pages
//************************************

.site-header,
.site-main,
#footer,
#breadcrumb {
  @include cf;
  max-width: $site-max-width;
  margin: 0 auto;
}
.region--navigation {
  display: inline-block;
}
.site-header,
.site-main,
.breadcrumbs-wrapper,
#footer,
#breadcrumb {
  @include layout-padding;
}

//**************************************
// Padding/Layout rules for panels pages
//**************************************

body.page-panels {
  h1.main__title {
    @include layout-padding;
  }
  .site-main {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
.panel-display {
  .row {
    @include cf;
    max-width: $site-max-width;
    margin: 0 auto;
    @include layout-padding;
  }
  &.empty-right,
  &.empty-left {
    .column.center {
      @include cf;
      max-width: $site-max-width;
      margin: 0 auto;
      @include layout-padding;
    }
  }
  &.panel-display--three-column,
  &.panel-display--two-eq-column {
    padding-left: 0;
    padding-right: 0;
    &.empty-left.empty-right {
      @include layout-padding;
    }
  }
}

//*************
// Fluid Layout
//*************

body.fluid-bear {
  .site-header, 
  #breadcrumbs,
  .site-footer {
    max-width: 100%;
    margin: 0;
  }
  .site-main {
    max-width: 100%;
    margin: 0; 
  }
  .site-header, 
  .breadcrumbs-wrapper,
  .site-footer,
  h1.main__title,
  .breadcrumbs {
    @include breakpoint($breakpoint-to-max-width) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .panel-display {
    .row {
      padding-left: 20px;
      padding-right: 20px;
      max-width: 100%;
    }
    &.empty-right,
    &.empty-left {
      .column.center {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    &.panel-display--three-column,
    &.panel-display--two-eq-column {
      padding-left: 0;
      padding-right: 0;
      &.empty-left.empty-right {
        @include layout-padding;
      }
    }
  }
  &:not(.page-panels) {
    h1.main__title {
      @include breakpoint($breakpoint-to-max-width) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .site-main {
      padding: 0 20px;
    }
  }
}

//************************
// Sticky Footer (flexbox)
//************************

body.with-sticky-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}
body.with-sticky-footer .wrapper--main {
  position: relative;
  -webkit-box-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  overflow: hidden;
}

//*************
// Left Sidebar
//*************

.layout-sidebar-first {
  main {
    @include breakpoint($breakpoint-medium-width) {
      @include col(3/4);
      @include shift(1/4);
    }
  }
  .site-sidebars {
    @include breakpoint($breakpoint-medium-width) {
      @include col(1/4);
      @include shift(-3/4);
    }
  }
}

//**************
// Right Sidebar
//**************

.layout-sidebar-second {
  main {
    @include breakpoint($breakpoint-medium-width) {
      @include col(3/4);
    }
  }
  .site-sidebars {
    @include breakpoint($breakpoint-medium-width) {
      @include col(1/4);
    }
  }
}

//**************
// Two Sidebars
//**************

.layout-two-sidebars {
  main {
    @include breakpoint($breakpoint-medium-width) {
      @include col(2/4);
      @include shift(1/4);
    }
  }
  .sidebar-first {
    @include breakpoint($breakpoint-medium-width) {
      @include col(1/4);
      @include shift(-2/4);
    }
  }
  .sidebar-second {
    @include breakpoint($breakpoint-medium-width) {
      @include col(1/4);
    }
  }
}