body {
  margin: 0;
  padding: 0;

  *, *:before, *:after {
    box-sizing: border-box;
  }
}

.wrapper {
  @include breakpoint($breakpoint-full-width) {
    padding: 0 20px;
  }
}

.site-header,
.region--navigation,
.site-main,
#footer {
  @include cf;
  max-width: $site-max-width;
  margin: 0 auto;
}

//
// Left Sidebar
//
.sidebar-first {
  main {
    @include col(3/4);
    @include shift(1/4);
    @include breakpoint($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
  .site-sidebars {
    @include col(1/4);
    @include shift(-3/4);
    @include breakpoint($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
}

//
// Right sidebar
//
.sidebar-second {
  main {
    @include col(3/4);
    @include breakpoint($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
  .region-sidebar-first {
    @include col(1/4);
    @include breakpoint($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
}

//
// Two sidebars
//
.two-sidebars {
  main {
    @include col(2/4);
    @include shift(1/4);
    @include breakpoint($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
  .region-sidebar-first {
    @include col(1/4);
    @include shift(-2/4);
    @include breakpoint($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
  .region-sidebar-second {
    @include col(1/4);
    @include breakpoint($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
}