//
// Navigation variables
//
$nav-container-bg-color: $bear-dark !default;
$nav-container-height: 50px !default;

$nav-drop-down-bg-color: $bear-dark !default;
$nav-drop-down-bg-color-hover: $bear-yellow !default;
$nav-drop-down-link-color: $bear-whitey !default;
$nav-drop-down-link-color-hover: $nav-container-bg-color !default;
$nav-drop-down-border-radius: $border-radius !default;
$nav-drop-down-min-width: 250px !default;

$nav-link-text-transform: capitalize !default;
$nav-link-padding: 0 1em !default;
$nav-link-bg-color: $nav-container-bg-color !default;
$nav-link-bg-color-hover: $bear-yellow !default;
$nav-link-color: $bear-whitey !default;
$nav-link-color-hover: $nav-container-bg-color !default;