//
// Reusable classes
//
.u-hidden {
  @include bear-element-invisible;
}

.u-unhidden {
  @include bear-element-invisible-off;
}

.u-focusable {
  @include bear-element-focusable;
}

.u-no-box-shadow {
  box-shadow: none;
}

.u-no-text-shadow {
  text-shadow: none;
}

.is-phone {
  @include breakpoint($breakpoint-small-width) {
    display: none;
  }
}