.pager {

  &__items {
    @include font-size(1);
    @include padding(1, 0);

    list-style: none;
    margin: 0 auto;
    text-align: center;
  }

  &__item {
    display: inline-block;
    font-family: $sans;

    &.is-active {
      background: $gallery;
      color: $grey;
    }

    &--ellipsis {
      @include padding(0, .2);

      &::after {
        color: $grey;
        content: '...';
      }
    }

    &--first,
    &--last {

      a {
        i {
          &::before {
            width: auto;
          }
        }
      }
    }
  }

  &__link {
    color: $grey;
    display: block;
    padding: 2px 8px;
    position: relative;
  }

  i {
    color: $white;
    display: inline-block;
    font-size: 12px;
    margin: 0;
    position: relative;
    text-align: center;

    &::before {
      display: block;
      right: 0;
      padding: 8px;
      border-radius: 50%;
      right: 0;
      width: 12px;
      height: 12px;
      transition: background 0.2s ease-in-out;
    }
  }
}
