/* line 1, ../sass/atoms/_typography.scss */
a {
  color: #61AEE2;
  text-decoration: none;
  -webkit-transition: color 0.25s ease;
          transition: color 0.25s ease;
}
/* line 24, ../../../../../../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #3698da;
}

/* line 4, ../sass/atoms/_button.scss */
.button, .wrapper.header header #bear-user-menu ul li a {
  position: relative;
  display: block;
  overflow: hidden;
  border: 1px solid #3b3b3b;
  outline: none;
  -webkit-transition: background-color 0.3s;
          transition: background-color 0.3s;
  background-color: #555555;
  color: #f9f9f9;
  padding: 0.7em 1.5em;
  border-radius: 2px;
}
/* line 28, ../sass/base/vars/_button.scss */
.button *, .wrapper.header header #bear-user-menu ul li a * {
  position: relative;
}
/* line 31, ../sass/base/vars/_button.scss */
.button:hover, .wrapper.header header #bear-user-menu ul li a:hover, .button:focus, .wrapper.header header #bear-user-menu ul li a:focus {
  background-color: #3b3b3b;
  text-decoration: none;
}
/* line 35, ../sass/base/vars/_button.scss */
.button:before, .wrapper.header header #bear-user-menu ul li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/* line 47, ../sass/base/vars/_button.scss */
.button:active:before, .wrapper.header header #bear-user-menu ul li a:active:before {
  width: 120%;
  padding-top: 120%;
  -webkit-transition: width .2s ease-out, padding-top .2s ease-out;
          transition: width .2s ease-out, padding-top .2s ease-out;
}

/* line 8, ../sass/atoms/_button.scss */
.secondary.button, .wrapper.header header #bear-user-menu ul li a.secondary {
  background-color: #4C1B01;
  color: #f9f9f9;
}
/* line 11, ../sass/atoms/_button.scss */
.secondary.button:hover, .wrapper.header header #bear-user-menu ul li a.secondary:hover, .secondary.button:focus, .wrapper.header header #bear-user-menu ul li a.secondary:focus {
  background-color: #1a0900;
}

/* line 16, ../sass/atoms/_button.scss */
.highlight.button, .wrapper.header header #bear-user-menu ul li a.highlight {
  background-color: #F9B634;
  color: #f9f9f9;
}
/* line 19, ../sass/atoms/_button.scss */
.highlight.button:hover, .wrapper.header header #bear-user-menu ul li a.highlight:hover, .highlight.button:focus, .wrapper.header header #bear-user-menu ul li a.highlight:focus {
  background-color: #f3a307;
}

/* line 28, ../sass/atoms/_button.scss */
.button-nude.secondary {
  border-color: #4C1B01;
  color: #4C1B01;
}
/* line 31, ../sass/atoms/_button.scss */
.button-nude.secondary:before {
  background-color: rgba(76, 27, 1, 0.2);
}

/* line 36, ../sass/atoms/_button.scss */
.button-nude.highlight {
  border-color: #F9B634;
  color: #F9B634;
}
/* line 39, ../sass/atoms/_button.scss */
.button-nude.highlight:before {
  background-color: rgba(249, 182, 52, 0.2);
}

/* line 57, ../sass/atoms/_button.scss */
.button-nude {
  position: relative;
  display: block;
  overflow: hidden;
  border: 1px solid transparent;
  outline: none;
  -webkit-transition: background-color 0.3s;
          transition: background-color 0.3s;
  background-color: transparent;
  color: #555555;
  padding: 0.7em 1.5em;
  border-radius: 2px;
  border: 2px solid #555555;
}
/* line 28, ../sass/base/vars/_button.scss */
.button-nude * {
  position: relative;
}
/* line 31, ../sass/base/vars/_button.scss */
.button-nude:hover, .button-nude:focus {
  background-color: transparent;
  text-decoration: none;
}
/* line 35, ../sass/base/vars/_button.scss */
.button-nude:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/* line 47, ../sass/base/vars/_button.scss */
.button-nude:active:before {
  width: 120%;
  padding-top: 120%;
  -webkit-transition: width .2s ease-out, padding-top .2s ease-out;
          transition: width .2s ease-out, padding-top .2s ease-out;
}
/* line 57, ../sass/base/vars/_button.scss */
.button-nude:hover {
  background-color: transparent;
}
/* line 60, ../sass/base/vars/_button.scss */
.button-nude:before {
  background-color: rgba(85, 85, 85, 0.2);
}

/* line 7, ../sass/bear.scss */
body {
  color: #555555;
}

/* line 11, ../sass/bear.scss */
html, body, button, input, select, textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

/* line 15, ../sass/bear.scss */
h1, h2, h3, h4, h5 {
  font-family: Georgia, Times, sans-serif;
  font-weight: 400;
}

/* line 20, ../sass/bear.scss */
#main {
  clear: both;
}

/* line 24, ../sass/bear.scss */
#page {
  min-width: 300px;
}

/* line 28, ../sass/bear.scss */
#navigation {
  width: 100%;
  padding: 15px 0;
}

@media (max-width: 25em) {
  /* line 34, ../sass/bear.scss */
  ul.primary li, ul.secondary li {
    float: none;
    clear: both;
    margin: 0;
  }
  /* line 38, ../sass/bear.scss */
  ul.primary li a, ul.secondary li a {
    width: 88%;
  }
}
/***********
~STRUCTURE
***********/
/* line 48, ../sass/bear.scss */
h1 {
  font-size: 160%;
}

/* line 53, ../sass/bear.scss */
.wrapper.header {
  background-color: #8E8E8E;
  box-shadow: inset 0px -3px 6px #666;
}
/* line 57, ../sass/bear.scss */
.wrapper.footer {
  background-color: #EFF2F1;
}

/* line 62, ../sass/bear.scss */
.breadcrumb {
  margin: 20px 0;
}

/***********
~HEADER
***********/
/* line 69, ../sass/bear.scss */
.region-header {
  clear: none;
}

/* line 74, ../sass/bear.scss */
.wrapper.header header {
  padding: 25px 0;
  position: relative;
}
/* line 77, ../sass/bear.scss */
.wrapper.header header #bear-user-menu {
  float: right;
  margin: 0;
}
@media (max-width: 50em) {
  /* line 77, ../sass/bear.scss */
  .wrapper.header header #bear-user-menu {
    float: none;
    text-align: center;
    margin: 0;
  }
}
/* line 85, ../sass/bear.scss */
.wrapper.header header #bear-user-menu ul {
  margin: 20px 0 0 0;
  padding: 0;
}
/* line 88, ../sass/bear.scss */
.wrapper.header header #bear-user-menu ul li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 0 0 10px;
}

/* line 100, ../sass/bear.scss */
h1#site-name {
  font-size: 2em;
  line-height: .5em;
  margin: 70px 0 0 25px;
}
/* line 104, ../sass/bear.scss */
h1#site-name a:link, h1#site-name a:visited {
  color: #ffffff;
}

/* line 109, ../sass/bear.scss */
#block-search-form {
  background: #FFFFFF;
  padding: 0 0 0 10px;
  float: right;
  width: 200px;
  margin: 60px 0 0 0;
}
@media (max-width: 50em) {
  /* line 109, ../sass/bear.scss */
  #block-search-form {
    clear: both;
    float: none;
    text-align: center;
    margin: 0 auto;
  }
}
/* line 121, ../sass/bear.scss */
#block-search-form input.form-text {
  border: none;
  border-right: 1px solid #CCCCCC;
  width: 150px;
}
/* line 126, ../sass/bear.scss */
#block-search-form input.form-text:focus {
  box-shadow: none;
}
/* line 130, ../sass/bear.scss */
#block-search-form input.form-submit {
  text-indent: -9999px;
  background: #FFFFFF url('../images/search.png?1425402197') no-repeat center center;
  border: none;
  box-shadow: none;
  -webkit-filter: none;
          filter: none;
  padding: 5px 15px;
  width: 40px;
  height: 28px;
  text-shadow: none;
  margin: 0;
}

@media (max-width: 50em) {
  /* line 145, ../sass/bear.scss */
  .wrapper.header #header {
    text-align: center;
    padding: 0;
  }
  /* line 148, ../sass/bear.scss */
  .wrapper.header #header #logo {
    float: none;
    clear: both;
    display: block;
    padding: 20px 0;
  }
  /* line 154, ../sass/bear.scss */
  .wrapper.header #header #name-and-slogan {
    float: none;
  }
  /* line 156, ../sass/bear.scss */
  .wrapper.header #header #name-and-slogan h1 {
    margin: 10px 0;
  }
}
/***********
~SIDEBARS
***********/
/* line 168, ../sass/bear.scss */
aside.sidebars .sidebar {
  padding: 5px 0 20px 0;
}
/* line 170, ../sass/bear.scss */
aside.sidebars .sidebar h2 {
  background: #EFF2F1;
  text-indent: 10px;
  margin: 0 0 10px 0;
  font-size: 110%;
}
@media (max-width: 62.5em) {
  /* line 168, ../sass/bear.scss */
  aside.sidebars .sidebar {
    padding-left: auto;
  }
}

/***********
~SLIDESHOW
***********/
/* line 186, ../sass/bear.scss */
.view-slideshow {
  padding: 0 3px;
}
/* line 188, ../sass/bear.scss */
.view-slideshow .flexslider {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 0;
  border: 4px solid #FFFFFF;
  margin: 30px 0;
  position: relative;
  box-shadow: 0 0 5px #ccc;
}
/* line 195, ../sass/bear.scss */
.view-slideshow .flexslider li {
  opacity: 1 !important;
}
/* line 197, ../sass/bear.scss */
.view-slideshow .flexslider li p {
  font-family: Georgia, Times, sans-serif;
  text-align: center;
  background: #f5f5f5;
  margin: 0;
  padding: 10px 0;
  font-size: 90%;
}

/***********
~FOOTER
***********/
/* line 214, ../sass/bear.scss */
.wrapper.footer #footer {
  margin-left: auto;
  margin-right: auto;
  color: #555555;
  font-size: 12px;
}
@media (max-width: 75em) {
  /* line 214, ../sass/bear.scss */
  .wrapper.footer #footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 50em) {
  /* line 227, ../sass/bear.scss */
  #footer {
    text-align: center;
  }

  /* line 230, ../sass/bear.scss */
  ul.social-footer {
    margin-top: -10px;
  }
  /* line 232, ../sass/bear.scss */
  ul.social-footer li {
    display: inline-block;
    float: none;
  }
}
/* BEARSKIN site Documentation page fun */
/* line 242, ../sass/bear.scss */
#documentation p.tb {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 24.25%;
  margin-left: 0%;
  margin-right: 1%;
  box-sizing: border-box;
  background: #DDDDDD;
  padding: 20px;
}
/* line 196, ../sass/base/jeet/_grid.scss */
#documentation p.tb:before, #documentation p.tb:after {
  content: '';
  display: table;
}
/* line 200, ../sass/base/jeet/_grid.scss */
#documentation p.tb:after {
  clear: both;
}
/* line 40, ../sass/base/jeet/_grid.scss */
#documentation p.tb:nth-child(4n) {
  margin-right: 0%;
  float: right;
}
/* line 45, ../sass/base/jeet/_grid.scss */
#documentation p.tb:nth-child(4n + 1) {
  clear: both;
}

/*
 * CSS Animations
 */
/* line 253, ../sass/bear.scss */
.m-scene .scene_element {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

/* line 259, ../sass/bear.scss */
.m-scene .scene_element--fadein {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

/* line 263, ../sass/bear.scss */
.m-scene.is-exiting .scene_element {
  -webkit-animation-direction: alternate-reverse;
          animation-direction: alternate-reverse;
}

/*
 * Keyframes
 */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=bear.css.map */