/****************
OUR CUSTOM MIXINS
*****************/
/**
 *
 * Non panel layouts (one sidebar, two sidebars, none)
 *
 */
/* line 7, ../sass/00-base/_layout.scss */
body * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/00-base/_layout.scss */
#page {
  width: 100%;
}
@media (max-width: 1200px) {
  /* line 14, ../sass/00-base/_layout.scss */
  #page .wrapper {
    padding: 0 20px;
  }
}

/* line 21, ../sass/00-base/_layout.scss */
#header,
#content,
#navigation,
#highlighted,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  max-width: 1111px;
  margin: 0 auto;
}
/* line 30, ../sass/00-base/_layout.scss */
#header:after,
#content:after,
#navigation:after,
#highlighted:after,
.region-sidebar-first:after,
.region-sidebar-second:after,
#footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 37, ../sass/00-base/_layout.scss */
#header,
#main,
#footer {
  width: 100%;
}
/* line 41, ../sass/00-base/_layout.scss */
#header:after,
#main:after,
#footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 47, ../sass/00-base/_layout.scss */
#main {
  max-width: 1111px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

/* LEFT SIDEBAR */
/* line 56, ../sass/00-base/_layout.scss */
.sidebar-first #content {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 74.25%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: 25.75%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.sidebar-first #content:before, .sidebar-first #content:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.sidebar-first #content:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.sidebar-first #content:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 56, ../sass/00-base/_layout.scss */
  .sidebar-first #content {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first #content:before, .sidebar-first #content:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first #content:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first #content:last-child {
    margin-right: 0%;
  }
}
/* line 64, ../sass/00-base/_layout.scss */
.sidebar-first .region-sidebar-first {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: -77.25%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.sidebar-first .region-sidebar-first:before, .sidebar-first .region-sidebar-first:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.sidebar-first .region-sidebar-first:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.sidebar-first .region-sidebar-first:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 64, ../sass/00-base/_layout.scss */
  .sidebar-first .region-sidebar-first {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first .region-sidebar-first:before, .sidebar-first .region-sidebar-first:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first .region-sidebar-first:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first .region-sidebar-first:last-child {
    margin-right: 0%;
  }
}

/* RIGHT SIDEBAR */
/* line 77, ../sass/00-base/_layout.scss */
.sidebar-second #content {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 74.25%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.sidebar-second #content:before, .sidebar-second #content:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.sidebar-second #content:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.sidebar-second #content:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 77, ../sass/00-base/_layout.scss */
  .sidebar-second #content {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second #content:before, .sidebar-second #content:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second #content:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second #content:last-child {
    margin-right: 0%;
  }
}
/* line 84, ../sass/00-base/_layout.scss */
.sidebar-second .region-sidebar-first {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.sidebar-second .region-sidebar-first:before, .sidebar-second .region-sidebar-first:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.sidebar-second .region-sidebar-first:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.sidebar-second .region-sidebar-first:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 84, ../sass/00-base/_layout.scss */
  .sidebar-second .region-sidebar-first {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second .region-sidebar-first:before, .sidebar-second .region-sidebar-first:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second .region-sidebar-first:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second .region-sidebar-first:last-child {
    margin-right: 0%;
  }
}

/* TWO SIDEBARS */
/* line 96, ../sass/00-base/_layout.scss */
.two-sidebars #content {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: 25.75%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.two-sidebars #content:before, .two-sidebars #content:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.two-sidebars #content:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.two-sidebars #content:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 96, ../sass/00-base/_layout.scss */
  .two-sidebars #content {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars #content:before, .two-sidebars #content:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars #content:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars #content:last-child {
    margin-right: 0%;
  }
}
/* line 104, ../sass/00-base/_layout.scss */
.two-sidebars .region-sidebar-first {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: -51.5%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-first:before, .two-sidebars .region-sidebar-first:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-first:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-first:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 104, ../sass/00-base/_layout.scss */
  .two-sidebars .region-sidebar-first {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-first:before, .two-sidebars .region-sidebar-first:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-first:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-first:last-child {
    margin-right: 0%;
  }
}
/* line 112, ../sass/00-base/_layout.scss */
.two-sidebars .region-sidebar-second {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-second:before, .two-sidebars .region-sidebar-second:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-second:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-second:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 112, ../sass/00-base/_layout.scss */
  .two-sidebars .region-sidebar-second {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-second:before, .two-sidebars .region-sidebar-second:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-second:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-second:last-child {
    margin-right: 0%;
  }
}

/* line 37, ../sass/bear-menu.scss */
#navigation .block-menu:after, #navigation .menu-block-wrapper > ul:after {
  content: "";
  display: table;
  clear: both;
}

/* line 43, ../sass/bear-menu.scss */
#navigation .block-menu, #navigation .menu-block-wrapper {
  font: bold 13px Arial, Helvetica;
}
/* line 45, ../sass/bear-menu.scss */
#navigation .block-menu *, #navigation .menu-block-wrapper * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 48, ../sass/bear-menu.scss */
#navigation .block-menu ul, #navigation .menu-block-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 54, ../sass/bear-menu.scss */
#navigation .block-menu li, #navigation .menu-block-wrapper li {
  position: relative;
}
/* line 56, ../sass/bear-menu.scss */
#navigation .block-menu li:hover, #navigation .menu-block-wrapper li:hover {
  border-right-color: #666666;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}
/* line 59, ../sass/bear-menu.scss */
#navigation .block-menu li:hover > ul, #navigation .menu-block-wrapper li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
}
/* line 64, ../sass/bear-menu.scss */
#navigation .block-menu li:hover > a, #navigation .menu-block-wrapper li:hover > a {
  color: white;
  background: #666666;
}
/* line 70, ../sass/bear-menu.scss */
#navigation .block-menu input[type=checkbox], #navigation .menu-block-wrapper input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
/* line 75, ../sass/bear-menu.scss */
#navigation .block-menu label, #navigation .menu-block-wrapper label {
  display: none;
  cursor: pointer;
  user-select: none;
}

/* line 82, ../sass/bear-menu.scss */
#navigation .block-menu, #navigation .menu-block-wrapper > ul {
  border: 1px solid #777777;
  background-color: #848484;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}
/* line 87, ../sass/bear-menu.scss */
#navigation .block-menu > li, #navigation .menu-block-wrapper > ul > li {
  float: left;
  border-right: 1px solid #919191;
  -moz-box-shadow: 1px 0 0 #b7b7b7;
  -webkit-box-shadow: 1px 0 0 #b7b7b7;
  box-shadow: 1px 0 0 #b7b7b7;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
#navigation .block-menu > li:before, #navigation .block-menu > li:after, #navigation .menu-block-wrapper > ul > li:before, #navigation .menu-block-wrapper > ul > li:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
#navigation .block-menu > li:after, #navigation .menu-block-wrapper > ul > li:after {
  clear: both;
}
/* line 92, ../sass/bear-menu.scss */
#navigation .block-menu > li > a, #navigation .menu-block-wrapper > ul > li > a {
  float: left;
  padding: 1em 0;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
/* line 98, ../sass/bear-menu.scss */
#navigation .block-menu > li > a.active, #navigation .menu-block-wrapper > ul > li > a.active {
  color: #FFF;
  -moz-box-shadow: inset 0 0 5px #666;
  -webkit-box-shadow: inset 0 0 5px #666;
  box-shadow: inset 0 0 10px #666;
}
/* line 106, ../sass/bear-menu.scss */
#navigation .block-menu a, #navigation .menu-block-wrapper > ul a {
  color: #F1EDEE;
  text-decoration: none;
  text-shadow: 0 -1px 0 #585858;
}
/* line 111, ../sass/bear-menu.scss */
#navigation .block-menu ul, #navigation .menu-block-wrapper > ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  margin: 2em 0 0 0;
  width: 100%;
  background-color: #aaaaaa;
  background-image: none;
  -moz-transition-property: "margin, opacity";
  -o-transition-property: "margin, opacity";
  -webkit-transition-property: "margin, opacity";
  transition-property: "margin, opacity";
  -moz-transition-duration: ".15s";
  -o-transition-duration: ".15s";
  -webkit-transition-duration: ".15s";
  transition-duration: ".15s";
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 26, ../sass/bear-menu.scss */
#navigation .block-menu ul:after, #navigation .menu-block-wrapper > ul ul:after {
  content: '';
  position: absolute;
  left: 4em;
  top: -12px;
  border: 6px solid transparent;
  border-bottom-color: #aaa;
}
/* line 125, ../sass/bear-menu.scss */
#navigation .block-menu ul:after, #navigation .menu-block-wrapper > ul ul:after {
  left: 47%;
}
/* line 128, ../sass/bear-menu.scss */
#navigation .block-menu ul li, #navigation .menu-block-wrapper > ul ul li {
  display: block;
  width: 100%;
  -moz-box-shadow: 0 1px 0 #919191, 0 2px 0 #c4c4c4;
  -webkit-box-shadow: 0 1px 0 #919191, 0 2px 0 #c4c4c4;
  box-shadow: 0 1px 0 #919191, 0 2px 0 #c4c4c4;
}
/* line 132, ../sass/bear-menu.scss */
#navigation .block-menu ul li:first-child > a, #navigation .menu-block-wrapper > ul ul li:first-child > a {
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px 0 0;
}
/* line 135, ../sass/bear-menu.scss */
#navigation .block-menu ul li:last-child, #navigation .menu-block-wrapper > ul ul li:last-child {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 137, ../sass/bear-menu.scss */
#navigation .block-menu ul li:last-child > a, #navigation .menu-block-wrapper > ul ul li:last-child > a {
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0;
  border-radius: 0 0 3px 3px;
}
/* line 142, ../sass/bear-menu.scss */
#navigation .block-menu ul a, #navigation .menu-block-wrapper > ul ul a {
  padding: 1em;
  width: 250px;
  display: block;
  border-color: #aaaaaa;
  width: 100%;
}
/* line 148, ../sass/bear-menu.scss */
#navigation .block-menu ul a:hover, #navigation .menu-block-wrapper > ul ul a:hover {
  background-color: #61AEE2;
  border-color: #61AEE2;
}

/*# sourceMappingURL=bear-menu.css.map */
