/**
 * @file
 *
 * Bear Starter Theme Main Styling
 *
 * Adds basic bear styles for starter theme.
 *
 */
/***********
~IMPORTS
***********/
/****************
OUR CUSTOM MIXINS
*****************/
/***********
~VARIABLES
***********/
/***********
~BREAKPOINTS
***********/
/***********
~GENERIC
***********/
body {
  color: #555555;
}
body a {
  color: #61AEE2;
  text-decoration: none;
}
body a:hover {
  color: #443C45;
  text-decoration: underline;
}
body a:visited {
  color: #61AEE2;
}

html, body, button, input, select, textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

h1, h2, h3, h4, h5 {
  font-family: Georgia, Times, sans-serif;
  font-weight: 400;
}

#main {
  clear: both;
}

#page {
  min-width: 300px;
}

#navigation {
  width: 100%;
  padding: 15px 0;
}

@media (max-width: 400px) {
  ul.primary li, ul.secondary li {
    float: none;
    clear: both;
    margin: 0;
  }
  ul.primary li a, ul.secondary li a {
    width: 88%;
  }
}
/***********
~STRUCTURE
***********/
h1 {
  font-size: 160%;
}

.wrapper.header {
  background-color: #8E8E8E;
  box-shadow: inset 0px -3px 6px #666;
  -moz-box-shadow: inset 0px -3px 6px #666;
  -webkit-box-shadow: inset 0px -3px 6px #666;
}
.wrapper.footer {
  background-color: #EFF2F1;
}

.breadcrumb {
  margin: 20px 0;
}

/***********
~HEADER
***********/
.region-header {
  clear: none;
}

.wrapper.header #header {
  padding: 25px 0;
  position: relative;
}
.wrapper.header #header #bear-user-menu {
  float: right;
  margin: 0;
}
@media (max-width: 800px) {
  .wrapper.header #header #bear-user-menu {
    float: none;
    text-align: center;
    margin: 0;
  }
}
.wrapper.header #header #bear-user-menu ul {
  margin: 20px 0 0 0;
  padding: 0;
}
.wrapper.header #header #bear-user-menu ul li {
  display: inline;
  list-style-type: none;
  margin: 0 0 0 10px;
}
.wrapper.header #header #bear-user-menu ul li a {
  font-size: 90%;
  padding: 0.2em 1.1em 0.3em 1.2em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF777777', endColorstr='#FF444444');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc3Nzc3NyIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjNjY2NjY2Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #777777), color-stop(70%, #666666));
  background: -moz-linear-gradient(#777777, #666666 70%);
  background: -webkit-linear-gradient(#777777, #666666 70%);
  background: linear-gradient(#777777, #666666 70%);
  -moz-box-shadow: #9d9d9d 0 1px 0 inset;
  -webkit-box-shadow: #9d9d9d 0 1px 0 inset;
  box-shadow: #9d9d9d 0 1px 0 inset;
  border: 1px solid #595959;
  color: #fff;
  text-shadow: #363636 0 -1px 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.wrapper.header #header #bear-user-menu ul li a:hover {
  text-decoration: none;
}
.wrapper.header #header #bear-user-menu ul li a:hover {
  background-color: #595959;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iIzZhNmE2YSIvPjxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjNTk1OTU5Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #6a6a6a), color-stop(75%, #595959));
  background: -moz-linear-gradient(#6a6a6a 3%, #595959 75%);
  background: -webkit-linear-gradient(#6a6a6a 3%, #595959 75%);
  background: linear-gradient(#6a6a6a 3%, #595959 75%);
}
.wrapper.header #header #bear-user-menu ul li a:active {
  -moz-box-shadow: #525252 0 1px 2px inset;
  -webkit-box-shadow: #525252 0 1px 2px inset;
  box-shadow: #525252 0 1px 2px inset;
}
.wrapper.header #header #bear-user-menu ul li a.disabled, .wrapper.header #header #bear-user-menu ul li a[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #666;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.wrapper.header #header #bear-user-menu ul li a::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

h1#site-name {
  font-size: 2em;
  line-height: .5em;
  margin: 70px 0 0 25px;
}
h1#site-name a:link, h1#site-name a:visited {
  color: #ffffff;
}

#block-search-form {
  background: #FFFFFF;
  padding: 0 0 0 10px;
  float: right;
  width: 200px;
  margin: 60px 0 0 0;
}
@media (max-width: 800px) {
  #block-search-form {
    clear: both;
    float: none;
    text-align: center;
    margin: 0 auto;
  }
}
#block-search-form input.form-text {
  border: none;
  border-right: 1px solid #CCCCCC;
  width: 150px;
}
#block-search-form input.form-text:focus {
  box-shadow: none;
  moz-box-shadow: none;
}
#block-search-form input.form-submit {
  text-indent: -9999px;
  background: #FFFFFF url(../images/search.png) no-repeat center center;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  filter: none;
  padding: 5px 15px;
  width: 40px;
  height: 28px;
  text-shadow: none;
  margin: 0;
}

@media (max-width: 800px) {
  .wrapper.header #header {
    text-align: center;
    padding: 0;
  }
  .wrapper.header #header #logo {
    float: none;
    clear: both;
    display: block;
    padding: 20px 0;
  }
  .wrapper.header #header #name-and-slogan {
    float: none;
  }
  .wrapper.header #header #name-and-slogan h1 {
    margin: 10px 0;
  }
}
/***********
~SIDEBARS
***********/
aside.sidebars .sidebar {
  padding: 5px 0 20px 0;
}
aside.sidebars .sidebar h2 {
  background: #EFF2F1;
  text-indent: 10px;
  margin: 0 0 10px 0;
  font-size: 110%;
}
@media (max-width: 1000px) {
  aside.sidebars .sidebar {
    padding-left: auto;
  }
}

/***********
~SLIDESHOW
***********/
.view-slideshow {
  padding: 0 3px;
}
.view-slideshow .flexslider {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 0;
  border-radius: 0;
  border: 4px solid #FFFFFF;
  margin: 30px 0;
  position: relative;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
}
.view-slideshow .flexslider li {
  opacity: 1 !important;
}
.view-slideshow .flexslider li p {
  text-align: center;
  font-size: 110%;
  background: #f5f5f5;
  margin: 0;
  padding: 10px 0;
  font-size: 90%;
  font-family: Georgia, Times, sans-serif;
}

/***********
~FOOTER
***********/
.wrapper.footer #footer {
  margin-left: auto;
  margin-right: auto;
  color: #555555;
  font-size: 12px;
}
@media (max-width: 1200px) {
  .wrapper.footer #footer {
    padding-left: 0 20px;
    padding-right: 0 20px;
  }
}

@media (max-width: 800px) {
  #footer {
    text-align: center;
  }

  ul.social-footer {
    margin-top: -10px;
  }
  ul.social-footer li {
    display: inline-block;
    float: none;
  }
}
/* BEARSKIN site Documentation page fun */
#documentation p.tb {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 24.25%;
  margin-left: 0%;
  margin-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #DDDDDD;
  padding: 20px;
}
#documentation p.tb:before, #documentation p.tb:after {
  content: '';
  display: table;
}
#documentation p.tb:after {
  clear: both;
}
#documentation p.tb:nth-child(4n) {
  margin-right: 0%;
  float: right;
}
#documentation p.tb:nth-child(4n + 1) {
  clear: both;
}

/*
 * CSS Animations
 * Don't forget to add vendor prefixes!
 */
.m-scene .scene_element {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.25s;
  -webkit-transition-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

.m-scene.is-exiting .scene_element {
  animation-direction: alternate-reverse;
  -webkit-animation-direction: alternate-reverse;
}

/*
 * Keyframes
 */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
