/****************
OUR CUSTOM MIXINS
*****************/
/***********
~VARIABLES
***********/
/***********
~BREAKPOINTS
***********/
#navigation .block-menu:after, #navigation .menu-block-wrapper > ul:after {
  content: "";
  display: table;
  clear: both;
}

#navigation .block-menu, #navigation .menu-block-wrapper {
  font: bold 13px Arial, Helvetica;
}
#navigation .block-menu *, #navigation .menu-block-wrapper * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#navigation .block-menu ul, #navigation .menu-block-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#navigation .block-menu li, #navigation .menu-block-wrapper li {
  position: relative;
}
#navigation .block-menu li:hover, #navigation .menu-block-wrapper li:hover {
  border-right-color: #666666;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}
#navigation .block-menu li:hover > ul, #navigation .menu-block-wrapper li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
}
#navigation .block-menu li:hover > a, #navigation .menu-block-wrapper li:hover > a {
  color: white;
  background: #666666;
}
#navigation .block-menu input[type=checkbox], #navigation .menu-block-wrapper input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
#navigation .block-menu label, #navigation .menu-block-wrapper label {
  display: none;
  cursor: pointer;
  user-select: none;
}

#navigation .block-menu, #navigation .menu-block-wrapper > ul {
  border: 1px solid #777777;
  background-color: #848484;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}
#navigation .block-menu > li, #navigation .menu-block-wrapper > ul > li {
  float: left;
  border-right: 1px solid #919191;
  -moz-box-shadow: 1px 0 0 #b7b7b7;
  -webkit-box-shadow: 1px 0 0 #b7b7b7;
  box-shadow: 1px 0 0 #b7b7b7;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
}
#navigation .block-menu > li:before, #navigation .block-menu > li:after, #navigation .menu-block-wrapper > ul > li:before, #navigation .menu-block-wrapper > ul > li:after {
  content: '';
  display: table;
}
#navigation .block-menu > li:after, #navigation .menu-block-wrapper > ul > li:after {
  clear: both;
}
#navigation .block-menu > li > a, #navigation .menu-block-wrapper > ul > li > a {
  float: left;
  padding: 1em 0;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
#navigation .block-menu > li > a.active, #navigation .menu-block-wrapper > ul > li > a.active {
  color: #FFF;
  -moz-box-shadow: inset 0 0 5px #666;
  -webkit-box-shadow: inset 0 0 5px #666;
  box-shadow: inset 0 0 10px #666;
}
#navigation .block-menu a, #navigation .menu-block-wrapper > ul a {
  color: #F1EDEE;
  text-decoration: none;
  text-shadow: 0 -1px 0 #585858;
}
#navigation .block-menu ul, #navigation .menu-block-wrapper > ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  margin: 2em 0 0 0;
  width: 100%;
  background-color: #aaaaaa;
  background-image: none;
  -moz-transition-property: "margin, opacity";
  -o-transition-property: "margin, opacity";
  -webkit-transition-property: "margin, opacity";
  transition-property: "margin, opacity";
  -moz-transition-duration: ".15s";
  -o-transition-duration: ".15s";
  -webkit-transition-duration: ".15s";
  transition-duration: ".15s";
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
#navigation .block-menu ul:after, #navigation .menu-block-wrapper > ul ul:after {
  content: '';
  position: absolute;
  left: 4em;
  top: -12px;
  border: 6px solid transparent;
  border-bottom-color: #aaa;
}
#navigation .block-menu ul:after, #navigation .menu-block-wrapper > ul ul:after {
  left: 47%;
}
#navigation .block-menu ul li, #navigation .menu-block-wrapper > ul ul li {
  display: block;
  width: 100%;
  -moz-box-shadow: 0 1px 0 #919191, 0 2px 0 #c4c4c4;
  -webkit-box-shadow: 0 1px 0 #919191, 0 2px 0 #c4c4c4;
  box-shadow: 0 1px 0 #919191, 0 2px 0 #c4c4c4;
}
#navigation .block-menu ul li:first-child > a, #navigation .menu-block-wrapper > ul ul li:first-child > a {
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px 0 0;
}
#navigation .block-menu ul li:last-child, #navigation .menu-block-wrapper > ul ul li:last-child {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#navigation .block-menu ul li:last-child > a, #navigation .menu-block-wrapper > ul ul li:last-child > a {
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0;
  border-radius: 0 0 3px 3px;
}
#navigation .block-menu ul a, #navigation .menu-block-wrapper > ul ul a {
  padding: 1em;
  width: 250px;
  display: block;
  border-color: #aaaaaa;
  width: 100%;
}
#navigation .block-menu ul a:hover, #navigation .menu-block-wrapper > ul ul a:hover {
  background-color: #61AEE2;
  border-color: #61AEE2;
}

@media screen and (max-width: 800px) {
  #navigation .block-menu > ul, #navigation .menu-block-wrapper > ul, #navigation .block-menu > ul ul, #navigation .menu-block-wrapper > ul ul {
    visibility: visible;
    opacity: 1;
    display: none;
  }

  #navigation .block-menu input[type=checkbox]:checked ~ label,
  #navigation .block-menu input[type=checkbox] ~ label:hover, #navigation .menu-block-wrapper input[type=checkbox]:checked ~ label,
  #navigation .menu-block-wrapper input[type=checkbox] ~ label:hover {
    color: white;
  }
  #navigation .block-menu label, #navigation .menu-block-wrapper label {
    border: 1px solid #777777;
    background-color: #848484;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    color: #F1EDEE;
    text-shadow: 0 1px 0 #848484;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    position: relative;
    display: block;
    padding: 1em 3em;
  }
  #navigation .block-menu label:before, #navigation .menu-block-wrapper label:before {
    position: absolute;
    left: 0.5em;
    top: 0.2em;
    content: "\2261";
    font-size: 2em;
  }
  #navigation .block-menu > ul, #navigation .menu-block-wrapper > ul {
    position: relative;
    border-color: #848484;
    margin: 0.5em 0 !important;
    padding: 0.25em;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #848484;
    background-image: none;
  }
  #navigation .block-menu > ul:after, #navigation .menu-block-wrapper > ul:after {
    content: '';
    position: absolute;
    left: 2em;
    top: -12px;
    border: 6px solid transparent;
    border-bottom-color: #aaa;
  }
  #navigation .block-menu > ul li, #navigation .menu-block-wrapper > ul li {
    display: block;
    clear: both;
    width: 100%;
    text-align: left;
  }
  #navigation .block-menu > ul li.expanded.active, #navigation .menu-block-wrapper > ul li.expanded.active {
    background: #666;
    float: left;
    width: 100%;
  }
  #navigation .block-menu > ul li li, #navigation .menu-block-wrapper > ul li li {
    clear: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  #navigation .block-menu > ul li li:hover, #navigation .menu-block-wrapper > ul li li:hover {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  #navigation .block-menu > ul li li a, #navigation .menu-block-wrapper > ul li li a {
    color: #CCC;
  }
  #navigation .block-menu > ul li li a:hover, #navigation .menu-block-wrapper > ul li li a:hover {
    background: transparent;
    color: white;
  }
  #navigation .block-menu > ul > li, #navigation .menu-block-wrapper > ul > li {
    float: none;
    border: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #848484;
    background-image: none;
  }
  #navigation .block-menu > ul > li > a, #navigation .menu-block-wrapper > ul > li > a {
    float: none;
    display: block;
    padding: 1em;
    text-align: left;
  }
  #navigation .block-menu > ul ul, #navigation .menu-block-wrapper > ul ul {
    position: static;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #9e9e9e;
    background-image: none;
    margin: 0;
    -moz-transition-property: "none";
    -o-transition-property: "none";
    -webkit-transition-property: "none";
    transition-property: "none";
  }
  #navigation .block-menu > ul ul:after, #navigation .menu-block-wrapper > ul ul:after {
    content: '';
    position: absolute;
    left: 0em;
    top: 0;
    border: 0 solid transparent;
    border-bottom-color: #aaa;
  }
  #navigation .block-menu > ul ul li:first-child > a, #navigation .menu-block-wrapper > ul ul li:first-child > a {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  #navigation .block-menu > ul ul li:first-child > a:after, #navigation .menu-block-wrapper > ul ul li:first-child > a:after {
    content: none;
  }
  #navigation .block-menu > ul ul li:last-child > a, #navigation .menu-block-wrapper > ul ul li:last-child > a {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  #navigation .block-menu > ul ul a, #navigation .menu-block-wrapper > ul ul a {
    padding-left: 2em;
    display: block;
    width: auto;
  }
  #navigation .block-menu input[type=checkbox]:checked ~ ul, #navigation .menu-block-wrapper input[type=checkbox]:checked ~ ul {
    display: block;
  }
  #navigation .block-menu input[type=checkbox]:checked ~ ul ul, #navigation .menu-block-wrapper input[type=checkbox]:checked ~ ul ul {
    display: block;
  }
}
