/* line 68, ../sass/base/_button.scss */
.button {
  position: relative;
  display: block;
  overflow: hidden;
  border: 1px solid #3b3b3b;
  outline: none;
  -webkit-transition: background-color 0.4s;
          transition: background-color 0.4s;
  background-color: #555555;
  color: #f9f9f9;
  padding: 0.4em 1.5em;
  border-radius: 2px;
}
/* line 28, ../sass/base/_button.scss */
.button * {
  position: relative;
}
/* line 31, ../sass/base/_button.scss */
.button:hover, .button:focus {
  background-color: #3b3b3b;
  text-decoration: none;
}
/* line 35, ../sass/base/_button.scss */
.button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/* line 47, ../sass/base/_button.scss */
.button:active:before {
  width: 120%;
  padding-top: 120%;
  -webkit-transition: width .2s ease-out, padding-top .2s ease-out;
          transition: width .2s ease-out, padding-top .2s ease-out;
}

/* line 72, ../sass/base/_button.scss */
.secondary.button {
  background-color: #4C1B01;
  color: #f9f9f9;
}
/* line 75, ../sass/base/_button.scss */
.secondary.button:hover, .secondary.button:focus {
  background-color: #1a0900;
}

/* line 80, ../sass/base/_button.scss */
.highlight.button {
  background-color: #F9B634;
  color: #f9f9f9;
}
/* line 83, ../sass/base/_button.scss */
.highlight.button:hover, .highlight.button:focus {
  background-color: #f3a307;
}

/* line 88, ../sass/base/_button.scss */
.success.button {
  background-color: #5cb85c;
  color: #f9f9f9;
}
/* line 91, ../sass/base/_button.scss */
.success.button:hover, .success.button:focus {
  background-color: #449d44;
}

/* line 100, ../sass/base/_button.scss */
.button-nude.secondary {
  border-color: #4C1B01;
  color: #4C1B01;
}
/* line 103, ../sass/base/_button.scss */
.button-nude.secondary:before {
  background-color: rgba(76, 27, 1, 0.2);
}

/* line 108, ../sass/base/_button.scss */
.button-nude.highlight {
  border-color: #F9B634;
  color: #F9B634;
}
/* line 111, ../sass/base/_button.scss */
.button-nude.highlight:before {
  background-color: rgba(249, 182, 52, 0.2);
}

/* line 116, ../sass/base/_button.scss */
.button-nude.success {
  border-color: #5cb85c;
  color: #5cb85c;
}
/* line 119, ../sass/base/_button.scss */
.button-nude.success:before {
  background-color: rgba(92, 184, 92, 0.2);
}

/* line 22, ../sass/buttons.scss */
.button-nude {
  position: relative;
  display: block;
  overflow: hidden;
  border: 1px solid transparent;
  outline: none;
  -webkit-transition: background-color 0.4s;
          transition: background-color 0.4s;
  background-color: transparent;
  color: #555555;
  padding: 0.4em 1.5em;
  border-radius: 2px;
  border: 2px solid #555555;
}
/* line 28, ../sass/base/_button.scss */
.button-nude * {
  position: relative;
}
/* line 31, ../sass/base/_button.scss */
.button-nude:hover, .button-nude:focus {
  background-color: transparent;
  text-decoration: none;
}
/* line 35, ../sass/base/_button.scss */
.button-nude:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/* line 47, ../sass/base/_button.scss */
.button-nude:active:before {
  width: 120%;
  padding-top: 120%;
  -webkit-transition: width .2s ease-out, padding-top .2s ease-out;
          transition: width .2s ease-out, padding-top .2s ease-out;
}
/* line 57, ../sass/base/_button.scss */
.button-nude:hover {
  background-color: transparent;
}
/* line 60, ../sass/base/_button.scss */
.button-nude:before {
  background-color: rgba(85, 85, 85, 0.2);
}

/*# sourceMappingURL=buttons.css.map */