/**
 * @file
 * Comment Styling
 */
/****************
OUR CUSTOM MIXINS
*****************/
/**
 *
 * Non panel layouts (one sidebar, two sidebars, none)
 *
 */
/* line 7, ../sass/00-base/_layout.scss */
#page {
  width: 100%;
}
/* line 9, ../sass/00-base/_layout.scss */
#page * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  /* line 12, ../sass/00-base/_layout.scss */
  #page .wrapper {
    padding: 0 20px;
  }
}

/* line 19, ../sass/00-base/_layout.scss */
#header,
#content,
#navigation,
#highlighted,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  max-width: 1200px;
  margin: 0 auto;
}
/* line 28, ../sass/00-base/_layout.scss */
#header:after,
#content:after,
#navigation:after,
#highlighted:after,
.region-sidebar-first:after,
.region-sidebar-second:after,
#footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 35, ../sass/00-base/_layout.scss */
#header,
#main,
#footer {
  width: 100%;
}
/* line 39, ../sass/00-base/_layout.scss */
#header:after,
#main:after,
#footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 45, ../sass/00-base/_layout.scss */
#main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

/* LEFT SIDEBAR */
/* line 54, ../sass/00-base/_layout.scss */
.sidebar-first #content {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 74.25%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: 25.75%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.sidebar-first #content:before, .sidebar-first #content:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.sidebar-first #content:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.sidebar-first #content:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 54, ../sass/00-base/_layout.scss */
  .sidebar-first #content {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first #content:before, .sidebar-first #content:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first #content:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first #content:last-child {
    margin-right: 0%;
  }
}
/* line 62, ../sass/00-base/_layout.scss */
.sidebar-first .region-sidebar-first {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: -77.25%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.sidebar-first .region-sidebar-first:before, .sidebar-first .region-sidebar-first:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.sidebar-first .region-sidebar-first:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.sidebar-first .region-sidebar-first:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 62, ../sass/00-base/_layout.scss */
  .sidebar-first .region-sidebar-first {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first .region-sidebar-first:before, .sidebar-first .region-sidebar-first:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first .region-sidebar-first:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first .region-sidebar-first:last-child {
    margin-right: 0%;
  }
}

/* RIGHT SIDEBAR */
/* line 75, ../sass/00-base/_layout.scss */
.sidebar-second #content {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 74.25%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.sidebar-second #content:before, .sidebar-second #content:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.sidebar-second #content:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.sidebar-second #content:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 75, ../sass/00-base/_layout.scss */
  .sidebar-second #content {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second #content:before, .sidebar-second #content:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second #content:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second #content:last-child {
    margin-right: 0%;
  }
}
/* line 82, ../sass/00-base/_layout.scss */
.sidebar-second .region-sidebar-first {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.sidebar-second .region-sidebar-first:before, .sidebar-second .region-sidebar-first:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.sidebar-second .region-sidebar-first:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.sidebar-second .region-sidebar-first:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 82, ../sass/00-base/_layout.scss */
  .sidebar-second .region-sidebar-first {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second .region-sidebar-first:before, .sidebar-second .region-sidebar-first:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second .region-sidebar-first:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second .region-sidebar-first:last-child {
    margin-right: 0%;
  }
}

/* TWO SIDEBARS */
/* line 94, ../sass/00-base/_layout.scss */
.two-sidebars #content {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: 25.75%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.two-sidebars #content:before, .two-sidebars #content:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.two-sidebars #content:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.two-sidebars #content:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 94, ../sass/00-base/_layout.scss */
  .two-sidebars #content {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars #content:before, .two-sidebars #content:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars #content:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars #content:last-child {
    margin-right: 0%;
  }
}
/* line 102, ../sass/00-base/_layout.scss */
.two-sidebars .region-sidebar-first {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: -51.5%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-first:before, .two-sidebars .region-sidebar-first:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-first:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-first:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 102, ../sass/00-base/_layout.scss */
  .two-sidebars .region-sidebar-first {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-first:before, .two-sidebars .region-sidebar-first:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-first:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-first:last-child {
    margin-right: 0%;
  }
}
/* line 110, ../sass/00-base/_layout.scss */
.two-sidebars .region-sidebar-second {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-second:before, .two-sidebars .region-sidebar-second:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-second:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-second:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 110, ../sass/00-base/_layout.scss */
  .two-sidebars .region-sidebar-second {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-second:before, .two-sidebars .region-sidebar-second:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-second:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-second:last-child {
    margin-right: 0%;
  }
}

/* line 9, ../sass/comments.scss */
.comments {
  /* Wrapper for the list of comments and its title */
  margin: 1.5em 0;
}
/* line 12, ../sass/comments.scss */
.comments h2.title {
  /* Heading for the list of comments */
}
/* line 15, ../sass/comments.scss */
.comments h2.comment-form {
  /* Heading for the comment form */
}

/* line 19, ../sass/comments.scss */
.comment {
  /* Wrapper for a single comment */
}
/* line 21, ../sass/comments.scss */
.comment.comment-preview {
  /* Preview of the comment before submitting new or updated comment */
  background-color: #ffffea;
  /* Drupal core will use a #ffffea background. See #1110842 */
}
/* line 25, ../sass/comments.scss */
.comment.new {
  /* A new comment since the user last viewed the page. */
}
/* line 28, ../sass/comments.scss */
.comment.first {
  /* The first comment in the list of comments */
}
/* line 31, ../sass/comments.scss */
.comment.last {
  /* The last comment in the list of comments */
}
/* line 34, ../sass/comments.scss */
.comment.odd {
  /* An odd-numbered comment in the list of comments */
}
/* line 37, ../sass/comments.scss */
.comment.even {
  /* An even-numbered comment in the list of comments */
}
/* line 40, ../sass/comments.scss */
.comment.comment-by-anonymous {
  /* A comment created by an anonymous user */
}
/* line 43, ../sass/comments.scss */
.comment.comment-by-node-author {
  /* A comment created by the node's author */
}
/* line 46, ../sass/comments.scss */
.comment.comment-by-viewer {
  /* A comment created by the current user */
}
/* line 49, ../sass/comments.scss */
.comment h3.comment-title {
  /* Comment title */
}
/* line 52, ../sass/comments.scss */
.comment .new {
  /* "New" marker for comments that are new for the current user */
  color: #c00;
}
/* line 56, ../sass/comments.scss */
.comment .user-picture {
  /* The picture of the comment author */
}
/* line 59, ../sass/comments.scss */
.comment .submitted {
  /* The "posted by" information */
}
/* line 62, ../sass/comments.scss */
.comment .permalink {
  /* Comment's permalink wrapper */
  text-transform: uppercase;
  font-size: 75%;
}
/* line 67, ../sass/comments.scss */
.comment .user-signature {
  /* The user's signature */
}
/* line 70, ../sass/comments.scss */
.comment ul.links {
  /* Comment links. See also the ul.links declaration in the pages.css. */
}

/* line 74, ../sass/comments.scss */
.indented {
  /* Nested comments are indented */
  margin-left: 30px;
  /* Drupal core uses a 25px left margin */
}

/* line 78, ../sass/comments.scss */
.comment-unpublished {
  /* Unpublished comments */
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
/* line 81, ../sass/comments.scss */
.comment-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}
/* line 111, ../sass/00-base/_mixins.scss */
.lt-ie8 .comment-unpublished p.unpublished > * {
  position: relative;
}

/*# sourceMappingURL=comments.css.map */
