/* line 1, ../sass/atoms/_typography.scss */
a {
  color: #61AEE2;
  text-decoration: none;
  -webkit-transition: color 0.25s ease;
          transition: color 0.25s ease;
}
/* line 24, ../../../../../../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #3698da;
}

/* line 4, ../sass/atoms/_button.scss */
.button {
  position: relative;
  display: block;
  overflow: hidden;
  border: 1px solid #3b3b3b;
  outline: none;
  -webkit-transition: background-color 0.3s;
          transition: background-color 0.3s;
  background-color: #555555;
  color: #f9f9f9;
  padding: 0.7em 1.5em;
  border-radius: 2px;
}
/* line 28, ../sass/base/vars/_button.scss */
.button * {
  position: relative;
}
/* line 31, ../sass/base/vars/_button.scss */
.button:hover, .button:focus {
  background-color: #3b3b3b;
  text-decoration: none;
}
/* line 35, ../sass/base/vars/_button.scss */
.button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/* line 47, ../sass/base/vars/_button.scss */
.button:active:before {
  width: 120%;
  padding-top: 120%;
  -webkit-transition: width .2s ease-out, padding-top .2s ease-out;
          transition: width .2s ease-out, padding-top .2s ease-out;
}

/* line 8, ../sass/atoms/_button.scss */
.secondary.button {
  background-color: #4C1B01;
  color: #f9f9f9;
}
/* line 11, ../sass/atoms/_button.scss */
.secondary.button:hover, .secondary.button:focus {
  background-color: #1a0900;
}

/* line 16, ../sass/atoms/_button.scss */
.highlight.button {
  background-color: #F9B634;
  color: #f9f9f9;
}
/* line 19, ../sass/atoms/_button.scss */
.highlight.button:hover, .highlight.button:focus {
  background-color: #f3a307;
}

/* line 28, ../sass/atoms/_button.scss */
.button-nude.secondary {
  border-color: #4C1B01;
  color: #4C1B01;
}
/* line 31, ../sass/atoms/_button.scss */
.button-nude.secondary:before {
  background-color: rgba(76, 27, 1, 0.2);
}

/* line 36, ../sass/atoms/_button.scss */
.button-nude.highlight {
  border-color: #F9B634;
  color: #F9B634;
}
/* line 39, ../sass/atoms/_button.scss */
.button-nude.highlight:before {
  background-color: rgba(249, 182, 52, 0.2);
}

/* line 57, ../sass/atoms/_button.scss */
.button-nude {
  position: relative;
  display: block;
  overflow: hidden;
  border: 1px solid transparent;
  outline: none;
  -webkit-transition: background-color 0.3s;
          transition: background-color 0.3s;
  background-color: transparent;
  color: #555555;
  padding: 0.7em 1.5em;
  border-radius: 2px;
  border: 2px solid #555555;
}
/* line 28, ../sass/base/vars/_button.scss */
.button-nude * {
  position: relative;
}
/* line 31, ../sass/base/vars/_button.scss */
.button-nude:hover, .button-nude:focus {
  background-color: transparent;
  text-decoration: none;
}
/* line 35, ../sass/base/vars/_button.scss */
.button-nude:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/* line 47, ../sass/base/vars/_button.scss */
.button-nude:active:before {
  width: 120%;
  padding-top: 120%;
  -webkit-transition: width .2s ease-out, padding-top .2s ease-out;
          transition: width .2s ease-out, padding-top .2s ease-out;
}
/* line 57, ../sass/base/vars/_button.scss */
.button-nude:hover {
  background-color: transparent;
}
/* line 60, ../sass/base/vars/_button.scss */
.button-nude:before {
  background-color: rgba(85, 85, 85, 0.2);
}

/* line 3, ../sass/forms.scss */
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background: url('../images/glyphicons-halflings.png?1425402197') 14px 14px no-repeat;
  margin-top: 1px;
}

/* line 13, ../sass/forms.scss */
.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  margin-right: 10px;
}
@media (max-width: 25em) {
  /* line 13, ../sass/forms.scss */
  .btn {
    clear: both;
    float: left;
  }
}

/* line 50, ../sass/forms.scss */
.form-item {
  /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1.5em 0;
}
/* line 53, ../sass/forms.scss */
.form-item input {
  max-width: 99%;
  color: #333333;
}
/* line 57, ../sass/forms.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  /* Highlight the form elements that caused a form submission error */
  border: 1px solid #c00;
}
/* line 63, ../sass/forms.scss */
.form-item label {
  /* The label for a form element */
  display: block;
  font-weight: normal;
  color: #666666;
  font-size: 90%;
}
/* line 69, ../sass/forms.scss */
.form-item label.btn {
  display: inline;
}
/* line 74, ../sass/forms.scss */
.form-item label.option {
  /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}
/* line 80, ../sass/forms.scss */
.form-item .form-required {
  /* The part of the label that indicates a required field */
  color: #c00;
}
/* line 85, ../sass/forms.scss */
.form-item .description {
  /* The descriptive help text (separate from the label) */
  font-size: 80%;
  font-style: italic;
  color: #777777;
}
/* line 91, ../sass/forms.scss */
.form-item .form-file {
  color: #666666;
  font-size: 90%;
}
/* line 95, ../sass/forms.scss */
.form-checkboxes .form-item, .form-radios .form-item {
  /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0;
  /* Drupal core uses "0.4em 0" */
}
/* line 100, ../sass/forms.scss */
.form-item .form-text, .form-item .form-textarea, .form-item .form-file {
  min-height: 30px;
  line-height: 30px;
  border: 1px solid #CCCCCC;
  font-size: 90%;
  color: #666666;
}
/* line 107, ../sass/forms.scss */
.form-item .field-add-more-submit {
  text-shadow: none;
  color: white;
}
/* line 111, ../sass/forms.scss */
.form-item .icon-folder-open {
  background-position: -408px -120px;
  width: 16px;
}
/* line 115, ../sass/forms.scss */
.form-item .input-large {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
  display: inline-block;
  height: 26px;
  padding: 4px 6px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  border-radius: 4px;
  vertical-align: middle;
  margin-bottom: 0;
}

/* line 140, ../sass/forms.scss */
.form-text:focus, .form-text:hover, .form-text:active, .form-textarea:focus, .form-textarea:hover, .form-textarea:active {
  box-shadow: none;
}
/* line 145, ../sass/forms.scss */
.form-text:focus, .form-textarea:focus {
  border: 1px solid #61AEE2;
  background: #f9f9f9;
}

/* line 151, ../sass/forms.scss */
.form-submit, button, input[type="button"], input[type="reset"], input[type="submit"] {
  font-size: 90%;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 0px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF999999', endColorstr='#FF666666');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5OTk5OSIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjODg4ODg4Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #999999), color-stop(70%, #888888));
  background: -webkit-linear-gradient(#999999, #888888 70%);
  background: linear-gradient(#999999, #888888 70%);
  box-shadow: #bfbfbf 0 1px 0 inset;
  border: 1px solid #7b7b7b;
  color: #fff;
  text-shadow: #585858 0 -1px 0;
  margin: 0 5px 0 0;
  padding: 0.4em 1.1em 0.5em 1.2em;
}
/* line 15, ../../../../../../../../../../.rvm/gems/ruby-2.2.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.form-submit:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../../../../.rvm/gems/ruby-2.2.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.form-submit:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  background-color: #7b7b7b;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iIzhjOGM4YyIvPjxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjN2I3YjdiIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #8c8c8c), color-stop(75%, #7b7b7b));
  background: -webkit-linear-gradient(#8c8c8c 3%, #7b7b7b 75%);
  background: linear-gradient(#8c8c8c 3%, #7b7b7b 75%);
}
/* line 21, ../../../../../../../../../../.rvm/gems/ruby-2.2.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.form-submit:active, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
  box-shadow: #747474 0 1px 2px inset;
}
/* line 6, ../../../../../../../../../../.rvm/gems/ruby-2.2.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.form-submit.disabled, .form-submit[disabled], button.disabled, button[disabled], input[type="button"].disabled, input[type="button"][disabled], input[type="reset"].disabled, input[type="reset"][disabled], input[type="submit"].disabled, input[type="submit"][disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #888;
  cursor: default;
  box-shadow: none;
}
/* line 74, ../../../../../../../../../../.rvm/gems/ruby-2.2.0/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.form-submit::-moz-focus-inner, button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 157, ../sass/forms.scss */
a.button {
  font-size: 90%;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF999999', endColorstr='#FF666666');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5OTk5OSIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjODg4ODg4Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #999999), color-stop(70%, #888888));
  background: -webkit-linear-gradient(#999999, #888888 70%);
  background: linear-gradient(#999999, #888888 70%);
  box-shadow: #bfbfbf 0 1px 0 inset;
  border: 1px solid #7b7b7b;
  color: #fff;
  text-shadow: #585858 0 -1px 0;
  margin: 0 5px 0 0;
  box-shadow: none;
}
/* line 15, ../../../../../../../../../../.rvm/gems/ruby-2.2.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.button:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../../../../.rvm/gems/ruby-2.2.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.button:hover {
  background-color: #7b7b7b;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iIzhjOGM4YyIvPjxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjN2I3YjdiIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #8c8c8c), color-stop(75%, #7b7b7b));
  background: -webkit-linear-gradient(#8c8c8c 3%, #7b7b7b 75%);
  background: linear-gradient(#8c8c8c 3%, #7b7b7b 75%);
}
/* line 21, ../../../../../../../../../../.rvm/gems/ruby-2.2.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.button:active {
  box-shadow: #747474 0 1px 2px inset;
}
/* line 6, ../../../../../../../../../../.rvm/gems/ruby-2.2.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.button.disabled, a.button[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #888;
  cursor: default;
  box-shadow: none;
}
/* line 74, ../../../../../../../../../../.rvm/gems/ruby-2.2.0/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
a.button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 163, ../sass/forms.scss */
a.button:hover {
  color: white;
}

/* line 168, ../sass/forms.scss */
html.js input.form-autocomplete {
  background-position: 100% 5px;
}

/* line 172, ../sass/forms.scss */
.ajax-progress .throbber {
  background-position: 0px -18px;
}

/* line 177, ../sass/forms.scss */
.container-inline div,
.container-inline label {
  /* Inline labels and form divs */
  display: inline;
}
/* line 182, ../sass/forms.scss */
.container-inline .select2-container {
  display: inline-block;
  margin-bottom: 10px;
}
/* line 186, ../sass/forms.scss */
.container-inline .select2-display-none {
  display: none;
}

/* line 191, ../sass/forms.scss */
dd {
  margin: 10px 0 10px 30px;
}

/* line 195, ../sass/forms.scss */
.tips {
  /* Tips for Drupal's input formats */
}

/* line 199, ../sass/forms.scss */
a.button {
  /* Buttons used by contrib modules like Media */
  appearance: button;
}

/* line 204, ../sass/forms.scss */
fieldset {
  margin-bottom: 15px;
  padding: 0;
}
/* line 207, ../sass/forms.scss */
fieldset legend {
  float: left;
  background: #EEEEEE;
  width: 100%;
  margin-bottom: 10px;
}
/* line 212, ../sass/forms.scss */
fieldset legend .fieldset-legend {
  padding: 5px 10px;
  display: block;
}
/* line 217, ../sass/forms.scss */
fieldset .fieldset-wrapper {
  padding: 15px;
}
/* line 220, ../sass/forms.scss */
fieldset.filter-wrapper {
  padding: 0;
  font-size: 90%;
  background: #f9f9f9;
}
/* line 224, ../sass/forms.scss */
fieldset.filter-wrapper .fieldset-wrapper {
  padding: 5px;
  border-top: 1px dotted #C0C0C0;
}
/* line 228, ../sass/forms.scss */
fieldset.filter-wrapper .filter-help {
  padding: 0 20px 0 0;
}
/* line 231, ../sass/forms.scss */
fieldset.filter-wrapper .form-item {
  padding-top: 0;
  margin-top: 5px;
}

/* line 238, ../sass/forms.scss */
.ckeditor_links {
  font-size: 90%;
}

/* line 245, ../sass/forms.scss */
.vertical-tabs ul.vertical-tabs-list li a {
  text-decoration: none;
}
/* line 247, ../sass/forms.scss */
.vertical-tabs ul.vertical-tabs-list li a:hover {
  text-decoration: none;
  outline: none;
  color: #61AEE2;
}
/* line 252, ../sass/forms.scss */
.vertical-tabs ul.vertical-tabs-list li a strong {
  font-weight: normal;
}
/* line 255, ../sass/forms.scss */
.vertical-tabs ul.vertical-tabs-list li a .summary {
  font-size: 90%;
  font-style: italic;
  color: #777777;
}

/* line 265, ../sass/forms.scss */
html.js fieldset.collapsed {
  border: 1px solid #CCCCCC;
  height: 2.15em;
}

/*
 * Password confirmation
 */
/* line 274, ../sass/forms.scss */
.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */
/* line 283, ../sass/forms.scss */
#block-search-form {
  /* Wrapper for the search form */
}

/*
 * Drupal's default login form block
 */
/* line 291, ../sass/forms.scss */
#user-login-form {
  text-align: left;
  /* LTR */
  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
}
/* line 301, ../sass/forms.scss */
#user-login-form ul {
  /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0;
  /* Position OpenID's ul next to the rest of the links. */
}
/* line 306, ../sass/forms.scss */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px;
  /* LTR */
  /* Un-do some of the padding on the ul list. */
}
/* line 314, ../sass/forms.scss */
#user-login-form li.user-link {
  /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}

/* line 320, ../sass/forms.scss */
#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */
/* line 331, ../sass/forms.scss */
table {
  width: 100%;
}

/* line 335, ../sass/forms.scss */
th {
  text-align: left;
  /* LTR */
  padding-right: 1em;
  /* LTR */
  border-bottom: 3px solid #ccc;
  font-weight: normal;
  padding: 5px 10px;
}

/* line 343, ../sass/forms.scss */
tbody {
  border-top: 1px solid #ccc;
}

/* line 347, ../sass/forms.scss */
td {
  padding: 10px;
}

/* line 351, ../sass/forms.scss */
tr.even {
  background-color: #fff;
}

/* line 355, ../sass/forms.scss */
table .item-list ul {
  margin: 0;
}

/* line 362, ../sass/forms.scss */
.lt-ie8 tr.even th,
.lt-ie8 tr.even td,
.lt-ie8 tr.odd th,
.lt-ie8 tr.odd td {
  border-bottom: 1px solid #ccc;
  /* IE doesn't display borders on table rows */
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */
/* line 374, ../sass/forms.scss */
td.menu-disabled {
  background: #ccc;
}

/* line 378, ../sass/forms.scss */
html.js input.form-autocomplete {
  background-position: 100% 8px;
}

/*# sourceMappingURL=forms.css.map */