/**
 *
 * Non panel layouts (one sidebar, two sidebars, none)
 *
 */
/****************
OUR CUSTOM MIXINS
*****************/
/* line 11, ../sass/layout.scss */
#page {
  width: 100%;
}
/* line 13, ../sass/layout.scss */
#page * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  /* line 16, ../sass/layout.scss */
  #page .wrapper {
    padding: 0 20px;
  }
}

/* line 23, ../sass/layout.scss */
#header,
#content,
#navigation,
#highlighted,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  max-width: 1200px;
  margin: 0 auto;
}
/* line 32, ../sass/layout.scss */
#header:after,
#content:after,
#navigation:after,
#highlighted:after,
.region-sidebar-first:after,
.region-sidebar-second:after,
#footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 39, ../sass/layout.scss */
#header,
#main,
#footer {
  width: 100%;
}
/* line 43, ../sass/layout.scss */
#header:after,
#main:after,
#footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 49, ../sass/layout.scss */
#main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

/* LEFT SIDEBAR */
/* line 58, ../sass/layout.scss */
.sidebar-first #content {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 74.25%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: 25.75%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.sidebar-first #content:before, .sidebar-first #content:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.sidebar-first #content:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.sidebar-first #content:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 58, ../sass/layout.scss */
  .sidebar-first #content {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first #content:before, .sidebar-first #content:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first #content:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first #content:last-child {
    margin-right: 0%;
  }
}
/* line 66, ../sass/layout.scss */
.sidebar-first .region-sidebar-first {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: -77.25%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.sidebar-first .region-sidebar-first:before, .sidebar-first .region-sidebar-first:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.sidebar-first .region-sidebar-first:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.sidebar-first .region-sidebar-first:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 66, ../sass/layout.scss */
  .sidebar-first .region-sidebar-first {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first .region-sidebar-first:before, .sidebar-first .region-sidebar-first:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first .region-sidebar-first:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first .region-sidebar-first:last-child {
    margin-right: 0%;
  }
}

/* RIGHT SIDEBAR */
/* line 79, ../sass/layout.scss */
.sidebar-second #content {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 74.25%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.sidebar-second #content:before, .sidebar-second #content:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.sidebar-second #content:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.sidebar-second #content:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 79, ../sass/layout.scss */
  .sidebar-second #content {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second #content:before, .sidebar-second #content:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second #content:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second #content:last-child {
    margin-right: 0%;
  }
}
/* line 86, ../sass/layout.scss */
.sidebar-second .region-sidebar-first {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.sidebar-second .region-sidebar-first:before, .sidebar-second .region-sidebar-first:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.sidebar-second .region-sidebar-first:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.sidebar-second .region-sidebar-first:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 86, ../sass/layout.scss */
  .sidebar-second .region-sidebar-first {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second .region-sidebar-first:before, .sidebar-second .region-sidebar-first:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second .region-sidebar-first:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second .region-sidebar-first:last-child {
    margin-right: 0%;
  }
}

/* TWO SIDEBARS */
/* line 98, ../sass/layout.scss */
.two-sidebars #content {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: 25.75%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.two-sidebars #content:before, .two-sidebars #content:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.two-sidebars #content:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.two-sidebars #content:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 98, ../sass/layout.scss */
  .two-sidebars #content {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars #content:before, .two-sidebars #content:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars #content:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars #content:last-child {
    margin-right: 0%;
  }
}
/* line 106, ../sass/layout.scss */
.two-sidebars .region-sidebar-first {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: -51.5%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-first:before, .two-sidebars .region-sidebar-first:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-first:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-first:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 106, ../sass/layout.scss */
  .two-sidebars .region-sidebar-first {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-first:before, .two-sidebars .region-sidebar-first:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-first:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-first:last-child {
    margin-right: 0%;
  }
}
/* line 114, ../sass/layout.scss */
.two-sidebars .region-sidebar-second {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-second:before, .two-sidebars .region-sidebar-second:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-second:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-second:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 114, ../sass/layout.scss */
  .two-sidebars .region-sidebar-second {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-second:before, .two-sidebars .region-sidebar-second:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-second:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-second:last-child {
    margin-right: 0%;
  }
}

/*# sourceMappingURL=layout.css.map */
