/****************
OUR CUSTOM MIXINS
*****************/
/**
 *
 * Non panel layouts (one sidebar, two sidebars, none)
 *
 */
/* line 7, ../sass/00-base/_layout.scss */
#page {
  width: 100%;
}
/* line 9, ../sass/00-base/_layout.scss */
#page * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  /* line 12, ../sass/00-base/_layout.scss */
  #page .wrapper {
    padding: 0 20px;
  }
}

/* line 19, ../sass/00-base/_layout.scss */
#header,
#content,
#navigation,
#highlighted,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  max-width: 1200px;
  margin: 0 auto;
}
/* line 28, ../sass/00-base/_layout.scss */
#header:after,
#content:after,
#navigation:after,
#highlighted:after,
.region-sidebar-first:after,
.region-sidebar-second:after,
#footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 35, ../sass/00-base/_layout.scss */
#header,
#main,
#footer {
  width: 100%;
}
/* line 39, ../sass/00-base/_layout.scss */
#header:after,
#main:after,
#footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 45, ../sass/00-base/_layout.scss */
#main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

/* LEFT SIDEBAR */
/* line 54, ../sass/00-base/_layout.scss */
.sidebar-first #content {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 74.25%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: 25.75%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.sidebar-first #content:before, .sidebar-first #content:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.sidebar-first #content:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.sidebar-first #content:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 54, ../sass/00-base/_layout.scss */
  .sidebar-first #content {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first #content:before, .sidebar-first #content:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first #content:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first #content:last-child {
    margin-right: 0%;
  }
}
/* line 62, ../sass/00-base/_layout.scss */
.sidebar-first .region-sidebar-first {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: -77.25%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.sidebar-first .region-sidebar-first:before, .sidebar-first .region-sidebar-first:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.sidebar-first .region-sidebar-first:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.sidebar-first .region-sidebar-first:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 62, ../sass/00-base/_layout.scss */
  .sidebar-first .region-sidebar-first {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first .region-sidebar-first:before, .sidebar-first .region-sidebar-first:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first .region-sidebar-first:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .sidebar-first .region-sidebar-first:last-child {
    margin-right: 0%;
  }
}

/* RIGHT SIDEBAR */
/* line 75, ../sass/00-base/_layout.scss */
.sidebar-second #content {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 74.25%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.sidebar-second #content:before, .sidebar-second #content:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.sidebar-second #content:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.sidebar-second #content:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 75, ../sass/00-base/_layout.scss */
  .sidebar-second #content {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second #content:before, .sidebar-second #content:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second #content:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second #content:last-child {
    margin-right: 0%;
  }
}
/* line 82, ../sass/00-base/_layout.scss */
.sidebar-second .region-sidebar-first {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.sidebar-second .region-sidebar-first:before, .sidebar-second .region-sidebar-first:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.sidebar-second .region-sidebar-first:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.sidebar-second .region-sidebar-first:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 82, ../sass/00-base/_layout.scss */
  .sidebar-second .region-sidebar-first {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second .region-sidebar-first:before, .sidebar-second .region-sidebar-first:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second .region-sidebar-first:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .sidebar-second .region-sidebar-first:last-child {
    margin-right: 0%;
  }
}

/* TWO SIDEBARS */
/* line 94, ../sass/00-base/_layout.scss */
.two-sidebars #content {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: 25.75%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.two-sidebars #content:before, .two-sidebars #content:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.two-sidebars #content:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.two-sidebars #content:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 94, ../sass/00-base/_layout.scss */
  .two-sidebars #content {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars #content:before, .two-sidebars #content:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars #content:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars #content:last-child {
    margin-right: 0%;
  }
}
/* line 102, ../sass/00-base/_layout.scss */
.two-sidebars .region-sidebar-first {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: -51.5%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-first:before, .two-sidebars .region-sidebar-first:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-first:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-first:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 102, ../sass/00-base/_layout.scss */
  .two-sidebars .region-sidebar-first {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-first:before, .two-sidebars .region-sidebar-first:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-first:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-first:last-child {
    margin-right: 0%;
  }
}
/* line 110, ../sass/00-base/_layout.scss */
.two-sidebars .region-sidebar-second {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 196, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-second:before, .two-sidebars .region-sidebar-second:after {
  content: '';
  display: table;
}
/* line 200, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-second:after {
  clear: both;
}
/* line 49, ../sass/00-base/jeet/_grid.scss */
.two-sidebars .region-sidebar-second:last-child {
  margin-right: 0%;
}
@media (max-width: 800px) {
  /* line 110, ../sass/00-base/_layout.scss */
  .two-sidebars .region-sidebar-second {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  /* line 196, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-second:before, .two-sidebars .region-sidebar-second:after {
    content: '';
    display: table;
  }
  /* line 200, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-second:after {
    clear: both;
  }
  /* line 49, ../sass/00-base/jeet/_grid.scss */
  .two-sidebars .region-sidebar-second:last-child {
    margin-right: 0%;
  }
}

/* line 5, ../sass/sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 9, ../sass/sticky-footer.scss */
#page {
  min-height: 100%;
}

/* line 13, ../sass/sticky-footer.scss */
#main {
  overflow: auto;
  padding-bottom: 100px;
}

/* must be same height as the footer */
/* line 18, ../sass/sticky-footer.scss */
#footer {
  position: relative;
  margin-top: -100px;
  /* negative value of footer height */
  height: 100px;
  clear: both;
}
@media (max-width: 1200px) {
  /* line 23, ../sass/sticky-footer.scss */
  #footer .block {
    padding: 0 20px;
  }
}

/*Opera Fix*/
/* line 30, ../sass/sticky-footer.scss */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

/* line 37, ../sass/sticky-footer.scss */
.ie7 #page {
  display: table;
  height: 100%;
}

/*# sourceMappingURL=sticky-footer.css.map */
