/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal7-reference.css.)
 */
/****************
OUR CUSTOM MIXINS
*****************/
/***********
~VARIABLES
***********/
/***********
~BREAKPOINTS
***********/
/*
 * Basic positioning styles shared by primary and secondary tabs.
 */
ul.primary,
ul.secondary {
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid #bbb;
  list-style: none;
  margin: 1em 0 1.5em;
  padding: 0 2px;
  white-space: nowrap;
}
ul.primary li,
ul.secondary li {
  float: left;
  /* LTR */
  margin: 0.5em 3px 0;
}
ul.primary a,
ul.secondary a {
  border: 1px solid #e9e9e9;
  border-right: 0;
  border-bottom: 0;
  display: block;
  line-height: 1.5em;
  text-decoration: none;
}

/*
 * Primary tabs
 */
ul.primary li {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  text-shadow: 1px 1px 0 #fff;
  border: 1px solid #bbb;
  border-bottom: 0;
  margin: 0.5em 0 0 3px;
  /* LTR */
}
ul.primary li.active {
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
  /* Overlap the ul's border. */
}
ul.primary a:link,
ul.primary a:visited {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #333;
  background-color: #dedede;
  letter-spacing: auto;
  padding: 0 1em;
  text-align: center;
}
ul.primary a:hover,
ul.primary a:focus {
  background-color: #e9e9e9;
  border-color: #f2f2f2;
}
ul.primary a.active {
  background-color: transparent;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE9E9E9', endColorstr='#00E9E9E9');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5ZTllOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U5ZTllOSIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9e9e9), color-stop(100%, rgba(233, 233, 233, 0)));
  background-image: -moz-linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  background-image: -webkit-linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  background-image: linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  border-color: #fff;
}

/*
 * Secondary tabs
 */
ul.secondary {
  font-size: .9em;
  margin-top: -1.5em;
  /* Collapse bottom margin of ul.primary. */
  padding-bottom: .5em;
}
ul.secondary a:link,
ul.secondary a:visited {
  -moz-border-radius: 0.75em;
  -webkit-border-radius: 0.75em;
  border-radius: 0.75em;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  text-shadow: 1px 1px 0 #fff;
  background-color: #f2f2f2;
  color: #666;
  padding: 0 .5em;
}
ul.secondary a:hover,
ul.secondary a:focus {
  background-color: #dedede;
  border-color: #999;
  color: #333;
}
ul.secondary a.active,
ul.secondary a:active {
  text-shadow: 1px 1px 0 #333;
  background-color: #666;
  border-color: #000;
  color: #fff;
}
