@import 'basscss-addons/modules/colors';
@import 'basscss-addons/modules/forms';
@import 'basscss-addons/modules/btn';
@import 'basscss-addons/modules/btn-primary';
@import 'basscss-addons/modules/background-colors';

/* at the end for utility classes to override if needed */
@import 'basscss';

/* override default basscss values when using default classes */
:root {
  --link-color: var(--link-color);
  --link-hover-text-decoration: none;

  --space-1: 1rem;
  --space-2: 2rem;
  --space-3: 3rem;
  --space-4: 4rem;
  --space-5: 5rem;

  --border-color: var(--border-color-primary);
  --border-radius: 4px;
  --button-background-color: var(--bg-tertiary);
}
