@import 'basscss-color-base';
@import 'basscss-base-forms';
@import 'basscss-color-forms';
@import 'basscss-btn';
@import 'basscss-btn-primary';
@import 'basscss-grid';
@import 'basscss-flexbox';
@import 'basscss-borders';
@import 'basscss-responsive-states';
@import 'basscss-colors';
@import 'basscss-background-colors';

/*at the endfor utility classes to override if needed*/
@import 'basscss';

/*@import '../../bear_skin.css';*/

/*
  override default basscss values - other default values will be in
*/
:root {
  --space-1: 1rem;
  --space-2: 2rem;
  --space-3: 3rem;
  --space-4: 4rem;
  --space-5: 5rem;

  --border-radius: 4px;
  --link-color: #0074d9;
  --gray: #999;
  --silver: #eee;
  --button-color: black;
  --button-background-color: #eee;
}