//
// Display utilities
//

.u-hidden,
.visually-hidden,
.element-invisible {
  @include element-invisible;
}

.u-block {
  display: block;
}

.u-inline-block {
  display: inline-block;
}

.u-inline {
  display: inline;
}

// Drupal utilities

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

//
// Images utilities
//

img.align-center {
  margin: 0 auto;
  width: 100%;
  max-width: $site-max-width;
}

.u-img-centered {

  img {
    margin: 0 auto;
  }
}

.desaturate {

  img {
    filter: grayscale(100%);
    transition: filter .3s ease-in-out;

    &:hover,
    &:focus {
      filter: none;
    }
  }
}

// Text utilities
.u-text-italic {
  font-style: italic;
}

.u-text-centered {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-left {
  text-align: left;
}

.u-text-highlighted {

  &::selection {
    background: $light-bermuda-grey;
  }
}

.u-nm {
  margin: 0;
}

.u-np {
  padding: 0;
}

.u-nlh {
  line-height: 1;
}

.u-no-decoration {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.u-underline {
  text-decoration: underline;
}

// Layout utilities
.u-clearfix {
  clear: both;
}

.u-left {
  float: left;
}

.u-right {
  float: right;
}

.expand-w-bc {
  width: 100vw !important;
  margin-left: calc(-50vw + 50%) !important;
}

.site-max-width {
  max-width: $site-max-width;
  margin: 0 auto;
}

//
// Padding
//

// Padding on all sides (equal)
.padd-all-05 {
  @include padding(.5, .5);
}

.padd-all-1 {
  @include padding(1, 1);
}

.padd-all-2 {
  @include padding(2, 2);
}

.padd-all-3 {
  @include padding(3, 3);
}

.padd-all-4 {
  @include padding(4, 4);
}

// Padding-top
.padd-top-05 {
  @include padding-top(.5);
}

.padd-top-1 {
  @include padding-top(1);
}

.padd-top-2 {
  @include padding-top(2);
}

.padd-top-3 {
  @include padding-top(3);
}

.padd-top-4 {
  @include padding-top(4);
}

// Padding-bottom
.padd-bottom-05 {
  @include padding-bottom(.5);
}

.padd-bottom-1 {
  @include padding-bottom(1);
}

.padd-bottom-2 {
  @include padding-bottom(2);
}

.padd-bottom-3 {
  @include padding-bottom(3);
}

.padd-bottom-4 {
  @include padding-bottom(4);
}

// Padding-left
.padd-left-05 {
  @include padding-left(.5);
}

.padd-left-1 {
  @include padding-left(1);
}

.padd-left-2 {
  @include padding-left(2);
}

.padd-left-3 {
  @include padding-left(3);
}

.padd-left-4 {
  @include padding-left(4);
}

// Padding-right
.padd-right-05 {
  @include padding-right(.5);
}

.padd-right-1 {
  @include padding-right(1);
}

.padd-right-2 {
  @include padding-right(2);
}

.padd-right-3 {
  @include padding-right(3);
}

.padd-right-4 {
  @include padding-right(4);
}

// No Padding
.np {
  padding: 0;
}

.np-top {
  padding-top: 0 !important;
}

.np-bottom {
  padding-bottom: 0 !important;
}

.np-left {
  padding-left: 0 !important;
}

.np-right {
  padding-right: 0 !important;
}

//
// Margin
//

// Margin on all sides (equal)
.marg-all-05 {
  @include margin(.5, .5);
}

.marg-all-1 {
  @include margin(1, 1);
}

.marg-all-2 {
  @include margin(2, 2);
}

.marg-all-3 {
  @include margin(3, 3);
}

.marg-all-4 {
  @include margin(4, 4);
}

// Margin-top
.marg-top-05 {
  @include margin-top(.5);
}

.marg-top-1 {
  @include margin-top(1);
}

.marg-top-2 {
  @include margin-top(2);
}

.marg-top-3 {
  @include margin-top(3);
}

.marg-top-4 {
  @include margin-top(4);
}

// Padding-bottom
.marg-bottom-05 {
  @include margin-bottom(.5);
}

.marg-bottom-1 {
  @include margin-bottom(1);
}

.marg-bottom-2 {
  @include margin-bottom(2);
}

.marg-bottom-3 {
  @include margin-bottom(3);
}

.marg-bottom-4 {
  @include margin-bottom(4);
}

// Margin-left
.marg-left-05 {
  @include margin-left(.5);
}

.marg-left-1 {
  @include margin-left(1);
}

.marg-left-2 {
  @include margin-left(2);
}

.marg-left-3 {
  @include margin-left(3);
}

.marg-left-4 {
  @include margin-left(4);
}

// Margin-right
.marg-right-05 {
  @include margin-right(.5);
}

.marg-right-1 {
  @include margin-right(1);
}

.marg-right-2 {
  @include margin-right(2);
}

.marg-right-3 {
  @include margin-right(3);
}

.marg-right-4 {
  @include margin-right(4);
}

// No Margin
.nm {
  margin: 0;
}

.nm-top {
  margin-top: 0 !important;
}

.nm-bottom {
  margin-bottom: 0 !important;
}

.nm-left {
  margin-left: 0 !important;
}

.nm-right {
  margin-right: 0 !important;
}

//
// Color Utilities
//

.black {
  color: #000;
}

.white {
  color: #FFF;
}

// Background Utilities
.overlay {
  opacity: .85;

  &--dark {
    background-color: $ui-black;
    opacity: .3;
  }

  &--light {
    background-color: $ui-light-grey;
  }
}

.bg {

  &--light {
    background-color: $ui-light-grey;
  }

  &--dark {
    background-color: $ui-black;
  }

  &__gradient {

    &--light {
      background: $ui-light-grey;
    }

    &--dark {
      background: $ui-black;
    }
  }
}

// Text Color Utilities
.text {

  &--black {
    color: $ui-black !important;
  }

  &--grey {
    color: $ui-light-grey !important;
  }
}

//
// Border
//

.thin-top-border {
  border-top: 1px solid $ui-light-grey;
}

.thin-bottom-border {
  border-bottom: 1px solid $ui-light-grey;
}

.thick-top-border {
  border-top: 2px solid $ui-light-grey;
}

.thick-bottom-border {
  border-bottom: 2px solid $ui-light-grey;
}

.bullet {

  &::before {
    content: '•';
    padding-right: 4px;
  }
}

.collapsible {

  @include breakpoint($bp-768) {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
  }
}

.separate {
  padding: 0 10px;
}
