//
// BASE COLORS
//
$black:              hsla(0, 0%, 0%, 1);
$emperor:            hsla(0, 0%, 33%, 1);
$grey:               hsla(0, 0%, 53%, 1);
$wild-sand:          hsla(0, 0%, 96%, 1);
$white:              hsla(0, 100%, 100%, 1);
$bermuda-grey:       hsla(212, 26%, 56%, 1);
$dark-bermuda-grey:  darken($bermuda-grey, 20%);
$light-bermuda-grey: lighten($bermuda-grey, 20%);
$emerald:            hsla(147, 52%, 51%, 1);
$saffron:            hsla(40, 94%, 59%, 1);
$tangerine:          hsla(40, 100%, 44%, 1);
$outrageous-orange:  hsla(13, 100%, 63%, 1);
$persian-red:        hsla(0, 64%, 51%, 1);

$body-color: $black;
$link: $bermuda-grey;
$link-hover: $dark-bermuda-grey;

//
// UI ELEMENTS (form items, buttons etc)
//
$ui-button-padding: .7rem 1rem;
$ui-border-radius: 4px;
$ui-lightest-grey: #F5F5F5;
$ui-light-grey: #DCDCDC;
$ui-grey: #808080;
$ui-dark-grey: #3F3F3F;
$ui-border-color: $ui-light-grey;
$ui-active-form-element: $black;

//
// LAYOUT
//
$site-min-width: 25em;
$site-max-width: 1200px;

//
// TYPOGRAPHY
//
// See ../../vendor/scss/sassline/sass/sassline-base

