//
// ABOUT THIS FILE:
// This file serves as a home for all your variables and also acts as a
// configuration file for certain Bear Skin behaviors.
//

//
// BEAR SKIN COLORS
// Default colors that come packaged with Bear Skin.
//
$black:              hsla(0, 0%, 0%, 1);
$emperor:            hsla(0, 0%, 33%, 1);
$grey:               hsla(0, 0%, 53%, 1);
$wild-sand:          hsla(0, 0%, 96%, 1);
$white:              hsla(0, 100%, 100%, 1);
$bermuda-grey:       hsla(212, 26%, 56%, 1);
$dark-bermuda-grey:  darken($bermuda-grey, 20%);
$light-bermuda-grey: lighten($bermuda-grey, 20%);
$emerald:            hsla(147, 52%, 51%, 1);
$saffron:            hsla(40, 94%, 59%, 1);
$tangerine:          hsla(40, 100%, 44%, 1);
$outrageous-orange:  hsla(13, 100%, 63%, 1);
$persian-red:        hsla(0, 64%, 51%, 1);

//
// COLOR CONFIGURATION
//

  // COLOR PALETTE
  // These are the colors you will use for design elements throughout the site.
  // You can set the keys to whatever you like. For example, keys like "blue"
  // will work. We recommend using numbers, though, in case one day your "blue"
  // color becomes a shade of, say, red.
  //
  // Access via c() function.
  //
  // Examples:
  //  color: c(1);
  //  color: c(blue);
  //  background: linear-gradient(45deg, c(1), c(blue));
  //
  $c-palette: (
    1: $white,
    2: $black,
    3: $emperor,
    4: $grey,
    5: $wild-sand
  );

  // CLASS CONFIGURATION
  // Configure which classes are generated based on your color palette. Bear
  // Skin recommends using key classes for most sites since they are more
  // modular. Using value classes only makes sense if your site has a mechanism // for generating classes based on values.
  //
  $c-config: (
    key-classes: (        // Generates classes based on c-palette map keys.
      bg-enabled: false,  // Turn generated background classes on or off.
      bg-regular: false,  // e.g. .bg-1
      bg-light: false,    // e.g. .bg-1-light
      bg-dark: false      // e.g. .bg-1-dark
    ),
    value-classes: (      // Generates classes based on c-palette map values.
      bg-enabled: false,  // Turn generated background classes on or off.
      bg-regular: false,  // e.g. .bg-f1f1f1
      bg-light: false,    // e.g. .bg-f1f1f1-light
      bg-dark: false      // e.g. .bg-f1f1f1-dark
    ),
    lighten-percent: 10%, // The amount light classes will be lightened.
    darken-percent: 10%   // The amount dark classes will be darkened.
  );

//
// MESSAGES
// Set colors for Drupal messages.
//
$c-status: $emerald;
$c-warning: $tangerine;
$c-error: $persian-red;

//
// UI APPEARANCE
// Set defaults for form items, buttons, etc.
//
$c-ui-lightest-grey: #F5F5F5;
$c-ui-light-grey: #DCDCDC;
$c-ui-grey: #808080;
$c-ui-dark-grey: #3F3F3F;
$c-ui-border: $c-ui-light-grey;
$c-ui-active-form-element: $black;

$ui-button-padding: .7rem 1rem;
$ui-border-radius: 4px;

//
// LAYOUT
//
$site-min-width: 25em;
$site-max-width: 1200px;

//
// TYPOGRAPHY
//
$c-font-primary: $black;
$c-link: $bermuda-grey;
$c-link-hover: $dark-bermuda-grey;

// Overrides Sassline defaults. See ../../vendor/scss/sassline/sass/sassline-base
$breakpoints: (
  break-0: 0,     // 0px       Mobile first
  break-1: 640,   // 640px   ~ Small tablet up
  break-2: 800,   // 800px   ~ Large tablet up
  break-3: 1024,  // 1024px  ~ Desktop up
  break-4: 1600   // 1600px  ~ Large desktop up
);

$rootsizes: (
  rootsize-0: 12,   // 24px line-height body text
  rootsize-1: 14,   // 28px line-height body text
  rootsize-2: 15,   // 30px line-height body text
  rootsize-3: 17,   // 34px line-height body text
  rootsize-4: 19    // 38px line-height body text
);

$measures: (
  measure-0: 500,  // 500px wide
  measure-1: 550,  // 550px wide
  measure-2: 600,  // 600px wide
  measure-3: 680,  // 680px wide
  measure-4: 750   // 750px wide
);

$maxwidths: (
  width-0: 500,  // 500px wide
  width-1: 600,  // 600px wide
  width-2: 800,  // 800px wide
  width-3: 1100, // 110px wide
  width-4: 1300  // 1300px wide
);

$gutterwidths: (
  small: 1rem,
  medium: 2rem,
  large: 4rem
);

$bodytype: (
  font-family: 'Noto Serif, serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.66
);

$headingtype: (
  font-family: 'Montserrat, sans-serif',
  regular: 400,
  bold: 300,
  cap-height: 0.66
);

$monospacetype: (
  font-family: 'Menlo, monospace',
  regular: 400,
  cap-height: 0.68
);

$headingColour: $c-font-primary;
$bodyColour: $c-font-primary;
$linkColour: $c-link;
$hoverColour: $c-link-hover;
// $captionColour: ;
$white: $white;

// $backgroundColour: ;
// $codeBackgroundColour: ;
