/*Wrappers*/

body {
  margin: 0;
}

.container {
  @apply .max-w-site;
}

.panel-action {
  font-size: 25px;
  z-index: 10;
}

.panel-action--close {
  right: 0;
}

img {
  max-width: 100%;
  height: auto;
}
