/*Wrappers*/

body {
  margin: 0;
}

.container {
  max-width: var(--site-max-width);
}

.panel-action {
  font-size: 25px;
  z-index: 10;
}

.panel-action--close {
  right: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*
Additional utility classes based on basscss
*/

.m025 {
  margin: .25em;
}
.mt025 {
  margin-top: .25em;
}
.mb025 {
  margin-bottom: .25em;
}
.mr025 {
  margin-right: .25em;
}
.ml025 {
  margin-left: .25em;
}
.mt05 {
  margin-top: .5em;
}
.mb05 {
  margin-bottom: .5em;
}
.mr05 {
  margin-right: .5em;
}
.ml05 {
  margin-left: .5em;
}
.p05 {
 padding: .5rem;
}
.pt05 {
  padding-top: .5em;
}
.pb05 {
  padding-bottom: .5em;
}
.pr05 {
  padding-right: .5em;
}
.pl05 {
  padding-left: .5em;
}
.opaque {
  opacity: 0;
}

/*Left Sidebar*/

/*.layout-sidebar-first {*/

  /*.wrapper-main__inner {*/
    /*@include breakpoint(break-2) {*/
      /*display: flex;*/
    /*}*/
  /*}*/

  /*.column.main {*/
    /*@include breakpoint(break-2) {*/
      /*padding: 0 0 0 2rem;*/
      /*flex-basis: 75%;*/
      /*order: 2;*/
    /*}*/
  /*}*/

  /*.column.sidebar {*/
    /*@include breakpoint(break-2) {*/
      /*flex-basis: 25%;*/
      /*order: 1;*/
    /*}*/
  /*}*/
/*}*/


/*!*Right Sidebar*!*/

/*.layout-sidebar-second {*/
  /*@extend .layout-sidebar-first;*/

  /*.column.main {*/
    /*@include breakpoint(break-2) {*/
      /*padding: 0 2rem 0 0;*/

      /*order: 1;*/
    /*}*/
  /*}*/

  /*.column.sidebar {*/
    /*@include breakpoint(break-2) {*/
      /*order: 2;*/
    /*}*/
  /*}*/
/*}*/

/*!*Two Sidebars*!*/

/*.layout-two-sidebars {*/
  /*.wrapper-main__inner {*/
    /*@include breakpoint(break-2) {*/
      /*display: flex;*/
    /*}*/
  /*}*/

  /*.column.main {*/
    /*@include breakpoint(break-2) {*/
      /*padding: 0 2rem;*/
      /*flex-basis: 75%;*/
      /*order: 2;*/
    /*}*/
  /*}*/

  /*.column.sidebar {*/
    /*@include breakpoint(break-2) {*/
      /*flex-basis: 25%;*/

      /*&.sidebar--first {*/
        /*order: 1;*/
      /*}*/

      /*&.sidebar--second {*/
        /*order: 3;*/
      /*}*/
    /*}*/
  /*}*/
/*}*/
