//
// Display utilities
//
.u-hidden,
.visually-hidden,
.element-invisible {
  @include element-invisible;
}

.u-block {
  display: block;
}

.u-inline-block {
  display: inline-block;
}

.u-inline {
  display: inline;
}

// Drupal utilities
.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

//
// Images utilities
//

img.align-center {
  margin: 0 auto;
  width: 100%;
  max-width: $site-max-width;
}

.u-img-centered {

  img {
    margin: 0 auto;
  }
}

.desaturate {

  img {
    filter: grayscale(100%);
    transition: filter .3s ease-in-out;

    &:hover,
    &:focus {
      filter: none;
    }
  }
}

// Typography utilities
.sans {
  @include sans;
}

.serif {
  @include serif;
}

.text-italic {
  font-style: italic;
}

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-highlighted {

  &::selection {
    background: $light-bermuda-grey;
  }
}

.line-height-reset {
  line-height: 1 !important;
}

.no-decoration {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.underline {
  text-decoration: underline;
}

// Layout utilities
.clearfix {
  clear: both;
}

.expand-full-width {
  width: 100vw !important;
  margin-left: calc(-50vw + 50%) !important;
}

.site-max-width {
  max-width: $site-max-width;
  margin: 0 auto;
}

//
// Padding
//

//Padding on all sides (equal)
.padd-all-05 {
  padding: .5rem;
}
.padd-all-1 {
  padding: 1rem;
}
.padd-all-2 {
  padding: 2rem;
}
.padd-all-3 {
  padding: 3rem;
}
.padd-all-4 {
  padding: 4rem;
}

// Padding-top
.padd-top-05 {
  padding-top: .5rem;
}
.padd-top-1 {
  padding-top: 1rem;
}
.padd-top-2 {
  padding-top: 2rem;
}
.padd-top-3 {
  padding-top: 3rem;
}
.padd-top-4 {
  padding-top: 4rem;
}

// Padding-bottom
.padd-bottom-05 {
  padding-bottom: .5rem;
}

.padd-bottom-1 {
  padding-bottom: 1rem;
}

.padd-bottom-2 {
  padding-bottom: 2rem;
}

.padd-bottom-3 {
  padding-bottom: 3rem;
}

.padd-bottom-4 {
  padding-bottom: 4rem;
}

// Padding-left
.padd-left-05 {
  padding-left: .5rem;
}

.padd-left-1 {
  padding-left: 1rem;
}

.padd-left-2 {
  padding-left: 2rem;
}

.padd-left-3 {
  padding-left: 3rem;
}

.padd-left-4 {
  padding-left: 4rem;
}

// Padding-right
.padd-right-05 {
  padding-right: .5rem;
}

.padd-right-1 {
  padding-right: 1rem;
}

.padd-right-2 {
  padding-right: 2rem;
}

.padd-right-3 {
  padding-right: 3rem;
}

.padd-right-4 {
  padding-right: 4rem;
}

// No Padding
.np {
  padding: 0 !important;
}

.np-top {
  padding-top: 0 !important;
}

.np-bottom {
  padding-bottom: 0 !important;
}

.np-left {
  padding-left: 0 !important;
}

.np-right {
  padding-right: 0 !important;
}

//
// Margin
//

// Margin on all sides (equal)
.marg-all-05 {
  margin: .5rem;
}

.marg-all-1 {
  margin: 1rem;
}

.marg-all-2 {
  margin: 2rem;
}

.marg-all-3 {
  margin: 3rem;
}

.marg-all-4 {
  margin: 4rem;
}

// Margin-top
.marg-top-05 {
  margin-top: .5rem;
}

.marg-top-1 {
  margin-top: 1rem;
}

.marg-top-2 {
  margin-top: 2rem;
}

.marg-top-3 {
  margin-top: 3rem;
}

.marg-top-4 {
  margin-top: 4rem;
}

// Margin-bottom
.marg-bottom-05 {
  margin-bottom: .5rem;
}

.marg-bottom-1 {
  margin-bottom: 1rem;
}

.marg-bottom-2 {
  margin-bottom: 2rem;
}

.marg-bottom-3 {
  margin-bottom: 3rem;
}

.marg-bottom-4 {
  margin-bottom: 4rem;
}

// Margin-left
.marg-left-05 {
  margin-left: .5rem;
}

.marg-left-1 {
  margin-left: 1rem;
}

.marg-left-2 {
  margin-left: 2rem;
}

.marg-left-3 {
  margin-left: 3rem;
}

.marg-left-4 {
  margin-left: 4rem;
}

// Margin-right
.marg-right-05 {
  margin-right: .5rem;
}

.marg-right-1 {
  margin-right: 1rem;
}

.marg-right-2 {
  margin-right: 2rem;
}

.marg-right-3 {
  margin-right: 3rem;
}

.marg-right-4 {
  margin-right: 4rem;
}

// No Margin
.nm {
  margin: 0 !important;
}

.nm-top {
  margin-top: 0 !important;
}

.nm-bottom {
  margin-bottom: 0 !important;
}

.nm-left {
  margin-left: 0 !important;
}

.nm-right {
  margin-right: 0 !important;
}

// Various
.no-list {
  list-style-type: none;

  li::before {
    display: none;
  }
}
