//
// BEAR SKIN COLORS
// Default colors that come packaged with Bear Skin. These are used in
// boilerplate style rules. Feel free to delete or replace them.
//
$black:              hsla(0, 0%, 0%, 1);
$grey:               hsla(0, 0%, 53%, 1);
$wild-sand:          hsla(0, 0%, 96%, 1);
$white:              hsla(0, 100%, 100%, 1);
$bermuda-grey:       hsla(212, 26%, 56%, 1);
$dark-bermuda-grey:  darken($bermuda-grey, 20%);
$light-bermuda-grey: lighten($bermuda-grey, 20%);
$emerald:            hsla(147, 52%, 51%, 1);
$tangerine:          hsla(40, 100%, 44%, 1);
$persian-red:        hsla(0, 64%, 51%, 1);

//
// COLOR PALETTE
//
// These are the colors you will use for design elements throughout the site.
// You can set the keys to whatever you like. For example, keys like "1",
// "blue", or "blue-1" will all work.
//
// Each key has sub-keys to reflect the variants of a color. The only sub-key
// that is required is "base". You can add sub-keys for additional variants
// of your colors.
//
// Access color palette values via c() function. See _functions.scss
//
// Examples:
//    Access base color:
//      color: c(1);
//      color: c(blue);
//      background: linear-gradient(45deg, c(1), c(blue));
//
//    Accessing variants:
//      color: c(1, dark);
//      color: c(blue, light);
//      background: linear-gradient(45deg, c(1, light), c(blue, dark));
//
$c-palette: (
  // Example 1
  // primary: (
  //   base: $bermuda-grey,
  //   dark: $dark-bermuda-grey,
  //   light: $light-bermuda-grey
  // ),
  // Example 2
  // 2: (
  //   base: $emerald,
  //   dark: darken($emerald, 10%),
  //   light: lighten($emerald, 10%)
  // ),
  // Example 3
  // persian-red: (
  //   base: hsla(0, 64%, 51%, 1),
  //   dark: hsla(0, 64%, 35%, 1),
  //   transparent: hsla(0, 64%, 35%, .5),
  // ),
  // Your turn!
  // key: (
  //   base: ,
  //   dark: ,
  //   light: ,
  //   some-other-variant: ,
  // ),
);

//
// MESSAGES
// Set colors for Drupal messages.
//
$c-status: $emerald;
$c-warning: $tangerine;
$c-error: $persian-red;

//
// UI APPEARANCE
// Set defaults for form items, buttons, etc.
//
$c-ui-active-form-element: $black;
$c-ui-background: #F5F5F5;
$c-ui-border: #DCDCDC;
$c-ui-font: #808080;
$c-ui-font-dark: #3F3F3F;

$ui-button-padding: .7rem 1rem;
$ui-border-radius: 4px;

//
// LAYOUT
//
$site-min-width: 25em;
$site-max-width: 1200px;

//
// TYPOGRAPHY
//
$c-font-primary: $black;
$c-link: $bermuda-grey;
$c-link-hover: $dark-bermuda-grey;

// Overrides Sassline defaults. See ../../vendor/scss/sassline/sass/sassline-base
$breakpoints: (
  break-0: 0,     // 0px       Mobile first
  break-1: 640,   // 640px   ~ Small tablet up
  break-2: 800,   // 800px   ~ Large tablet up
  break-3: 1024,  // 1024px  ~ Desktop up
  break-4: 1600   // 1600px  ~ Large desktop up
);

$rootsizes: (
  rootsize-0: 12,   // 24px line-height body text
  rootsize-1: 14,   // 28px line-height body text
  rootsize-2: 15,   // 30px line-height body text
  rootsize-3: 17,   // 34px line-height body text
  rootsize-4: 19    // 38px line-height body text
);

$measures: (
  measure-0: 500,  // 500px wide
  measure-1: 550,  // 550px wide
  measure-2: 600,  // 600px wide
  measure-3: 680,  // 680px wide
  measure-4: 750   // 750px wide
);

$maxwidths: (
  width-0: 500,  // 500px wide
  width-1: 600,  // 600px wide
  width-2: 800,  // 800px wide
  width-3: 1100, // 110px wide
  width-4: 1300  // 1300px wide
);

$gutterwidths: (
  small: 1rem,
  medium: 2rem,
  large: 4rem
);

$bodytype: (
  font-family: 'Noto Serif, serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.66
);

$headingtype: (
  font-family: 'Montserrat, sans-serif',
  regular: 400,
  bold: 300,
  cap-height: 0.66
);

$monospacetype: (
  font-family: 'Menlo, monospace',
  regular: 400,
  cap-height: 0.68
);

$headingColour: $c-font-primary;
$bodyColour: $c-font-primary;
$linkColour: $c-link;
$hoverColour: $c-link-hover;
// $captionColour: ;
$white: $white;

// $backgroundColour: ;
// $codeBackgroundColour: ;
