<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{ patternLabHead | raw }}
		<!-- End Pattern Lab -->

    <!-- inject:css -->
		<link rel="stylesheet" href="/components/styleguide/custom-styleguide-specific.css">
    <!-- endinject -->

		<!-- theme CSS -->
		<link rel="stylesheet" href="/css/bearskin8pl.css">
		<link rel="stylesheet" href="/css/flexboxgrid.css">

		<!-- UI Kit CSS -->
	</head>


	<body class="pl ui--green">
