// element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
@mixin element-invisible-off {
  position: relative;
  height: auto;
  width: auto;
  overflow: inherit;
  clip: none;
}

@mixin link($color, $text-decoration, $hover-color, $hover-text-decoration) {
  color: $color;
  text-decoration: $text-decoration;
  &:hover, &:focus {
    color: $hover-color;
    text-decoration: $hover-text-decoration;
  }
}
