.menu--main.open {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .9);
  justify-content: center;
  text-transform: uppercase;
}

.menu--main.open .menu {
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.menu--main.open .menu__link {
  display: block;
  padding: 10px;
  color: white;
}

.panel-action--menu {

}