.menu--main {
  display: none;
}

.menu--main.open {
  display: flex;
}

@media (--breakpoint-md) {
  .menu--main {
    display: flex;
  }
}

.menu--main  a.is-active,
.menu--main  .menu-item--active-trail a {
  /*@include link($ white, none, $ white, none);*/
  /*background-color: $ black;*/
}

.menu--main .open .menu {
  width: 100%;
}

.menu--main .open .menu__item {
  display: block;
  margin: 0;
  text-align: center;
  width: 100%;
}

.menu--main .open .menu__link {
  /*@include link($ white, none, $ white, none);*/
  /*@include fontsize(22, all);*/

  text-transform: uppercase;
  display: block;
  padding: 10px;
  width: 100%;
  background: transparent;
  border-radius: 0;
}

.sub-menu {
  visibility: hidden;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
