.select-wrapper {
  margin: .5rem 0;
  position: relative;
  max-width: 500px;
  border: 1px solid $c-ui-border;
  border-radius: $ui-border-radius;
  background: $wild-sand;

  &::after {
    position: absolute;
    content: '\25bc';
    display: inline-block;
    pointer-events: none;
    font-size: 12px;
    padding: 4px 15px 4px 15px;
    color: $white;
    right: -1px;
    top: -1px;
    max-height: 30px;
    background: $c-ui-font;
    border-radius: 0 $ui-border-radius $ui-border-radius 0;
  }

  &__select {
    font-family: inherit;
    appearance: none;
    border: none;
    background-color: transparent;
    width: 100%;
    z-index: 2;
    font-size: 16px;
    height: 34px;
    padding: 0 45px 0 10px;
    min-width: 30px;
  }
}
