.select-wrapper {
  max-width: 400px;
}

.select-wrapper__select {
  appearance: none;
  border: none;
  background-color: transparent;
  width: 100%;
  z-index: 2;
}

.select-wrapper__icon {
  position: absolute;
  right: 0;
  pointer-events: none;
  font-size: 12px;
  top: 0;
  height: 36px;
  width: 36px;
}

.select-wrapper__icon  i {
  transform: rotate(-90deg);
}