@import "../panels";

.panel-display--two-eq-column {

  .column.left {
    @include breakpoint($breakpoint-medium-width) {
      @include col(1/2, $gutter: 0);
      padding-right: $vertical-gutter / 2;
    }
  }

  .column.right {
    @include breakpoint($breakpoint-medium-width) {
      @include col(1/2, $gutter: 0);
      padding-left: $vertical-gutter / 2;
    }
  }
}

.main__content {
  .empty-right {
    .column.left {
      @include stack();
      @include unshift();
      padding: 0;
    }
  }
  .empty-left {
    .column.right {
      @include stack();
      @include unshift();
      padding: 0;
    }
  }
}