.messages {
  @include font-size(.9);
  @include padding(1, 1);
  @include margin-bottom(.5);

  font-family: $sans;
  color: $grey;
  background-color: $grey-lighter;
  border: 2px solid darken($grey-light, 5%);

  display: flex;
  align-items: center;

  &__icon {
    display: inline-block;
    margin-right: 10px;
    font-size: 22px;
  }

  &--status {
    color: $green;
    background-color: lighten($green, 45%);
    border: 2px solid lighten($green, 35%);
  }

  &--warning {
    color: $gold-dark;
    background-color: lighten($gold-dark, 50%);
    border: 2px solid lighten($gold-dark, 40%);
  }

  &--error {
    color: $orange;
    background-color: lighten($orange, 35%);
    border: 2px solid lighten($orange, 25%);
  }
}
