.messages {
  overflow-x: scroll;
}

.messages__icon {
  margin-top: 4px;
  font-size: 22px;
}

.messages--status {
  border-color: var(--green);
}

.messages--warning {
  border-color: var(--orange);
}

.messages--error {
  border-color: var(--red);
}
