.tabs {
  margin: .5rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @include breakpoint(break-1) {
    flex-direction: row;
  }

  &__tab {
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid $ui-border-color;
    border-right: 1px solid $ui-border-color;
    border-top: 1px solid $ui-border-color;

    &.is-active {
      border: 1px solid $ui-light-grey;
      border-bottom: 1px solid transparent;
      border-left: 0;
    }

    &:first-child {
      border-left: 1px solid $ui-border-color;
    }

    @include breakpoint(break-1) {
      display: inline-block;
      width: auto;
    }
  }

  &__tab-link {
    @include sans;
    @include fontsize(14, all);

    padding: .3rem 1rem;
    color: $grey;
    text-transform: uppercase;

    display: inline-block;
    width: 100%;
    background: $wild-sand;

    &:hover,
    &:focus,
    &.is-active {
      color: $black;
      background: transparent;
    }
  }

  &--secondary {
    width: 100%;

    .tabs__tab {
      margin: .5rem .5rem .5rem 0;
      border: 0;
      border-radius: 0;
    }

    .tabs__tab-link {
      padding: 0;
    }
  }
}

.js-form-type-vertical-tabs {
  display: inline-block;
  width: 100%;
}

.vertical-tabs {

  &__menu-item-title {
    text-decoration: none !important;
  }

  &__pane {
    clear: none;
  }

  &__menu-item-summary {
    padding-left: 5px;
  }

  .summary,
  .details-wrapper {
    border: none !important;
  }
}
