.tabs__tab {
  border-color: white;
}

.tabs--primary .tabs__tab-link:hover {
  background-color: var(--bg-primary);
  text-decoration: none;
  color: white;
}

.tabs--primary .is-active {
  background-color: var(--bg-primary);
}

.tabs--secondary {
  border-left: 4px solid var(--border-color-secondary);
}

.tabs--secondary .tabs__tab {
  margin: 0;
  border: 0;
  border-radius: 0;
  display: inline;
}

.tabs--secondary .tabs__tab-link {
  background: transparent;
  padding: 0;
  margin-right: 1rem;
}

.tabs--secondary .is-active {
  color: var(--form-item-focused-color);
}

.js-form-type-vertical-tabs {
  display: inline-block;
  width: 100%;
}

.vertical-tabs__menu-item-title {
  text-decoration: none !important;
}

.vertical-tabs__pane {
  padding: 0 1rem;
  clear: none;
  display: inline;
}

.vertical-tabs__menu-item-summary {
  padding-left: 5px;
}

.vertical-tabs .summary,
.vertical-tabs  .details-wrapper {
  border: none !important;
}
