.tabs__tab {
  border-color: var(--border-color-secondary);
}

.tabs__tab-link:hover {
  background-color: var(--bg-tertiary);
  text-decoration: none;
}

.tabs__tab__tab-link:hover,
.tabs__tab__tab-link:focus,
.tabs__tab__tab-link.is-active {
  /*color: $black;*/
  background: transparent;
}

.tabs--secondary {
  width: 100%;
}

.tabs--secondary  .tabs__tab {
  margin: .5rem .5rem .5rem 0;
  border: 0;
  border-radius: 0;
}

.tabs--secondary .tabs__tab-link {
  background: transparent;
}

.tabs--secondary .tabs__tab-link.is-active {

}

.js-form-type-vertical-tabs {
  display: inline-block;
  width: 100%;
}

.vertical-tabs__menu-item-title {
  text-decoration: none !important;
}

.vertical-tabs__pane {
  padding: 0 1rem;
  clear: none;
  display: inline;
}

.vertical-tabs__menu-item-summary {
  padding-left: 5px;
}

.vertical-tabs .summary,
.vertical-tabs  .details-wrapper {
  border: none !important;
}
