//
//
// BEAR mixins
//
//

@mixin bear-linear-gradient($fromColor, $toColor) {
  background-color: $toColor;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='$fromColor', EndColorStr='$toColor');
  background-image: linear-gradient(top, $fromColor, $toColor);
}

@mixin bear-font-main {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

@mixin bear-font-titles {
  font-family: Georgia, Times, sans-serif;
}

@mixin bear-border-radius($radius: 8px) {
  border-radius: $radius;
  background-clip: padding-box;
}

// element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin bear-element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin bear-element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin bear-element-focusable {
  @include bear-element-invisible;

  &:active,
  &:focus {
    @include bear-element-invisible-off;
  }
}

// The word "Unpublished" displayed underneath unpublished nodes and comments.
@mixin unpublished-div {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; // A very nice CSS3 property

  @at-root {
    .lt-ie8 & > * {
      position: relative; // Otherwise these elements will appear below the "Unpublished" text.
    }
  }
}