/*------------------------------------*\
    $PATTERN LAB-SPECIFIC STYLES
\*------------------------------------*/
/**
 * This stylesheet is for styles you want to include only when the interface is being viewed within Pattern Lab.
 * This is helpful for displaying demo styles for grids, animations, color swatches, etc
 * It's also helpful for overriding context-specific styles like fixed or absolutely positioned elements
 * These styles will not be your production CSS.
 */
.sg-pattern-example {
  padding-bottom: 5px;
  /* `position: fixed;` elements will be relative to this ~ http://stackoverflow.com/a/15885486 */
  transform: translateZ(0);
}

.sg-pattern-desc {
  border: dashed #ccc 1px;
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
  display: none;
}

.sg-pattern-desc.js-ran {
  display: block;
}

.sg-pattern-desc img {
  border: solid #ddd 1px;
  padding: 3px;
}

.hljs {
  padding-top: 0;
  padding-bottom: 0;
}

.square {
  width: 75px;
  height: 75px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

}

hr.pl {
  margin: 20px auto !important;
  padding: 10px auto !important;
  line-height: 0 !important;
  width: 100% !important;
  clear: both;
}

/*body.pl {
  padding: 1rem;
}*/

body {
  position: relative;
}

.inner {
  text-align: center;
  padding: 2rem;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: center;
  width: 100%;
}

.center {
  text-align: center;
}

.upc {
  text-transform: uppercase;
}

.main-content .inner,
.sidebar .inner {
  padding: 10rem 2rem;
}

#layouts-base-layout,
#layouts-base-layout-left-sidebar,
#layouts-base-layout-one-column,
#layouts-base-layout-right-sidebar,
#layouts-base-layout-two-columns {
  padding: 0 2rem;
}

body > .container-fluid {
  padding: 2rem;
}

.icon-wrapper {
  display: inline-block;
  padding: 20px;
}

.icon-wrapper i {
  display: flex;
  justify-content: center;
}

#swatches {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  clear: both;
}

.swatch {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  flex-basis: 50%;
  margin-bottom: 20px;
}

samp {
  padding: 5px 10px;
  background: #f5f5f5;
  border: 1px solid #ddd;
  font-size: 12px;
}

.pl .pl-banner-image {
  width: 720px;
  height: 300px;
}

@media only screen and (min-width: 768px) {
  .pl .pl-banner-image {
    width: 995px;
    height: 350px;
  }

  .swatch {
    flex-basis: 25%;
  }
}

@media only screen and (min-width: 1024px) {
  .pl .pl-banner-image {
    width: 1125px;
    height: 400px;
  }

  .swatch {
    flex-basis: 15%;
  }
}

@media only screen and (min-width: 1200px) {
  .pl .pl-banner-image {
    width: 1600px;
    height: 500px;
  }
}
