@import "../panels";

.panel-display--left-sidebar {

  .column.left {
    @include breakpoint($breakpoint-medium-width) {
      @include col(1/5, $gutter: 0);
      @include shift(-4/5, $gutter: 0);
      padding-right: $vertical-gutter / 2;
    }
    @include breakpoint($breakpoint-large-width) {
      @include col(2/7, $gutter: 0);
      @include shift(-5/7, $gutter: 0);
      padding-right: $vertical-gutter / 2;
    }
  }

  .column.center {
    @include breakpoint($breakpoint-medium-width) {
      @include col(4/5, $gutter: 0);
      @include shift(1/5, $gutter: 0);
      padding-left: $vertical-gutter / 2;
    }
    @include breakpoint($breakpoint-large-width) {
      @include col(5/7, $gutter: 0);
      @include shift(2/7, $gutter: 0);
      padding-left: $vertical-gutter / 2;
    }
  }

}

// ensure this only operates on the front end
// not inside the panels-layouts admin interface
.main__content {
  .empty-left {
    .column.center {
      @include unshift;
      @include stack;
      padding: 0;
    }
  }
}