.wrapper-footer {
  background: $ui-lightest-grey;

  &__inner {
    @include margin-top(1);
    @include margin-bottom(1);
  }
}

.sticky-footer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .wrapper-main {
    position: relative;
    flex: 1 0 auto;
    overflow: hidden;
  }
}
