<footer class="wrapper-footer bg-tertiary border-top">
  <div class="wrapper--inner wrapper-footer__inner container mx-auto pl1 pr1 mt3 mb3 flex flex-center flex-justify">
    {{ content }}
  </div>
</footer>
