<footer class="wrapper-footer bg-tertiary border-top">
  <div class="wrapper--inner wrapper-footer__inner container mx-auto px-4 my-12 flex flex-center flex-justify">
    {{ content }}
  </div>
</footer>
