//**************************
// Support for compact forms
//**************************

.compact-form-label {
  left: 17px;
  z-index: 1;
  font-size: 100%;
}

//**********************
// No Semantic Fallbacks
//**********************

body:not(.semantic-ui) {
  form {
    input.form-submit {
      background: #eee;
      border: 1px solid #ccc;
      padding: 5px 10px 6px 10px;
      border-radius: 3px;
      transition: all .2s ease-in-out;
      margin-top: 5px;
      &:hover, &:focus {
        background: #666;
        color: white;
        border-color: #222;
      }
    }
    .description {
      font-size: 80%;
      color: $bear-lighten-dark;
      font-style: italic;
      padding: 0 10px;
      margin: 10px 0;
      border-left: dotted 1px #aaa;
      max-width: 600px;
    }
  }
  .ui.segment {
    box-shadow: none;
    border: 0;
    padding: 1em 0;
  }
  #breadcrumbs {
    .chevron {
      &:before {
        content: ">";
        padding: 0 8px;
        color: $black;
      }
    }
  }
}

fieldset {
  position: relative;
  margin: 1em 0;
  display: block;
  clear: both;
  height: auto !important;
  border: 0;
  padding: 0;
  legend {
    margin-left: 0;
  }
  i.icon {
    font-size: 1em;
    text-decoration: none;
  }
  .fieldset-wrapper {
    background: $lightgray;
    padding: 1em;
    border: 1px dotted $gray;
    margin: 1em 0;
    overflow: visible !important;
  }
  &.required {
    > label {
      &:after {
        margin: -0.2em 0em 0em 0.2em;
        content: '*';
        color: #db2828;
      }
    }
  }
  textarea {
    &.error {
      border-color: $red;
    }
  }
  &:not(.collapsed) {
    i.icon:before {
      content: "\f056" !important;
    }
  }
}
.description {
  font-size: 80%;
  color: $grayer;
  font-style: italic;
  padding: 0 10px;
  margin: 10px 0;
  border-left: dotted 1px #aaa;
  max-width: 38em;
}

.ui .form-item.labeled {
  label {
    max-width: 30em;
    &.error {
      color: $red !important;
    }
  }
  input {
    max-width: 30em;
    margin: 0;
    border: 0;
    border-radius: 0 !important;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    background: rgba(0,0,0,0.04);
    padding: .67em .5em;
    &:focus,
    &.valued {
      outline: 0;
      box-shadow: none;
      background: rgba(0,0,0,0.04);
      border-bottom-color: transparent;
    }
    &.error {
      border-bottom-color: $red;
      -webkit-text-fill-color: $black !important;
      &:focus,
      &.valued {
        border-bottom-color: transparent !important;
      }
    }
  }
  textarea {
    margin: 0;
    border: 0;
    border-radius: 0 !important;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    background: rgba(0,0,0,0.04);
    padding: .67em .5em;
    &:focus {
      border-bottom: 2px solid $formblue;
    }
  }
  .mt {
    width: 100%;
    position: relative;
    max-width: 30em;
    margin-bottom: .3em;
    &:before, &:after 	{
      content: '';
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: $formblue;
      transition: 0.2s all ease-in-out;
    }
    &.error {
      &:before, &:after {
        background: transparent;
      }
      &.focus {
        &:before, &:after {
          background: transparent;
        }
      }
    }
    &:before {
      left: 50%;
    }
    &:after {
      right: 50%;
    }
    &.focus {
      &:before, &:after {
        width: 50%;
      }
    }
  }
}

.form-type-textarea {
  max-width: 40em;
}

.form-item {
  margin-bottom: 1.5em;
}

.text-format-wrapper {
  .form-item {
    margin-bottom: 0;
  }
  .ckeditor_links, fieldset {
    font-size: 90%;
  }
}

.form-item {
  label {
    color: #000;
    display: block;
    font-weight: normal;
  }
  .form-item {
    margin-bottom: .5em;
  }
}

::placeholder {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  color: $gray;
}
:focus::placeholder {
  opacity: .5;
  color: $grayer;
}
