// Typography
//
// Styleguide 2.0

// Reusable classes
%no-margins {
  margin: 0;
}

%no-dangling {
  &:first-child,
  &:first-of-type {
    margin-top: 0;
  }
  &:last-child,
  &:last-of-type {
    margin-bottom: 0;
  }
}

// Headers
//
// Markup:
// <h1>Header One</h1>
// <h2>Header Two</h2>
// <h3>Header Three</h3>
// <h4>Header Four</h4>
// <h5>Header Five</h5>
//
// Styleguide 2.1

$headers-font: 'Droid Sans', sans-serif;
$body-font: 'Helvetica Neue', Helvetica,sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
  font-weight: normal;
}
header:not(.site-header) {
  color: $black;
  font-family: $headers-font;
  font-size: 120%;
  margin-bottom: 10px;
}
h1, h1:first-child, h1:last-child {
  font-size: 4rem;
  margin: 0.67em 0px;
}
h2, h2:first-child, h2:last-child {
  font-size: 2.5rem;
  margin: 3rem 0 2rem 0;
}
h3, h3:first-child, h3:last-child {
  font-size: 2rem;
  margin: 2.5rem 0 1rem 0;
}
h4, h4:first-child, h4:last-child {
  font-size: 1.5rem;
}
h5, h5:first-child, h5:last-child {
  font-size: 1.2rem;
}
img {
  max-width: 100%;
  height: 100%;
}

// Paragraphs
//
// Markup:
// <p>Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
// <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
//
// Styleguide 2.2


// Generic Sizes
//
// Markup:
// <p class="{$modifiers}">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
//
// .tiny        - $black: #261D19;
// .smaller     - $black: #261D19;
// .small       - $black: #261D19;
// .large       - $black: #261D19;
// .larger      - $black: #261D19;
// .largest     - $black: #261D19;
//
// Styleguide 2.3

.tiny {
  @include rem(font-size, 0.6 * $body-font-size);
}
.smaller {
  @include rem(font-size, 0.7 * $body-font-size);
}
.small {
  @include rem(font-size, 0.9 * $body-font-size);
}
.large {
  @include rem(font-size, 1.1 * $body-font-size);
}
.larger {
  @include rem(font-size, 1.2 * $body-font-size);
}
.largest {
  @include rem(font-size, 1.3 * $body-font-size);
}

// Links
//
// Markup:
// <p>Donec id elit <a href="javascript:;">non mi porta</a> gravida at eget metus.</p>
//
// Styleguide 2.3

a {
  @include link-colors($link-color, $link-color-hover);
  text-decoration: none;
  transition: color 0.25s ease;
  -webkit-tap-highlight-color: transparent;
}
