table {
  margin: 1rem 0;
}

table.sticky-header {
  z-index: 2;
}

table thead {
  background: var(--background-primary);
}

tr {
  border: 0;
}

tr:nth-child(odd) {
  background-color: var(--bg-tertiary);
}

table .form-item {
  margin: 0;
}

table .form-item label {
  display: block;
}

table .checkbox-wrapper {
  display: block;
  width: auto;
  height: auto;
  border: 0;
  border-radius: 0;
  background: transparent;
  top: 0;
}

table .js-form-type-checkbox label,
table .js-form-type-radio label {
  position: absolute;
}

table .checkbox-wrapper .form-checkbox {
  display: block;
}

table .icon-check {
  display: none;
}

table .radio-wrapper {
  top: 3px;
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  border: 0;
  border-radius: 0;
  z-index: 1;
  background: transparent;
}

table .radio-wrapper i {
  display: none;
}

table .form-radio {
  display: block;
}

table .form-radio:checked + i {
  opacity: 1;
}

td, th {
  padding: .5rem .5rem;
  text-align: left;
}

td a.tabledrag-handle .handle,
th a.tabledrag-handle .handle {
  background: url('../images/move.svg') no-repeat left center;
  background-size: 14px 14px;
  display: inline-block;
  margin-right: 14px;
  width: 14px;
}

td.description {
  padding: .3rem .5rem;
}

table  ul {
  padding-left: 15px;
}
