
.button {
  @include button($white, $grey, $black);

  &.link {
    border: 1px solid $c-ui-light-grey;
    background: $c-ui-lightest-grey;
    cursor: pointer;
  }
}

button {

  &.link {
    background: $c-ui-lightest-grey;
    border: 1px solid $c-ui-light-grey;
  }
}

a.button {
  @include link($white, none, $white, none);

  line-height: 1.3;
}