
.button {
  @include button($white, $grey, $black);

  &.link {
    border: 1px solid $ui-light-grey;
    background: $ui-lightest-grey;
    cursor: pointer;
  }
}

button {

  &.link {
    background: $ui-lightest-grey;
    border: 1px solid $ui-light-grey;
  }
}
