.js-form-type-radio {
  margin: 0;
}

.radio-wrapper {
  top: 3px;
  width: 19px;
  height: 19px;
  z-index: 1;
}

.radio-wrapper__icon {
  font-size: 22px;
  position: absolute;
  top: -2px;
  left: 0;
  opacity: 0;
}

.radio-wrapper .form-radio {
  display: none;
}

.form-radio:checked + i {
  opacity: 1;
}
