<div class="radio-wrapper border circle inline-block relative">
  <input{{ attributes.setAttribute('tabindex', 0) }} />{{ children }}
  <i class="radio-wrapper__icon icon icon-circle opt"></i>
</div>
