.js-form-type-radio {
  margin: 0;
}

.radio-wrapper {
  top: 3px;
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  z-index: 1;
  /*border: 2px solid $ c-ui-border;*/
  /*background: $c-ui-background;*/
}

.radio-wrapper  i {
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 1.5px;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  /*color: $black;*/
}

.radio-wrapper .form-radio {
  display: none;
}

.radio-wrapper .form-radio:checked + i {
  opacity: 1;
}
