<div class="radio-wrapper form-item-border circle inline-block relative">
  <input{{ attributes.setAttribute('tabindex', 0) }} />{{ children }}
  <i class="radio-wrapper__icon icon icon-circle opt form form-item-focused-color"></i>
</div>
