label {
  @include font-size(.9);

  display: block;
  font-family: $sans;
}

.js-form-type-checkbox,
.js-form-type-radio {

  label {
    display: inline-block;
    position: relative;
    z-index: 2;
    padding-left: 25px;
    margin-left: -20px;
    cursor: pointer;
  }
}
