.js-form-type-checkbox label,
.js-form-type-radio label {
  font-size: var(--h4);
  letter-spacing: initial;
  display: inline-block;
  position: relative;
  z-index: 2;
  padding-left: 25px;
  margin-left: -20px;
  cursor: pointer;
  text-transform: none;
}
